<div class="container">
	<div class="row">

		<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminVendedores">
			<a [routerLink]="['/salesAgent']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">people</i>
					<p class="promo-caption">Vendedores</p>
				</div>
			</a>
		</div>

		<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminCoordinador">
			<a [routerLink]="['/salesAgentNiveles']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">people</i>
					<p class="promo-caption">Coordinador</p>
				</div>
			</a>
		</div>

		<div class="col l4 m12 s12" *ngIf="grantedAccess.BackOfficeSupervisorSocio">
			<a [routerLink]="['/salesAgentSupervisores']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">people</i>
					<p class="promo-caption">BackOffice / Supervisor / Socio</p>
				</div>
			</a>
		</div>




		

		<div class="col l4 m12 s12" *ngIf="grantedAccess.ConsultaLog">
			<a [routerLink]="['/administration/servicecallevents']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">insert_chart</i>
					<p class="promo-caption">Logs</p>
				</div>
			</a>
		</div>

		<div class="col l4 m12 s12" *ngIf="grantedAccess.CatalogProduc">
			<a [routerLink]="['/catalog']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">view_list</i>
					<p class="promo-caption">Catálogo Producto</p>
				</div>
			</a>
		</div>

		<div class="col l4 m12 s12" *ngIf="grantedAccess.CatalogSVA">
			<a [routerLink]="['/sva']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">view_list</i>
					<p class="promo-caption">SVA</p>
				</div>
			</a>
	</div>



		

		<div class="col l4 m12 s12" *ngIf="grantedAccess.ConfigOffering">
			<a [routerLink]="['/configoffering']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">settings</i>
					<p class="promo-caption">Configurar Offering</p>
				</div>
			</a>
		</div>

		<div class="col l4 m12 s12" *ngIf="grantedAccess.ParametConfig">
			<a [routerLink]="['/setsecurityvalues']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">security</i>
					<p class="promo-caption" style="font-size:150%">Par&aacute;metros de Configuración</p>
				</div>
			</a>
		</div>

		<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminPolComerciales">
			<a [routerLink]="['/contractpolicies']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">assignment</i>
					<p class="promo-caption" style="font-size:150%">Administrador de Políticas Comerciales</p>
				</div>
			</a>
		</div>






		<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminContract">
			<a [routerLink]="['/listcontract']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">assignment</i>
					<p class="promo-caption">Administrador de Contratos</p>
				</div>
			</a>
		</div>

		<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminDoc">
			<a [routerLink]="['/adminconfig']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">assignment</i>
					<p class="promo-caption" style="font-size:150%">Administrador de Documentos</p>
				</div>
			</a>
		</div>

		<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminMensajes">
			<a [routerLink]="['/listmessage']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">assignment</i>
					<p class="promo-caption">Administrador de Mensajes </p>
				</div>
			</a>
		</div>

		




		<div class="col l4 m12 s12" *ngIf="grantedAccess.ParametTrazabilidad">
			<a [routerLink]="['/setparamtrazabilidad']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">security</i>
					<p class="promo-caption" style="font-size:150%">Parametros Trazabilidad</p>
				</div>
			</a>
		</div>

		<div class="col l4 m12 s12" *ngIf="grantedAccess.CatalogVendedores">
			<a [routerLink]="['/catalogxsalesagent']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">view_list</i>
					<p class="promo-caption">Catálogo Vendedores</p>
				</div>
			</a>
		</div>

		<div class="col l4 m12 s12" *ngIf="grantedAccess.ConfEquivalencia">
			<a [routerLink]="['/equivalent/0']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">view_comfy</i>
					<p class="promo-caption">Configuraci&oacute;n de Equivalencias </p>
				</div>
			</a>
		</div>


		




		<div class="col l4 m12 s12" *ngIf="grantedAccess.Monitor">
			<a [routerLink]="['/visorloadlogs']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">visibility</i>
					<p class="promo-caption">Monitor de Visor</p>
				</div>
			</a>
		</div>

		

		<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminMotorizado">
			<a [routerLink]="['/reportxmotorizados']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">view_list</i>
					<p class="promo-caption">Reporte Motorizado</p>
				</div>
			</a>
		</div>


		<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminUserConfig">
			<a [routerLink]="['/adminUser/config']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">how_to_reg</i>
					<p class="promo-caption">Config User Admin</p>
				</div>
			</a>
		</div>

		<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminAgendamiento">
			<a [routerLink]="['/agendamiento/config']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">calendar_today</i>
					<p class="promo-caption">Agendamiento</p>
				</div>
			</a>
		</div>






		<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminArgumentarios">
			<a [routerLink]="['/argumentarios/config']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">view_list</i>
					<p class="promo-caption">Argumentarios</p>
				</div>
			</a>
		</div>
		
		<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminCondicionesVenta">
			<a [routerLink]="['/salescondition']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">local_grocery_store</i>
					<p class="promo-caption">Condiciones Venta</p>
				</div>
			</a>
		</div>

		<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminFibra">
			<a [routerLink]="['/ftth']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">business</i>
					<p class="promo-caption">Edificios Fibra Óptica</p>
				</div>
			</a>
		</div>

	
	
	<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminPerfiles">
			<a [routerLink]="['/permisos-perfiles']">
				<div class="center promo card-panel hoverable media-position">
					<i class="material-icons">how_to_reg</i>
					<p class="promo-caption">Permisos Perfiles</p>
				</div>
			</a>
		</div>
	<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminConvergencia">
		<a [routerLink]="['/login-convergencia']">
			<div class="center promo card-panel hoverable media-position">
				<i class="material-icons">how_to_reg</i>
				<p class="promo-caption">Login Convergencia</p>
			</div>
		</a>
	</div>
	<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminMotorizadoCat">
		<a [routerLink]="['/catalogxmotorizado']">
			<div class="center promo card-panel hoverable media-position">
				<i class="material-icons">people</i>
				<p class="promo-caption">Catálogo Motorizado</p>
			</div>
		</a>
	</div>
<!--
	<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminMotorizadoCat">
		<a [routerLink]="['/seguridadsocio']">
			<div class="center promo card-panel hoverable media-position">
				<i class="material-icons">people</i>
				<p class="promo-caption">Visualizar Tokens Asociados (Socio)</p>
			</div>
		</a>
	</div>
	-->
<!--	
	<div class="col l4 m12 s12" *ngIf="grantedAccess.AdminMotorizadoCat">
		<a [routerLink]="['/numeros-asociados/type','tdp']">
			<div class="center promo card-panel hoverable media-position">
				<i class="material-icons">people</i>
				<p class="promo-caption">Administrar Numeros Asociados  (Telefonica)</p>
			</div>
		</a>
	</div>	
	-->
</div>
	

</div>