<div class="container">
  <div class="card-panel">
    <div class="row">
      <div class="col s12">
        <h4>Logs</h4>
      </div>
    </div>
    <div class="row">
      <form (ngSubmit)="onSearch()">
        <div class="input-field col l2">
          <input [(ngModel)]="model.sourceapp" type="text" name="sourceapp" placeholder="APPVF...">
          <label class="active filter" for="sourceapp">Aplicaci&oacute;n</label>
        </div>

        <div class="input-field col l2">
          <input [(ngModel)]="model.username" type="text" name="usuario" placeholder="Usuario...">
          <label class="active filter" for="usuario">Usuario</label>
        </div>

        <div class="input-field col l2">
          <input [(ngModel)]="model.dni" type="text" name="dni" placeholder="DNI...">
          <label class="active filter" for="dni">DNI</label>
        </div>

        <div class="input-field col l2">
          <input [(ngModel)]="model.orderid" type="text" name="orderid" placeholder="Cod. Venta...">
          <label class="active filter" for="orderid">Cod. Venta</label>
        </div>

        <div class="input-field col l4">
          <input [(ngModel)]="model.servicecode" type="text" name="tag" placeholder="Servicio...">
          <label class="active filter" for="tag">Servicio</label>
        </div>

        <!-- glazaror se adiciona datepicker para la fechaInicio -->
        <div class="input-field col l2">
          <input [(ngModel)]="model.iniDate" type="date" name="iniDate" placeholder="Fecha Inicio..." min="{{minInitDatePicker}}" max="{{maxInitDatePicker}}" (change)="selectInitDate()" style="font-size: 13px">
          <label class="active filter" for="initDate">Fecha Inicio</label>
        </div>

        <!-- glazaror se adiciona datepicker para la fechaFin -->
        <div class="input-field col l2">
          <input [(ngModel)]="model.finDate" type="date" name="finDate" placeholder="Fecha Fin..." min="{{model.iniDate}}" max="{{maxInitDatePicker}}"
            [readonly]="readonlyFinDate" style="font-size: 13px">
          <label class="active filter" for="finDate">Fecha Fin</label>
        </div>

        <!-- glazaror se adiciona boton para ejecutar la consulta del log de errores -->
        <div class="input-field col l2">
          <button class="waves-effect waves-light btn" type="submit">Buscar</button>
        </div>

        <!-- glazaror se adiciona boton para ejecutar la descarga del log de errores -->
        <div class="input-field col l2">
          <button class="waves-effect waves-light btn" type="button" (click)="download()" [disabled]="!logsHasBeenDownloaded">Descargar</button>
        </div>

      </form>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="row valign-wrapper">
        <table class="highlight responsive-table bordered centered" style="font-size: 12px;">
          <thead>
            <tr>
              <th>Id</th>
              <th>Fecha</th>
              <th>Aplicaci&oacute;n</th>
              <th>Servicio</th>
              <th>Usuario</th>
              <th>DNI</th>
              <th>Cod. Venta</th>
              <th>Mensaje</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let log of serviceCallEvents">
              <td>{{ log.id }}</td>
              <td>{{ log.eventDatetime | date: 'dd/MM/y HH:mm:ss' }}</td>
              <td>{{ log.sourceapp }}</td>
              <td>{{ log.servicecode }}</td>
              <td>{{ log.username }}</td>
              <td>{{ log.docnumber }}</td>
              <td>{{ log.orderid }}</td>
              <td>
                <span style="word-break:break-all;">{{ log.msg + ' ' + log.servicerequest | slice:0:150 }}...</span>
              </td>
              <td>
                <a [routerLink]="[log.id]">
                  <i class="material-icons">open_in_new</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row center">
        <ul class="pagination">
          <li [ngClass]="{'disabled': model.currentPage == 0}" class="waves-effect">
            <a (click)="gotoPrevPage()">
              <i class="material-icons">chevron_left</i>
            </a>
          </li>
          <li *ngFor="let i of model.pages" [ngClass]="{'active': model.currentPage == i}">
            <a (click)="gotoPage(i)">{{i+1}}</a>
          </li>
          <li [ngClass]="{'disabled': model.currentPage == model.numPages-1}" class="waves-effect">
            <a (click)="gotoNextPage()">
              <i class="material-icons">chevron_right</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="loading-indicator" *ngIf="model.loading">
  <div class="windows8">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>