<div class="container">
  	<div class="card-panel">
      <div class="row">
        <div class="col s12">
          <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/administration/servicecallevents']"><i class="material-icons">view_list</i></a>
        </div>
      </div>
	  	<div class="col s12 l6 offset-l3">
	  		<div class="row valign-wrapper">
          <div class="col s12">
            <p>Registrado el {{ model.eventdatetime }} por el usuario {{model.username}} como {{model.tag}} - {{model.servicecode}}.</p>
            <p *ngIf="model.orderId">Venta {{ model.orderid }}, cliente {{ model.docnumber }}</p>
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s12">
            <b>Service Request</b>
            <div class="log-text-display">{{ model.servicerequest }}</div>
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s12">
            <b>Service Response</b>
            <div class="log-text-display">{{ model.serviceresponse }}</div>
          </div>
        </div>
	    </div>
	</div>
</div>
