<div class="container">
  	<div class="card-panel">
      <div class="row">
        <div class="col s6">
          <h4>Usuario</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
        <form >
          <div class="row">
                    <div class="input-field col s6">
                      <input [(ngModel)]="model.username" type="text" name="username" class="validate" required>
                      <label class="filter" for="username">Usuario</label>
                    </div>
                    <div class="input-field col s6">
                        <input [(ngModel)]="model.password" type="password" name="password" class="validate" required>
                        <label class="filter" for="password">Contraseña</label>
                    </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input [(ngModel)]="model.name" type="text" name="name" class="validate" required>
              <label class="filter" for="password">Nombre</label>
            </div>
            <div class="input-field col s6">
              <input [(ngModel)]="model.lastname" type="text" name="apellidos" class="validate" required>
              <label class="filter" for="password">Apellidos</label>
            </div>
          </div>

                <div class="row">
                    <div class="input-field col s6">
                          <input [(ngModel)]="model.email" type="email" name="email" class="validate" required>
                          <label class="filter" for="password">Correo electronico</label>
                    </div>
                    <div class="col s6">
                      <label>Perfil</label>
                        <select class="browser-default" [(ngModel)]="model.profileid" name="profileid" required>
                          <option *ngFor="let p of profiles" value="{{p.id}}">{{p.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col s2">
                      <label>Tipo de documento</label>
                        <select class="browser-default" [(ngModel)]="model.doctype" name="doctype">
                          <option value="DNI">DNI</option>
                        </select>
                    </div>
                    <div class="input-field col s4">
                        <input [(ngModel)]="model.docnumber" type="number" name="docnumber" class="validate" required>
                        <label class="filter" for="password">Nro. documento</label>
                    </div>
                </div>

          <div class="input-field col s12">
            <button class="waves-effect waves-light btn" type="button" (click)="onSubmit()">Registrar</button>
          </div>
        </form>
      </div>
      </div>
	</div>
</div>

<div class="loading-indicator" *ngIf="loading">
<div class="windows8">
	<div class="wBall" id="wBall_1">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_2">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_3">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_4">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_5">
		<div class="wInnerBall"></div>
	</div>
</div>
</div>
