<div class="container">
	<div class="card-panel">
		<div class="row">
			<div class="col s12">
				<a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/administration/users']"><i class="material-icons">view_list</i></a>
			</div>
		</div>
		<div class="row">
			<form >
				<div class="input-field col s12 m6 l6">
					<input name="username" [(ngModel)]="users.username" required>
					<label class="active filter" for="username">Nombre Usuario</label>
				</div>
				<div class="input-field col s12 m6 l6">
					<input name="name" [(ngModel)]="users.name" required>
					<label class="active filter" for="username">Nombre</label>
				</div>
				<div class="input-field col s12 m6 l6">
					<input type="email" name="email" class="validate active filter" [(ngModel)]="users.email" required>
					<label class="active filter" for="email">Email</label>
				</div>
				<div class="input-field col s12 m6 l6">
					<input type="email" name="lastname" class="validate" [(ngModel)]="users.lastname" required>
					<label class="active filter" for="lastname">Apellido</label>
				</div>
				<div class="input-field col s12 m6 l6">
					<select [(ngModel)]="doctypeid" class="browser-default" name="doctypeid" required>
						<option *ngFor="let td of tipoDocumentos" value="{{td.id}}">{{td.name}}</option>
					</select>
					<label class="active filter" for="doctypeid">Tipo Documento</label>
				</div>
				<div class="input-field col s12 m6 l6">
					<input  name="docnumber" [(ngModel)]="users.docnumber" class="validate" required>
					<label class="active filter" for="docnumber">Numero</label>
				</div>
				<div class="input-field col s12 m6 l6">
					<select [(ngModel)]="users.profileid" class="browser-default" name="doctype" required>
						<option *ngFor="let p of profiles" value="{{p.id}}">{{p.name}}</option>
					</select>
					<label class="active filter" for="profileid">Id Perfil</label>
				</div>
				<div class="input-field col s12 center">
           			<button class="waves-effect waves-light btn" type="button" (click)="onSubmit()">Actualizar</button>
          		</div>
			</form>
		</div>
	</div>
</div>
<div class="loading-indicator" *ngIf="loading">
	<div class="windows8">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>
