<div class="container">
  	<div class="card-panel">
      <div class="row">
        <div class="col s6">
          <h4>Usuario</h4>
        </div>
      </div>
      <div class="row">
        <form (ngSubmit)="onSubmit()">

          <div class="input-field col s6">
            <input [(ngModel)]="model.username" type="text" name="username" class="validate">
            <label class="active filter" for="username">Usuario</label>
          </div>
          <div class="input-field col s12">
            <button class="waves-effect waves-light btn" type="submit">Registrar</button>
          </div>
        </form>
      </div>
	</div>
</div>
<div class="loading-indicator" *ngIf="model.loading">
<div class="windows8">
	<div class="wBall" id="wBall_1">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_2">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_3">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_4">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_5">
		<div class="wInnerBall"></div>
	</div>
</div>
</div>
