<div class="container">
  	<div class="card-panel">
      <div class="row">
        <div class="col s6">
          <h4>Usuarios</h4>
        </div>
        <div class="col s6" style="text-align: right;">
          <a [routerLink]="['/administration/users/new']" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
      </div>
      <div class="row">
        <form (ngSubmit)="onSearch()">

          <div class="input-field col l3">
            <input [(ngModel)]="model.username" type="text" name="usuario" placeholder="Usuario...">
            <label class="active filter" for="usuario">Usuario</label>
          </div>
          <button class="waves-effect waves-light btn" type="submit">Buscar</button>
        </form>
      </div>
	  	<div class="col s12 m8 offset-m2 l6 offset-l3">
	  		<div class="row valign-wrapper">
				<table class="highlight responsive-table bordered centered">
				    <thead>
				        <tr>
				            <th>Id</th>
				            <th>Usuario</th>
                    <th></th>
				        </tr>
				    </thead>

				    <tbody>
				        <tr *ngFor="let d of data">
				          	<td>{{ d.id }}</td>
                    <td>{{ d.username }}</td>
                    <td><a [routerLink]="[d.id]"><i class="material-icons">open_in_new</i></a></td>
				        </tr>
				    </tbody>
				</table>
          	</div>
                <div class="row center">
                    <ul class="pagination">
                      <li [ngClass]="{'disabled': model.currentPage == 0}" class="waves-effect"><a (click)="gotoPrevPage()"><i class="material-icons">chevron_left</i></a></li>
                      <li *ngFor="let i of model.pages" [ngClass]="{'active': model.currentPage == i}"><a (click)="gotoPage(i)">{{i+1}}</a></li>
                      <li [ngClass]="{'disabled': model.currentPage == model.numPages-1}" class="waves-effect"><a (click)="gotoNextPage()"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                  </div>
		</div>
	</div>
</div>
<div class="loading-indicator" *ngIf="model.loading">
<div class="windows8">
	<div class="wBall" id="wBall_1">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_2">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_3">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_4">
		<div class="wInnerBall"></div>
	</div>
	<div class="wBall" id="wBall_5">
		<div class="wInnerBall"></div>
	</div>
</div>
</div>
