<div class="container">
  <div class="card-panel">
    <div class="row">
      <div class="col s12">
        <h4>Monitor de VISOR</h4>
      </div>
    </div>
    <div class="row">
      <form (ngSubmit)="onSearch()">
        <div class="input-field col l2">
          <input [(ngModel)]="model.status" type="text" name="status" placeholder="APPVF..." uppercase>
          <label class="active filter" for="estado">Estado</label>
        </div>

        <!-- glazaror se adiciona datepicker para la fechaInicio -->
        <div class="input-field col l2">
          <input [(ngModel)]="model.iniDate" type="date" name="iniDate" placeholder="Fecha Inicio..." (change)="selectInitDate()" style="font-size: 12px">
          <label class="active filter" for="initDate">Fecha Inicio</label>
        </div>

        <!-- glazaror se adiciona datepicker para la fechaFin -->
        <div class="input-field col l2">
          <input [(ngModel)]="model.finDate" type="date" name="finDate" placeholder="Fecha Fin..." min="{{model.iniDate}}" max="{{maxDatePicker}}"
            [readonly]="readonlyFinDate" style="font-size: 12px">
          <label class="active filter" for="finDate">Fecha Fin</label>
        </div>

        <!-- glazaror se adiciona boton para ejecutar la consulta del log de errores -->
        <div class="input-field col l2">
          <button class="waves-effect waves-light btn" type="submit">Buscar</button>
        </div>

        <!-- glazaror se adiciona boton para ejecutar la descarga del log de errores -->
        <div class="input-field col l2">
          <button class="waves-effect waves-light btn" type="button" (click)="download()" [disabled]="!logsHasBeenDownloaded">Descargar</button>
        </div>

      </form>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="row valign-wrapper">
        <table class="highlight responsive-table bordered centered" style="font-size: 12px;">
          <thead>
            <tr>
              <th>Nombre por archivo</th>
              <th>Fecha y hora</th>
              <th>Estado</th>
              <th>Cantidad registros procesados</th>
              <th>Cantidad registros con errores</th>
              <th>Detalle</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let log of visorLoadLogs">
              <td>{{ log.txtName }}</td>
              <td>{{ log.loadDate | date: 'dd/MM/y HH:mm:ss' }}</td>
              <td>{{ log.status }}</td>
              <td>{{ log.rowsDone }}</td>
              <td>{{ log.rowsError }}</td>
              <td title="{{ log.detail}}">{{ log.detail | slice:0:10}} ...</td>
              
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row center">
        <ul class="pagination">
          <li [ngClass]="{'disabled': model.currentPage == 0}" class="waves-effect">
            <a (click)="gotoPrevPage()">
              <i class="material-icons">chevron_left</i>
            </a>
          </li>
          <li *ngFor="let i of model.pages" [ngClass]="{'active': model.currentPage == i}">
            <a (click)="gotoPage(i)">{{i+1}}</a>
          </li>
          <li [ngClass]="{'disabled': model.currentPage == model.numPages-1}" class="waves-effect">
            <a (click)="gotoNextPage()">
              <i class="material-icons">chevron_right</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="loading-indicator" *ngIf="model.loading">
  <div class="windows8">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>