
<div class="container">
    <div class="row">
            <div class="col s12 {{showMessageValidator}}">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  {{messageValidate}}
                </div>
    
              </div>
            </div>
          </div>
        <div class="col s12">
            <div class="card-panel">
                <div>
                    <button (click)="cancelEdit()" style="float: right;"
                        class="waves-effect waves-light btn {{showEditMotorizado}}">Cancelar</button>
                    <button (click)="modalFieldEdit()"
                        style="float: right; margin-right: 10px !important;"
                        class="waves-effect waves-light btn">{{nameEdit}}</button>
    
                    <!-- inicio modal -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Actualizaci&oacute;n de Motorizado</h4>
                            <p>Por favor confirme su actualizaci&oacute;n</p>
                        </div>
                        <div class="modal-footer">
                            <a (click)="fieldEdit()"
                                class=" modal-action modal-close waves-effect waves-green btn-flat">Actualizar</a>
                            <a (click)="cancelEdit()"
                                class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
                        </div>
    
                    </div>
    
                    <!-- fin de modal -->
                </div>
    
                <h5 class="center">Detalle del Motorizado</h5>
                <div class="row">
    
                    <div style="margin-top: 30px !important;" class="divider"></div>
                    <table class="highlight responsive-table bordered centered">
                        <thead>
                            <tr>
                                <th>Campo</th>
                                <th>Dato</th>
                                <th style="text-align: left;" class="{{showEditMotorizado}}">Dato a actualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nro Pedido</td>
                                <td>{{motorizado.codigopedido}}</td>
                                <td class="{{showEditMotorizado}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editMotorizado.codigopedido"
                                            placeholder="Codigo Pedido" id="codigopedido" name="codigopedido"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Codigo Motorizado</td>
                                <td>{{motorizado.codmotorizado}}</td>
                                <td class="{{showEditMotorizado}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editMotorizado.codmotorizado"
                                            placeholder="Codigo Motorizado"
                                            id="codmotorizado" name="codmotorizado"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Fecha Registro</td>
                                <td>{{motorizado.fecharegistro}}</td>
                                <td class="{{showEditMotorizado}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editMotorizado.fecharegistro"
                                            placeholder="Fecha Registro" id="fecharegistro" name="fecharegistro"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Tipo de Documento</td>
                                <td>{{motorizado.tipdoccliente}}</td>
                                <td class="{{showEditMotorizado}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editMotorizado.tipdoccliente"
                                            placeholder="Tipo Documento" id="tipdoccliente" name="tipdoccliente"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>N&uacute;mero Documento</td>
                                <td>{{motorizado.numdoccliente}}</td>
                                <td class="{{showEditMotorizado}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editMotorizado.numdoccliente"
                                            placeholder="Numero Documento" id="numdoccliente" name="numdoccliente"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Cliente</td>
                                <td>{{motorizado.nombrecliente}}</td>
                                <td class="{{showEditMotorizado}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editMotorizado.nombrecliente"
                                            placeholder="Nombre Cliente" id="nombrecliente" name="nombrecliente"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Teléfono</td>
                                <td>{{motorizado.movilcliente}}</td>
                                <td class="{{showEditMotorizado}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editMotorizado.movilcliente"
                                            placeholder="Movil Cliente" id="movilcliente" name="movilcliente"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Flag Biometria</td>
                                <td>{{motorizado.biometria}}</td>
                                <td class="{{showEditMotorizado}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editMotorizado.biometria"
                                            placeholder="Biometria" id="biometria" name="biometria"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{motorizado.estado}}</td>
                                <td class="{{showEditMotorizado}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editMotorizado.estado"
                                            placeholder="Estado" id="estado" name="estado"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Motivo</td>
                                <td>{{motorizado.motivorechazo}}</td>
                                <td class="{{showEditMotorizado}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editMotorizado.motivorechazo"
                                            placeholder="Registered Time" id="motivorechazo" name="motivorechazo"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Registered Time</td>
                                <td>{{motorizado.registeredtime}}</td>
                                <td class="{{showEditMotorizado}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editMotorizado.registeredtime"
                                            placeholder="Registered Time" id="registeredtime" name="registeredtime"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Fecha Cambio Estado</td>
                                <td>{{motorizado.updatetime}}</td>
                                <td class="{{showEditMotorizado}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editMotorizado.updatetime"
                                            placeholder="Update Time" id="updatetime" name="updatetime"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
    
                </div>
            </div>
        </div>
    
    </div>
    