<div class="container">
    <div class="card-panel">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="row">
                <div class="center">
                    <a [routerLink]="['upload']">
                        <button name="btn_upload" class="col s12 btn green darken-1">Cargar archivo</button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l12">
                    <form (ngSubmit)="onSearch()">
                        <div class="input-field col l2">
                            <input [(ngModel)]="model.motorizado" type="text" name="motorizado" placeholder="">
                            <label class="active filter" for="model.searchMotorizado">Codigo Motorizado</label>
                        </div>
                        <div class="input-field col l5">
                            <input [(ngModel)]="model.idventa" type="text" name="idventa" placeholder="">
                            <label class="active filter" for="model.searchIdVenta">Id Venta</label>
                        </div>
                        <button class="waves-effect waves-light btn" type="submit">Buscar</button>
                        <!--<button class="waves-effect waves-light btn" type="button" (click)="download()">Descargar</button>-->
                    </form>
                </div>
            </div>
            <div class="row valign-wrapper">
                <table class="highlight responsive-table bordered centered">
                    <thead>
                        <tr>
                            <th>Nro Pedido</th>
                            <th>Código Motorizado</th>
                            <th>Fecha Registro</th>
                            <th>Tipo de Documento</th>
                            <th>Número Documento</th>
                            <th>Cliente</th>
                            <th>Teléfono</th>
                            <!--<th>Flag Biometria</th>
                          <th>Estado</th>
                          <th>Motivo</th>
                          <th>Fecha Registro</th>
                          <th>Fceha Cambio Estado</th>-->
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let motorizado of catalogxmotorizado">
                            <td>{{motorizado.codigopedido}}</td>
                            <td>{{motorizado.codmotorizado}}</td>
                            <td>{{motorizado.fecharegistro}}</td>
                            <td>{{motorizado.tipdoccliente}}</td>
                            <td>{{motorizado.numdoccliente}}</td>
                            <td>{{motorizado.nombrecliente}}</td>
                            <td>{{motorizado.movilcliente}}</td>
                            <!--<td>{{motorizado.biometria}}</td>
                            <td>{{motorizado.estado}}</td>
                            <td>{{motorizado.motivorechazo}}</td>
                            <td>{{motorizado.registeredtime}}</td>
                            <td>{{motorizado.updatetime}}</td>-->
                            <td>
                                <a [routerLink]="[motorizado.id]">
                                    <i class="material-icons">open_in_new</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row center">
                <ul class="pagination">
                    <li [ngClass]="{'disabled': model.currentPage == -1}" class="waves-effect">
                        <a (click)="gotoPrevPage()">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                    <li *ngFor="let i of model.pages" [ngClass]="{'active': model.currentPage == i}">
                        <a (click)="gotoPage(i)">{{i+1}}</a>
                    </li>
                    <li [ngClass]="{'disabled': model.currentPage == model.numPages-1}" class="waves-effect">
                        <a (click)="gotoNextPage()">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="loading-indicator" *ngIf="model.loading">
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>