<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <div class="row">
          <div class="col s12">
            <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/catalogxmotorizado']">
              <i class="material-icons">view_list</i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <form (ngSubmit)="f.form.valid && onFormSubmit()" #f="ngForm">
              <div class="row">
                <div class="file-field input-field" *ngIf="!model.totalCount">
                  <div class="waves-effect btn">
                    <span>Buscar</span>
                    <input type="file" (change)="onChangeFile($event)" required />
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" disabled>
                  </div>
                </div>
              </div>

              <div class="center">
                <div class="row">
                  <button name="btn_upload" type="submit" class="col s12 btn green darken-1" *ngIf="!model.totalCount">Subir</button>
                </div>
              </div>

              <div class="center">
                <div class="row">
                  <button name="btn_upload" type="button" class="col s6 btn green darken-1" *ngIf="model.totalCount" (click)="onClickPersist()">Registrar</button>
                  <button name="btn_upload" type="button" class="col s6 btn light-blue darken-1" *ngIf="model.totalCount" (click)="onClickOtroArchivo()">Seleccionar otro archivo...</button>
                </div>
              </div>

              <div class="row" *ngIf="model.totalCount == 0">
                <div class="col s12">
                  <p class="red-text text-darken-1">Sin filas a procesar.</p>
                </div>
              </div>

              <div class="row" *ngIf="model.registered">
                <div class="col s12">
                  <p class="green-text text-darken-1">{{model.registered}} vendedores registrados!</p>
                </div>
              </div>

              <div class="row" *ngIf="model.processError">
                <div class="col s12">
                  <p class="red-text text-darken-1">No se pudo procesar el archivo. No tiene el formato requerido.</p>
                </div>
              </div>

              <div class="row" *ngIf="model.totalCount">
                <div class="col s6 left">
                  <p class="red-text text-darken-1">Nº Total de registros {{model.totalCount}} </p>
                </div>
                <div class="col s6">
                  <p class="red-text text-darken-1">Nº Errores {{model.errorCount}} </p>
                </div>
              </div>

              <div class="row" *ngIf="model.errorCount > 0">
                <table class="highlight responsive-table bordered centered">
                  <thead>
                    <tr>
                      <th>Codigo Pedido</th>
                      <th>Codigo Motorizado</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let motorizado of model.error">
                      <td>{{motorizado.codigopedido}}</td>
                      <td>{{motorizado.codmotorizado}}</td>
                      <td>
                        <ul>
                          <li *ngFor="let e of product.errors">{{e}}</li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loading-indicator" *ngIf="loading">
  <div class="windows8">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>