<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>


<div class="seccion">
	<div class="cnt_geneeral">
		<div class="cnt_forcnt">
			<div class="dileAlCliente">
				Dile al cliente lo siguiente:
			</div>
			<div class="TitAsk" [innerHTML]="mjsUser">
			</div>
			<div class="noObligatorio" (click)="showCancelModal()">
				<p *ngIf="order.user.typeFlujoTipificacion=='REMOTO'">Estimado cliente, en caso que se corte esta llamada ¿Podría facilitarme un número telefónico al cual lo podamos contactar?</p>
				*No es obligatorio.
			</div>
			<!-- formulario -->
			<form class="form-inline text-center" (ngSubmit)="registrarTelefono()">
				<br>
				<div class="col-3 input-effect">
					<input class=" effect-16 ng-invalid ng-dirty has-content ng-touched input_tel" [(ngModel)]="mobilePhone" id="mobilePhone"
					 maxlength="9" name="mobilePhone" pattern="^[0-9]{8}$" placeholder="" required="" ng-reflect-model="12312312" type="text"
					 ng-max="9" data-input="nroCard" ng-reflect-maxlength="9" ng-reflect-pattern="^[0-9]{8}$" ng-reflect-name="mobilePhone"
					 ng-reflect-model="asd">
					<label>Ingresa Nº de télefono</label>
					<span class="focus-border"></span>
				</div>
				<div *ngIf="isTheNumberOk" id="alerta_registro_error" class="alert-danger-contacto col-3 texto_center" style="display: block;">{{
					messageTelephone }}</div>
				<br>
				<div class="row col-sm-4 col-sm-offset-1 campo-reniec d-b">
					<div class="cntBotonesOpt">
						<a (click)="registrarTelefono()">REGISTRAR TEL&Eacute;FONO</a>
					</div>
				</div>
				<div class="row col-sm-4 col-sm-offset-2 campo-reniec d-b">
					<div class="cntBotonesOpt">
						<a (click)="continuarVenta()" id="continuar_">OBVIAR Y CONTINUAR</a>
					</div>
				</div>
				<br>
				<br>
				<div class="row">
					<div *ngIf="numberIsCorrect" id="alerta_registro" class="alert alert-info text_center">
						<!--<strong>Info!</strong>-->{{ messageTelephone }}
					</div>
				</div>
				<div class="row">
					<div class="alert alert-danger  none" id="alerta_registro_error">
						<strong>Danger!</strong> Indicates a dangerous or potentially negative action.
					</div>
				</div>
			</form>
		</div>
	</div>
</div>