<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" />
<style>
select{
height: 150px;
background-color: rgb(224,224,224,0.3);
border: 5px solid rgb(224,224,224,1);
outline: none;
font-size: 15px !important;
font-family: 'FontAwesome', 'initial';
}
::-webkit-scrollbar {
width: 10px;
z-index: 9999;
}
::-webkit-scrollbar-track {
background-color: #ebebeb;
z-index: 9999;
margin:1px 0px;
}
::-webkit-scrollbar-thumb {
background: #6d6d6d;
z-index: 9999;
margin:1px 0px;
}
option{
padding:10px 0px;
text-transform: uppercase;
margin:1px 0px;
transition: 0.5s;
font-size: 11px !important;
}
option:checked  {
padding-left: 20px;
font-weight: bold;
background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/2000px-White_check.svg.png');
background-size: 20px;
background-repeat: no-repeat;
background-position: left;
}
::-webkit-inner-spin-button {
display:none;
}
::-webkit-calendar-picker-indicator { background-color:white}
input[type=date]{
font-size:18px;
transition: 0.5s;
outline: none;
border: 5px solid rgb(224,224,224,1);
font-family:  sans-serif;
padding: 3px;
margin-bottom: 5px;
}
::-webkit-datetime-edit-text { color:#00a9e0}
::-webkit-datetime-edit-month-field { color:#555555 }
::-webkit-datetime-edit-day-field { color: #555555 }
::-webkit-datetime-edit-year-field { color:#555555}
::-webkit-calendar-picker-indicator{
background-image: url('http://icons.iconarchive.com/icons/dakirby309/simply-styled/256/Calendar-icon.png'
);
background-position:center;
background-size:20px 20px;
background-repeat:no-repeat;
color:rgba(204,204,204,0);
}
.card.compact .col-3 {
width: 30%  !important;
}
</style>
<div class="loading-indicator" *ngIf="loading">
  <div class="windows8 windows-parquet">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>
<div class="seccion" *ngIf="show">
  <div class="cnt_geneeral">
    <div class="title_pagina">
      <p>Ventas por {{title}}</p>
      <div class="both"></div>
    </div>
    <div class="cnt_forcnt prela">
      <div class="Tit16">
        <span class="cyan">Hola {{order.user.name}} {{order.user.lastname}}, selecciona los valores de las columnas y filas para generar los reportes.</span>
      </div>
      <div class="Tit16">
        <span style="color: red">*Si deja algun valor en blanco, se tomará en cuenta todos los valores</span>
      </div>
      <div class="card compact sin-max-width row">
        <div class="col-12">
          <div class="col-3 paraselect" style="z-index: 4 "  *ngIf="isSocio || isCoordinador">            
            <label class="label-mul">Selecciona el canal</label>
            <div>
              <angular2-multiselect [data]="canal"  [settings]="dropdownSettings"  [(ngModel)]="filter.canal" 
                (onSelect)="listarZonaOsocio()"
                (onDeSelect)="listarZonaOsocio()" 
                (onSelectAll)="listarZonaOsocio()" 
                (onDeSelectAll)="listarZonaOsocio()" ></angular2-multiselect>
            </div>
          </div>
          <div class="col-3 paraselect" style="z-index: 4 "  *ngIf="isCoordinador">            
            <label class="label-mul">Selecciona el socio</label>
            <div>
              <angular2-multiselect [data]="sociosMostrados"  [settings]="dropdownSettings"  [(ngModel)]="filter.socio" 
              (onSelect)="listarZona()"
              (onDeSelect)="listarZona()" 
              (onSelectAll)="listarZona()" 
              (onDeSelectAll)="listarZona()"></angular2-multiselect>
            </div>
          </div>
          <div class="col-3 paraselect" style="z-index: 4 "   *ngIf="isSocio || isCoordinador">
            <label class="label-mul">Selecciona la region</label>
            <div>
              <angular2-multiselect [data]="regionesMostrados"  [settings]="dropdownSettings"  [(ngModel)]="filter.region" 
                (onSelect)="listarZonales()"
                (onDeSelect)="listarZonales()" 
                (onSelectAll)="listarZonales()" 
                (onDeSelectAll)="listarZonales()"></angular2-multiselect>
            </div>
          </div>
          <div class="col-3 paraselect" style="z-index: 3 "   *ngIf="isSocio || isCoordinador">
            <label class="label-mul">Selecciona zonal</label>
            <div>
              <angular2-multiselect [data]="zonalesMostrados"  [settings]="dropdownSettings"  [(ngModel)]="filter.zonal" 
                (onSelect)="listarPtoVenta()"
                (onDeSelect)="listarPtoVenta()" 
                (onSelectAll)="listarPtoVenta()" 
                (onDeSelectAll)="listarPtoVenta()"></angular2-multiselect>
            </div>
          </div>
          <div class="col-3 paraselect" style="z-index: 3 "  *ngIf="isSocio || isCoordinador">
            <label class="label-mul">Selecciona el punto de venta</label>
            <div>
              <angular2-multiselect [data]="ptoVentaMostrados"  [settings]="dropdownSettings"  [(ngModel)]="filter.ptoVenta"></angular2-multiselect>
            </div>
          </div>
          <div class="col-3 paraselect" style="z-index: 3 "  *ngIf="isCoordinador">            
            <label class="label-mul">Selecciona la campaña</label>
            <div>
              <angular2-multiselect [data]="campania"  [settings]="dropdownSettings"  [(ngModel)]="filter.campania"></angular2-multiselect>
            </div>
          </div>
          <div class="col-3 paraselect" style="z-index: 2 "  *ngIf="isCoordinador">            
            <label class="label-mul">Selecciona la Operación comercial</label>
            <div>
                <angular2-multiselect [data]="opComercial"  [settings]="dropdownSettings"  [(ngModel)]="filter.opComercial"></angular2-multiselect>
            </div>
          </div>
          <div class="col-3 paraselect" style="z-index: 0 " >
            <div class="sup label-mul">De:</div>
            <div class="fecha">
                <input type="date" id="fecha1" class="campo-fecha" [(ngModel)]="filter.dateStart">
            </div>
          </div>
          <div class="col-3 paraselect" style="z-index: 0 " >
            <div class="sup label-mul">A:</div>
            <div class="fecha">
                <input type="date" id="fecha2" class="campo-fecha" [(ngModel)]="filter.dateEnd">
            </div>
          </div>
        </div>
        <div class="col-12" align="center">
          <a class="boton_greentdp_alt" (click)="FILTRAR()">FILTRAR</a>
        </div>
      </div>
       

      <div class="card compact sin-max-width">
        <div class="col-12">
          <div class="tablaDatos">
            <table>
              <thead>
                <tr *ngIf = "consultado && rows.length>0">
                  <th >
                    Desc
                  </th>
                  <ng-container *ngFor="let head of header">
                    <th>
                      {{head}}
                    </th>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of rows">
                  <td>{{row.name}}</td>
                  <ng-container *ngFor="let head of header">
                      <td>
                        {{row.data[head]?numberFormat(row.data[head]):'0'}}
                      </td>
                  </ng-container>
                </tr>
                <tr *ngIf = "consultado && rows.length==0">
                  <div style="text-align:center; padding: 2rem;" >
                    No se encontraron resultados
                  </div>
                </tr>
              </tbody>
            </table>
            <div  *ngIf = "consultado && rows.length>0" class="col-12" align="center">
              <a class="boton_greentdp_alt" (click)="export()">EXPORTAR</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>