<div class="container">
	<div id="login-page" class="row">
	    <div class="col s8 m6 l4 offset-s2 offset-m3 offset-l4 card-panel">
			<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
	            <div class="row">
	              <div class="col s6 m6 l6 offset-s3 offset-m3 offset-l3">
              			<img src="../../image/img_share.jpg" alt="" class="circle responsive-img space">
	              	</div>
	            </div>
	            <div class="row">
	              	<div class="input-field col s12">
						<input type="text" class="validate" name="username" [(ngModel)]="model.username" #username="ngModel" required />
		                <label for="username">Ingrese su usuario</label>
	              	</div>
	            </div>

	            <div class="row">
	              	<div class="input-field col s12">
						<input type="password" class="validate" name="password" [(ngModel)]="model.password" #username="ngModel" required />
	                	<label for="password">Ingrese su contraseña</label>
	              	</div>
				</div>

	            <div class="center">
	              	<div class="row">
	                	<button name="btn_login" class="col s12 btn waves-effect green darken-1">Ingresar</button>
	              	</div>
	            </div>

          	</form>
	    </div>
  	</div>
</div>
