<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>

<div class="seccion" style="zoom:80%">
	<div class="cnt_geneeral">

		<div class="title_pagina " style="max-width: 47%; margin: auto">
			<p>Selecci&oacute;n de campa&ntilde;a</p>
			<div class="both"></div>
		</div>

		<div class="boder">
			<div class="dileAlCliente">
				Estimado vendedor :
			</div>
			<div class="TitAsk" *ngIf="campana">
				Porfavor elija una de las siguientes campañas.
			</div>

			<div class="TitAsk" *ngIf="!campana">
				No tienes ninguna campaña.
			</div>

			<div class="listado" *ngIf="order.type == 'A'">
				<div *ngFor="let camp of campaniasUnicas; let ind = index " class="campanas-item" id="campanais" (click)="toOffering($event.target.innerText,ind)">
					{{camp}}
				</div>
			</div>

			<div class="listado" *ngIf="order.type == 'M'">
				<div *ngFor="let camp of campaniasUnicas; let ind = index " class="campanas-item" id="campanais" (click)="toOffering($event.target.innerText,ind)">
					{{camp}}
				</div>


			</div>

			<br>
			<br>
			<br>
			<br>

		</div>
	</div>
</div>