<div class="row">
    <div *ngIf="dataWasSaved" class="col s6 m9">
        <div class="row ">
            <div class="col s7 m6 offset-s2 offset-m2" style="margin-top:0.8%">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="messageSuccessful" class="col s6 m9">
        <div class="row ">
            <div class="col s7 m6 offset-s3 offset-m3" style="margin-top:0.8%">
                <div>{{ messageResponse }}</div>
            </div>
        </div>
    </div>
    <div *ngIf="(!messageSuccessful  && !dataWasSaved)" class="col s6 m9">
        <div class="row ">
            <div class="col s7 m6 offset-s3 offset-m3" style="margin-top:0.8%">
            </div>
        </div>
    </div>
    <button (click)="returnList()" class="waves-effect waves-light btn col s5 m2">
        <i class="material-icons left">keyboard_arrow_left</i>
        REGRESAR</button>
</div>
<div class="row">
    <div class="col s10 m10 offset-s1 offset-m1">
        <div class="card white">
            <div class="card horizontal">
                <div class="card-content col s4 m8">
                    <p>MENSAJE {{ title }} - BORRADOR</p>
                </div>
                <div class="card-content col s3 m2">
                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn left-align" (click)="saveMessageError()">GUARDAR</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="web" class="row">
    <table class="bordered col s10 m10 offset-s1 offset-m1">
        <tbody>
            <tr *ngFor="let sentence of listMessageError" style="background-color:white">
                <td>
                    <b>
                        <label for="last_name" style="color:black">{{ sentence.descriptionkey }}</label>
                    </b>
                </td>
                <td style="width: 65%;">
                    <input for="last_name" [(ngModel)]="sentence.responsemessage" style="color:black" value="{{ sentence.responsemessage }}" />
                </td>
            </tr>
        </tbody>
    </table>
</div>