<div class="row">
    <div class="col s7 m9"></div>
    <button (click)="returnList()" class="waves-effect waves-light btn col s4 m2">
        <i class="material-icons left">keyboard_arrow_left</i>
        REGRESAR</button>
</div>
<div class="row">
    <div class="col s10 m10 offset-s1 offset-m1">
        <div class="card white">
            <div class="card horizontal">
                <div class="card-content col s4 m8">
                    <p style="font-size: 160%;">MENSAJE - {{ title }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!dataHasArrived2" class="row ">
    <div class="col s6 m6 offset-s3 offset-m3" style="margin-top:15%">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>

<div id="web" class="row">
    <table class="bordered col s10 m10 offset-s1 offset-m1">
        <tbody>
            <tr *ngFor="let sentence of dataResponse" style="background-color:white">
                <td>
                    <b>
                        <label for="first_name" style="color:black">{{ sentence.descriptionkey }}</label>
                    </b>
                </td>
                <td>
                    <label for="first_name" style="color:black">{{ sentence.responsemessage }}</label>
                </td>
            </tr>
        </tbody>
    </table>
</div>