<div class="loading-indicator" *ngIf="loading">
  <div class="windows8 windows-parquet">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>

  <div *ngIf="loadErrorDeuda">
    <div class="modal">
      {{mensaje_error_deuda}}
      <div *ngIf="!error_respuesta" align="center">
        <a class="boton_greentdp" (click)="cancelarConsultaDeuda()">Continuar con la Venta</a>
      </div>
      <div *ngIf="error_respuesta" align="center">
        <a class="boton_greentdp" (click)="salirVenta()">Salir</a>
      </div>
    </div>
    <div class="overlay"></div>
  </div>
  
<div class="seccion">
  <div class="cnt_geneeral">
    <div class="title_pagina">
      <p>Datos del Cliente</p>
      <div class="both"></div>
    </div>

    <div class="cnt_forcnt prela">
      <div class="dileAlCliente">
        Dile al cliente lo siguiente:
      </div>
      <div class="TitAsk">
        <p style="color: black;">Si el cliente no califica a una oferta evaluar a un familiar</p>
        Estimado(a): {{order.customer.firstName}}
        <br>Al evaluar su documento de identidad encontramos que ud. puede acceder a los siguientes productos en campaña.
      </div>
        <div *ngIf="serv_deuda_act && respuestaDataCustomer && !cli_sin_datos" class="card calificacion">
        <div class="titulo">
            {{this.nom_cliente}} {{this.ape_cliente}}, <br/> 
						{{this.tip_doc_cliente}}: {{this.num_doc_cliente}}
          </div>
        </div>

        <div *ngIf="serv_deuda_act && respuestaDataCustomer && !cli_sin_datos" class="card calificacion">
          <div *ngIf="!tiene_deuda" class="wrapper--1 clearfix">
            <div class="status ok">
              Cliente sin restricción de deuda, califica a una renta máxima de:
            </div>
            <div class="monto">
              <span class="moneda">S/</span> <span class="soles">{{ this.renta_Inter_Conect == null || this.renta_Inter_Conect == "" ? "0.00" : this.renta_Inter_Conect.replace('S/','') }}</span><span class="centimos"></span>
            </div>
          </div>

          <div *ngIf="tiene_deuda" class="wrapper--1 clearfix">
              <div class="status error">
                Cliente con deuda de:
							<br/>
							<span class="moneda">de hace {{this.tiempo_tot}}</span> <br/>
							<span class="moneda">en {{lineas_cliente}} {{linea_desc}}</span>
              </div>
              <div class="monto">
                <span class="moneda">S/</span> <span class="soles">{{this.deuda_tot}}</span><span class="centimos">{{this.deuda_dec}}</span>
              </div>
              
        </div>
      </div>
      <br>
      <br>
      <div class="card campania">
        <p class="title">Productos sugeridos en campaña</p>
        <div class="wrapper--2items clearfix">
          <ng-container *ngFor="let list of ofertasBi">
            <div class="modulo producto azul" id="1produc">
              <div class="header" style="height: 180px">
                <div class="tipo">
                  {{list.productType}}
                </div>
                <div class="velocidad">
                  {{list.productName}}
                </div>
              </div>
              <div class="body">
                <div class="items">
                  <ng-container *ngIf="list.productTypeCode==1">
                    <img src="../img/phone_icon_celeste.png">
                  </ng-container>

                  <ng-container *ngIf="list.productTypeCode==2">
                    <img src="../img/mouse_icon_celeste.png">
                  </ng-container>

                  <ng-container *ngIf="list.productTypeCode==6">
                    <img src="../img/tv_icon_celeste.png">
                  </ng-container>

                  <ng-container *ngIf="list.productTypeCode==3">
                    <img src="../img/tv_icon_celeste.png"> +
                    <img src="../img/phone_icon_celeste.png"> +
                    <img src="../img/mouse_icon_celeste.png">
                  </ng-container>

                  <ng-container *ngIf="list.productTypeCode==4">
                    <img src="../img/phone_icon_celeste.png"> +
                    <img src="../img/mouse_icon_celeste.png">
                  </ng-container>

                  <ng-container *ngIf="list.productTypeCode==5">
                    <img src="../img/phone_icon_celeste.png"> +
                    <img src="../img/tv_icon_celeste.png" />
                  </ng-container>
                </div>
                <div class="monto">
                  <span class="moneda">S/</span>
                  <span class="soles">{{list.price}}</span>
                  <span class="centimos"></span>
                </div>
                  <div *ngIf="(!serv_deuda_act) || (serv_deuda_act && !cli_sin_datos && !tiene_deuda) || (serv_deuda_act && cli_sin_datos)">
                <a (click)="getDetailProduct(list)" class="boton_greentdp full">seleccionar</a>
              </div>
            </div>
              </div>
          </ng-container>
        </div>
      </div>

      <div class="card botonera-2">
          <div *ngIf="(!serv_deuda_act) || (serv_deuda_act && !cli_sin_datos && !tiene_deuda) || (serv_deuda_act && cli_sin_datos)" class="col-6 text-right">
          <a class="boton_greentdp_alt" (click)="verProductos()">Ver más productos</a>
        </div>
          <div [ngClass]="!serv_deuda_act || (serv_deuda_act && !cli_sin_datos && !tiene_deuda) || (serv_deuda_act && cli_sin_datos) ? 'col-6' : 'col-14 text-center'">
          <a class="boton_greentdp" (click)="regresar()">Evaluar a otra persona</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isFlagDetalleProduc">
  <div class="modal especial" style="width: 60%;" *ngIf="isFlagDetalleProduc">
    <div class="modulo producto">
      <div class="header">
        <div class="card compact">
          <div class="col-8">
            <div class="tipo">
              {{ofertasBiDetalle.productName}}
            </div>
            <!--<div class="velocidad">
            8 Mbps
          </div>-->
          </div>
          <div class="col-4">
            <div class="tipo">
              Renta
            </div>
            <div class="monto">
              <span class="moneda">S/</span>
              <span class="soles">{{ofertasBiDetalle.price}}</span>
              <span class="centimos"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="card compact">
          <div class="col-6">
            <p>BENEFICIOS</p>
            <ul>
              <li>Pack Trio</li>
              <li>Categoria Trio DTH</li>
              <li>{{ofertasBiDetalle.productName}}</li>
              <li>Telefonia Libre</li>
            </ul>
          </div>
          <div class="col-6">
            <p>INCLUYE</p>
            <ul>
              <li>Cable ADSL</li>
              <li>Velocidad de Internet 20</li>
            </ul>
          </div>
        </div>
        <a class="boton_greentdp_alt full" (click)="cerrarModal()">cerrar</a>
        <a class="boton_greentdp full" (click)="doEnter()">continuar</a>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>