<div class="loading-indicator" *ngIf="loading">
    <div class="windows8 windows-parquet">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>

<div class="seccion">
    <div class="cnt_geneeral">
        <div class="cnt_forcnt" style="visibility:hidden">
            <div class="TitCenter">
                <Strong>Hola {{order.user.name}},</Strong> escoge o sugiere una de estas acciones
                <!-- <Strong>Hola {{order.user.name}},</Strong> escoge o sugiere una de estas acciones -->
            </div>



         
        <div class="cntBotonesOpt" *ngIf="!enabled">   
            <a on-mouseover='NUEVOS_SERVICIOS()' (click)="iniciarVenta('alta')">ALTAS NUEVAS</a>
            <a on-mouseover='MIGRACIONES()' (click)="iniciarVenta('migra')">MIGRACIONES / COMPLETAS</a>
            <a on-mouseover='SERVICIOS_ADICIONALES()' (click)="iniciarVenta('sva')">EQUIPOS / SVAs</a>
            
            <div class="belong altaNueva none">
                <p class="txt">Para vender nuevas líneas teléfonicas, servicios de cable, internet, Duos y Tríos.</p>
            </div>
            <div class="belong migra none">
                <p class="txt">Para realizar la migración y altas de componente de productos Monos a Duos y de Duos a Tríos.</p>
            </div>
            <div class="belong addserv none">
                <p class="txt">Para realizar la venta de puntos adicionales, bloques de canales, antivirus, planes, etc.</p>
            </div>
          </div>
  
  
          <div class="cntBotonesOpt" *ngIf="enabled">   
            <a on-mouseover='NUEVOS_SERVICIOS()' (click)="iniciarVenta('alta')">ALTAS NUEVAS</a>
            <a on-mouseover='MIGRACIONES()' (click)="iniciarVenta('migra')">MIGRACIONES / COMPLETAS</a>
            <a on-mouseover='SERVICIOS_ADICIONALES()' (click)="iniciarVenta('sva')">EQUIPOS / SVAs</a>
            <a on-mouseover='CONVERGENCIA()' (click)="GET_TOKEN()">MOVISTAR TOTAL</a>
            
            <div class="belong altaNueva altaNueva_ none">
              <p class="txt">Para vender nuevas líneas teléfonicas, servicios de cable, internet, Duos y Tríos.</p>        
            </div>
            <div class="belong migra migra_ none">      
              <p class="txt">Para realizar la migración y altas de componente de productos Monos a Duos y de Duos a Tríos.</p>        
            </div>    
            <div class="belong addserv addserv_ none">    
              <p class="txt">Para realizar la venta de puntos adicionales, bloques de canales, antivirus, planes, etc.</p>
            </div>  
            <div class="belong conv none">    
              <p class="txt">Acceder a las ofertas de Movistar Total</p>
            </div>    
          </div>

            


        </div>
    </div>

    <div class="mensajeOnOff">
            <div class="TitCenter"  [innerHTML]="mjsOnOff">
          </div>
    </div>
</div>