 <div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>
 
 <div class="container">
  <div class="row">
    <div class="col-sm-12">
	
		
	
	
    <h3 class="center" *ngIf="idOrder != '0'"><button type="button" class="btn btn-link" (click)="goBack()"><span class="glyphicon glyphicon-chevron-left"></span></button>Detalle de Venta</h3>
	<h3 class="center" *ngIf="idOrder == '0'"><button type="button" class="btn btn-link" (click)="goBack()"><span class="glyphicon glyphicon-chevron-left"></span></button>Subir Audios - Masivo</h3>
    <h5 class="center red" *ngIf="idOrder == '0'" style="color:red">(*) El tama&ntilde;o de los archivos seleccionados no debe exceder de 90 MB.</h5>
		  <ul class="nav nav-tabs" *ngIf="idOrder != '0'">
			<li class="active"><a data-toggle="tab" href="#home">Venta</a></li>
			<li><a data-toggle="tab" href="#menu1">SVAs</a></li>
			<li><a data-toggle="tab" href="#menu2" *ngIf="salesReportDetail.statusAudio == '1'">Subir Audio</a></li>
		  </ul>
		  
		  <div class="tab-content" *ngIf="idOrder != '0'">
			<div id="home" class="tab-pane fade in active" >
			  
			  <table class="table" > <thead>
						<tr>
						  <th>Campo</th>
						  <th>Dato</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						  <td>C&oacute;digo Venta Interno</td>
						  <td>{{salesReportDetail.orderId}}</td>
						</tr>
						<tr>
						  <td>Nro. Documento</td>
						  <td>{{salesReportDetail.dni}}</td>
						</tr>
						<tr>
						  <td>Nombre de Producto</td>
						  <td>{{salesReportDetail.productName}}</td>
						</tr>
						<tr>
						  <td>Fecha de Venta</td>
						  <td>{{salesReportDetail.saleDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
						</tr>                <tr>
						  <td>Precio</td>
						  <td>{{salesReportDetail.price}}</td>
						</tr>
						<tr>
						  <td>Precio Promocional</td>
						  <td>{{salesReportDetail.promPrice}}</td>
						</tr>
						<tr>
						  <td>Descuento</td>
						  <td>{{salesReportDetail.discount}}</td>
						</tr>
						<tr>
						  <td>C&oacute;digo Vendedor</td>
						  <td>{{salesReportDetail.codigoVendedor}}</td>
						</tr>
						<tr>
						  <td>Periodo por Mes(es)</td>
						  <td>{{salesReportDetail.monthPeriod}}</td>
						</tr>
						<tr>
						  <td>Tipo de Linea</td>
						  <td>{{salesReportDetail.lineType}}</td>
						</tr>
						<tr>
						  <td>Precio Contado</td>
						  <td>{{salesReportDetail.cashPrice}}</td>
						</tr>
						<tr>
						  <td>Estado</td>
						  <td>{{salesReportDetail.status}}</td>
						</tr>
						<tr>
						  <td>Codigo de Peticion</td>
						  <td>{{salesReportDetail.requestCode}}</td>
						</tr>
						<tr>
						  <td>Estado de Peticion</td>
						  <td>{{salesReportDetail.statusRequest}}</td>
						</tr>
						<tr>
						  <td>Estado Atis/Cms</td>
						  <td>{{salesReportDetail.cmsAtisStatus}}</td>
						</tr>
						<tr>
						  <td>Estado Audio</td>
						  <td>{{(salesReportDetail.statusAudio == '1') ? 'PENDIENTE' : 'INGRESADO'}}</td>
						</tr>
						<tr>
						  <td>Nombre del Cliente</td>
						  <td>{{salesReportDetail.clientName}}</td>
						</tr>
						<tr>
						  <td>Operacion Comercial</td>
						  <td>{{salesReportDetail.commercialOperation}}</td>
						</tr>
						<tr>
						  <td>Descripcion de Cancelacion de Venta</td>
						  <td>{{salesReportDetail.cancelDescription}}</td>
						</tr>
						<tr>
						  <td>Habilitar Factura Digital</td>
						  <td>{{salesReportDetail.enableDigitalInvoice}}</td>
						</tr>
						<tr>
						  <td>Deshabilitar Paginas Blancas</td>
						  <td>{{salesReportDetail.disableWhitePage}}</td>
						</tr>
						<tr>
						  <td>Codigo CIP</td>
						  <td>{{salesReportDetail.numeroCIP}}</td>
						</tr>
						<tr>
						  <td>Estado CIP</td>
						  <td>{{salesReportDetail.estadoCIP}}</td>
						</tr>
						<tr>
						  <td>Nro Celular de Cliente</td>
						  <td>{{salesReportDetail.customerPhone}}</td>
						</tr>
					</tbody>
				</table>
			  
			  
			</div>
			<div id="menu1" class="tab-pane fade">
			  <br/>
			  <div class="panel panel-default">
					<div class="panel-heading">SVA's adicionales</div>

					<table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
						   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<thead>
						<tr>
							<th style="width: 100%">
								<mfDefaultSorter by="dni">Nombre</mfDefaultSorter>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngIf="salesReportDetail.decosSD != null">
							<td>{{salesReportDetail.decosSD}}</td>
						</tr>
						<tr *ngIf="salesReportDetail.decosHD != null">
							<td>{{salesReportDetail.decosHD}}</td>
						</tr>
						<tr *ngIf="salesReportDetail.tvBlock != null">
							<td>{{salesReportDetail.tvBlock}}</td>
						</tr>
						<tr *ngIf="salesReportDetail.blockTV != null">
							<td>{{salesReportDetail.blockTV}}</td>
						</tr>
						<tr *ngIf="salesReportDetail.svaInternet != null">
							<td>{{salesReportDetail.svaInternet}}</td>
						</tr>
						<tr *ngIf="salesReportDetail.svaLine != null">
							<td>{{salesReportDetail.svaLine}}</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="5">
								<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
			  
			</div>
			<div id="menu2" class="tab-pane fade" *ngIf="salesReportDetail.statusAudio == '1'">
			  <br/>
			  <div class="row" *ngIf="!audioCargado">
					<div class="col-sm-4">
						<!--input type="file" (change)="onChangeFile($event)" required /-->
						<input type="file" class="btn btn-file" #fileInput>
					</div>
					<div class="col-sm-2">
						<button class="btn btn-md btn-primary form-control" type="button" (click)="subirAudio()" data-toggle="modal"><b>SUBIR</b></button>
					</div>
				</div>
				<br/>
				<div class="panel panel-default">
					<div class="panel-heading">Resultado</div>

					<table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
						   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<thead>
						<tr>
							<th style="width: 10%">
								<mfDefaultSorter by="dni">Nro</mfDefaultSorter>
							</th>
							<th style="width: 20%">
								<mfDefaultSorter by="nombreArchivo">Archivo</mfDefaultSorter>
							</th>
							<th style="width: 70%">
								<mfDefaultSorter by="mensaje">Mensaje</mfDefaultSorter>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let item of mf.data">
							<td *ngIf="item.responseCode==1" style="color:red">{{item.numero}}</td>
							<td *ngIf="item.responseCode==1" style="color:red">{{item.nombreArchivo}}</td>
							<td *ngIf="item.responseCode==1" style="color:red">{{item.mensaje}}</td>
							
							<td *ngIf="item.responseCode==0">{{item.numero}}</td>
							<td *ngIf="item.responseCode==0">{{item.nombreArchivo}}</td>
							<td *ngIf="item.responseCode==0">{{item.mensaje}}</td>
							
							
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="5">
								<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		  </div>
		  
		  
		  
		  <!-- este fragmento se debe mostrar cuando es carga masiva -->
		  <div *ngIf="idOrder == '0'">
				<div class="row">
					<div class="col-sm-4">
						<!--input type="file" (change)="onChangeFile($event)" required /-->
						<input type="file" class="btn btn-file" multiple #fileInput>
					</div>
					<div class="col-sm-2">
						<button class="btn btn-md btn-primary form-control" type="button" (click)="subirAudio()" data-toggle="modal"><b>SUBIR</b></button>
					</div>
				</div>
				<br/>
				<div class="panel panel-default">
					<div class="panel-heading">Resultado</div>

					<table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
						   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
						<thead>
						<tr>
							<th style="width: 10%">
								<mfDefaultSorter by="dni">Nro</mfDefaultSorter>
							</th>
							<th style="width: 20%">
								<mfDefaultSorter by="nombreArchivo">Archivo</mfDefaultSorter>
							</th>
							<th style="width: 70%">
								<mfDefaultSorter by="mensaje">Mensaje</mfDefaultSorter>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let item of mf.datas">
							<td *ngIf="item.satisfactorio==false" style="color:red">{{item.numero}}</td>
							<td *ngIf="item.satisfactorio==false" style="color:red">{{item.nombreArchivo}}</td>
							<td *ngIf="item.satisfactorio==false" style="color:red">{{item.mensaje}}</td>
							
							<td *ngIf="item.satisfactorio==true">{{item.numero}}</td>
							<td *ngIf="item.satisfactorio==true">{{item.nombreArchivo}}</td>
							<td *ngIf="item.satisfactorio==true">{{item.mensaje}}</td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="5">
								<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
		</div>
		
		
		
		
		
		
		
		
		
		
		
		
  </div>
  </div>
</div>
