.visible{
  display: none !important;
}
.full{
	width: 100% !important;
}
.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.vert-pad-t{
  padding-top: 10.2rem;
}
.ver-pad-f{
  padding-top: 3.8rem;
}
.head{
	min-height: 6rem;
	padding-top: 2rem;
  padding-bottom: 0rem;
  border-bottom: 0.5px solid rgba(86,61,124,.2);
  border-right:  0.5px solid rgba(86,61,124,.2);
}
.head-bottom{
	min-height: 6rem;
	padding-top: 2rem;
  padding-bottom: 0rem;
  border-bottom: 0.5px solid rgba(86,61,124,.2);
}
.dni{
	font-size: 14px !important;
	font-weight: lighter;
	color: #025a8a;
	padding-top: 0;
}
 .details-Prod{
      margin-top: 2px !important;
      margin-bottom: 2px !important;
  }
.head-text{
  color: #005d88;
  font-size: 22px;
  font-weight: 0;
}
.head-subtitle{
  color: #005d88;
  font-size: 15px;
  font-weight: 800;
}
.boton_search{
	margin-top:20px;
	padding-top:8px;
	padding-bottom:8px;
	background-color: #86C512;
	font-family: arial-black;
	width: 100%;
	border-color: transparent !important;
}
.inline{
	padding: 1rem 1.2rem;
	color: #065F8D;
}
.no-padding-tb{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.no-margin-b{
  margin-bottom: 0 !important;
}
.menu {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
}
.blank{
  margin-bottom: 1rem;
}
.autoWd{
  width: 100%;
}
@media screen and (min-width:  320px){
  .head,.head-bottom{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 767px){

  .blank-2{
    padding: 3rem;
  }
  .contenedor{
    padding-bottom: 20px;
  }
  .space{
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .menu, .menu2 {
    position: relative;
    top: 3px;
    background: none; 
  }
  .menu li {
   color: #DBE7ED;
   display: block;
   float: left;
   padding: 2rem 1rem .9rem 1rem;
   transition: all .2s; 
 }
 .menu li.active-li {
   color: #13C6DB;
   margin-right: 1.5rem;
   box-shadow: 0 -6px #13C6DB inset !important; 
  }
 .menu li.active-li:last-child{
    margin-right: 0;
  }
  .menu li.active-li:before{
    background: url(../imagenes/check.png) no-repeat 100% 100%;
    content: " ";
    position: absolute;
    height: 24px;
    width: 24px;
  }
  .menu li.active-li:nth-child(1)::before{
    margin: -3rem 2.5rem 0 2.5rem;
  }
  .menu li.active-li:nth-child(2)::before{
    margin: -3rem .5rem 0 .5rem;
  }
  .menu li.active-li:nth-child(3)::before{
    margin: -3rem 4.5rem 0 4.5rem;
  }
  .menu li a, .menu2 li a{
   text-decoration: none;
  }
  .menu2 li {
   color: #cccccc;
   display: block;
   min-height: 40px;
   padding-top: .9rem;
   transition: all .2s; 
 }
 .menu2 li.active-li {
   color: #9d9d9d;
   }
  .menu2 li.active-li:before{
    background:  url(../imagenes/check2.png)no-repeat 50% 50%, url(../imagenes/circle-on.png) no-repeat 100% 100%;
    content: " ";
    position: absolute;
  }
 .menu2 li:before{
    background: url(../imagenes/circle-off.png) no-repeat 100% 100%;
    content: " ";
    position: absolute;
    margin-right: -2rem;
    height: 27px;
    width: 27px;
 }
 .menu2 li:nth-child(1)::before{
    margin-left: 12.5rem;
  }
  .menu2 li:nth-child(2)::before{
    margin-left: 12.5rem;
  }
  .menu2 li:nth-child(3)::before{
    margin-left: 12.5rem;
  }
  .space{
    padding-top: 2.5rem;
  }
  .blank-2{
    padding: 3rem;  
  }
  .contenedor{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .full-height{
    min-height: calc(100vh - 100px) !important;
  }

}
   
/*inicio Sprint 8*/
.form-control-combo {
  border-radius: 5px !important;
  border: 1px solid #ccc !important;
}

.dileAlCliente {
    font-size: 20px;
    font-style: italic;
    color: #b6b7b7;
    background-image: url(../imagenes/decir.png);
    background-position: left 4px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 190%;
}

.TitAsk {
    font-size: 23px;
    font-weight: 300;
    font-style: normal;
    color: #00a9e0;
    line-height: 120%;
    padding-left: 30px;
}

.tablaDat thead th {
    padding: 1px;
    color: #954B97;
    border-right: 1px solid #ffffff;
    text-align: center;
    border-bottom: 1px solid #954B97 !important;
}

.tablaDat tbody td {
    padding: 1px;
    color: #50535a;
    border-right: 1px solid #ffffff;
    text-align: center;
	background-color: #F5ECEC;
}

.tablaDat {
    font-size: 18px;
    
    border: 1px solid #954B97;
    border-radius: 10px;
}

div {
    display: none;
}

/*fin Sprint 8*/

