.cnt_medium {
    max-width: 1000px;
    background-color: #ffffff;
    border: 1px solid #00a9e0;
    margin: auto;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 7px 6px 19px #d3d4d3;
}

.right{
	text-align: right !important;
}

a.boton_contratar{ 
    text-align: center;
    background-color: #5bc500;
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
    text-decoration-style: none;
}

a.boton_contratar:hover{
	    text-decoration: none;
	    color: white;
	    background-color: #eb683e;
}


.none{
    display: none !important;
}