@media screen and (max-width: 767px) {
  #sidebar {
    padding-top:60px;
	padding-left: 45px !important;
	background-color: #E2F6F7;
	padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
	
#sidebar{
	padding-top:60px;
	padding-left: 45px !important;
	background-color: #E2F6F7;
	padding-bottom:260px;
	
}	
}

.alerta-servicio-parque{
	color: #a94442;
	background-color:  #f2dede;
	border-color : #ebccd1;
	padding: 10px;
}

.info-servicio-parque{
	padding: 10px;
	color: #31708f;
	background-color:  #d9edf7;
	border-color : #bce8f1;
}

.detalle_producto{
	padding: 20px;
}

.detalle_producto .panel-title b{
	color: #A4E3F0;
	
}

.detalle_producto .titulo_detalle{
	color: #436597;
	

}

.detalle_producto .panel-default{
	margin-top:20px !important;
	

}
	
.detalle_producto .panel-title p{
	margin-top:5px;
	font-size:12px;
	

}

.boton_agregar_producto{
	
	margin-top:5px;
	background-color:#E5B922;
	padding-top: 12px;
	padding-bottom: 12px;
}

/* .detalle_producto .panel-title button{ */
/* 	background-color: #9DA5A7; */
/* 	border-color: #9DA5A7; */
/* 	background: orange; */
	
/* } */


.detalle_producto .panel-title img{

	background-color: transparent;
	
	
}


.detalle_producto .panel-title .boton_producto{
	background: transparent;
	border: none;
	border-left-color: #B2BBBE;
	border-left-width: 1;
	border-left-style: solid;
	
	
	
}
.detalle_producto .panel-title .boton_desplazamiento{
	background: transparent;
	position:relative;
	left:48%;
	top: -8px;
	border: none;
	}

.detalle_parque{
	color:#B2B6B8;
	padding-left:25px;
}

.panel-body-parque{
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
}

.precio-parque{
	background-color: #C4DDEA;
	padding: 15px;
	text-align: center;
}

.link-nuevo-producto{
	margin-top:70px;
	
}

.precio-parque-numerico{
	font-size: 32px;
	font-weight: bold;
}

.tipo-precio{
	font-size: 12px;
}

.precio-parque p{
	margin: 0px;
}

.detalle_producto .panel-heading{
	
	
	background-color:white;
	padding-bottom:10px !important;
	padding-right: 0px !important;
	padding-top: 7px !important;
	border-left-width:10px;
	border-left-color: blue;
	border-left-style: solid;
}


.parrafo_nombre{
	color: #8EC5C9;
}

.parrafo_dni{
	color: #647CAB;
	font-weight:bold;
}


#sidebar  input[type="email"], #sidebar  input[type="text"], #sidebar  input[type="tel"] {
	border:none;
	background-color: #E2F6F7;
	border-radius: 0px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color: #C9CCCC;
	box-shadow: inset 0px 0px 0px #FFFFFF, 
	                  0px 0px 0px #FFFFFF;
}



.text-muted{
	
	margin: 0px !important;
}



.breadcrumb{
	margin-top:5px;
	margin-bottom:0px;
}

.header_informativo{
	z-index: 1000;
	background:white;
	margin-top: 0px;
	border-bottom-width: 1px;
	border-bottom-style:solid;
	border-bottom-color: #C4C6C8;
	padding-bottom: 0px !important;
	
	
}
.div_history{
	padding-left: 0px;
	padding-right: 0px;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color: #C4C6C8;
	
	
	
}

.boton_history{
	border: none;
	border-radius: 0px;
	padding-bottom:8px !important;
	padding-top:15px !important;
}

.columna_titulo{
	margin-top: 5px;
	color: #436597;
	
}

