/*= input focus effects css
=========================== */
:focus{outline: none;}
.col-3{ width: 27.33%; margin: 40px 3%; position: relative;    display: inline-block;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Telefonica", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;text-align: left;}
.effect-16, 
.effect-17, 
.effect-18{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}
.effect-16 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border{width: 100%; transition: 0.4s;}
.effect-16 ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px; text-align: left;}
.effect-16:focus ~ label, .has-content.effect-16 ~ label{top: -16px; font-size: 12px; color: #3399FF; transition: 0.3s;}
/*= input focus effects css End
=============================== */

/* Reset Select */

select ~ label{position: absolute; left: 0; width: 100%; top: 0px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px; text-align: left;}
select:focus ~ label, select.has-content  ~ label{top: -16px; font-size: 12px; color: #3399FF; transition: 0.3s;}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: transparent;
  background-image: none;
  font: 15px "Telefonica", Arial, sans-serif; color: #333;
}
 
 select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #50535a;
    cursor: pointer;
    font-size: 18px;
}

.valign {
    display: table-cell;
    height: inherit;
    width: inherit;
    vertical-align: inherit;
    text-align: inherit;
}

#s-5bd0402a-fe18-4a73-9352-677e32310ffd #s-Input_5 input {
    color: #434343;
    text-align: center;
    text-decoration: none;
    font-family: 'Movistar Text',Arial;
    font-size: 16.0pt;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
}

.ingrese_contact{
    border: 0 !important;
    border-bottom: .01em solid #005d88 !important;
    vertical-align: middle;
    line-height: 16.0pt;
    color: black;
    text-align: center;
    text-decoration: none; 
    font-size: 16.0pt;
    size: 1em;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
     padding: 1em 2em .5em 2em;
}
.ingrese_contact::placeholder { 
    color: #434343; 
}
  

.margin-bottom-cero{
	margin-bottom: 0px !important;
}
.margin-top-cero{
	margin-top: 0px !important;
}



.padding-uno{
	padding: 1em !important;
}
/*#9d32b5 morado teléfonica*/





.dileAlCliente {
    font-size: 20px;
    font-style: italic;
    color: #b6b7b7;
    background-image: url(../imagenes/decir.png);
    background-position: left 4px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 190%;
}

.TitAsk {
    font-size: 23px;
    font-weight: 300;
    font-style: normal;
    color: #00a9e0;
    line-height: 120%;
    padding-left: 30px;
}

.noObligatorio {
    font-size: 20px;
    font-style: italic;
    color: #b6b7b7 !important;
    padding-left: 30px;
    line-height: 180%;
}

.col-3 {
    width: 27.33%;
    margin: 40px 3%;
    position: relative;
    display: inline-block;
}

.select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #50535a;
    line-height: 3;
    cursor: pointer;
    font-size: 18px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
        line-height: 3;
    box-shadow: none;
    border: 0 !important;
    background: transparent;
    background-image: none;
    font: 15px "Telefonica", Arial, sans-serif;
    color: #333;
}

.select::after {
    content: '\25BE';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: transparent;
    pointer-events: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: transparent;
    background-image: none;
    font: 15px "Telefonica", Arial, sans-serif;
    color: #333;
}

select ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
    text-align: left;
}






input[type="text"] {
    font: 15px/24px "Telefonica", Arial, sans-serif ;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-align: left;
}

.effect-16, .effect-17, .effect-18 {
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

 .effect-16 ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
    text-align: center;
}

.effect-16 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    transition: 0.4s;
}

.input_center_ux{
   /* display: inline-block;
    width: 20%;*/
    }    