@media screen and (min-width: 768px) {
	.venta_info_0{
		border-right-width:1px;
		border-right-style: solid;
		border-bottom-width:1px;
		border-bottom-style: solid;
		border-color: #AECBD9;

	}
	.venta_info_1{
		border-bottom-width:1px;
		border-bottom-style: solid;
		border-color: #AECBD9;

	}

	.venta_info_2{

		border-right-width:1px;
		border-right-style: solid;
		border-color: #AECBD9;

	}
	.circle{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #fff;
		z-index: 20;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-20px, 8px);
	}
}

	
.datos_vendedor{
	padding-top: 25px;
	text-align: center !important;
	position: relative;
}


.columna_derecha_venta {
	margin-top: 0px !important;
	padding-top: 100px;
	text-align:center;
	background-color: #25C5F1;
	min-height: calc(100vh - 100px) !important;
}

.columna_derecha_venta p{

	color: #E3E4E4;

}


.columna_derecha_venta h3 {
	color: #fff;
}

/*.venta_info p:nth-child(1){
	color:#3781AA;
	}*/


	.datos_vendedor .venta_parrafo_1{
		font-size: 12px;
		color:#3781AA;
	}

	.datos_vendedor .venta_parrafo_2{
		font-size:50px;
		font-weight: bold;
		color: #4CD6EE;
	}

	.datos_vendedor .venta_parrafo_3{
		color: #B8C2C4;

	}

	.vinculo_venta:hover{
		text-decoration: none !important;
		background-color: #AFF4C0;
		cursor: pointer;

	}

	.boton_entrada{
		margin-top:40px;
		background-color: #1F6A93 !important;
		border-color: #1F6A93 !important;
		font-family: arial-black;

	}

	.columna_izquierda_venta {
		padding-top:60px;
		text-align:center;
		min-height: calc(100vh - 100px) !important;
	}


	.columna_izquierda_venta b{
		font-size: 22px;
		color: #274A7A;

	}

	.columna_izquierda_venta p{
		margin-top: 10px;
		font-size: 12px;
		color: #9E9FA5;

	}


	.parrafo1{

		color: white;
		font-size:20px;
		font-weight:bold;
		font-family: arial-black;
		margin-top: 30px;

	}

	.parrafo2{
		margin: 0 auto;
		width:50%;
		color: #CAF8FA;
		font-size:12px;
		font-family: arial-black;

	}
	
	.vinculo_venta{
	box-shadow: inset 0px 0px 40px #AFBCC6;
	}
