.selecDireccion{
	margin-bottom: 10px;
}

.input-direccion{
	margin-bottom: 20px;
}

.gm-style-mtc {
  display: none;
}

.datosDireccion{
	background-color: rgba(242, 242, 242, 1);
	margin-bottom: 20px;
	
}