
@media screen and (max-width: 767px) {
  #sidebar {
    padding-top:60px;
	padding-left: 45px !important;
	background-color: #E2F6F7;
	padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
	
#sidebar{
	padding-top:60px;
	padding-left: 45px !important;
	background-color: #E2F6F7;
	padding-bottom:180px;
	
}	
}


.detalle_producto{
	padding: 20px;
}

.detalle_producto .panel-title b{
	color: #A4E3F0;
	
}

.detalle_producto .titulo_detalle{
	color: #436597;
	

}
	
.detalle_producto .panel-title p{
	margin-top:6px;
	font-size:12px;
	

}

.boton_agregar_producto{
	
	margin-top:70px;
	background-color:#E5B922;
	padding-top: 12px;
	padding-bottom: 12px;
}


.boton_agregar_sva{
	
	margin-top:70px;
	background-color:#ffffff;
	padding-top: 12px;
	padding-bottom: 12px;
	color: gray;
	font-weight: bold;
}

.detalle_producto .panel-title button{
	background-color: #9DA5A7;
	border-color: #9DA5A7;
}


.detalle_producto .panel-title .boton_producto{
	background-color: #FFFFFF;
	width:45px;
	border: none;
	height: 43px;
	
}

.detalle_producto .panel-title .boton_desplazamiento{
	background: transparent;
	position:relative;
	left:48%;
	top: -8px;
	border: none;
	}

.detalle_producto .panel-heading{
	
	/*padding-top:20px !important;
	padding-bottom:20px !important;*/
	background-color:white;
	padding-bottom:8px !important;
	border-left-width:10px;
	border-left-color: blue;
	border-left-style: solid;
	/*margin-top: 20px !important;*/

}
.detalle_producto .panel-footer{
	
	border-top-width: 1px;
	border-top-color: #DDDDDD;
	border-top-style: solid;
	
}

.detalle_producto .panel-footer .tabprec2{
	border-left-width: 1px;
	border-left-color: #DDDDDD;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-color: #DDDDDD;
	border-right-style: solid;
	background-color: gray;
	color:white;
	
	/*margin-top: 20px !important;*/
	
	
}
.detalle_producto .panel-body .prec{
	border-width: 1px;
	border-color: #DDDDDD;
	border-style: solid;
	/*margin-top: 20px !important;*/
	
}

#sidebar .form-group{
	
	margin-top:35px;
	
}
#sidebar label{
	
	color: #A2A5A5;
	
}


#sidebar  input[type="email"], #sidebar  input[type="text"], #sidebar  input[type="tel"] {
	border:none;
	background-color: #E2F6F7;
	border-radius: 0px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color: #C9CCCC;
	box-shadow: inset 0px 0px 0px #FFFFFF, 
	                  0px 0px 0px #FFFFFF;
}



.text-muted{
	
	margin: 0px !important;
}



.breadcrumb{
	margin-top:5px;
	margin-bottom:0px;
}

.header_informativo{
	z-index: 1000;
	background:white;
	margin-top: 0px;
	border-bottom-width: 1px;
	border-bottom-style:solid;
	border-bottom-color: #C4C6C8;
	padding-bottom: 0px !important;
	
	
}
.div_history{
	padding-left: 0px;
	padding-right: 0px;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color: #C4C6C8;
	
	
	
}

.boton_history{
	border: none;
	border-radius: 0px;
	padding-bottom:8px !important;
	padding-top:15px !important;
}

.columna_titulo{
	margin-top: 5px;
	color: #436597;
	
}

.precio-offering-numerico{
	font-size: 32px !important;
	font-weight: bold;
}

.tipo-precio{
	font-size: 12px;
}

.info-servicio-offering{
	padding: 10px;
	color: #31708f;
	background-color:  #d9edf7;
	border-color : #bce8f1;
}

.bar-info{
	background: orange; 
	margin-top: 20px; 
	border-left-width: 1px; 
	border-left-color: #DDDDDD; 
	border-left-style: solid;
}

.detalle_offering{
	color:#B2B6B8;
	padding-left:25px;
}