.patras{
	margin-bottom: 10px;
}
.card.compact{
	max-width: 768px;
    margin: 15px auto;
}
.card.compact .col-2{
	width: 17.33%;
    position: relative;
    display: inline-block;
    margin: 20px 1%;
}
.card.compact .col-3{
	width: 25.33%;
	position: relative;
	display: inline-block;
	margin: 20px 1%;
}
.card.compact .col-4{
	width: 30.93%;
	position: relative;
	display: inline-block;
	margin: 20px 1%;
}
.card.compact .col-5{
	width: 37.66%;
    position: relative;
    display: inline-block;
    margin: 20px 1%;
}
.card.compact .col-6{
	width: 47.66%;
    position: relative;
    display: inline-block;
    margin: 20px 1%;
}
.card.compact .col-8{
    width: 64.3333%;
    margin: 20px 1%;
    display: inline-block;
    position: relative;
}
.card.compact .col-10{
	width: 77.66%;
    position: relative;
    display: inline-block;
    margin: 20px 1%;
}
.card.compact .col-12 {
    width: 98%;
    position: relative;
    display: inline-block;
    margin: 20px 1%;
}
.card.compact .col-6 .boton_greentdp{
	min-width: 260px;
}
.card.compact .col-6 .boton_greentdp_alt{
	min-width: 260px;
}
.card.compact .boton_greentdp.full{
	width: 100%;
}
.card.compact .select{
	border-radius: 0;
}
.tipVentas{
	font-size: 20px;
    font-style: italic;
    color: #50535A;
    padding-left: 30px;
    line-height: 180%;
}
.card.calificacion{
	width:368px;margin: 15px auto;text-align: center;
}
.wrapper--1{
	border: 1px dashed #B6B7B7;border-radius: 12px;padding: 15px 20px;margin: 5px 0;
}
.card.calificacion .titulo{
	width:100%;font-size: 18px;font-weight: bold;color:#00a9e0;
}
.card.calificacion .status{
	float: left;
    width: 65%;
    font-size: 15px;
    color: #86888c;
    text-align: left;
    padding-left: 40px;
    font-weight: bold;
    line-height: 1.3;
    padding-top: 3px;
}
.card.calificacion .status.ok{
	background-color: transparent;
	/**background-image: url(img/check--1.png);**/
	background-repeat: no-repeat;
	background-position: 0% 65%;
}
.card.calificacion .monto{
	float: right;width: 35%;font-size: 33px;color: #5bc500;
}
.monto .moneda{
	font-size: 20px;
    position: relative;
    top: -8px;
    right: -6px;
}
.monto .centimos{
	font-size: 16px;
}
.card.campania{
	width: 100%;
	max-width: 1280px;margin: 15px auto;
}
.card.campania .title{
	color:#00a9e0;padding-left: 15px;
	font-size: 18px;
}
.card.campania .modulo.producto{
	width: 23%;float:left;
	margin: 0 1%;
	border: 1px solid #00A9E0;
	border-radius: 12px;
}
.card.campania .modulo.producto .header{
	background:#00a9e0;
	color:#ffffff;padding: 20px 30px;
	border-radius: 8px 8px 0 0;font-size: 16px;
}
.card.campania .modulo.producto .header .velocidad{
	font-size: 29px;line-height: 1;
}
.card.campania .modulo.producto .body{
	text-align: center; color: #00a9e0;
	border-radius: 0 0 12px 12px;
	padding: 20px 30px;
}
.card.campania .modulo.producto:nth-child(even){
	border: 1px solid #5BC500;
}
.card.campania .modulo.producto:nth-child(even) .header{
	background:#5BC500;
}
.modulo.producto .monto{
	font-size: 40px;color: #5bc500;
}
.modulo.producto .monto .moneda{
	font-size: 26px;
    position: relative;
    top: -8px;
    right: -6px;
}
.modulo.producto .monto .centimos{
	font-size: 22px;
}
/*.tab_container{
	max-width: 1280px;margin: 0 auto;
}*/
.tab_container .col-4{
	width: 33%;
	float: left;
}
.filter .col-3{
	float: right;
}
.filter .subtitle{
	font-size: 16px;color:#86888C;
	margin-top: 17px;
}



.card.botonera-1{
	margin: 15px auto;
}


.card.botonera-2{
	margin: 15px auto;
}
.card.botonera-2 .col-6{
	width: 47.66%;
    position: relative;
    display: inline-block;
    margin: 20px 1%;
}
.card.botonera-1 .boton_greentdp, .card.botonera-2 .boton_greentdp{
	min-width: 260px;
}
.card.botonera-1 .boton_greentdp_alt, .card.botonera-2 .boton_greentdp_alt{
	min-width: 260px;
}
.card.botonera-1 .boton_morado, .card.botonera-2 .boton_morado{
	min-width: 260px;
}
.card.botonera-2 .boton_greentdp.full{
	width: 100%;
}

.tablaDatos{
	border:0;margin: 15px auto;
}
.tablaDatos table {
    border-collapse:separate;
    border:1px solid #954b97;
    border-radius:15px;
    -moz-border-radius:15px;
    width: 100%;
}
.tablaDatos tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}
.tablaDatos td, .tablaDatos th {
    border-left:1px solid #fff;
    padding: 10px;text-align: center;
}
.tablaDatos td.text-left, .tablaDatos th.text-left {
    text-align: left;
}
.tablaDatos th {
    border-top: none;
    border-bottom:1px solid #954b97;
    color: #954b97;
}
.tablaDatos td:first-child, .tablaDatos th:first-child {
     border-left: none;
}
.tablaDatos th:first-child { border-radius: 15px 0 0 0; }
.tablaDatos th:last-child { border-radius: 0 15px 0 0; }
.tablaDatos tr:last-child td:first-child { border-radius: 0 0 0 15px; }
.tablaDatos tr:last-child td:last-child { border-radius: 0 0 15px 0; }
.tablaDatos tbody th {
    border-top: 1px solid #954b97;
    border-bottom:1px solid #954b97;
    border-radius: 0!important;
    text-align: center;
}
.tablaDatos table tbody:nth-child(2) tr th{
	border-top: none;
}
.reslo .subtot.new {
    width: 115px;
    margin-left: auto;
}
.reslo .subtot.new .bdsep{
	width: 100%;
    border-right: 0;
}
 .subtot .sub_prom div:nth-of-type(4){
	font-size: 14px;
	text-decoration: line-through;
 }

 .resse .subtot.new {
    width: 115px;
    margin-left: auto;
}
.resse .subtot.new .bdsep{
	width: 100%;
    border-right: 0;
}
 .subtot .sub_prom div:nth-of-type(4){
	font-size: 14px;
	text-decoration: line-through;
 }


.wrapper--2items .modulo.producto:first-child{
	margin-left: 25.75%;
}
.wrapper--1item .modulo.producto:first-child{
	margin-left: 38.25%;
}



.modal.especial{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: transparent;
    border: 0;
    padding: 0px;
    box-shadow: none;
    display: block;
}
.modal.especial .card.compact{
	margin: 0 auto;
}
.modal.especial .modulo.producto{
	width: 100%;float:left;
	margin: 0%;
	border: 1px solid #00A9E0;
	border-radius: 12px;
}
.modal.especial .modulo.producto .header{
	background:#00a9e0;
	color:#ffffff;padding: 20px 30px;
	border-radius: 8px 8px 0 0;font-size: 16px;
}
.modal.especial .modulo.producto .header .velocidad{
	font-size: 29px;line-height: 1;
}
.modal.especial .modulo.producto .body{
	text-align: center; color: #00a9e0;
	border-radius: 0 0 12px 12px;
	padding: 20px 30px;
	background-color: #fff;
}
.modal.especial .boton_greentdp_alt{
	margin: 5px;
}
.modal.especial .tipo{
	font-size: 24px;
}
.modal.especial .soles{
	margin: 0 0 0 -10px;
}
.modal.especial .monto{
	font-size: 66px;
    color: #ffffff;
    line-height: 0.75;
}
.modal.especial .col-8 {
    width: 60%;
    position: relative;
    display: inline-block;
    margin: 20px 1%;top:-20px;
}
.modal.especial .monto .moneda{
    font-size: 26px;
    position: relative;
    top: -2px;
    right: 0;
}
.modal.especial p, .modal.especial ul, .modal.especial li{
	margin: 0;padding: 0;text-align: left;
}
.modal.especial .body .col-6{
	vertical-align: top;
}
.modal.especial .body .col-6:first-child{
	padding-left: 110px;
}







/*******BACKOUT*******/

.date label{
	z-index: 1;
    background-color: #fff;
    margin: -5px 0 0 0;
    padding: 2px 0;
}
.date input{
	width: 100%;
}

.wrapper--3{
	border: 1px solid #00a9e0;border-radius: 12px;padding: 30px 35px 25px 30px;margin: 10px 0;
}
.wrapper--3 .card.compact{
	border: 1px solid #00a9e0;
    border-radius: 12px;
    padding: 30px 35px 25px 30px;
    margin: 25px auto;
    max-width: initial;
    box-shadow: 7px 6px 19px #efefef;
}
.card.compact .reslo{
	border:1px solid #b6b7b7;
	box-shadow: none;
}
.card.compact .det_seca{
	border:1px solid #b6b7b7;
	width:auto;border-radius: 12px;
}
.audio_bo {
    border: 1px solid #00a9e0;
    border-radius: 10px;
}
.audio_bo .prod_inf p:first-child {
    color: #00a9e0;
}
.audio_bo .prod_inf span:nth-of-type(1) {
    color: #954b97;
}
.audio_bo .fright div:last-of-type {
    border-right-color: #ffffff;
}
.audio_bo .prod_inf{
	font-size: 20px;
	max-width: initial;
}
.audio_bo .pReg_inf{
	vertical-align: top;
	color: #00a9e0;padding-right: 105px;
}
.audio_bo .pReg_inf span{
	font-weight: bold;font-size: 20px;
}
.audio_bo.valid .prod_inf span:nth-of-type(1) {
    color: #5bc500;font-weight: bold;
}
.audio_bo.valid .pReg_inf {
    padding-right: 70px;
}
.audio_bo.error .pReg_inf {
    padding-right: 205px;
}
.col-6  span.title, .col-12  span.title{
	font-size: 18px;color: #00a9e0;font-weight: bold;
}









/******** BoV2 *******/
.bo2{
	border-radius: 40px;
}
.bo2 .card{
	padding: 20px 40px;
	border-radius:12px;
	margin: 15px 0;
}
.bo2 .card.cyan{
	border:1px solid #00A9E0;
}
.bo2 .card.gray{
	border:1px solid #D3D4D3;
}
.bo2 h1{
	font-size: 25px;
	line-height: 25px;
	color:#00A9E0;
	text-align:center;
	font-weight:normal;
}
.bo2 h1 b{
	font-weight:bold;
}
.bo2 h2{
	font-size: 25px;
	line-height: 25px;
	color:#00A9E0;
	font-weight:normal;
}
.bo2 dl{
	margin: 0;padding: 10px 0;
}
.bo2 dt{
	font-size: 14px;
	color:#00A9E0;
	margin:0;padding: 0;
}
.bo2 dd{
	font-size: 18px;
	color:#86888C;
	margin: 0;padding: 0;
}
.bo2 .tright{
	text-align:right;
}
.bo2 .tleft{
	text-align:left;
}
.bo2 .tcenter{
	text-align:center;
}
.bo2 .moddd {
  	display: -ms-flexbox;
  	display: flex;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  	margin-right: -15px;
  	margin-left: -15px;
}
.bo2 .moddd.botonera{
	padding-top: 55px;
	padding-bottom: 55px;
}
.bo2 .no-gutters > .bloq,
.bo2 .no-gutters > [class*="bloq-"] {
  	padding-right: 0;
  	padding-left: 0;
}
.bloq-1, .bloq-2, .bloq-3, .bloq-4, .bloq-5, .bloq-6, .bloq-7, .bloq-8, .bloq-9, .bloq-10, .bloq-11, .bloq-12, .bloq,
.bloq-auto, .bloq-sm-1, .bloq-sm-2, .bloq-sm-3, .bloq-sm-4, .bloq-sm-5, .bloq-sm-6, .bloq-sm-7, .bloq-sm-8, .bloq-sm-9, .bloq-sm-10, .bloq-sm-11, .bloq-sm-12, .bloq-sm,
.bloq-sm-auto, .bloq-md-1, .bloq-md-2, .bloq-md-3, .bloq-md-4, .bloq-md-5, .bloq-md-6, .bloq-md-7, .bloq-md-8, .bloq-md-9, .bloq-md-10, .bloq-md-11, .bloq-md-12, .bloq-md,
.bloq-md-auto, .bloq-lg-1, .bloq-lg-2, .bloq-lg-3, .bloq-lg-4, .bloq-lg-5, .bloq-lg-6, .bloq-lg-7, .bloq-lg-8, .bloq-lg-9, .bloq-lg-10, .bloq-lg-11, .bloq-lg-12, .bloq-lg,
.bloq-lg-auto, .bloq-xl-1, .bloq-xl-2, .bloq-xl-3, .bloq-xl-4, .bloq-xl-5, .bloq-xl-6, .bloq-xl-7, .bloq-xl-8, .bloq-xl-9, .bloq-xl-10, .bloq-xl-11, .bloq-xl-12, .bloq-xl,
.bloq-xl-auto {
  	position: relative;
  	width: 100%;
  	min-height: 1px;
  	padding-right: 15px;
  	padding-left: 15px;
}
.bo2 .bloq {
  	-ms-flex-preferred-size: 0;
  	flex-basis: 0;
  	-ms-flex-positive: 1;
  	flex-grow: 1;
  	max-width: 100%;
}
.bo2 .bloq-auto {
  	-ms-flex: 0 0 auto;
  	flex: 0 0 auto;
  	width: auto;
  	max-width: none;
}
.bo2 .bloq-1 {
  	-ms-flex: 0 0 8.333333%;
  	flex: 0 0 8.333333%;
  	max-width: 8.333333%;
}
.bo2 .bloq-2 {
  	-ms-flex: 0 0 16.666667%;
  	flex: 0 0 16.666667%;
  	max-width: 16.666667%;
}
.bo2 .bloq-3 {
  	-ms-flex: 0 0 25%;
  	flex: 0 0 25%;
  	max-width: 25%;
}
.bo2 .bloq-4 {
  	-ms-flex: 0 0 33.333333%;
  	flex: 0 0 33.333333%;
  	max-width: 33.333333%;
}
.bo2 .bloq-5 {
  	-ms-flex: 0 0 41.666667%;
  	flex: 0 0 41.666667%;
  	max-width: 41.666667%;
}
.bo2 .bloq-6 {
  	-ms-flex: 0 0 50%;
  	flex: 0 0 50%;
  	max-width: 50%;
}
.bo2 .bloq-7 {
  	-ms-flex: 0 0 58.333333%;
  	flex: 0 0 58.333333%;
  	max-width: 58.333333%;
}
.bo2 .bloq-8 {
  	-ms-flex: 0 0 66.666667%;
  	flex: 0 0 66.666667%;
  	max-width: 66.666667%;
}
.bo2 .bloq-9 {
  	-ms-flex: 0 0 75%;
  	flex: 0 0 75%;
  	max-width: 75%;
}
.bo2 .bloq-10 {
  	-ms-flex: 0 0 83.333333%;
  	flex: 0 0 83.333333%;
  	max-width: 83.333333%;
}
.bo2 .bloq-11 {
  	-ms-flex: 0 0 91.666667%;
  	flex: 0 0 91.666667%;
  	max-width: 91.666667%;
}
.bo2 .bloq-12 {
  	-ms-flex: 0 0 100%;
  	flex: 0 0 100%;
  	max-width: 100%;
}
.bo2 b.pendiente{
	color:#954B97;
}
.bo2 b.aprobado{
	color:#5BC500;
}
.bo2 b.caida{
	color:#E9426D;
}
.bo2 .botonera01{
	justify-content: flex-end;
	align-items: center;
	text-align:right;height: 100%;
}
.bo2 .player {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	display: flex;justify-content:center;
	align-items: center;
	border-radius: 2px;
	padding: 5px 16px;
	margin-bottom: 40px;
	margin-top: 10px;
}
.bo2 .player .play-pause {
	margin: 0 10px;
	border-radius:40px;
	width: 80px;
	height: 80px;
	cursor: pointer;
}
.bo2 .player .forward {
	margin: 0 10px;
	border-radius:28px;
	width: 55px;
	height: 55px;
	cursor: pointer;
}
.bo2 .player .backward {
	margin: 0 10px;
	border-radius:28px;
	width: 55px;
	height: 55px;
	cursor: pointer;
}
/**.bo2 .player .icon-play{
	background: #86888C url(../img/play.png) center center no-repeat;
}
.bo2 .player .icon-play:hover{
	background: #5BC500 url(../img/play.png) center center no-repeat;
}
.bo2 .player .icon-stop{
	background: #86888C url(../img/pause.png) center center no-repeat;
}
.bo2 .player .icon-stop:hover{
	background: #5BC500 url(../img/play.png) center center no-repeat;
}*/
.bo2 .bar {
	position: relative;
	width: 100%;
	/*height: 5px;*/
	background-color: #c2c3c5;
	/*display: flex;justify-content:flex-start;
	align-items: center;*/
	border-radius: 5px;
	margin-bottom: 10px;
}
.bo2 .bar .progress {
    position: relative;
    height: 5px;
    left: 0;
    top: 0;overflow: initial;
    background-color: #86888c;
}
.bo2 .bar .progress:before{
	content:"";right: -10px;top:-5px;
	width: 20px;height: 20px;border-radius:10px;
	background-color: #86888c;
	position: absolute;
}
.bo2 .boton_red{
	text-align: center;
    background-color: #E9426D;
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    display: inline-block;    
    text-transform: uppercase;
	cursor: pointer;
	min-width: 120px;
}
.bo2 .boton_red:hover{
	background-color: rgba(233, 66, 109, 0.8);
	color: #ffffff;
	cursor: pointer;
}
.bo2 .bloq-5 .col-5{
	width: 100%;
	margin: 40px 0;
}
.modal.out h1{
	margin: 15px 0;
	text-shadow: none;
}
.modal.out {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: #ffffff;
    border: 0;
    padding: 45px;
    box-shadow: none;
    display: block;
    border-radius: 12px;height:fit-content;
    color:#86888C;font-size: 15px;
    border:1px solid #00A9E0;
    width:60%; 
}
.modal.out .modulo.producto{
	width: 470px;
	margin: 0 auto;
}
.bo2 .modal.out .modulo.producto .moddd{
	margin: 15px auto;
}

.text-right{
	text-align: right;	
}


.tablaDatos.calendar table {
    border:1px solid #5BC500;
    width: auto;margin: 0 auto;
    color:#a5a6a6;
}
.tablaDatos.calendar tbody tr:nth-child(odd) {
    background-color: transparent;
}
.tablaDatos.calendar td, .tablaDatos.calendar th {
    border-left:0;padding: 12px;
}
.tablaDatos.calendar th {
    border-bottom:1px solid #5BC500;
    color: #5BC500;
}
.tablaDatos.calendar th:first-child { border-radius: 15px 0 0 0; }
.tablaDatos.calendar th:last-child { border-radius: 0 15px 0 0; }
.tablaDatos.calendar tr:last-child td:first-child { border-radius: 0 0 0 15px; }
.tablaDatos.calendar tr:last-child td:last-child { border-radius: 0 0 15px 0; }
.tablaDatos.calendar tbody th {
    border-top: 0;
    border-bottom: 0;
}
.card.compact.calendario .col-6{
	vertical-align: top;
}
.card.compact.calendario .col-6 .container {
  	margin: 0px auto;
  	width: 120px;
}
.switch {
  	position: relative;
  	margin: 20px auto;
  	height: 48px;
  	width: 158px;
  	background: #ffffff;
  	border-radius: 8px;padding: 0px;
  	border:1px solid #5BC500;
}
.switch-label {
  	position: relative;
  	z-index: 2;
  	float: left;
  	width: 77px;
  	line-height: 46px;
  	font-size: 14px;
  	color: rgba(91, 197, 0, 1);
  	text-align: center;
  	cursor: pointer;
  	text-transform: uppercase;
}
.switch-label:active {
  	font-weight: bold;
}
.switch-label-off {
  	padding-left: 2px;
}
.switch-label-on {
  	padding-right: 2px;
}
.switch-input {
  	display: none;
}
.switch-input:checked + .switch-label {
  	font-weight: bold;
  	color: rgba(255, 255, 255, 1);
  	-webkit-transition: 0.15s ease-out;
  	-moz-transition: 0.15s ease-out;
  	-o-transition: 0.15s ease-out;
  	transition: 0.15s ease-out;
}	
.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  	left: 78px;
  	border-radius: 0px 8px 8px 0px;
}
.switch-selection {
  	display: block;
  	position: absolute;
  	z-index: 1;
  	top: 0px;
  	left: 0px;
  	width: 79px;
  	height: 46px;
  	background: #5bc500;
  	border-radius: 8px 0px 0px 8px;
  	-webkit-transition: left 0.15s ease-out;
  	-moz-transition: left 0.15s ease-out;
  	-o-transition: left 0.15s ease-out;
  	transition: left 0.15s ease-out;
}
.switch.disabled{
	border:1px solid #efefef;
}
.switch.disabled .switch-selection {
	background:#efefef;
}
.switch.disabled .switch-label{
	color:#cccccc;cursor: default;
}
.calendario a{
	text-decoration: none;
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
    line-height: 1.5;
    width: 30px;
    display: inline-block;
    height: 30px;
}
.calendario a:hover{
	color:#5bc500;
}
.calendario a.suggested{
	background:#cdedb1 !important;
}
.calendario a.disabled{
	background:#efefef;
	color:#dadbdb;
	cursor: default;
}
.calendario a.chosen{
	background:#5bc500;
	cursor: default;
	color:#ffffff;
}
.calendario a.chosen:hover{
	color:#ffffff;
}

/* a.back_name:nth-child(-n+2){

}
 
  */

  .chosen{
	background: #5bc500  !important;
    cursor: default;
    color: #ffffff;
  }

  .desa0{
	background:#cdedb1 !important;
	cursor: default !important;
  }

  .desa1{
	background:#cdedb1 !important;
 	 cursor: default !important;
	
  }

  .ooo1{
	/* background:#cdedb1 !important; */
  }
  .ooo{
	background: white !important;
  }

  .desab{
	background:#cdedb1 !important;
	cursor: default !important;
  }

  /************************/
.aside{
    border-right: 1px solid #00a9e0;
    width: 15%;
    float: left;
    height: 100%;
    top: 56px;
}
.aside +.seccion{
	width: 84%;float: right;margin: 0 0.5%;
	padding-top: 35px;
}
.aside a{
	color: #00a9e0;text-decoration:none;
}
.aside a:hover{
	background: #ffffff;
}
.aside +.seccion .cnt_geneeral{
	width: 96%;
}
.aside .menu--vertical{
	width: 100%;
}
.aside .menu--vertical li{
	border-bottom: 1px solid #00a9e0;
}
.aside .menu--vertical li li:last-child{
	border-bottom: 0;
}
.aside nav > ul > li{
	text-align: center;
}
.aside nav > ul > li li{
	background: #f5f5f5;
}
.aside nav > ul > li > a{
	height: 78px;display: block;line-height: 78px;
	color: #00a9e0;
}
.aside nav > ul > li > a:hover{
	background: #ffffff;
}
.aside nav > ul > li li a{
	height: auto;
    display: block;
    font-size: 16px;
    line-height: 40px;
    min-height: 40px;
}
.aside nav > ul > li li a:hover{
	background: #ffffff;
}
.aside nav > ul > li a span{
	vertical-align: middle;
}
.aside nav > ul > li.active{
	background: #00a9e0;color: #ffffff;
}
.aside nav > ul > li.active li.active a,
.aside nav > ul > li.active li.active a:hover{
	background: #00a9e0;color: #ffffff;
}
.aside nav > ul > li.active ul{
	display: block;
}
.aside nav > ul > li.active a{
	background: #00a9e0;color: #ffffff;
}
.aside nav > ul > li.active ul a{
	background: initial;color:#00a9e0;
}
.aside nav > ul > li.active ul a:hover{
	background: #ffffff;
}
.aside nav > ul > li ul{
	display: none;
}
.niveles .card.compact.large{
	max-width: 968px;
}
.niveles .input-effect.prefix-vs:before{
	content: "vs";
    position: absolute;
    margin: 9px 0px 0 -10%;
}
.niveles .card.compact .col-1{
	width: 10.93%;
    position: relative;
    display: inline-block;
    margin: 20px 1%;
    text-align: center;
}
.niveles .card.compact .col-7 {
    width: 60.66%;
    position: relative;
    display: inline-block;
    margin: 20px 1%;
    vertical-align: top;
}
.niveles .card.compact .col-4{
	vertical-align: top;
}
.niveles .boton_grissmall{
	text-align: center;
    background-color: #ffffff;
    color: #86888c;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    border:1px solid #86888c;
    min-width: 78px;
}
.niveles .boton_grissmall:hover{
	border:1px solid #86888c;
	color: #86888c;
	text-decoration:none;
	background-color: #e9eae8;
}
.niveles .boton_grissmall.active{
	font-weight: bold;
	border:1px solid #86888c;
	color: #86888c;
	text-decoration:none;
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
}
.niveles .tablaDatos td, .tablaDatos th{
	font-size: 16px;
}



/*v9*/
.reporte .cnt_forcnt2 .wrap > .slide > .card_data.bloque-rojo .ver-mas.doble a{
	display: inline;
    width: 48%;
    font-size: 16px;
    line-height: 40px;
}
.jquery-modal .modal{
	left: initial;
	top: initial;
	transform: initial;
}
.modal-detalle .modal-dialog .franja.light{
	background: #f56161;
    font-style: italic;
    font-size: 18px;
}
.modal-detalle .modal-dialog .franja.datos{
	color: #50535a;
    background: #fff;
    border-bottom: 5px solid #f00;
}
.modal .datos .cntBotonesOpt{
	text-align: right;
}
.fila-custom .col-custom.col-mitad .col-mitad {
	margin: 0;padding: 0;width: 48%;
}
.fila-custom .col-custom.col-mitad .col-mitad p.texto{
	padding: 8px 5px;
}
.datos .fila-custom .col-custom{
	vertical-align: baseline;
}

.card.calificacion .status.error ~.monto,
.card.calificacion .status.error .rojo{
	color:#e9426d;
}

.card.calificacion{
	width: 380px;
}
.card.calificacion .status.error{
	background-color: transparent;
	background-image: url(../img/error-ico.png);
	background-repeat: no-repeat;
	background-position: 0% 65%;
}
.card.calificacion .status.ok{
	background-color: transparent;
	background-image: url(../img/ok-ico.png);
	background-repeat: no-repeat;
	background-position: 0% 65%;
}
.wrapper--1{
	border: 1px dashed #B6B7B7;border-radius: 12px;padding: 15px 20px;margin: 5px 0;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}

.card.calificacion .status {
    font-size: 15px;
    font-weight: 400;
}

.advisorDue {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: #00a9e0;
    line-height: 120%;
    padding-left: 30px;
}
.card.cyan {
    border: 1px solid #00A9E0;
    padding: 20px 40px;
    border-radius: 12px;
    margin: 15px 30px;
}
.trio_inf.glow{
	box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.2);
}
.trio_inf .prod_inf b.colored {
	color: #5bc500;
}
.duo_inf .prod_inf b.colored {
	color: #00a9e0;
}
.tablaDatos.azul table {
    border:1px solid #00A9E0;
}