.content-reniec{
	background: #FFB700; 
	padding: 0px; 
	color: white; 
	font-size: 20px; 
	padding-top:15px; 
	padding-bottom: 15px; 
	font-weight: bold;
}

.title-reniec{
	font-size: 18px;
	padding-top: 50px; 
	padding-bottom:30px; 
	color: #005d88; 
	font-weight: bold;
}

.campo-reniec{
	margin-top: 15px;	
}

.label-reniec{
	color: gray;
	font-weight: bold;
	margin-top: 15px;
		
}
