.content-summary{
	padding: 14px;
	padding-left: 80px;
	padding-right: 80px;

}

.content-summary .title{
background: orange;
margin-top: 15px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 0px !important;
font-size: 20px;
color: white;
font-weight: bold;
}

.content-summary .body{
font-size: 13px;
border: 1px solid #A4A4A4;
}

.content-summary .body .subtitle{
font-size: 18px !important;
color: orange;
font-weight: bold;
}

.panel-subtitle{
border-bottom:1px #A4A4A4 solid;
}

.etiqueta-precio{
	color: #848484 !important;
	background: white !important;

}

.etiqueta-precio-fondo{
	color: #F3F7F9 !important;
	background: #EFFBEF !important;

}
.etiqueta-precio-fondo span{
	color: #808080;
}
.precio{
	font-size: 30px !important;
	color: #848484 !important;
	font-weight: bold !important;
}

.etiqueta-precio-contado{
	color: white !important;
	background: #BDBDBD	!important;


}
.precio-contado{
	font-size: 30px !important;
	color: white !important;
	font-weight: bold !important;
}

.btn-pedido{
	background: white;
	color: gray;
	font-size: 15px;
	border: 1px #BDBDBD solid !important;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
	width: 100%;
}


/*Sprint8 inicio*/
.seccion{
	display: block;
}

.cnt_geneeral{
	max-width: 85%;
	margin: auto;
	padding: 20px 0;
}

.cnt_geneeral{
	max-width: 85%;
	margin: auto;
	padding: 20px 0;
}

.cnt_forcnt{
	max-width: 100%;
	background-color: #ffffff;
	border: 1px solid #00a9e0;
	margin: auto;
	border-radius: 15px;
	padding: 30px;	
	box-shadow: 7px 6px 19px #d3d4d3;
}

/*.fnt0{
	font-size: 0;
}*/

.resumen_compra{	
	padding: 0 0 0 10px;
}
.resumen_compra  h3{
	
	margin-bottom: 20px;
}

.head_resumen{	
    display: block;
	font-size: 18px;	
	padding: 10px;
	background-color: #954B97;
    color: #ffffff;
	text-decoration: none;
    border: 1px solid #954B97;
    border-radius: 10px 10px 0 0;   
}

.head_resumen  p{	
	font-size: 18px;
	font-family: 'Telefonica';
}
.head_resumen  p:first-child{
	float: left;
}
.head_resumen  p:nth-child(2){
	float: right;
}

.both{
	clear: both;
}

.cuerpo_resumen{
	border: 1px solid #954B97;	
}

.cnt60{
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

.cnt40{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.total_compra{
	padding: 20px;
	background-color: #e1e1e1;
	margin-bottom: 20px;
}
.total_compra h3{
	color: #50535a;
}

.panel-default > .panel-heading {
    color: #333333 !important;
    background-color: #954B97 !important;
    border-color: #ddd !important;
    border-radius: 10px 10px 0 0 !important;
    text-decoration: none !important;
    border: 1px solid #954B97 !important;
    color: #ffffff !important;
}

.list-group-item {
	border: 1px solid #954B97 !important; 
}

.panel {
	border: 0px !important;
}

.resul_compra{	 
	border: 1px solid #f5f5f5;
	margin: auto;
	border-radius: 10px;		
	box-shadow: 7px 6px 19px #bbbbbb;
	/*font-size: 0;*/	
}

.resul_promo,.resul_normal{
	display: inline-block;
	width: 130px;
	text-align: center;
	padding: 15px 0;
}
.resul_promo{
	background-color: #954B97;
	
	color: #ffffff;
	border-radius: 10px 0 0 10px;
}
.resul_normal{	
	background-color: #ffffff;
	
	color: #50535a;
	border-radius:  0 10px 10px 0;
}
.resul_promo span, .resul_normal span{
	display: inline-block;
	font-size: 20px;
}
.resul_promo div:first-of-type,.resul_promo div:nth-of-type(3), .resul_normal div:first-of-type,.resul_normal div:nth-of-type(3) {
	font-size: 14px;
}
.resul_promo div:nth-of-type(2), .resul_normal div:nth-of-type(2) {
	font-size: 30px;
	font-weight: bold;
}
/*Sprint8 fin*/