<div class="loading-indicator" *ngIf="loading">
    <div class="windows8 windows-parquet">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>


<div class="seccion">
    <div class="cnt_geneeral">
        <div class="cnt_forcnt prela bo2">
            <div class="card">
                <div class="">
                    <div class="moddd">
                        <div class="bloq" style="text-align: center;">
                            <h2>Detalle de Audio <b>{{id}}</b></h2>
                            <br>

                        </div>
                    </div>
                </div>

                <div class="moddd">

                    <div class="card cyan todo">
                        <div class="moddd">
                            <div class="bloq">
                                <br>
                                <h2>Datos Cliente</h2>
                                <br>

                            </div>
                        </div>
                        <div class="moddd">
                            <div class="bloq">
                                <dl>
                                    <dt>Nombre completo</dt>
                                    <dd>{{nombre}}</dd>
                                </dl>
                            </div>
                            <div class="bloq">
                                    <dl>
                                        <dt>Fecha de Nacimiento</dt>
                                        <dd>{{fechaNacimiento}}</dd>
                                    </dl>
                                </div>
                            <div class="bloq">
                                <dl>
                                    <dt>N° Teléfono:</dt>
                                    <dd>{{numTelefono}}</dd>
                                </dl>
                            </div>
                            
                        </div>
                        <div class="moddd">
                                <div class="bloq">
                                        <dl>
                                            <dt>Tipo documento</dt>
                                            <dd>{{tipoDocumento}}</dd>
                                        </dl>
                                    </div>
                            <div class="bloq">
                                <dl>
                                    <dt>N° Documento:</dt>
                                    <dd>{{numDocumento}}</dd>
                                </dl>
                            </div>
                            <div class="bloq">
                                <dl>
                                    <dt></dt>
                                    <dd></dd>
                                </dl>
                            </div>
                         
                        </div>
                    </div>

                    <div class="card cyan todo">
                        <div class="moddd">
                            <div class="bloq">
                                <br>
                                <h2>Lugar de instalación</h2>
                                <br>
                            </div>
                        </div>

                        <div class="moddd">
                            <div class="bloq">
                                <dl>
                                    <dt>Departamento</dt>
                                    <dd>{{departamento}}</dd>
                                </dl>
                            </div>
                            <div class="bloq">
                                <dl>
                                    <dt>Provincia</dt>
                                    <dd>{{provincia}}</dd>
                                </dl>
                            </div>
                            <div class="bloq">
                                <dl>
                                    <dt>Distrito</dt>
                                    <dd>{{distrito}}</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="moddd">
                            <div class="bloq-5">
                                <div class="col-5 input-effect">
                                    <input   value="" [(ngModel)]="direccion" class="effect-16 has-content" type="text" placeholder="">
                                    <label>Dirección:</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                            <div class="bloq-2">
                                &nbsp;
                            </div>
                            <div class="bloq-5" *ngIf="referencia != null">
                                <div class="col-5 input-effect">
                                    <input   class="effect-16 has-content" [(ngModel)]="referencia" type="text" placeholder="">
                                    <label>Referencia:</label>
                                    <span class="focus-border"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card cyan todo">
                        <div class="moddd">
                            <div class="bloq">
                                <br>
                                <h2>Producto contratado</h2>
                                <br>
                            </div>
                        </div>

                        <div class="moddd" style="display: inline-block !important; width:100%">
                            
                            <div class="bloq bloq-adaptado" *ngIf="producto != null"> 
                                <dl>
                                    <dt>Producto</dt>
                                    <dd>{{producto}}</dd>
                                </dl>
                            </div>
                            <div class="bloq bloq-adaptado" *ngIf="tecnologiaInternet != null"> 
                                <dl>
                                    <dt>Tecnología de internet</dt>
                                    <dd>{{tecnologiaInternet}}</dd>
                                </dl>
                            </div>
                            <div class="bloq bloq-adaptado" *ngIf="beneficio != null"> 
                                <dl>
                                    <dt>Beneficio</dt>
                                    <dd>{{beneficio}}</dd>
                                </dl>
                            </div>
                      

                            
                            <div class="bloq bloq-adaptado" *ngIf="incluye != null"> 
                                <dl>
                                    <dt>Incluye</dt>
                                    <dd>{{incluye}}</dd>
                                </dl>
                            </div>
                            <div class="bloq bloq-adaptado" *ngIf="equipamento != null"> 
                                <dl>
                                    <dt>Equipamento</dt>
                                    <dd>{{equipamento}}</dd>
                                </dl>
                            </div>
                            <div class="bloq bloq-adaptado" *ngIf="modo != null"> 
                                <dl>
                                    <dt>Modo</dt>
                                    <dd>{{modo}}</dd>
                                </dl>
                            </div>
               
                        
                            <div class="bloq bloq-adaptado" *ngIf="precioRegular != null"> 
                                <dl>
                                    <dt>Precio regular</dt>
                                    <dd>{{precioRegular}}</dd>
                                </dl>
                            </div>
                            <div class="bloq bloq-adaptado" *ngIf="PrecioPromocional != null"> 
                                <dl>
                                    <dt>Precio promocional</dt>
                                    <dd>{{PrecioPromocional}}</dd>
                                </dl>
                            </div>

                            <div class="bloq bloq-adaptado" *ngIf="clientSvaNombre1 != null"> 
                                <dl>
                                    <dt>{{clientSvaNombre1}}</dt>
                                    <dd>{{clientSvaPrecio1}}</dd>
                                </dl>
                            </div>

                            <div class="bloq bloq-adaptado" *ngIf="clientSvaNombre2 != null"> 
                                <dl>
                                    <dt>{{clientSvaNombre2}}</dt>
                                    <dd>{{clientSvaPrecio2}}</dd>
                                </dl>
                            </div>

                            <div class="bloq bloq-adaptado" *ngIf="clientSvaNombre3 != null"> 
                                <dl>
                                    <dt>{{clientSvaNombre3}}</dt>
                                    <dd>{{clientSvaPrecio3}}</dd>
                                </dl>
                            </div>

                            <div class="bloq bloq-adaptado" *ngIf="clientSvaNombre4 != null"> 
                                <dl>
                                    <dt>{{clientSvaNombre4}}</dt>
                                    <dd>{{clientSvaPrecio4}}</dd>
                                </dl>
                            </div>

                            <div class="bloq bloq-adaptado" *ngIf="clientSvaNombre5 != null"> 
                                <dl>
                                    <dt>{{clientSvaNombre5}}</dt>
                                    <dd>{{clientSvaPrecio5}}</dd>
                                </dl>
                            </div>

                            <div class="bloq bloq-adaptado" *ngIf="clientSvaNombre6 != null"> 
                                <dl>
                                    <dt>{{clientSvaNombre6}}</dt>
                                    <dd>{{clientSvaPrecio6}}</dd>
                                </dl>
                            </div>

                            <div class="bloq bloq-adaptado" *ngIf="clientSvaNombre7 != null"> 
                                <dl>
                                    <dt>{{clientSvaNombre7}}</dt>
                                    <dd>{{clientSvaPrecio7}}</dd>
                                </dl>
                            </div>

                            <div class="bloq bloq-adaptado" *ngIf="clientSvaNombre8 != null"> 
                                <dl>
                                    <dt>{{clientSvaNombre8}}</dt>
                                    <dd>{{clientSvaPrecio8}}</dd>
                                </dl>
                            </div>

                            <div class="bloq bloq-adaptado" *ngIf="clientSvaNombre9 != null"> 
                                <dl>
                                    <dt>{{clientSvaNombre9}}</dt>
                                    <dd>{{clientSvaPrecio9}}</dd>
                                </dl>
                            </div>

                            <div class="bloq bloq-adaptado" *ngIf="clientSvaNombre10 != null"> 
                                <dl>
                                    <dt>{{clientSvaNombre10}}</dt>
                                    <dd>{{clientSvaPrecio10}}</dd>
                                </dl>
                            </div>
 
                            <div class="bloq bloq-adaptado" *ngIf="clientProducPrecioPromocional != null">  
                                <dl>
                                    <dt>Precio promocional total</dt>
                                    <dd>{{clientProducPrecioPromocional}}</dd>
                                </dl>
                            </div>
                            <div class="bloq bloq-adaptado" *ngIf="clientProducPrecioPromocionalTotal != null">  
                                <dl>
                                    <dt>Precio regular total</dt>
                                    <dd>{{clientProducPrecioPromocionalTotal}}</dd>
                                </dl>
                            </div>
                             
                        </div>
                    </div>



                    <div class="card cyan todo" *ngIf="tratamientoDatos != null && reciboDigital != null && filtroParental != null">
                        <div class="moddd">
                            <div class="bloq">
                                <br>
                                <h2>Detalle Recibo</h2>
                                <br>
                            </div>
                        </div>

                        <div class="moddd">
                            <div class="bloq" *ngIf="tratamientoDatos != null">
                                <dl>
                                    <dt>Tratamiento de datos</dt>
                                    <dd>{{tratamientoDatos}}</dd>
                                </dl>
                            </div>
                            <div class="bloq" *ngIf="reciboDigital != null">
                                <dl>
                                    <dt>Recibo digital</dt>
                                    <dd>{{reciboDigital}}</dd>
                                </dl>
                            </div>
                            <div class="bloq" *ngIf="filtroParental != null">
                                <dl>
                                    <dt>Filtro parental</dt>
                                    <dd>{{filtroParental}}</dd>
                                </dl>
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="mddd">
                    <div class="moddd botonera">
                        <div class="bloq tright">
                          <div class="btn-group">
                            <a (click)="aprobado()" class="boton_greentdp">Aprobado</a>
                          </div>
                        </div>
                        <div class="bloq-1"></div>
                        <div class="bloq">
                          <div class="btn-group">
                            <a (click)="openModal()" class="boton_red">Caída</a>
                          </div>
                        </div>
                      </div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal out" *ngIf="modalCaida">	
        <div class="modulo producto">
            <div class="header">
                <div class="moddd">
                    <div class="bloq-12" style="text-align: left">
                        <h1 style="text-align: left;" style="font-size: 25px;line-height: 25px;color:#00A9E0;text-align: center;text-align: left;font-weight: normal;">Audio inválido</h1>
                    </div>
                    <div class="bloq-12">
                        <p style="text-align: left;margin: 0 0 10px;">Seleccione el motivo por el cual el audio es inválido:</p>
                    </div>
                </div>
            </div>
            <form action="">
            <div class="body">
                <div class="moddd" style=" margin: 15px auto; display: flex; flex-wrap: wrap; ">
                    <div class="bloq-3 tright" style="flex: 0 0 25%;max-width: 25%;text-align: right;">
                        <input checked name="caida" value="CLIENTE CON DEUDA EN ATIS / CMS" type="radio" style="margin: 4px 0 0;margin-top: 1px\9;line-height: normal;">
                    </div>
                    <div class="bloq-9" style="flex: 0 0 75%;max-width: 75%;">
                        <p style="margin: 0 0 10px;">CLIENTE CON DEUDA EN ATIS / CMS</p>
                    </div>
                    <div class="bloq-3 tright" style="flex: 0 0 25%;max-width: 25%;text-align: right;">
                        <input name="caida" type="radio" value="SIN FFTT / ES ADSL / PUNTO BLANCO" style="margin: 4px 0 0;margin-top: 1px\9;line-height: normal;">
                    </div>
                    <div class="bloq-9" style="flex: 0 0 75%;max-width: 75%;">
                        <p style="margin: 0 0 10px;">SIN FFTT / ES ADSL / PUNTO BLANCO</p>
                    </div>
                    <div class="bloq-3 tright" style="flex: 0 0 25%;max-width: 25%;text-align: right;">
                        <input name="caida" type="radio" value="VENTA NO VALIDA, NO ES CEF" style="margin: 4px 0 0;margin-top: 1px\9;line-height: normal;">
                    </div>
                    <div class="bloq-9" style="flex: 0 0 75%;max-width: 75%;">
                        <p style="margin: 0 0 10px;">VENTA NO VALIDA, NO ES CEF</p>
                    </div>
                    <div class="bloq-3 tright" style="flex: 0 0 25%;max-width: 25%;text-align: right;">
                        <input name="caida" type="radio" value="CLIENTE YA CUENTA CON PEDIDO PENDIENTE" style="margin: 4px 0 0;margin-top: 1px\9;line-height: normal;">
                    </div>
                    <div class="bloq-9" style="flex: 0 0 75%;max-width: 75%;">
                        <p style="margin: 0 0 10px;">CLIENTE YA CUENTA CON PEDIDO PENDIENTE</p>
                    </div>
                    <div class="bloq-3 tright" style="flex: 0 0 25%;max-width: 25%;text-align: right;">
                        <input name="caida" type="radio" value="ERROR EN SPEECH Y/O CONTRATO" style="margin: 4px 0 0;margin-top: 1px\9;line-height: normal;">
                    </div>
                    <div class="bloq-9" style="flex: 0 0 75%;max-width: 75%;">
                        <p style="margin: 0 0 10px;">ERROR EN SPEECH Y/O CONTRATO</p>
                    </div>
                    <div class="bloq-3 tright" style="flex: 0 0 25%;max-width: 25%;text-align: right;">
                        <input name="caida" type="radio" value="POSIBLE FRAUDE / SUPLANTACION" style="margin: 4px 0 0;margin-top: 1px\9;line-height: normal;">
                    </div>
                    <div class="bloq-9" style="flex: 0 0 75%;max-width: 75%;">
                        <p style="margin: 0 0 10px;">POSIBLE FRAUDE / SUPLANTACION</p>
                    </div>
                    <div class="bloq-3 tright" style="flex: 0 0 25%;max-width: 25%;text-align: right;">
                        <input name="caida" type="radio" value="ERROR EN EL AUDIO" style="margin: 4px 0 0;margin-top: 1px\9;line-height: normal;">
                    </div>
                    <div class="bloq-9" style="flex: 0 0 75%;max-width: 75%;">
                        <p style="margin: 0 0 10px;">ERROR EN EL AUDIO</p>
                    </div>
                    <div class="bloq-3 tright" style="flex: 0 0 25%;max-width: 25%;text-align: right;">
                        <input name="caida" type="radio"  value="NO CONFOR FRASES ACEPTO-SI-CONFORME-DA" style="margin: 4px 0 0;margin-top: 1px\9;line-height: normal;">
                    </div>
                    <div class="bloq-9" style="flex: 0 0 75%;max-width: 75%;">
                        <p style="margin: 0 0 10px;">NO CONFOR FRASES ACEPTO-SI-CONFORME-DA</p>
                    </div>
                    <div class="bloq-3 tright" style="flex: 0 0 25%;max-width: 25%;text-align: right;">
                        <input name="caida" type="radio" value="OTROS" style="margin: 4px 0 0;margin-top: 1px\9;line-height: normal;">
                    </div>
                    <div class="bloq-9" style="flex: 0 0 75%;max-width: 75%;">
                        <p style="margin: 0 0 10px;">OTROS</p>
                    </div>
                </div>
                <div class="moddd">
                    <div class="bloq" style="text-align:center;">
                        <a class="boton_greentdp full" (click)="caida()">aceptar</a>
                        <a class="boton_greentdp_alt full" (click)="closeOpen()">declinar</a>	
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>