<div class="loading-indicator" *ngIf="loading">
    <div class="windows8 windows-parquet">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>


<div class="seccion">
	<div class="cnt_geneeral">
		<div class="title_pagina">
			<p>Validaci&oacute;n de Identidad</p>
			<div class="both"></div>
		</div>
		<div class="cnt_forcnt">
			<div class="dileAlCliente">
				Dile al cliente lo siguiente:
			</div>
			<div class="TitAsk">
				Estimado cliente, voy a proceder a validar sus datos. Dígame:
			</div>
			<div class="tablaDat mgt50">
				<table cellspacing="0" cellpadding="0" width="100%">
					<tbody>
						<tr>
							<td>NOMBRE COMPLETO: </td>
							<td class="bold"></td>
							
						</tr>
						<tr>
							<td>LUGAR DE NACIMIENTO: </td>
							<td class="bold"></td>
							
						</tr>
						<tr>
							<td>FECHA DE NACIMIENTO: </td>
							<td class="bold"></td>
							
						</tr>
						<tr id="selecttr">
							<td>NOMBRE DE LA MADRE: </td>
							<td>
								<div class="cnt_imput paraselect">
									<div class="select">
										<select class="form-control form-control-combo" name="parentescoSelect" id="parentescoSelect"
										 required value="0">
											<!--<option value="1">Elige un nombre</option>-->
											<option  [ngValue]="prtsc"></option>
										</select>
										<label>Elige un nombre</label>
									</div>
								</div>
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
			<div style="margin-bottom:10px" class="cntBotonesOpt">
				<a (click)='migrarOut()'>SIGUIENTE</a>
			</div>
		</div>
	</div>
</div>