<div class="container">
	
	<div style="background-color: white;" class="row">

		<div style="padding: 35px !important;" class="col m12">
		<div class="red lighten-3 card-panel" style="padding: 5px !important;" *ngIf="showAlertDateInit">
		<h5 class="center-align">Debe filtrar la fecha de Inicio antes de descargar el reporte</h5>
	</div>
			<h5 style="color: #4E82A8;">
				<u>Reporte De Ventas</u>
			</h5>
			<div class="col m3">
				<label>Fecha de Inicio</label> <input type="date"
					(change)="selectInitDate()" [(ngModel)]="initDate" name="initDate">
			</div>
			<div class="col m3">
				<label>Fecha de Fin</label> <input [readonly]="readonlyFinDate"
					type="date" [(ngModel)]="finDate" min="{{initDate}}" name="finDate">
			</div>
			<div class="col m3">
				<label>Campaña</label> <select class="browser-default"
					[(ngModel)]="campaign">
					<option value="">Selecciona una campaña</option>
					<option *ngFor="let camp of campaigns" value="{{camp.campaign}}">{{camp.campaign}}</option>
				</select>
			</div>
			<div class="col m2">
				<label></label> <a class="waves-effect waves-light btn"
					(click)="downloadVentas()">Descargar</a>
			</div>

		</div>

	</div>


</div>
