<div class="loading-indicator" *ngIf="loading">
    <div class="windows8 windows-parquet">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>


<div class="seccion">
    <div class="cnt_geneeral">
        <div class="title_pagina">
            <p>Lectura de contrato</p>
            <div class="both"></div>
        </div>
        <div class="cnt_forcnt prela">
            <div class="dileAlCliente">
                Dile al cliente lo siguiente:
            </div>
            <div class="TitAsk">
                sr........... contamos con usted para proceder con la lectura del contrato del paquete (revisar) con una renta mensual de S/.... con un descuento promocional (), y equipamiento..... con sevicios adicionales...... en un plazo de instalación de 7 días calenddario. <br/> Esperar respuesta del cliente (Sí /Acepto/Conforme,Deacuerdo) <br/> Mychas gracias Patricia, le recuerdo que deberá exihibir su DNI original y presentar una copia al momento de la instalación.
            </div>
             
        </div>

        
    </div>
</div>