.form-control {
  box-shadow: none;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid @input-border;

  &:focus {
    box-shadow: none;
  }
}

.formDocSelect {
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
}