main {
  padding-bottom: 100px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #fff;
}
