.splash {
  color: #999;
  font-size: 20px;
  background-color: #f0f2f5;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  .loading-placeholder {
    width: 160px;
    margin-left: -100px;
    position: absolute;
    left: 50%;
    top: 100px;

    .windows-parquet {
       top: 15px;
    }

    .windows8 .wBall .wInnerBall {
      background: #999 !important;
      top: 0px;
    }
  }
}
