// .slider2 {
//   position: absolute;
//   content: "";
//   height: 26px;
//   width: 26px;
//   left: 4px;
//   bottom: 4px;
//
//   -webkit-transition: .4s;
//   transition: .4s;
// }

.icon-info-forced {
  display: none;
}

table.table-sva {
  td {
    vertical-align: middle !important;
  }

  tr.sva-heading {
    background: #DBE7ED;

    &:hover {
      background: #DBE7ED;
    }
  }

  .switch {
    margin-bottom: 0px;
  }

  .sva-group-forced {
    tr {
      background: #f2f5f7;

      &:hover {
        background: #f2f5f7;
      }
    }

    tr.sva-heading {
      background: #DBE7ED;

      &:hover {
        background: #DBE7ED;
      }
    }

    .icon-info-forced {
      display: inline;
    }
  }

}
