@font-face {
  font-family: Telefonica;
  src: local("Helvetica Neue Bold"),
       local("HelveticaNeue-Bold"),
       url(../../../resources/MovistarText-Regular.ttf);
}

@btn-primary-bg: #86C512;
@input-bg: transparent;
@input-border: #ccc;
@input-border-radius: 0px;

// navbar
@navbar-default-bg: #1F6197;
@navbar-default-border: #1F6197;
@navbar-default-link-color: #fff;
@navbar-border-radius: 0px;

// typography
@headings-color: #005d88;
@font-family-sans-serif: "Telefonica", "Helvetica Neue", Helvetica, Arial, sans-serif;


// custom
// @movistar-azul-color: #1F6197;
// @movistar-celest-color: #A4E3F0;
@movistar-blue-color: #1F6197;
@movistar-blue-light-color: #F3F7FA;
@movistar-gray-dark-color: #ECECEC;
@movistar-gray-light-color: #CCCCCC;


@movistar-product-color-0: #be33be;
@movistar-product-color-1: #3366be;
@movistar-product-color-2: #ffec18;
@movistar-product-color-3: #f58f00;
@movistar-product-color-4: #79be33;
@movistar-product-color-5: #14c0f4;
@movistar-product-color-6: #ff99a0;
@movistar-product-color-7: #6de19b;
@movistar-product-color-8: #99b1ff;
@movistar-product-color-9: #9c9b9b;
