.tabla-ventas th{
	padding: 15px !important;
background-color: #7FAAC0 !important;	
 text-align: center;

}

.tabla-ventas td{
	
 text-align: center;

}

.tabla-ventas {
	
margin-top: 10px !important;
}

.load_infoVenta_gif{
padding-top : 50px;
}

.boton_venta_detalle{
 background-color: #AAC9C9;
}