<div class="container">
    <div class="card-panel">
        <div class="row">
            <div class="col s5">
                <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/administration']">
                    <i class="material-icons">view_list</i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="titulo_trz">PARAMETROS TRAZABILIDAD</div>
        </div>
        <br/>
        <div *ngIf="ocultar" class="row" style="margin-left:2%;">
            <div class="col s8 m8 offset-m2 offset-s2">
                <div class="card red">
                    <div class="card-content red-text" style="    background-color: #dff0d8;">
                        <strong>
                            <p style="color: #3c763d;">{{ txtResponse }}</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="ocultar2" class="row" style="margin-left:2%;">
            <div class="col s8 m8 offset-m2 offset-s2">
                <div class="card red">
                    <div class="card-content red-text" style="    background-color: #dff0d8;">
                        <strong>
                            <p style="color: #ff0000;">{{ txtResponse2 }}</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col s4 offset-s3">{{trz_param_sol.descriptionkey}}:</label>
            <input class="col s1" (keydown)="validate($event)" style="height: 30px;" value="{{ trz_param_sol.responsecode }}" [(ngModel)]="trz_param_sol.responsecode"
                maxlength="1">
        </div>
        <div class="row">
            <label class="col s4 offset-s3">{{trz_param_reg.descriptionkey}}:</label>
            <input style="height: 30px;" (keydown)="validate($event)" class="col s1" value="{{ trz_param_reg.responsecode }}" [(ngModel)]="trz_param_reg.responsecode"
                maxlength="1">
        </div>
        <div class="row">
            <label class="col s4 offset-s3">{{trz_param_tecasig.descriptionkey}}:</label>
            <input style="height: 30px;" (keydown)="validate($event)" class="col s1" value="{{ trz_param_tecasig.responsecode }}" [(ngModel)]=" trz_param_tecasig.responsecode "
                maxlength="1">
        </div>
        <div class="row">
            <label class="col s4 offset-s3">{{trz_param_inst.descriptionkey}}:</label>
            <input style="height: 30px;" (keydown)="validate($event)" class="col s1" value="{{ trz_param_inst.responsecode }}" [(ngModel)]="trz_param_inst.responsecode"
                maxlength="1">
        </div>
        <div class="row">
            <div class="col s4 offset-s1"></div>
            <div class="col s2 offset-s2">
                <button class="btn waves-effect waves-light" (click)="setParams()">GUARDAR</button>
            </div>
        </div>

    </div>
</div>