<!-- start nav -->
<nav id="menu" style="z-index: 5; height: 4.4rem;">
  <!-- start menu -->
  <div class="izq_menu">
    <div class="menubarra">
      <ul>
        <li class="noen none">
          <a class="barras">menubarras</a>
          <ul>
            <li>
              <a>Bandeja de audios</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="logo">
      <img src="app/img/logo_movistar.png" width="100%">
    </div>
  </div>

  <div class="der_menu noen">
    <ul class="inmenu">
      <li *ngIf="showVenderLink">
        <!-- <a (click)="vender_redireccion()" style="cursor: pointer;">Vender</a> -->
        <a id="Venderr" (click)="clickOpcionMenu('VENTA')" style="cursor: pointer;">Vender</a>
      </li>
      <li *ngIf="showTrackLink">
        <a id="Trackk" (click)="clickOpcionMenu('TRACK')" style="cursor: pointer;">Track</a>
      </li>
      <li *ngIf="showTrackLink">
          <a id="reportes" style="cursor: pointer;" (click)="clickOpcionMenu('REPORTES')">Reportes</a>
      </li>
      <li id="myBtn" *ngIf="showCancelSaleLink">
        <a class="btn" (click)="clickOpcionMenu('CANCEL')">
          <img src="app/img/cerrar.jpg" alt="">
        </a>
      </li>
      <li class="sesion_logout none">
        <a class="btn" data-popup-open-logout="popup-2">
          <img src="app/images/sign-out.png" width="20px" alt="">
        </a>
      </li>
    </ul>
    <div class="menuperfil noen" *ngIf="showReportesLink">
      <div>
        <a id="reportes" class="text-re" style="cursor: pointer;">Reportes Venta</a>
      </div>
      <ul style="cursor: pointer; z-index: 100;">
        <li>
          <a  (click)="clickOpcionMenu('REPORTESVENTA','opCom')">POR OPERACION COMERCIAL</a>
        </li>
        <li>
          <a  (click)="clickOpcionMenu('REPORTESVENTA','estado')">POR ESTADO</a>
        </li>
        <li>
          <a  (click)="clickOpcionMenu('REPORTESVENTA','producto')">POR PRODUCTO</a>
        </li>
        <li>
          <a  (click)="clickOpcionMenu('REPORTESVENTA','asesor')">POR ASESOR</a>
        </li>
      </ul>
    </div>
    <div class="menuperfil noen" style="bottom: -8px;">
      <a>
        <img src="app/img/user.png" class="user">
      </a>
      <ul style="cursor: pointer; z-index: 100;">
        <li>
          <a>{{user.name}} {{user.lastName}}</a>
        </li>
        <li>
          <a>{{ user.groupPermission }}</a>
          <!--      </li>
        <li>
          <a>Cambiar contraseña</a>
        </li> -->
        <li *ngIf="(flujo=='REMOTO OUT' || flujo=='REMOTO') && showAudiosLink"><!--&& user.channel != 'CALL CENTER' && user.entity != 'OUT'-->
          <a (click)="clickOpcionMenu('BANDEJA')">Bandeja de audios</a>
          </li>
          <li class="sesion_logout">
            <a class="btn" id="cierrate" (click)="showModalCloseSessionDialog()">
              <!--<img src="app/images/sign-out.png" width="20px" alt="">-->
              CERRAR SESIÓN
            </a>
          </li>
      </ul>
    </div>
  </div>
  <div class="both noen"></div>
  <!-- end menu -->
</nav>
<!-- end nav -->
<div class="row" id="progress_bar_main">

  <div class="progress progres">
    <div id="porcentaje" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
      <p id="parrafo"></p>
    </div>
  </div>
</div>
<br>
<div *ngIf="showGoBackLink" class="patras">
  <a id="pagina_anterior" (click)="backClicked()">Página anterior</a>
</div>
<main id="data" [className]="!granted ?'hidden':''">
  <router-outlet  (activate)="validaracceso()"></router-outlet>
</main>
<main *ngIf="!granted">
  <div class="row">
    <div class="m6 offset-s3 cnt_forcnt prela bo2" style="text-align: center">
      ACCESO DENEGADO
    </div>
  </div>
</main>

<!-- -->
<div *ngIf="showModalCancelSale">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Cancelar Venta</h4>
          <br>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="alert alert-info">Debe seleccionar un motivo por el cual cancelará la venta.</div>

            <select id="reason" class="form-control padding_1" (ngModelChange)="sendReason($event)" [(ngModel)]="selectedOption">
              <option [ngValue]="{'id':0,'value':null}" value=0>Seleccione</option>
              <option *ngFor="let reasons of cancelList" [ngValue]="reasons"> {{reasons.value}} </option>
            </select>
            <hr>
            <br>
            <div class="text-center">
              <label class="head-text none" for="anotherReason" id="motivo">¿Cuál es el motivo?</label>
              <input name="anotherReason" id="anotherReason_input " id="motivo_2" type="text" class="form-control full mt-1 border_input none"
                [(ngModel)]="anotherReasonText" style="width: 95%" maxlength="100">
              <div class="alert alert-danger incompleto" id="incompleto_alert">
                <strong>No te olvides el motivo para la cancelación.</strong>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="modal-footer text-center">
          <button type="button" id="aceptar" class="btn-secondary" (click)="ok()">Aceptar</button>
          <button type="button" id="cancelarVenta" class="btn-primary" (click)="cancelCancelacionVenta()">Cancelar</button>

          <a class="popup-close" (click)="cancelCancelacionVenta()">x</a>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>


<div *ngIf="showModalCloseSession">
  <div class="modal" id="cancel" tabindex="-1" role="dialog" aria-labelledby="cancel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Cerrar Sesión</h4>
          <br>
        </div>
        <div class="modal-body">
          <div class="form-group text-center">
            <div class="alert alert-info">Estas a punto salir, perderás todos tus cambios.</div>
            <br>
          </div>
        </div>
        <br>
        <br>
        <div class="modal-footer text-center">
          <button type="button" id="aceptar" data-popup-close-logout="popup-2" class="btn-secondary" (click)="onClickLogout()">Aceptar</button>
          <button type="button" id class="btn-primary" (click)="cancelModalCloseSessionDialog()">Cancelar</button>

          <a class="popup-close" (click)="cancelModalCloseSessionDialog()">x</a>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>



<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; Derechos reservados 2018</p>
    <!-- <button (click)="start()">Mock Upload Start</button>
      <button (click)="progress()">Mock Upload Progress</button>
      <button (click)="finish()">Mock Upload Finished</button> -->
  </div>

  <!-- Trigger/Open The Modal -->




</footer>
<div class="popup" id="pop_close_session" data-popup="popup-2">
  <div class="popup-inner">
    <div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="cancel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Cerrar Sesión</h4>
            <br>
          </div>
          <div class="modal-body">
            <div class="form-group text-center">
              <div class="alert alert-info">Estas a punto salir, perderás todos tus cambios.</div>
              <br>
            </div>
          </div>
          <br>
          <br>
          <div class="modal-footer text-center">
            <button type="button" id="aceptar" data-popup-close-logout="popup-2" class="btn-secondary" (click)="onClickLogout()">Aceptar</button>
            <button type="button" data-popup-close-logout="popup-2" id class="btn-primary" data-dismiss="modal">Cancelar</button>

            <a class="popup-close" data-popup-close-logout="popup-2">x</a>
          </div>
        </div>
      </div>
    </div>
  </div>
