<div class="seccion">
  <div class="cnt_geneeral">
    <div class="title_pagina">
        <p>Cierre de Venta</p>
        <div class="both"></div>
    </div>

    <div class="cnt_forcnt">
      <div class="dileAlCliente">
        Dile al cliente lo siguiente:
      </div>
      <div class="TitAsk">
        <h2 style="font-size:25px;font-weight: normal;color: #00a9e0;margin-bottom:0%">Estimado cliente, hemos finalizado el proceso exitosamente.</h2>
        <h2 *ngIf="this.order.condicionPackVerde" style="font-size:25px;font-weight: normal;color: #00a9e0;margin-bottom:0%">Llegar&aacute; un resumen del contrato a su correo electr&oacute;nico</h2>
        <h2 style="font-size:25px;font-weight: normal;color: #00a9e0;margin-bottom:0%">Muchas gracias por confiar en Movistar. Que tenga un buen d&iacute;a.</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="dileAlCliente" *ngIf="order.user.typeFlujoTipificacion !='PRESENCIAL'">
          Este es el código de venta que procederás a guardar.:
        </div> 

        <h2 *ngIf="mostrarIDventa && order.user.typeFlujoTipificacion !='PRESENCIAL'"  style="font-size:25px;display: inline-block;color: #00a9e0;">C&oacute;digo de Venta Interno: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{order.id}}</h2>
        <h2 *ngIf="order.estadoEnvioHDEC =='ENVIANDO'"  style="font-size:25px;display: inline-block;color: #00a9e0;">
        
        </h2>

          <a class="boton_greentdp" [routerLink]="['/principalout']" style="margin-top: 0px;display: inline-block;margin-left:  6em;" >FINALIZAR VENTA</a>
      
</div> 
     

   
  </div>
  </div>
</div>
