<header>
  <nav>
    <div class="container grey lighten-2">
      <div class="nav-wrapper">
        <a [routerLink]="['/welcome']" class="brand-logo"><img src="image/logo.png"></a>
        <a *ngIf="currentUser.username" href="#" data-activates="mobile" class="button-collapse" materialize="sideNav"
          [materializeParams]="[{menuWidth: 300,edge: 'left', closeOnClick: true, draggable: true}]"><i class="material-icons">menu</i></a>
        <ul *ngIf="currentUser.username" class="right hide-on-med-and-down">
          <li><a [routerLink]="['/welcome']">Inicio</a></li>
          <li><a [routerLink]="['/reports']" *ngIf="grantedAccess.AdminReporte">Reportes</a></li>
          <li><a [routerLink]="['/administration']" *ngIf="grantedAccess.AdminMenu">Administración</a></li>
          <li> {{ currentUser ? currentUser.name : '' }} <button class="btn-logout waves-effect green darken-1" (click)="logout()">Salir</button></li>
        </ul>
        <ul *ngIf="currentUser.username" class="side-nav" id="mobile">
          <li><a [routerLink]="['/welcome']">Inicio</a></li>
          <li><a [routerLink]="['/reports']" *ngIf="grantedAccess.AdminReporte">Reportes</a></li>
          <li><a [routerLink]="['/administration']" *ngIf="grantedAccess.AdminMenu">Administración</a></li>
          <li><button class="btn-logout waves-effect green darken-1 mobile-logout" (click)="logout()">Salir</button></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <router-outlet>
    <div class="section"></div>
  </router-outlet>
</main>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <div style="float: left;">&copy; Telefónica S.A.</div>
      <div style="float: right;">0.9.14</div>
    </div>
    <input type="hidden" value="201809281045" data-descripcion="CodeVersion" data-author="Jhair" />
  </div>
</footer>