<div class="container">
    <div class="card-panel">
        <div class="row">
            <div class="col s5">
                <a class="btn-floating btn-large waves-effect waves-light red" (click)="return()">
                    <i class="material-icons">view_list</i>
                </a>
            </div>
        </div>
        <div class="row" style="margin-left:2%;">
            <div *ngIf="ocultar" class="col s8 m8 offset-m2 offset-s2">
                <div class="card red">
                    <div class="card-content red-text" style="background-color: #dff0d8;">
                        <strong>
                            <p style="color: #3c763d;">{{ txtResponse }}</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left:3%;margin-bottom:5%">
            <div class="col s6 m6 l6 offset-s3 offset-m3 offset-l3">
                <h4>Administrador de Documentos</h4>
            </div>
        </div>
        <div class="row">
            <table class="highlight">
                <thead class="col s8 m8 l8 offset-s2 offset-m2 offset-l2">
                    <tr class="col s12 m12 l12 ">
                        <th class="col s4 m4 l4 center-align"></th>
                        <th class="col s4 m4 l4 center-align">WEB</th>
                        <th class="col s4 m4 l4 center-align">APP</th>
                    </tr>
                </thead>
                <tbody class="col s8 m8 l8 offset-s2 offset-m2 offset-l2">
                    <tr class="col s12 m12 l12 ">
                        <td class="col s4 m4 l4 center-align">
                            <p class="left-align">DNI:
                            </p>
                        </td>
                        <td class="col s4 m4 l4 center-align">
                            <p>
                                <input id="dniWeb" type="checkbox" [(ngModel)]="dniWebStatus" [checked]="dniWebStatus" [disabled]="isDisabledDniWebStatus"
                                />
                                <label for="dniWeb"></label>
                            </p>
                        </td>
                        <td class="col s4 m4 l4 center-align">
                            <p>
                                <input id="dniApp" type="checkbox" [(ngModel)]="dniAppStatus" [checked]="dniWAppStatus" [disabled]="isDisabledDniAppStatus"
                                />
                                <label for="dniApp"></label>
                            </p>
                        </td>
                    </tr>
                    <tr class="col s12 m12 l12">
                        <td class="col s4 m4 l4">
                            <p class="left-align">CEX:
                            </p>
                        </td>
                        <td class="col s4 m4 l4 center-align">
                            <p>
                                <input id="cexWeb" type="checkbox" [(ngModel)]="cexWebStatus" [checked]="cexWebStatus" [disabled]="isDisabledCexWebStatus"
                                />
                                <label for="cexWeb"></label>
                            </p>
                        </td>
                        <td class="col s4 m4 l4 center-align">
                            <p>
                                <input id="cexApp" type="checkbox" [(ngModel)]="cexAppStatus" [checked]="cexAppStatus" [disabled]="isDisabledCexAppStatus"
                                />
                                <label for="cexApp"></label>
                            </p>
                        </td>
                    </tr>
                    <tr class="col s12 m12 l12">
                        <td class="col s4 m4 l4">
                            <p class="left-align">PAS:
                            </p>
                        </td>
                        <td class="col s4 m4 l4 center-align">
                            <p>
                                <input id="pasWeb" type="checkbox" [(ngModel)]="pasWebStatus" [checked]="pasWebStatus" [disabled]="isDisabledPasWebStatus"
                                />
                                <label for="pasWeb"></label>
                            </p>
                        </td>
                        <td class="col s4 m4 l4 center-align">
                            <p>
                                <input id="pasApp" type="checkbox" [(ngModel)]="pasAppStatus" [checked]="pasAppStatus" [disabled]="isDisabledPasAppStatus"
                                />
                                <label for="pasApp"></label>
                            </p>
                        </td>
                    </tr>
                    <tr class="col s12 m12 l12">
                        <td class="col s4 m4 l4">
                        <p class="left-align">Otros Extranjeros - Aut. SNM:
                        </p>
                    </td>
                    <td class="col s4 m4 l4 center-align">
                        <p>
                            <input id="otrosWeb" type="checkbox" [(ngModel)]="otrosCEWebStatus" [checked]="otrosCEWebStatus" [disabled]="isDisabledOtrosCEWebStatus"
                            />
                            <label for="otrosWeb"></label>
                        </p>
                    </td>
                    <td class="col s4 m4 l4 center-align">
                        <p>
                            <input id="otrosApp" type="checkbox" [(ngModel)]="otrosCEAppStatus" [checked]="otrosCEAppStatus" [disabled]="isDisabledOtrosCEAppStatus"
                            />
                            <label for="otrosApp"></label>
                        </p>
                    </td>
                </tr>
                <tr class="col s12 m12 l12">
                    <td class="col s4 m4 l4">
                            <p class="left-align">RUC:
                            </p>
                        </td>
                        <td class="col s4 m4 l4 center-align">
                            <p>
                                <input id="rucWeb" type="checkbox" [(ngModel)]="rucWebStatus" [checked]="rucWebStatus" [disabled]="isDisabledRucWebStatus"
                                />
                                <label for="rucWeb"></label>
                            </p>
                        </td>
                        <td class="col s4 m4 l4 center-align">
                            <p>
                                <input id="rucApp" type="checkbox" [(ngModel)]="rucAppStatus" [checked]="rucAppStatus" [disabled]="isDisabledRucAppStatus"
                                />
                                <label for="rucApp"></label>
                            </p>
                        </td>
                    </tr>
                    <tr class="col s12 m12 l12">
                        <td class="col s4 m4 l4 center-align">
                        </td>
                        <td class="col s4 m4 l4 center-align"></td>
                        <td class="col s4 m4 l4 right-align">
                            <div>
                                <button class="btn waves-effect waves-light" (click)="setParams()">GUARDAR</button>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>