<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 content-reniec"  align="center">
		LUGAR DE INSTALACI&Oacute;N DEL CLIENTE
	</div>
	
	<div class="col-sm-12 text-center" *ngIf="loadError" style="padding-bottom: 30px;">
			<h1>Hola!</h1>
			<p>{{mensaje_error}}</p>
			<button class="btn btn-sm btn-default" (click)="evaluar()">Consultar nuevamente</button>
	</div>
	
	<div class="row col-sm-8 col-sm-offset-2">

		<form name="scoringForm" (ngSubmit)="evaluar()">
		
			<div class="col-sm-6 label-reniec">
				DEPARTAMENTO
			</div>
			<div class="col-sm-6 campo-reniec">
				<select id="department" class="form-control" name="department" (change)="selDepart();" required >
					<option value="" disabled selected>Elige un departamento</option>
					<option *ngFor="let kdpt of keyDeparts" [selected]="kdpt === departSeleccionado" [attr.value]="kdpt">{{objDepart[kdpt].name}}</option>
				</select>
			</div>
			
			<div class="col-sm-6 label-reniec">
				CIUDAD
			</div>
			<div class="col-sm-6 campo-reniec">
				<select class="form-control" name="city" id="city" (change)="selCity();" required >
				<option value="" disabled selected>Elige una ciudad</option>
				<option *ngFor="let prov of showProvs;" [selected]="prov.sku === proviSeleccionado" value="{{prov.sku}}">{{prov.name}}</option>
				</select>
			</div>
			
			<div class="col-sm-6 label-reniec">
				DISTRITO
			</div>
			<div class="col-sm-6 campo-reniec">
				<select class="form-control" name="district" id="district" (change)="selDistrict();" required >
					<option value="" disabled selected>Elige un distrito</option>
					<option *ngFor="let distrito of showDists;" [selected]="distrito.sku === districSeleccionado"  value="{{distrito.sku}}">{{distrito.name}}</option>
				</select>
			</div>
			
			<div class="row col-sm-4 col-sm-offset-4 campo-reniec">
				<button class="btn btn-lg btn-sm btn-md btn-primary visible-lg visible-md visible-sm visible-xs  boton_search" type="submit" data-toggle="modal"><b>EVALUAR</b></button>
			</div>
			
			<!-- Modal -->
			<div class="modal fade" id="myModalReniec" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Validaci&oacute;n con RENIEC.</h4>
						</div>
						<div class="modal-body">
							<h5>{{mensajeValidacion}}</h5>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" (click)="ok()">Aceptar</button>
						</div>

					</div>
				</div>
			</div>
			<!-- Modal Mensaje -->
			<div class="modal fade" id="modalHome" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
<!-- 							<button type="button" class="close" data-dismiss="modal">&times;</button> -->
							<h4 class="modal-title">Venta Cancelada</h4>
						</div>
						<div class="modal-body">
							<h5>Venta caida por exceso de intentos validos.</h5>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								(click)="cancelSale()">Aceptar</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Sprint 4 - Modal Datos Cliente incompletos -->
			<div class="modal fade" id="modalCliente" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Datos del Cliente</h4>
						</div>
						<div class="modal-body">
							<h5>Por favor complete los datos del cliente (Son obligatorios: {{mensajeValidacionDatosCliente}}) y luego presione el bot&oacute;n Guardar.</h5>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" (click)="cerrarDialogo('modalCliente')">Aceptar</button>
						</div>

					</div>
				</div>
			</div>
			
			<div *ngIf="respuestaScoring" align="center" class="row col-sm-8 col-sm-offset-2 campo-reniec" >
				<table class="table table-hover table-sva" *ngIf="scoringDataModel.responseData.result[0].length != 0" style="margin-top: 20px;">
					
					<ng-container *ngFor="let objScoring of scoringDataModel.responseData.result[0].detalle">
					<tr>
						<td>{{objScoring.desProd}}</td>
						<td>
							<label *ngIf="objScoring.pagoAdelantado <= 0">FINANCIADO</label>
							<label *ngIf="objScoring.pagoAdelantado > 0">{{objScoring.pagoAdelantado}}</label>
						</td>
					</tr>
					</ng-container>
				</table>
			</div>
			
			<div *ngIf="respuestaScoring" class="row col-sm-4 col-sm-offset-4 campo-reniec">
				<button class="btn btn-lg btn-sm btn-md btn-primary visible-lg visible-md visible-sm visible-xs  boton_search" data-toggle="modal" (click)="iniciarVenta()"
					type="button"><b>INICIAR VENTA</b></button>
			</div>
			
			
		</form>
	</div>
	
	
</div>