<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>

<div class="seccion">
	<div class="cnt_geneeral">
		<div class="title_pagina">
			<p>Datos del Cliente</p>
			<div class="both"></div>
		</div>
		
		<div class="cnt_forcnt">
			<div class="dileAlCliente">
				Dile al cliente lo siguiente:
			</div>
			<div class="TitAsk" [innerHTML]="mjsDatosCliente">
			</div>
			
			<form class="formDocSelect" #formDocSelect="ngForm" name="formDocSelect" novalidate>
			<div class="tablaDat mgt50">
			
				<table cellspacing="0" cellpadding="0" width="100%">
					<tbody>
						<tr>
							<td>NOMBRES: </td>
							<td class="bold">
								<input onkeyup="this.value=this.value.replace( /[0-9\d\-_.,#$!%&/()?¡¿'°¬|=]/g,'')" class="effect-16" id="nombres" type="text"
										placeholder [(ngModel)]="nombres" style="width: 100%" name="nombres" required>
							</td>
						</tr>
						<tr>
							<td>APELLIDO PATERNO: </td>
							<td class="bold">
								<input onkeyup="this.value=this.value.replace( /[0-9\d\-_.,#$!%&/()?¡¿'°¬|=]/g,'')" class="effect-16" id="apellidoPaterno" type="text" placeholder [(ngModel)]="apellidoPaterno" style="width: 100%" name="apellidoPaterno" required>
							</td>
						</tr>
						<tr>
							<td>APELLIDO MATERNO: </td>
							<td class="bold">
								<input onkeyup="this.value=this.value.replace( /[0-9\d\-_.,#$!%&/()?¡¿'°¬|=]/g,'')" class="effect-16" id="apellidoMaterno" type="text" placeholder [(ngModel)]="apellidoMaterno" style="width: 100%" name="apellidoMaterno" required>
							</td>
						</tr>
						<tr>
							<td>FECHA NACIMIENTO: </td>
							<td class="bold">
								<div class="input-effect">
									<!-- pendiente que esta fecha maxima sea dinamica -->
									<input type="date" style="width: 100%" class="effect-16" [(ngModel)]="fechaNacimiento" name="bday" id="bday" required
										max='2018-12-31' [(ngModel)]="birthDate" [readonly]="isTrue">
								</div>
							</td>
						</tr>
						<tr>
							<td>NACIONALIDAD: </td>
							<td class="bold">
														
								<div class="select">
									<select id="nacionalidad" name="nacionalidad" [(ngModel)]="nacionalidad" required>
										<option value="" disabled selected></option>
										<option *ngFor="let objPais of paises" [attr.value]="objPais.alpha2Code" [selected]="objPais.alpha2Code === nacionalidad">{{objPais.translations["es"]}}</option>
									</select>
								</div>
								
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			
				
				<div class="texto_center" *ngIf="formDocSelect.valid" >
					<a class="boton_greentdp" (click)="capturarDatosCliente()">SIGUIENTE</a><br><br>
				</div>
				
				<div class="texto_center" *ngIf="!formDocSelect.valid">
					<a class="boton_graytdp">SIGUIENTE</a><br><br>
				</div>
			
			</form>
			
		</div>
	</div>
</div>