<div class="container">
    <div class="card-panel">
        <div class="row">
            <div class="col s5">
                <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/administration']">
                    <i class="material-icons">view_list</i>
                </a>
            </div>
        </div>
        <div class="row">
            <label class="col s4 offset-s3"> Días para reiniciar contraseña</label>
            <input class="col s1" (keydown)="validate($event)" style="height: 30px;" value="{{ days_reset_pwd.strvalue }}" [(ngModel)]="days_reset_pwd.strvalue"
                maxlength="3">
        </div>
        <div class="row">
            <label class="col s4 offset-s3"> Cantidad de reintentos fallidos antes de bloquear cuenta:</label>
            <input style="height: 30px;" (keydown)="validate($event)" class="col s1" value="{{ amount_ret.strvalue }}" [(ngModel)]="amount_ret.strvalue"
                maxlength="3">
        </div>
        <div class="row">
            <label class="col s4 offset-s3">Minutos para desbloqueo automático de cuenta:</label>
            <input style="height: 30px;" (keydown)="validate($event)" class="col s1" value="{{ min_account_lock.strvalue }}" [(ngModel)]=" min_account_lock.strvalue "
                maxlength="3">
        </div>
        <div class="row">
            <label class="col s4 offset-s3">Minutos para expirar la sesión:</label>
            <input style="height: 30px;" (keydown)="validate($event)" class="col s1" value="{{ min_expired_session.strvalue }}" [(ngModel)]="min_expired_session.strvalue"
                maxlength="3">
        </div>
        <div class="row">
            <label class="col s4 offset-s3">Hora de inicio de ventas (HH:mm):</label>
            <input style="height: 30px;" (keydown)="validateHour($event)" class="col s1" value="{{ sale_hour_start.strvalue }}" [(ngModel)]=" sale_hour_start.strvalue "
                maxlength="5">
        </div>
        <div class="row">
            <label class="col s4 offset-s3">Hora de fin de ventas (HH:mm):</label>
            <input style="height: 30px;" (keydown)="validateHour($event)" class="col s1" value="{{ sale_hour_end.strvalue }}" [(ngModel)]="sale_hour_end.strvalue"
                maxlength="5">
        </div>
        <div class="row">
            <label class="col s4 offset-s3">Monto Maximo Deuda (Alta):</label>
            <input style="height: 30px;" (keydown)="validate($event)" class="col s1" value="{{ deudaMaxAlta.strvalue }}" [(ngModel)]="deudaMaxAlta.strvalue"
                maxlength="10">
        </div>
        <div class="row">
            <label class="col s4 offset-s3">Monto Maximo Deuda (Parque):</label>
            <input style="height: 30px;" (keydown)="validate($event)" class="col s1" value="{{ deudaMaxParque.strvalue }}" [(ngModel)]="deudaMaxParque.strvalue"
                maxlength="10">
        </div>
        <div class="row">
            <label class="col s4 offset-s3">Deuda Activacion:</label>
            <input style="height: 30px;" class="col s1" value="{{ onOffdeuda.strvalue }}" [(ngModel)]="onOffdeuda.strvalue"
                maxlength="5">
        </div>
        <div class="row">
            <label class="col s4 offset-s3">Horas Tope Carga de Audio(HHHH:mm):</label>
            <input type="number" style="height: 30px;width: 80px;" class="col s1" value="{{ horaTope_h }}" [(ngModel)]="horaTope_h" maxlength="4">
            <span style="float:left;">:</span>
            <input type="number" style="height: 30px;width: 60px;" class="col s1" value="{{ horaTope_m }}" [(ngModel)]="horaTope_m" maxlength="2">
        </div>
        <div class="row">
            <div class="col s4 offset-s1"></div>
            <div class="col s2 offset-s2">
                <button class="btn waves-effect waves-light" (click)="setParams()">GUARDAR</button>
            </div>
        </div>

        <div *ngIf="days_reset_pwd_error" class="row">
            <div class="col s8 m8 offset-m2 offset-s2">
                <div class="card red">
                    <div class="card-content red-text" style="background-color: #f2dede;">
                        <strong>
                            <p style="color: #a94442;">Días para reiniciar contraseña no puede estar vacío ni ser 0</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="min_expired_session_error" class="row">
            <div class="col s8 m8 offset-m2 offset-s2">
                <div class="card red">
                    <div class="card-content red-text" style="background-color: #f2dede;">
                        <strong>
                            <p style="color: #a94442;">Minutos para expirar la sesión no puede estar vacío ni ser 0</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="min_account_lock_error" class="row">
            <div class="col s8 m8 offset-m2 offset-s2">
                <div class="card red">
                    <div class="card-content red-text" style="background-color: #f2dede;">
                        <strong>
                            <p style="color: #a94442;">Minutos para desbloqueo automático de cuenta no puede estar vacío
                                ni ser 0</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="amount_ret_error" class="row">
            <div class="col s8 m8 offset-m2 offset-s2">
                <div class="card red">
                    <div class="card-content red-text" style="background-color: #f2dede;">
                        <strong>
                            <p style="color: #a94442;">Cantidad de reintentos fallidos antes de bloquear cuenta no puede
                                estar vacío ni ser 0</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="hour_error" class="row">
            <div class="col s8 m8 offset-m2 offset-s2">
                <div class="card red">
                    <div class="card-content red-text" style="background-color: #f2dede;">
                        <strong>
                            <p style="color: #a94442;">{{hour_error}}</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="ocultar" class="row" style="margin-left:2%;">
            <div class="col s8 m8 offset-m2 offset-s2">
                <div class="card red">
                    <div class="card-content red-text" style="    background-color: #dff0d8;">
                        <strong>
                            <p style="color: #3c763d;">{{ txtResponse }}</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>