<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>

<div class="seccion">
	<div class="cnt_geneeral">
		<div class="cnt_forcnt audios">
			<h3>Filtrar Audios</h3>		
								
		<form (ngSubmit)="buscarVentasAudiosPendientes()">
  									
					<div class="col-5 paraselect" id="divTipoBusqueda">		 	
						<div class="select">
							<label style="position: absolute; left: 0; width: 100%; top: 0px;top: -16px; font-size: 14px; color: #3399FF; z-index: -1; letter-spacing: 0.5px; text-align: left;">Estado de Audio</label>
							<select name="estadoAudio" id="estadoAudio">						
								<option value="1">PENDIENTE</option>
								<option value="2">INGRESADO</option>			     
							</select>
							
						</div>				
					</div>
		 	
				<div class="col-5 input-effect"> 
					<input class="effect-16" type="text" (click)="deleteStyleError2()"  placeholder=""  id="codigoVendedor" ng-reflect-maxlength="9" name="codigoVendedor">
					<label>Código Vendedor</label>
					<span class="focus-border"></span>
				</div>
				<div class="col-5 input-effect">
					<input class="effect-16" type="text" placeholder="" id="dniCliente" name="dniCliente">
					<label>Ingrese dni</label>
					<span class="focus-border"></span>
				</div>
				<div class="col-5 paraselect">	
					<div class="select">
							<label style="position: absolute; left: 0; width: 100%; top: 0px;top: -16px; font-size: 14px; color: #3399FF; z-index: -1; letter-spacing: 0.5px; text-align: left;">Habilitado</label>
						<select name="restringeHoras" id="restringeHoras" (change)="buscarVentasAudiosPendientes()">
							<option value="SI">SI</option>
							<option value="NO">NO</option>
						</select>
					</div>
				</div>

				<button class="boton_greentdp " type="submit" style="border: 0; font-weight: 400;" data-toggle="modal"><b>BUSCAR</b></button>

 				
				<h3>Subir audios</h3>
				<div class="box">
					<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1"  multiple #fileInput data-multiple-caption="{count} archivos seleccionados" multiple />
					<label for="file-1" id><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span id="textInputAudio">Selecciona archivo(s)</span></label>
					<a class="boton_greentdp none" id="subirAudioVisible" (click)="subirAudio()">SUBIR</a>
					<a class="boton_greentdp" style="float: right" id="exportarExcel" (click)="buscarReporteVenta()">EXPORTAR</a>
				</div>
			<div class="row none">
				 <h4>Resultados</h4>
				 <div class="tablaDat">
				 		<table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" cellspacing="0" cellpadding="0" width="100%">
				 		<thead>
				 			<tr>
				 				<th>Nº</th><th>Archivo</th><th>Mensaje</th>
				 			</tr>
				 		</thead>
				 		<tbody>
				 			 
				 			
				 		</tbody>
				 	</table>
				 </div>
			</div>
		</form>
		<br/>
		<div class="tablaDat" id="tablaListaConData">
			<table class="table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
				[mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" cellspacing="0" cellpadding="0" width="100%">
				<thead>
					<tr>
						<th>Cód. Vendedor</th><th>Producto</th><th>Código Venta Interno</th><th>DNI o Nº. Documento</th><th>Fecha Venta</th><th>Estado Audio</th><th></th>
					</tr>
				</thead>
				<tbody id="tbodyBandeja">
					<tr  *ngFor="let item of mf.data">
						<td>{{item.codigoVendedor | uppercase}}</td>
						<td>{{item.productName}}</td>
								
						<td>{{item.orderId}}</td>
									
						<td title="{{item.orderId}}">{{item.dni}}</td> 	 
									
						<td>{{item.saleDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>

						<!-- <span id="status" class="aupendiente" > -->
						<td >{{(item.statusAudio == '1') ? 'PENDIENTE' : 'INGRESADO'}}</td>
						<!-- </span> -->
						<td>
							<button [routerLink]="['/home/venta/detail']" [queryParams]="{id:item.orderId}" type="button" class="boton_venta_detalle btn btn-default glyphicon icon-1 btn-success">Detalle
								<span class="glyphicon glyphicon-chevron-right"></span>
							</button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr><td colspan="7"> &nbsp;</td></tr>
					<tr>
						<td colspan="7">
							<div style="width: 300px; margin: auto">
									<mfBootstrapPaginator></mfBootstrapPaginator>
							</div>
						</td>
					</tr>
					<tr><td colspan="7"> &nbsp;</td></tr>
				</tfoot>
			</table>
		</div>
		<div class="">
			<div class="tablaDat" id="tablaListaAudio"> 
				<table class="table"  cellspacing="0" cellpadding="0" width="100%">
					<thead>
					<tr>
						<th>Nº</th><th>Archivo</th><th>Mensaje</th>
					</tr>
					</thead>
					<tbody>
					<tr  *ngFor="let item of mf.data">
						<td *ngIf="item.satisfactorio==false" style="color:red">{{item.numero}}</td>
						<td *ngIf="item.satisfactorio==false" style="color:red">{{item.nombreArchivo}}</td>
						<td *ngIf="item.satisfactorio==false" style="color:red">{{item.mensaje}}</td>
						<td *ngIf="item.satisfactorio==true">{{item.numero}}</td>
						<td *ngIf="item.satisfactorio==true">{{item.nombreArchivo}}</td>
						<td *ngIf="item.satisfactorio==true">{{item.mensaje}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
			<div class="tablaDat" id="tablaListaVacia">
        		<table cellspacing="0" cellpadding="0" width="100%">
        			<thead>
        				<tr>
        					<th>Cód. Vendedor</th><th>Producto</th><th>Código Venta Interno</th><th>DNI o Nº. Documento</th><th>Fecha Venta</th><th>Estado Audio</th>
        				</tr>
        			</thead>
        			<tbody>
         				
                        <tr>
                        	<td colspan="6">No existen registros</td>
                        </tr>
        			</tbody>
        		</table>
        	</div>

<!-- [ngClass]="setClasses(item)" -->
 
</div>