<style>
 #captcha, #rc-imageselect   {
                        transform: scale(0.84);
                        transform-origin: 0 0;
                       }
</style>
<div id="bg" style="background-color: #f5f5f5">
  <!--<img src="../../../resources/background.jpg" alt="">-->
</div>

<div class="loading-indicator" *ngIf="loading">
  <div class="windows8 windows-parquet">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>
<div class="seccion">
  <div class="cnt_geneeral">
    <div class="cnt_small login">
      <h3 class="txtcenter">Ingresa a la Web de ventas</h3>
      <form #formLogin="ngForm" id="signup-form" autocomplete="off">
        <div class="cnt_imput mg35 input-effect">
          <input type="text" class="effect-16" value="model.username" [(ngModel)]="model.username" name="username" required placeholder
             maxlength="20">
            <label for="codatis">Ingresa Código ATIS / Usuario</label>
          <span class="focus-border"></span>
        </div>
        <div class="cnt_imput mg35 input-effect">
          <input (keyup.enter)="doLogin()" type="text" class="effect-16" value="model.password" [(ngModel)]="model.password" id="password" name="password"
            required placeholder style="-webkit-text-security: disc">
          <label>Contrase&ntilde;a</label>
          <span class="focus-border"></span>
        </div>

        <div class="texto_center" *ngIf="!formLogin.valid">
          <a class="boton_graytdp wd240">Iniciar sesi&oacute;n</a>
          <br>
          <br>
        </div>

        <div class="texto_center" *ngIf="formLogin.valid">
          <a class="boton_greentdp wd240" (click)="doLogin()">Iniciar sesi&oacute;n</a>
          <br>
          <br>
        </div>
        <div id="captcha" class="g-recaptcha" data-callback="verifyCallback" data-sitekey="6Lf7LpoUAAAAALzj7gvWIdZPT6ysC-hugc8l6oZk">
        </div>
      </form>
      <div class="paralinks">
        <a (click)="registro()">Regístrate</a> o
        <br>
        <a [routerLink]="['/reset']">Recupera tu contrase&ntilde;a</a>
      </div>
    </div>
    <div class="alert-danger posmsglogin col-sm-3" *ngIf="error">
      {{errorMessage}}
    </div>
    <div class="alert-danger posmsglogin col-sm-3" *ngIf="errorCaptcha">Falta Validar Captcha</div>
  </div>
</div>


<!--

<div *ngIf="showModalCancelSale">
  <div class="popup-inner">
    <div class="modal" id="cancel" tabindex="-1" role="dialog" aria-labelledby="cancel" style="border: 0px solid darkblue !important; ">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title">!Aviso¡</h4>
            <br>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="alert alert-info">{{errorMessage}}</div>
              <br>
            </div>
          </div>
          <div class="modal-footer text-center">
            <button type="button" id="aceptar" class="btn-primary" (click)="ok()">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay" style="opacity: .6;" *ngIf="showModalCancelSale"></div>-->