<style type="text/css">
    /** Estilo para posionamiento responsive del toolTip politica de password (!) **/
    
    @media only screen and (min-width: 960px) {
        #apwd {
            position: absolute;
            left: 63%;
            top: 50%;
            color: #00a9e0;
        }
    }
    
    @media only screen and (min-width: 1440px) {
        #apwd {
            top: 50%;
            left: 50%;
            color: #00a9e0;
        }
    }
    
    @media only screen and (min-width: 2000px) {
        #apwd {
            top: 50%;
            left: 50%;
            color: #00a9e0;
        }
    }
</style>

<div id="bg">
    <!--<img src="../../../resources/background.jpg" alt="">-->
</div>

<div class="loading-indicator" *ngIf="loading">
    <div class="windows8 windows-parquet">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>
<div class="seccion">
    <div class="cnt_geneeral">
        <!--   <div class="patras">
      <a [routerLink]="['/login']">Pagina anterior</a>
    </div> -->
        <div class="cnt_small login" style="width: 300px;">
            <h3 class="txtcenter">Recuperar contrase&ntilde;a</h3>
            <form #formReset="ngForm" autocomplete="off">
                <div class="cnt_imput mg35 input-effect">
                    <input type="text" class="effect-16" [(ngModel)]="model.codAtis" name="codatis" id="codatis" placeholder required maxlength="20">
                    <label for="codatis">Ingresa Código ATIS / Usuario</label>
                    <span class="focus-border"></span>
                </div>

                <div class="cnt_imput mg35 input-effect">
                    <input type="text" class="effect-16" [(ngModel)]="model.pwd" name="pwd" id="pwd" placeholder required style="-webkit-text-security: disc" (mouseenter)="setPosicionTool()">
                    <label for="pwd">Ingrese su contrase&ntilde;a</label>
                    <span class="focus-border"></span>
                </div>
                <div style="margin-bottom:12%" class="alert alert-danger" *ngIf="errorPWD">La contraseña debe tener 8 a más caracteres.</div>



                <div class="cnt_imput mg35 input-effect">
                    <input type="text" class="effect-16" [(ngModel)]="model.repwd" name="repwd" id="repwd" (keyup.enter)="doReset()" placeholder required style="-webkit-text-security: disc">
                    <label id="lblrepcon" for="repwd">Repita su contrase&ntilde;a</label>
                    <span class="focus-border"></span>
                </div>
                <div style="margin-bottom:8%" class="alert alert-danger" *ngIf="errorRPWD">La contraseña debe tener 8 a más caracteres.</div>
                <div class="texto_center" *ngIf="!formReset.valid">
                    <a id="boton" class="boton_graytdp wd240" (click)="doReset()">Cambiar</a>
                    <br>
                    <br>
                </div>
                <div class="texto_center" *ngIf="formReset.valid">
                    <a id="boton" class="boton_greentdp wd240" (click)="doReset()">Cambiar</a>
                    <br>
                    <br>
                </div>
            </form>

        </div>
        <div class="alert-success posmsglogin col-sm-3" *ngIf="success">
            Cambio realizado exitosamente Ahora puedes
            <a [routerLink]="['/login']">INICIAR SESION</a>
        </div>
        <div id="divErrorReset" class="alert-danger posmsglogin col-sm-4" *ngIf="error" style="width: 280px; text-align: center; margin-top: 207px;">{{errorMessage}} </div>
        <div class="alert-danger posmsglogin col-sm-3" *ngIf="pwdError">Las contrase&ntilde;as no coinciden.</div>
    </div>
</div>




<div *ngIf="vermodal">
    <div class="modal cnt_small" style="height: 274px;width: 300px;">
        <h3 class="txtcenter" style="margin-bottom: 7px !important">Política de Contraseña</h3>
        <span style="font-size: 11px; color:grey; margin-bottom: 7px;">Su contraseña debe cumplir los siguientes criterios:</span>
        <div style="display:block; margin:7px;"></div>
        <div align="center">
            <ul style="font-size: 12px; list-style: none;">
                <li [style.color]="contNumero ? '#5bc500' : 'red' "> * Al menos un número (<img src="../img/ok-ico.png" *ngIf="contNumero" style="width: 4%; height: 4%;"><img src="../img/close.png" *ngIf="!contNumero" style="width: 4%; height: 4%;">)</li>
                <li [style.color]="contMinusc ? '#5bc500' : 'red' "> * Al menos una letra minúscula (<img src="../img/ok-ico.png" *ngIf="contMinusc" style="width: 4%; height: 4%;"><img src="../img/close.png" *ngIf="!contMinusc" style="width: 4%; height: 4%;">)</li>
                <li [style.color]="contMayusc ? '#5bc500' : 'red' "> * Al menos una letra mayúscula (<img src="../img/ok-ico.png" *ngIf="contMayusc" style="width: 4%; height: 4%;"><img src="../img/close.png" *ngIf="!contMayusc" style="width: 4%; height: 4%;">)</li>
                <li [style.color]="NocontAtis ? '#5bc500' : 'red' "> * No debe incluir el código ATIS (<img src="../img/ok-ico.png" *ngIf="NocontAtis" style="width: 4%; height: 4%;"><img src="../img/close.png" *ngIf="!NocontAtis" style="width: 4%; height: 4%;">)</li>
                <li [style.color]="contCaractEsp ? '#5bc500' : 'red' "> * Al menos un carácter especial (@#%=&) (<img src="../img/ok-ico.png" *ngIf="contCaractEsp" style="width: 4%; height: 4%;"><img src="../img/close.png" *ngIf="!contCaractEsp" style="width: 4%; height: 4%;">)</li>
                <li [style.color]="mayorigualocho ? '#5bc500' : 'red' "> * Una longitud mayor o igual a 8 (<img src="../img/ok-ico.png" *ngIf="mayorigualocho" style="width: 4%; height: 4%;"><img src="../img/close.png" *ngIf="!mayorigualocho" style="width: 4%; height: 4%;">)</li>
            </ul>
            <div style="display:block; margin:15px;"></div>
            <a class="boton_greentdp" (click)="cerraModal()">Cerrar</a>
        </div>

    </div>
    <div class="overlay"></div>
</div>


<a id="apwd" style="width: 1px; margin: 3px; " (mouseenter)="mostrarTool()" (mouseleave)="ocultarTool()">(!)</a>

<div *ngIf="verTool">
    <div class="modal cnt_small" style="width: 250px; height: 127px; padding: 5px; margin-left: 285px;">
        <span style="font-size: 11px; color:grey; margin-bottom: 7px;">La contraseña debe cumplir los siguientes criterios:</span>
        <div style="display:block; margin:15px;"></div>
        <div align="center" style="margin-top: -13px;">
            <ul style="font-size: 11px; list-style: none;">
                <li> * Al menos un número </li>
                <li> * Al menos una letra minúscula </li>
                <li> * Al menos una letra mayúscula </li>
                <li> * No debe incluir el código ATIS </li>
                <li> * Al menos un carácter especial (@#%=&) </li>
                <li> * Una longitud mayor o igual a 8 </li>
            </ul>
        </div>

    </div>
</div>