<div class="container">
	<div class="card-panel">
		<div class="col s12 m8 offset-m2 l6 offset-l3">

			<div class="row">
				<label class="col s12 center" *ngIf="showMessage">{{ responseTitle }}</label>
			</div>

			<div class="row">
				<div class="input-field col s12 l12">
					<form (ngSubmit)="onSearch()">
						<div class="input-field col l2">
							<input [(ngModel)]="model.searchLastName" type="text" name="apepaterno" placeholder="Reyes">
							<label class="active filter" for="model.searchLastName">Apellido Paterno</label>
						</div>
						<div class="input-field col l2">
							<input [(ngModel)]="model.searchMotherLastName" type="text" name="apematerno" placeholder="Torres">
							<label class="active filter" for="model.searchMotherLastName">Apellido Materno</label>
						</div>
						<div class="input-field col l2">
							<input [(ngModel)]="model.searchCodigoAtis" type="text" name="codigoAtis" placeholder="Cod Atis">
							<label class="active filter" for="model.searchCodigoAtis">Cod Atis</label>
						</div>
						<div class="input-field col l2">
							<input [(ngModel)]="model.searchDNI" type="text" name="dni2" placeholder="DNI" maxlength="8">
							<label class="active filter" for="model.searchDNI">DNI</label>
						</div>
						<div class="input-field col l2">
							<button style="margin-left:3%" class="waves-effect waves-light btn" type="submit">Buscar</button>
						</div>
						<div class="input-field col l2">
							<button style="margin-left:3%" class="waves-effect waves-light btn" (click)="exportAsXLSX()">Exportar</button>
						</div>

					</form>
				</div>
			</div>
			<div class="row" style="margin-bottom:0%;margin-top:0%; padding-left: 10px">
				<b style="font-size: 20px">   Token actual: {{token}}</b>
				<a style="float:right;margin-right:6%;margin-bottom:0%" [routerLink]="['/seguridadsocio/create']" class="btn-floating btn-large waves-effect waves-light red">
					<i class="material-icons">add</i>
				</a>
			</div>
			<div class="row valign-wrapper">
				<table class="highlight responsive-table bordered centered">
					<thead>
						<tr>
							<th>Codatis</th>
							<th>Apellido Paterno</th>
							<th>Apellido Materno</th>
							<th>DNI</th>
							<th>Nro asociado</th>
							<th>Correo asociado</th>
							<th></th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor="let salesA of agents">
							<td>{{salesA.codatis}}</td>
							<td>{{salesA.apepaterno}}</td>
							<td>{{salesA.apematerno}}</td>
							<td>{{salesA.dni}}</td>
							<td>{{ salesA.nrocelular }}</td>
							<td>{{ salesA.email }}</td>
							<td>
								<a [routerLink]="['/seguridadsocio/edit',salesA.codatis]">
									<i class="material-icons">edit</i>
								</a>

							</td>
							<td>
								<a (click)="deleteSalesAgent(salesA.dni, salesA.codatis)">
									<i class="material-icons">delete</i>
								</a>

							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row center">
				<ul class="pagination">
					<li [ngClass]="disablePrevPage()">
						<a (click)="prevPage()">
							<i class="material-icons">chevron_left</i>
						</a>
					</li>
					<li *ngFor="let n of pages" [ngClass]="{active: n == currentPage}" (click)="setPage(n)" class="waves-effect">
						<a>{{n + 1}}</a>
					</li>
					<li [ngClass]="disableNextPage()">
						<a (click)="nextPage()">
							<i class="material-icons">chevron_right</i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="loading-indicator" *ngIf="loading">
	<div class="windows8">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>