<style>
	.celda {
			height: 400px;
	}

	.switch {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 34px;
	}

	.switch input {
			display: none;
	}

	.slider_switch {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			-webkit-transition: .4s;
			transition: .4s;
	}

	.slider_switch:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
	}

	input:checked+.slider_switch {
			background-color: #43A047;
	}

	input:focus+.slider_switch {
			box-shadow: 0 0 1px #43A047;
	}

	input:checked+.slider_switch:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
	}

	/* Rounded sliders */

	.slider_switch.round {
			border-radius: 34px;
	}

	.slider_switch.round:before {
			border-radius: 50%;
	}
</style>
<div class="container">
	
	<div class="card-panel">
		<div class="col s12 m8 offset-m2 l6 offset-l3">
			<div class="input-field col s12" style="margin-bottom: 20px">
				<button (click)="returnList()" class="waves-effect waves-light btn col s12 m6 offset-m3">
					<i class="material-icons left">keyboard_arrow_left</i>
					REGRESAR
				</button>
			</div>
			<div class="row">
				<label class="col s12 center" *ngIf="showMessage">{{ responseTitle }}</label>
			</div>

			<div class="input-field col s4"  *ngIf="!showMessage">
			
				<select class="browser-default" [(ngModel)]="vendedor" name="codatis" >
						<option value="">Selecciona un vendedor</option>
						<option *ngFor="let age of agents" value="{{age.codatis}}">{{age.codatis}} - {{age.apepaterno}} {{age.apematerno}} {{age.nombre}} ({{age.dni}})</option>
				</select>
				<label class="filter active" for="dpto">Vendedor</label>
			</div>
			<div class="input-field col s6"  *ngIf="!showMessage">
				<input [(ngModel)]="nro" type="text" maxlength="9" name="nro" class="validate" required autocomplete="off" onkeyup="this.value=this.value.replace( /[a-zA-Z\-_.,#$!%&/()?¡¿'°¬|=]/g,'')" >
				<label class="filter" for="tipo">Nro Celular</label>
			</div>
				<div class="input-field col s6"  *ngIf="!showMessage">
				<input [(ngModel)]="correo" type="text" name="correo" class="validate" required autocomplete="off">
				<label class="filter" for="correo">Correo</label>
			</div>
			<div class="input-field col s12"  *ngIf="!showMessage">
				<button class="waves-effect waves-light btn" type="button" (click)="onSubmit()">Registrar</button>
			</div>
		</div>
	</div>
</div>

<div class="loading-indicator" *ngIf="loading">
	<div class="windows8">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>