<div class="container">
  <div class="col s12">
    <div class="card-panel">
      <div class="col s12">
        <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/seguridadsocio']">
          <i class="material-icons">view_list</i>
        </a>
      </div>
      <h5 class="center">Detalles del Coordinador a modificar su numero</h5>
      <div class="row">
        <button *ngIf="!ocultar" style="float: right; margin-right:5%" class="btn btn-success" (click)="update()">Actualizar</button>
      </div>
      <div class="row">
        <label class="center" *ngIf="ocultar">{{ responseTitle }}</label>
      </div>
      <div class="row">
        <label class="center" *ngIf="showError">{{ responseTitle }}</label>
      </div>
      <div class="row" *ngIf="!ocultar">
        <form>
          <div class="divider"></div>
          <table class="highlight responsive-table bordered centered">
            <thead>
              <tr>
                <th>Campo</th>
                <th>Dato</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DNI</td>
                <td>
                  <input [(ngModel)]="salesAgent.dni" (keydown)="validate($event)" type="text" name="dni" [disabled]="true">
                </td>
              </tr>
              <tr>
                <td>Usuario</td>
                <td>
                  <input [(ngModel)]="salesAgent.codatis" type="text" name="codatis" [disabled]="true">
                </td>
              </tr>
              <tr>
                <td>Apellido Paterno</td>
                <td>
                  <input [(ngModel)]="salesAgent.apepaterno" type="text"  [disabled]="true" name="apepaterno">
                </td>
              </tr>
              <tr>
                <td>Apellido Materno</td>
                <td>
                  <input [(ngModel)]="salesAgent.apematerno" type="text"  [disabled]="true" name="apematerno">
                </td>
              </tr>
              <tr>
                <td>Canal</td>
                <td>
                  <input [disabled]="true" [(ngModel)]="salesAgent.canal" type="text" name="canalatis">
                </td>
              </tr>
              <tr>
                <td>Entidad</td>
                <td>
                  <input [disabled]="true" [(ngModel)]="salesAgent.entidad" type="text" name="entidad">
                </td>
              </tr>
              <tr>
                <td>Numero</td>
                <td>
                  <input maxlength="9" onkeyup="this.value=this.value.replace( /[a-zA-Z\-_.,#$!%&/()?¡¿'°¬|=]/g,'')" [(ngModel)]="salesAgent.nrocelular" type="text" name="nrocelular">
                </td>
              </tr>
              <tr>
                <td>Correo</td>
                <td>
                  <input [(ngModel)]="salesAgent.correo" type="text" name="entidad">
                </td>
              </tr>
              <tr>
                <td>Resetear acceso</td>
                <td style="text-align: left">
                    <ui-switch [checked]="false" [(ngModel)]="imeireset" name="imeireset"></ui-switch>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="loading-indicator" *ngIf="loading">
  <div class="windows8">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>