<div class="loading-indicator" *ngIf="loading">
    <div class="windows8 windows-parquet">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>


<div class="seccion">

    <div class="cnt_geneeral">
        <div class="title_pagina">
            <p>Datos del cliente</p>
            <div class="both"></div>
        </div>
        <div class="cnt_forcnt prela">
            <div class="dileAlCliente">
                Dile al cliente lo siguiente:
            </div>
            <!--<div class="TitAsk">
                Buen día, hablo con el Sr./Srta .........[Nombre del cliente]. ¿Cómo esta?
                <br>
                Lo saluda .......[nombre del asesor] de Movistar.
                <br>
                Tenemos una oferta para compartir con ud.¿tiene unos minutos para regalarme?
            </div>-->
            <div class="TitAsk">
                Buenos días/tardes, lo/la saluda <i>{{order.user.name}} {{order.user.lastName}}</i> de <b>Movistar Hogar</b>,
                <br>lo/la estamos llamando porque quisiéramos comentarle los beneficios que Movistar tiene para usted.
                <br>Me permite continuar para explicarle de qué se trata? Sólo será unos minutos!
            </div>
            <div style="color: #BDBEBE;padding-left: 30px;padding-top: 30px;">
                Ingrese el número de teléfono de servicio CMS.
            </div>

            <div class="col-5">

            </div>

            <div class="col-5 input-effect">
                <input class="effect-16 has-content" type="text" placeholder="" [(ngModel)]="inputnumberTlfCms">
                <label>Ingrese núm. de telf. o Código CMS</label>
                <span class="focus-border"></span>
            </div>

            <a class="boton_greentdp" (click)='migrarOut()'>EVALUAR</a>

            <div class="col-5">

            </div>
        </div>
    </div>


</div>