<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>


<div class="seccion">
	<div class="cnt_geneeral">
		<div class="title_pagina">
			<p>Parque del Cliente</p>
			<div class="both"></div>
		</div>
		<div class="cnt_forcnt">
			<div class="dileAlCliente">
				Dile al cliente lo siguiente:
			</div>
			<div class="TitAsk">
				Estimado cliente,<br/> Al evaluar su documento de identidad encontramos que ud. cuenta con los siguientes productos contratados.
				<!--<br> Cual de los siguientes productos es de su interes?-->
			</div>
			<div class="sepPest">
				<ul class="tabs">
					<li class="active">
						<a id="a5" class="tab5">LÍNEAS Y B/A</a>
					</li>
					<li>
						<a id="a6" class="tab6">TELEVISIÓN</a>
					</li>
				</ul>
				<div class="tab_container">
					<div id="tab5" class="tab_content" style="display: block !important;">
						<div class="tablaDat">
							<table cellspacing="0" cellpadding="0" width="100%">
								<thead>
									<tr>
										<th>TELÉFONO</th>
										<th>PRODUCTO</th>
										<th>DISTRITO</th>
										<th></th>
										<th>SELECCIONAR</th>
									</tr>
								</thead>
								<tbody>
									<ng-container *ngIf="flagAtisView">
										<ng-container *ngFor="let prod of migraAtis; let ind = index;">
											<tr class="clickable">
												<td>{{prod.phone}}</td>
												<td>{{prod.productDescription}}</td>
												<td>{{prod.address}} - {{prod.district}}</td>
												<td>
													<a class="boton_greentdp_parque" (click)="getModal(ind)">VER DETALLE</a>
												</td>
												<td>
													<div class="squaredTwo">
														<input type="checkbox" value="None" id="{{ ind }}" name="check" (change)="selectionChange($event.srcElement, ind, prod.parkType)">
														<label for="{{ ind }}"></label>
													</div>
												</td>
											</tr>
											<div *ngIf="showModalPark[ind]">
												<div class="modal" style="width: 75%">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-body">
																<div class="columna2">
																	<div *ngIf="prod.productDescription">
																		<span>Producto</span>
																		<ul>
																			<li>{{prod.productDescription}}</li>
																		</ul>
																		<br/>
																	</div>
																	<div *ngIf="prod.phone">
																		<span>Teléfono</span>
																		<ul>
																			<li>{{prod.phone}}</li>
																		</ul>
																	</div>
																</div>
																<div class="columna2">
																	<div *ngIf="prod.rentaTotal">
																		<span>Precio Regular</span>
																		<ul>
																			<li>s/. {{prod.rentaTotal}}</li>
																		</ul>
																		<br/>
																	</div>
																	<div *ngIf="prod.status && prod.status!='SIN VALOR'">
																		<span>Estado de Servicio</span>
																		<ul>
																			<li>{{prod.status}}</li>
																		</ul>
																	</div>
																	<div *ngIf="prod.numDecos && prod.status=='SIN VALOR'">
																		<span>Cant. Punto Adicional</span>
																		<ul>
																			<li>{{prod.numDecos}}</li>
																		</ul>
																		<br/>
																	</div>
																</div>
																<div class="columna2">
																	<div *ngIf="prod.numDecos && prod.status && prod.status!='SIN VALOR'">
																		<span>Cant. Punto Adicional</span>
																		<ul>
																			<li>{{prod.numDecos}}</li>
																		</ul>
																		<br/>
																	</div>
																	<div *ngIf="prod.address">
																		<span>Dirección</span>
																		<ul>
																			<li>{{prod.address}}</li>
																		</ul>
																	</div>
																</div>
															</div>
															<br>
															<br>
															<div class="modal-footer text-center">
																<a class="popup-close" (click)="cancelCancelacionVenta(ind)">x</a>
															</div>
														</div>
													</div>
												</div>
												<div class="overlay"></div>
											</div>
										</ng-container>
									</ng-container>
									<tr class="clickable" *ngIf="!flagAtisView">
										<td colspan="5">SIN RESULTADO</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="tab6" class="tab_content ">
						<div class="tablaDat">
							<table cellspacing="0" cellpadding="0" width="100%">
								<thead>
									<tr>
										<th>COD. SERVICIO</th>
										<th>PRODUCTO</th>
										<th>DISTRITO</th>
										<th></th>
										<th>SELECCIONAR</th>
									</tr>
								</thead>
								<tbody>
									<ng-container *ngIf="flagCmsView">
										<ng-container *ngFor="let prod of migraCms; let ind = index;">
											<tr class="clickable">
												<td>{{ prod.serviceCode }}</td>
												<td>{{prod.productDescription}}</td>
												<td>{{prod.address}} - {{prod.district}}</td>
												<td>
													<a class="boton_greentdp_parque" (click)="getModal(ind)">VER DETALLE</a>
												</td>
												<td>
													<div class="squaredTwo">
														<input type="checkbox" class="classCheckBox" value="None" id="{{ ind }}" name="check" (change)="selectionChange($event.srcElement, ind, prod.parkType)">
														<label for="{{ ind }}"></label>
													</div>
												</td>
											</tr>
											<div *ngIf="showModalPark[ind]">
												<div class="modal" style="width: 75%">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-body">
																<div class="columna2">
																	<div *ngIf="prod.productDescription">
																		<span>Producto</span>
																		<ul>
																			<li>{{prod.productDescription}}</li>
																		</ul>
																		<br/>
																	</div>
																	<div *ngIf="prod.phone">
																		<span>Teléfono</span>
																		<ul>
																			<li>{{prod.phone}}</li>
																		</ul>
																	</div>
																</div>
																<div class="columna2">
																	<div *ngIf="prod.rentaTotal">
																		<span>Precio Regular</span>
																		<ul>
																			<li>s/. {{prod.rentaTotal}}</li>
																		</ul>
																		<br/>
																	</div>
																	<div *ngIf="prod.status && prod.status!='SIN VALOR'">
																		<span>Estado de Servicio</span>
																		<ul>
																			<li>{{prod.status}}</li>
																		</ul>
																	</div>
																	<div *ngIf="prod.numDecos && prod.status=='SIN VALOR'">
																		<span>Cant. Punto Adicional</span>
																		<ul>
																			<li>{{prod.numDecos}}</li>
																		</ul>
																		<br/>
																	</div>
																</div>
																<div class="columna2">
																	<div *ngIf="prod.numDecos && prod.status && prod.status!='SIN VALOR'">
																		<span>Cant. Punto Adicional</span>
																		<ul>
																			<li>{{prod.numDecos}}</li>
																		</ul>
																		<br/>
																	</div>
																	<div *ngIf="prod.address">
																		<span>Dirección</span>
																		<ul>
																			<li>{{prod.address}}</li>
																		</ul>
																	</div>
																</div>
															</div>
															<br>
															<br>
															<div class="modal-footer text-center">
																<a class="popup-close" (click)="cancelCancelacionVenta(ind)">x</a>
															</div>
														</div>
													</div>
												</div>
												<div class="overlay"></div>
											</div>
										</ng-container>
									</ng-container>
									<tr class="clickable" *ngIf="!flagCmsView">
										<td colspan="5">SIN RESULTADO</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>


				</div>
			</div>
			<div class="texto_center">
				<a (click)="sendMigra()" *ngIf="order.type == 'M'" class="boton_greentdp">MIGRAR</a>
				<a (click)="sendSVA()" *ngIf="order.type == 'S'" class="boton_greentdp">SVA</a>
			</div>
		</div>
	</div>
</div>