<div class="loading-indicator" *ngIf="loading">
  <div class="windows8 windows-parquet">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>

<div class="titulo-wrapper" *ngIf="isTrack">
  <div class="titulo">
    <div class="container2">
      <div class="buscador">
        <input (keyup.enter)="searchUser()" [(ngModel)]="strSearchVenta" type="text"
          placeholder="Busca por Nombre o DNI" class="campo-busca">
        <input (click)="searchUser()" type="submit" value="&nbsp;" class="lupa">
      </div>
      <h1>Revisa tus ventas</h1>
      <h2>{{track.mes}}</h2>
      <p>Total de clientes asignados: {{track.clientesTotales}}</p>
    </div>
  </div>
</div>

<div class="reporte-wrapper" style="margin-bottom: 80px"  *ngIf="isTrack">
  <div class="reporte">
    <div class="container2">
      <div class="cnt_forcnt2 bloque">
        <div class="head_er">
          <label id="offline" for="slide-6-trigger" class="state_track bola-negra">
              <span>{{count6}}</span>
              <span>{{strName6}}</span>
          </label>
          <label id="solicitado" for="slide-1-trigger" class="state_track bola-lila active">
            <span>{{count1}}</span>
            <span>{{strName1}}</span>
          </label>
          <label id="ingresado" for="slide-2-trigger" class="state_track bola-verde">
            <span>{{count2}}</span>
            <span>{{strName2}}</span>
          </label>
          <label id="proceso" for="slide-3-trigger" class="state_track bola-rosa">
            <span>{{count3}}</span>
            <span>{{strName3}}</span>
          </label>
          <label id="instalado" for="slide-4-trigger" class="state_track bola-azul">
            <span>{{count4}}</span>
            <span>{{strName4}}</span>
          </label>
          <label id="caida" for="slide-5-trigger" class="state_track bola-rojo">
            <span>{{count5}}</span>
            <span>{{strName5}}</span>
          </label>
        </div>
        <div class="wrap estados_wr">
            <input (click)="getDiv(6)" id="slide-6-trigger" type="radio" name="slides" checked>
            <div class="slide slide-one">
              <ng-container *ngFor="let list1 of lista6">
                <div class="card_data bloque-negro">
                <h2 style="max-height: 50px; overflow: hidden;text-overflow: ellipsis; font-size: 16px;">{{list1.name}}
                </h2>
                  <div class="dni" style="font-size: 15px;">DNI: {{list1.document}}</div>
                  <div class="datos">
                    <div class="dato">
                      <div class="izq" style="font-size: 14px;">F. de venta:</div>
                      <div class="der" style="font-size: 14px;">{{list1.fVenta}}
                        <!--<br>{{list1.fVenta.substring(12,list1.fVenta.length)}}-->
                      </div>
                    </div>
                    <div class="dato">
                      <div class="izq" style="font-size: 14px;">Producto:</div>
                      <div class="der" style="min-height: 90px; font-size: 14px;">{{list1.producto}}</div>
                    </div>
                    <div class="dato">
                      <div class="izq" style="font-size: 14px;">Servicios Caidos:</div>
                    <div class="der" style="min-height: 90px; font-size: 14px;">{{interpretarServicios(list1.offline)}}
                    </div>
                    </div>
                  </div>
                  <div class="ver-mas">
                    <a (click)="getDetailData(list1.id)" class="">Ver Detalle</a>
                  </div>
                </div>
              </ng-container>
              <div *ngIf="notFound6">No se encontro ventas.</div>
          </div>
          <input (click)="getDiv(1)" id="slide-1-trigger" type="radio" name="slides" checked>
          <div class="slide slide-one">
            <ng-container *ngFor="let list1 of lista1">
              <div class="card_data bloque-lila">
                <h2 style="max-height: 50px; overflow: hidden;text-overflow: ellipsis; font-size: 16px;">{{list1.name}}
                </h2>
                <div class="dni" style="font-size: 15px;">Nº DOCUMENTO: {{list1.document}}</div>
                <div class="datos">
                  <div class="dato">
                    <div class="izq" style="font-size: 14px;">F. de venta:</div>
                    <div class="der" style="font-size: 14px;">{{list1.fVenta}}
                      <!--<br>{{list1.fVenta.substring(12,list1.fVenta.length)}}-->
                    </div>
                  </div>
                  <div class="dato">
                    <div class="izq" style="font-size: 14px;">Producto:</div>
                    <div class="der" style="min-height: 90px; font-size: 14px;">{{list1.producto}}</div>
                  </div>
                </div>
                <div class="ver-mas">
                  <a (click)="getDetailData(list1.id)" class="">Ver Detalle</a>
                </div>
              </div>
            </ng-container>
            <div *ngIf="notFound1">No se encontro ventas.</div>
          </div>
          <input (click)="getDiv(2)" id="slide-2-trigger" type="radio" name="slides">
          <div class="slide slide-two">
            <ng-container *ngFor="let list2 of lista2">
              <div class="card_data bloque-verde">
                <h2 style="max-height: 50px; overflow: hidden;text-overflow: ellipsis; font-size: 16px;">{{list2.name}}
                </h2>
                <div class="dni" style="font-size: 15px;">Nº DOCUMENTO: {{list2.document}}</div>
                <div class="datos">
                  <div class="dato">
                    <div class="izq" style="font-size: 14px;">F. de venta:</div>
                    <div class="der" style="font-size: 14px;">{{list2.fVenta}}
                      <!--<br>{{list2.fVenta.substring(12,list1.fVenta.length)}}-->
                    </div>
                  </div>
                  <div class="dato">
                    <div class="izq" style="font-size: 14px;">Producto:</div>
                    <div class="der" style="min-height: 90px; font-size: 14px;">{{list2.producto}}</div>
                  </div>
                  <div class="dato">
                    <div class="izq" style="font-size: 14px;">Código
                      <br> pedido ATIS:</div>
                    <div class="der" style="font-size: 14px;">{{list2.codigoPedido}}</div>
                  </div>
                </div>
                <div class="ver-mas">
                  <a (click)="getDetailData(list2.id)" class="">Ver Detalle</a>
                </div>
              </div>
            </ng-container>
            <div *ngIf="notFound2">No se encontro ventas.</div>
          </div>
          <input (click)="getDiv(3)" id="slide-3-trigger" type="radio" name="slides">
          <div class="slide slide-three">
            <ng-container *ngFor="let list3 of lista3">
              <div class="card_data bloque-rosa">
                <h2 style="max-height: 50px; overflow: hidden;text-overflow: ellipsis; font-size: 16px;">{{list3.name}}
                </h2>
                <div class="dni" style="font-size: 15px;">Nº DOCUMENTO: {{list3.document}}</div>
                <div class="datos">
                  <div class="dato">
                    <div class="izq" style="font-size: 14px;">F. de venta:</div>
                    <div class="der" style="font-size: 14px;">{{list3.fVenta}}
                      <!--<br> 04:05:02 pm-->
                    </div>
                  </div>
                  <div class="dato">
                    <div class="izq" style="font-size: 14px;">Producto:</div>
                    <div class="der" style="min-height: 90px; font-size: 14px;">{{list3.producto}}</div>
                  </div>
                  <div class="dato">
                    <div class="izq">Código
                      <br> pedido ATIS:</div>
                    <div class="der">{{list3.codigoPedido}}</div>
                  </div>
                </div>
                <div class="ver-mas">
                  <a (click)="getDetailData(list3.id)" class="">Ver Detalle</a>
                </div>
              </div>
            </ng-container>
            <div *ngIf="notFound3">No se encontro ventas.</div>
          </div>
          <input (click)="getDiv(4)" id="slide-4-trigger" type="radio" name="slides">
          <div class="slide slide-four">
            <ng-container *ngFor="let list4 of lista4">
              <div class="card_data bloque-azul">
                <h2 style="max-height: 50px; overflow: hidden;text-overflow: ellipsis; font-size: 16px;">{{list4.name}}
                </h2>
                <div class="dni" style="font-size: 15px;">Nº DOCUMENTO: {{list4.document}}</div>
                <div class="datos">
                  <div class="dato">
                    <div class="izq" style="font-size: 14px;">F. de venta:</div>
                    <div class="der" style="font-size: 14px;">{{list4.fVenta}}
                      <!--<br> 04:05:02 pm-->
                    </div>
                  </div>
                  <div class="dato">
                    <div class="izq" style="font-size: 14px;">Producto:</div>
                    <div class="der" style="min-height: 90px; font-size: 14px;">{{list4.producto}}</div>
                  </div>
                  <div class="dato">
                    <div class="izq">Código
                      <br> pedido ATIS:</div>
                    <div class="der">{{list4.codigoPedido}}</div>
                  </div>
                </div>
                <div class="ver-mas">
                  <a (click)="getDetailData(list4.id)" class="">Ver Detalle</a>
                </div>
              </div>
            </ng-container>
            <div *ngIf="notFound4">No se encontro ventas.</div>
          </div>
          <input (click)="getDiv(5)" id="slide-5-trigger" type="radio" name="slides">
          <div class="slide slide-Five">
            <ng-container *ngFor="let list5 of lista5">
              <div class="card_data bloque-rojo">
                <h2 style="max-height: 50px; overflow: hidden;text-overflow: ellipsis; font-size: 16px;">{{list5.name}}
                </h2>
                <div class="dni" style="font-size: 15px;">Nº DOCUMENTO: {{list5.document}}</div>
                <div class="barra">
                  Motivo: {{list5.motivoCaida}}
                </div>
                <div class="datos">
                  <div class="dato">
                    <div class="izq" style="font-size: 14px;">F. de venta:</div>
                    <div class="der" style="font-size: 14px;">{{list5.fVenta}}
                      <!--<br> 04:05:02 pm-->
                    </div>
                  </div>
                  <div class="dato">
                    <div class="izq" style="font-size: 14px;">Producto:</div>
                    <div class="der" style="min-height: 90px; font-size: 14px;">{{list5.producto}}</div>
                  </div>
                  <div class="dato">
                    <div class="izq">Código
                      <br> pedido ATIS:</div>
                    <div class="der">{{list5.codigoPedido}}</div>
                  </div>
                </div>
                <div class="ver-mas doble"
                  *ngIf="list5.motivoCaida=='DIRECCION INCOMPLETA/INCORRECTA' || list5.motivoCaida=='SUPERO MAXIMO DE DECOS PERMITIDOS' || list5.motivoCaida=='SIN TELEFONO DE CONTACTO' || list5.motivoCaida=='DEUDA EN ATIS/CMS'">
                  <a (click)="getDetailData(list5.id)" class="">Ver Detalle</a>
                  <a *ngIf="showRecupero && list5.idtransaccion!=''" (click)="getDetailRecupero(list5.id)"
                    class="">Recuperar</a>
                </div>
                <div class="ver-mas"
                  *ngIf="list5.motivoCaida!='DIRECCION INCOMPLETA/INCORRECTA' && list5.motivoCaida!='SUPERO MAXIMO DE DECOS PERMITIDOS' && list5.motivoCaida!='SIN TELEFONO DE CONTACTO' && list5.motivoCaida!='DEUDA EN ATIS/CMS'">
                  <a (click)="getDetailData(list5.id)" class="">Ver Detalle</a>
                </div>
                <!--<div class="ver-mas">
                  <a (click)="getDetailData(list5.id)" class="">Ver Detalle</a>
                </div>-->
              </div>
            </ng-container>
            <div *ngIf="notFound5">No se encontro ventas.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal Mensaje-->
<div *ngIf="isMessage">
  <div class="modal_dir modal-detalle_dir" style="width: 28%;">
    <div class="modal-dialog">
      <div class="modal-content">
        <br />
        <div class="modal-body">
          <h3 class="title_dir">Mensaje alerta:</h3>
          <div class="content_dir">
            <b>{{strMessage}}</b>
            <br />
            <br />
            <a class="boton_whitentdp_dir" (click)="cerrarMensaje()">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>

<div *ngIf="isFlagModalVenta">
  <div class="modal_dir modal-detalle" id="detalle001">
    <div class="modal-dialog">
      <div class="modal-content" style="height: 95vh;" [style.border-color]="venta.color">
        <div class="modal-header">
          <a class="close" [style.background-color]="venta.color" (click)="cerrarModal()">
            <span>&times;</span>
          </a>
          <h4 class="modal-title" [style.color]="venta.color">Detalle</h4>
        </div>
        <div class="franja" [style.background-color]="venta.color">
          <div class="fila-custom">
            <div class="col-custom col-mitad">
              <div class="dato">
                Producto:
                <br>
                <strong>{{venta.producto}}</strong>
              </div>
            </div>
            <div class="col-custom col-mitad">
              <div class="cuadro">
                <div class="fila-custom">
                  <div class="col-custom col-mitad" *ngIf="venta.estado=='CAIDA'">
                    <div class="dato">
                      Razón de la cancelación:
                      <br>
                      <strong>{{venta.motivoCaida}}</strong>
                    </div>
                  </div>
                  <!--<div class="col-custom col-mitad" style="display:none;">
                    <div class="dato franja-apelar">
                      <a href="#apelar001" class="btn">Recuperar</a>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body" style="height: 25rem; overflow-y: scroll;">
          <div class="datos">
            <div class="fila-custom" style="display: flex">
              <div class="col-custom col-mitad">
                <div class="dato">
                    <div class="rojo" [style.color]="venta.color">Id Pedido</div>
                    <div class="gris">{{venta.id}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Nº Teléfono vendedor</div>
                  <div class="gris">{{venta.telefonoAsignado}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Tecnología</div>
                  <div class="gris">{{venta.tecnologia}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">F. Venta</div>
                  <div class="gris">{{venta.fVenta}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Código Pedido</div>
                  <div class="gris">{{venta.codigoPedido}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Código CIP</div>
                  <div class="gris">{{venta.codigocip}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Debito Automatico</div>
                  <div class="gris">{{venta.debitoAuto}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Web Parental</div>
                  <div class="gris">{{venta.webParental}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">SVAs</div>
                  <div *ngFor="let svaVenta of svaVentas" style="display: flex; justify-content: space-between">
                    <div class="gris">{{svaVenta.svaNombre}}&nbsp;</div>
                    <div class="gris" style="margin-right: 100px;">{{svaVenta.svaCantidad}}&nbsp;</div>
                  </div>
                </div>
              </div>

              <div class="col-custom col-mitad">
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Orden de trabajo</div>
                  <div class="gris">{{venta.ordenTrabajo}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Nº Teléfono Cliente</div>
                  <div class="gris">{{venta.telefonoCliente}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Nº Teléfono Cliente 2</div>
                  <div class="gris">{{venta.telefonoCliente2}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Pago adelantado</div>
                  <div class="gris">{{venta.pagoAdelantado}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Dirección</div>
                  <div class="gris">{{venta.direccion}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Id. Transacción</div>
                  <div class="gris">{{venta.idtransaccion}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Estado CIP</div>
                  <div class="gris">{{venta.estadocip}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Tratamiento de Datos</div>
                  <div class="gris">{{venta.tratamientDatos}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Recibo Electronico</div>
                  <div class="gris">{{venta.reciboElect}}&nbsp;</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>

<div *ngIf="isFlagRecupero">
  <div class="modal_dir modal-detalle" id="detalle002">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a type="button" class="close" (click)="cerrarModalRecupero()"><span>&times;</span></a>
          <h4 class="modal-title">Detalle</h4>
        </div>
        <div class="franja">
          <div class="fila-custom">
            <div class="col-custom col-mitad">
              <div class="dato">
                Producto:<br>
                <strong>{{venta.producto}}</strong>
              </div>
            </div>
            <div class="col-custom col-mitad">
              <div class="cuadro">
                <div class="fila-custom">
                  <div class="col-custom">
                    <div class="dato">Detalle de estado<br>
                      <strong>{{venta.motivoCaida}}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="franja light">
          <div class="fila-custom">
            <div class="col-custom">
              <div class="dato">
                {{isMessageRecupero}}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isTypeRecupero">
          <div class="franja datos" *ngIf="venta.motivoCaida=='DEUDA EN ATIS/CMS'">
            <div class="fila-custom">
              <div class="col-custom">
                <div class="dato">Contacta con el cliente y confirma si canceló la deuda pendiente<br><br></div>
                <div class="col-custom col-mitad">
                  <div class="dato">
                    <div class="cnt_imput mg35 input-effect">
                      <input class="effect-16 has-content" type="date" placeholder="" [(ngModel)]="fechaRegistro">
                      <label>Ingresa fecha de pago</label>
                      <span class="focus-border"></span>
                    </div>
                  </div>
                </div>
                <div class="col-custom col-mitad">
                  <div class="dato">
                    <div class="cntBotonesOpt">
                      <a (click)="recuperoDeuda()" class="boton_greentdp">Registrar recupero</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="franja datos" *ngIf="venta.motivoCaida=='DIRECCION INCOMPLETA/INCORRECTA'">
            <div class="fila-custom">
              <div class="col-custom">
                <div class="col-custom col-mitad">
                  <div class="dato">
                    <div class="cnt_imput mg35 input-effect">
                      <input class="effect-16 has-content" type="text" placeholder="" [(ngModel)]="venta.direccion">
                      <label>Ingresa dirección del Cliente</label>
                      <span class="focus-border"></span>
                    </div>
                  </div>
                </div>
                <div class="col-custom col-mitad">
                  <div class="dato">
                    <div class="cntBotonesOpt">
                      <a (click)="recuperoDireccion()" class="boton_greentdp">Registrar recupero</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="franja datos" *ngIf="venta.motivoCaida=='SIN TELEFONO DE CONTACTO'">
            <div class="fila-custom">
              <div class="col-custom">
                <div class="col-custom col-mitad">
                  <div class="dato">
                    <div class="cnt_imput mg35 input-effect">
                      <input onkeyup="this.value=this.value.replace( /[a-zA-Z\-_.,#$!%&/()?¡¿'°¬|=]/g,'')"
                        class="effect-16 ng-invalid ng-dirty has-content ng-touched input_tel" maxlength="9"
                        pattern="^[0-9]{8}$" ng-max="9" ng-reflect-maxlength="9" ng-reflect-pattern="^[0-9]{8}$"
                        type="text" placeholder="" [(ngModel)]="venta.telefonoCliente">
                      <label>Ingresa N° de contacto del Cliente</label>
                      <span class="focus-border"></span>
                    </div>
                  </div>
                </div>
                <div class="col-custom col-mitad">
                  <div class="dato">
                    <div class="cntBotonesOpt">
                      <a (click)="recuperoTelf()" class="boton_greentdp">Registrar recupero</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="franja datos" *ngIf="venta.motivoCaida=='SUPERO MAXIMO DE DECOS PERMITIDOS'">
            <div class="fila-custom">
              <div class="col-custom">
                <div class="dato">Ingresa el N° de Puntos Adicionales por tipo<br><br></div>
                <div class="col-custom col-mitad">
                  <div class="col-custom col-mitad">
                    <div class="dato">
                      <div class="col-custom col-mitad" *ngIf="venta.decosSmart>=0">
                        <div class="cnt_imput input-effect">
                          <input class="effect-16" type="text" placeholder="" [(ngModel)]="venta.decosSmart">
                          <span class="focus-border"></span>
                        </div>
                      </div>
                      <div class="col-custom col-mitad" *ngIf="venta.decosSmart>=0">
                        <p class="texto">Deco Smart</p>
                      </div>
                      <div class="col-custom col-mitad" *ngIf="venta.decosHD>=0">
                        <div class="cnt_imput input-effect">
                          <input class="effect-16" type="text" placeholder="" [(ngModel)]="venta.decosHD">
                          <span class="focus-border"></span>
                        </div>
                      </div>
                      <div class="col-custom col-mitad" *ngIf="venta.decosHD>=0">
                        <p class="texto">Deco HD</p>
                      </div>
                      <div class="col-custom col-mitad" *ngIf="venta.decosDVR>=0">
                        <div class="cnt_imput input-effect">
                          <input class="effect-16" type="text" placeholder="" [(ngModel)]="venta.decosDVR">
                          <span class="focus-border"></span>
                        </div>
                      </div>
                      <div class="col-custom col-mitad" *ngIf="venta.decosDVR>=0">
                        <p class="texto">Deco DVR</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-custom col-mitad">
                  </div>
                </div>
                <div class="col-custom col-mitad">
                  <div class="dato">
                    <div class="cntBotonesOpt">
                      <a (click)="recuperoDecos()" class="boton_greentdp">Registrar recupero</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="datos">
            <div class="fila-custom">
              <div class="col-custom col-mitad">
                <div class="dato">
                  <div class="rojo">Nº Teléfono asignado</div>
                  <div class="gris">{{venta.telefonoAsignado}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo">Tecnología</div>
                  <div class="gris">{{venta.tecnologia}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo">F. Venta</div>
                  <div class="gris">{{venta.fVenta}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo">Código Pedido</div>
                  <div class="gris">{{venta.codigoPedido}}&nbsp;</div>
                </div>
              </div>
              <div class="col-custom col-mitad">
                <div class="dato">
                  <div class="rojo">Nº Teléfono Cliente</div>
                  <div class="gris">{{venta.telefonoCliente}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo">Pago adelantado</div>
                  <div class="gris">{{venta.pagoAdelantado}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo">Dirección</div>
                  <div class="gris">{{venta.direccion}}&nbsp;</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>
