<div class="container">
	<div class="card-panel" id="div-pan-sva">
		<div class="col s12 m8 offset-m2 l6 offset-l3">
			<div class="row">
				 <div class="center">
							 <a [routerLink]="['upload']"><button name="btn_upload" class="col s12 btn green darken-1">Cargar archivo</button></a>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 l12">
					<form (ngSubmit)="onSearch()">
								<div class="input-field col l3">
									<input [(ngModel)]="model.producttypecode" type="text" name="producttypecode" placeholder="10">
									<label class="active filter" for="model.searchProductTypeCode">Codigo de Tipo de Producto</label>
								</div>
								<div class="input-field col l4">
									<input [(ngModel)]="model.description" type="text" name="description" placeholder="Bloque TV">
									<label class="active filter" for="model.searchDescription">Descripcion</label>
								</div>
								<div class="input-field col l5">
									<input [(ngModel)]="model.unit" type="text" name="unit" placeholder="Bloque HD">
									<label class="active filter" for="model.searchUnit">Unidad</label>
								</div>

								<div class="input-field col l3">
									<input [(ngModel)]="model.sistemas" type="text" name="sistemas" placeholder="ATIS">
									<label class="active filter" for="model.searchSistemas">Sistemas</label>
								</div>
								<div class="input-field col l4">
										<input [(ngModel)]="model.comercializable" type="text" name="comercializable" placeholder="SI">
										<label class="active filter" for="">Comercializable</label>
									</div>
								<div class="input-field col l5">
										<button class="waves-effect waves-light btn" type="submit">Buscar</button>
										</div>
								
					</form>
				</div>
			</div>
			<div class="row valign-wrapper">
			<table class="highlight responsive-table bordered centered">
					<thead>
							<tr>
								<th>Código de Tipo de Producto</th>
								<th>Código</th>
								<th>Descripción</th>
								<th>Unidad</th>
								<th>Costo</th>
								<th>Descripción Pago</th>
								<th>Tipo</th>
								<th>Código SVA</th>
								<th>Tecnología SVA</th>
								<th>Sistemas</th>
								<th>Comercializable</th>
								<th>Tecnología Tv Orígen</th>
							</tr>
					</thead>

					<tbody>
							<tr *ngFor="let item of sva">
								<td>{{item.prodtypecode}}</td>
								<td>{{item.code}}</td>
								<td>{{item.description}}</td>
								<td>{{item.unit}}</td>
								<td>{{item.cost}}</td>
								<td>{{item.paymentdescription}}</td>
								<td>{{item.type}}</td>
								<td>{{item.svaCode}}</td>

								<td>{{item.tecnologiasva}}</td>
								<td>{{item.sistemas}}</td>
								<td>{{item.comercializable}}</td>
								<td>{{item.tecnologiatvorigen}}</td>
									<td><a [routerLink]="[item.id]"><i class="material-icons">open_in_new</i></a></td>
							</tr>
					</tbody>
			</table>
					</div>
		<div class="row center">

			<ul class="pagination">
					<li [ngClass]="{'disabled': model.currentPage == 0}" class="waves-effect">
						<a (click)="gotoPrevPage()">
							<i class="material-icons">chevron_left</i>
						</a>
					</li>
					<li *ngFor="let i of model.pages" [ngClass]="{'active': model.currentPage == i}">
						<a (click)="gotoPage(i)">{{i+1}}</a>
					</li>
					<li [ngClass]="{'disabled': model.currentPage === model.numPages -1}" class="waves-effect">
						<a (click)="gotoNextPage()">
							<i class="material-icons">chevron_right</i>
						</a>
					</li>
				</ul>


		</div>
	</div>
</div>
</div>
