<div class="container">
	<div class="col s12">
		<div class="card-panel">
			<h5 class="center">Detalle del SVA</h5>
			<div class="row">
				<form>
					<div class="divider"></div>
					<table class="highlight responsive-table bordered centered">
						<thead>
							<tr>
								<th>Campo</th>
								<th>Dato</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Código de Tipo Producto</td>
								<td>{{item.prodtypecode}}</td>
							</tr>
							<tr>
								<td>Codigo SVA</td>
								<td>{{item.code}}</td>
							</tr>
							<tr>
								<td>Descripcion del tipo de SVA</td>
								<td>{{item.description}}</td>
							</tr>
							<tr>
								<td>Unidad en la que se elige el SVA</td>
								<td>{{item.unit}}</td>
							</tr>
							<tr>
								<td>Costo del SVA</td>
								<td>{{item.cost}}</td>
							</tr>
							<tr>
								<td>Mensaje de cobro del SVA</td>
								<td>{{item.paymentdescription}}</td>
							</tr>
							<tr>
								<td>Tipo de opcion del SVA</td>
								<td>{{item.type}}</td>
							</tr>
							<tr>
								<td>Meses de Financiamiento</td>
								<td>{{item.financingmonth}}</td>
							</tr>
							
							<tr>
									<td>Tecnología SVA</td>
									<td>{{item.tecnologiasva}}</td>
								</tr>
								<tr>
									<td>Sistemas</td>
									<td>{{item.sistemas}}</td>
								</tr>
								<tr>
									<td>Comercializable</td>
									<td>{{item.comercializable}}</td>
								</tr>
								<tr>
									<td>Tecnología Tv Origen</td>
									<td>{{item.tecnologiatvorigen}}</td>
								</tr>
								
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>