<div class="loading-indicator" *ngIf="loading">

  <div class="windows8 windows-parquet">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>

    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>

    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>

    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>

    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>

  </div>
</div>

<div class="seccion">
  <div class="cnt_geneeral" *ngIf="isOcultarDireccion">
    <div class="title_pagina">
      <p>Lugar de Instalaci&oacute;n</p>
      <div class="both"></div>
    </div>

    <div class="cnt_forcnt prela">

      <div class="dileAlCliente">
        Dile al cliente lo siguiente:
      </div>
      <div class="TitAsk">
        <div class="alert alert-info" *ngIf="directionNotExist" style="margin-top: 15px">&Uacute;ltima direcci&oacute;n
          ingresada
          no encontrada</div>
        Estimado cliente, facil&iacute;teme los siguientes datos para la instalaci&oacute;n
      </div>

      <div class="text-center">
        <div class="col-sm-11 col-sm-offset-1 form-group text-center" align="center" style="margin-top:30px;">
          <div class="card compact">

            <div class="col-4 input-effect">
              <input class="effect-16 has-content" type="text" placeholder="" value="{{nameDepart}}" [disabled]="true">
              <label>Departamento</label>
              <span class="focus-border"></span>
            </div>

            <div class="col-4 input-effect">
              <input class="effect-16 has-content" type="text" placeholder="" value="{{nameProvince}}"
                [disabled]="true">
              <label>Provincia</label>
              <span class="focus-border"></span>
            </div>

            <div class="col-4 input-effect">
              <input class="effect-16 has-content" type="text" placeholder="" value="{{nameDistrict}}"
                [disabled]="true">
              <label>Distrito</label>
              <span class="focus-border"></span>
            </div>

            <div id="idDivDireccion" class="col-12 input-effect">
              <input (keyup.enter)="mapearDireccion()" type="text" class="effect-16 has-content"
                [(ngModel)]="addressText" (click)="deleteStyleError()" name="direccion" id="direccion">
              <label>Dirección:</label>
              <span class="focus-border"></span>
              <div id="idMsmDireccion" class="error_msg" style="display: none;">
                <label id="idLabelDireccion"></label>
              </div>
            </div>

            <br>

            <div id="referencia_tienda" class="col-12 input-effect">
              <input (keyup.enter)="mapearDireccion()" type="text" class="effect-16 has-content" name="referencia"
                id="referencia">
              <label>Referencia:</label>
              <span class="focus-border"></span>
            </div>
          </div>
          <div *ngIf="errorInTelephone" id="idMsmTelefono" class="effect-16 alert-danger">{{ messageTelephone }}.</div>
          <div *ngIf="isTheNumberOk" id="alerta_registro" class="alert alert-info  text-center">
            El teléfono se ha guardado correctamente.
          </div>
          <div class="cntBotonesOpt">
            <a (click)="mapearDireccion()" type="submit"
              class="btn btn-lg btn-sm btn-md btn-primary visible-lg visible-md visible-sm visible-xs  boton_search btn-telefonica-green"
              data-toggle="modal"
              style="width: 180px;text-align: center;background-color: #5bc500;color: #ffffff;text-decoration: none;border-radius: 10px;font-size: 15px;display: inline-block;transition: all .5s;padding: .7em 2em;">
              <b>UBICAR EN MAPA</b>
            </a>
            <ng-container *ngIf="flagCopyCoordenadas">
              <a (click)="getCoordenadas()" type="submit"
                class="btn btn-lg btn-sm btn-md btn-primary visible-lg visible-md visible-sm visible-xs  boton_search btn-telefonica-green"
                data-toggle="modal"
                style="width: 180px;text-align: center;background-color: #c500c5;color: #ffffff;text-decoration: none;border-radius: 10px;font-size: 15px;display: inline-block;transition: all .5s;padding: .7em 2em;">
                <b>{{strCopyCoordenadas}}</b>
              </a>
            </ng-container>
          </div>
        </div>
      </div>



      <div id="map" class="col-sm-12" style="height: 600px;  margin-top:15px; border:1px solid #5bc500"></div>

      <div class="row">
        <!-- <div id="map" class="col-sm-12" style="width: 800px;height: 300px;margin-bottom:20px;margin-left: 20px;" ></div> -->
        <div class="alert alert-info" *ngIf="dataIncompleta" style="margin-top: 15px">
          <!--La direcci&oacute;n imcompleta.-->
        </div>
        <div class="row col-sm-12  campo-reniec">
          <!--<button class="btn btn-lg btn-sm btn-md btn-primary visible-lg visible-md visible-sm visible-xs  boton_search btn-telefonica-green" style="margin-top: 15px;"
              (click)="guardarDireccion()">CONTINUAR</button>-->
          <div *ngIf="flagErrorNormalizador" class="head_normalizador" style="margin-top: 15px;">
            {{message_error_normalizador}}
          </div>
          <div class="cntBotonesOpt">
            <a type="submit" (click)="obtenerValidacionAtis()">CONTINUAR</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngIf="isTheNumberOk" id="alerta_registro" class="alert alert-info  text-center">
          <!--<strong>Info!</strong>-->El teléfono se ha guardado correctamente.
        </div>
      </div>

      <!-- <div class="row">
          <div class="alert alert-danger  none" id="alerta_registro_error">
            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
        </div>
        </div> -->
    </div>
  </div>
  <div *ngIf="flagMessageValidateAtis">
    <div class="cnt_geneeral">
      <div class="title_pagina">
        <p>Lugar de Instalación</p>
        <div class="both"></div>
      </div>
      <div class="cnt_forcnt prela">
        <div class="card correccion">
          <div class="cardtitle text-center">
            <h2 class="error">Dirección incompleta:</h2>
            <p>{{strMessageValidateAtis}}
            <br /><br />
            <strong>Por favor, describa la dirección.</strong> 
					  En caso no sepa qué ingresar, dejar en blanco.</p>
          </div>
          <br /><br /><br />
          <div class="col-3 input-effect" *ngIf="tmp_address_tipoVia!='' || flag_address_tipoVia">
            <input id="tmp_address_tipoVia" class="effect-16 has-content" [(ngModel)]="tmp_address_tipoVia" type="text">
            <label>Tipo Vía (alameda, avenida, bajada, calle, carretera, jirón, pasaje, plaza, prolongación,
              etc.):</label>
            <span class="focus-border"></span>
          </div>
          <div class="col-3 input-effect" *ngIf="tmp_address_nombreVia!='' || flag_address_nombreVia">
            <input id="tmp_address_nombreVia" class="effect-16 has-content" [(ngModel)]="tmp_address_nombreVia"
              type="text">
            <label>Nombre Via:</label>
            <span class="focus-border"></span>
          </div>
          <div class="col-3 input-effect" *ngIf="tmp_address_numeroPuerta1!='' || flag_address_numeroPuerta1">
            <input id="tmp_address_numeroPuerta1" class="effect-16 has-content" [(ngModel)]="tmp_address_numeroPuerta1"
              type="text">
            <label>Número de Puerta :</label>
            <span class="focus-border"></span>
          </div>
          <!--<div class="col-3 input-effect">
              <input id="tmp_address_numeroPuerta2" class="effect-16 has-content" [(ngModel)]="tmp_address_numeroPuerta2" type="text" >
              <label>Número de Puerta 2:</label>
              <span class="focus-border"></span>
            </div>
            <div class="col-3 input-effect" >
              <input id="tmp_address_cuadra" class="effect-16 has-content" [(ngModel)]="tmp_address_cuadra" type="text" >
              <label>Cuadra:</label>
              <span class="focus-border"></span>
            </div>
            <div class="col-3 input-effect">
              <input id="tmp_address_tipoInterior" class="effect-16 has-content" [(ngModel)]="tmp_address_tipoInterior" type="text" >
              <label>Tipo Interior:</label>
              <span class="focus-border"></span>
            </div>
            <div class="col-3 input-effect">
              <input id="tmp_address_numeroInterior" class="effect-16 has-content" [(ngModel)]="tmp_address_numeroInterior" type="text" >
              <label>Número Interior:</label>
              <span class="focus-border"></span>
            </div>
            <div class="col-3 input-effect">
              <input id="tmp_address_piso" class="effect-16 has-content" [(ngModel)]="tmp_address_piso" type="text" >
              <label>Piso:</label>
              <span class="focus-border"></span>
            </div>
            <div class="col-3 input-effect">
              <input id="tmp_address_tipoVivienda" class="effect-16 has-content" [(ngModel)]="tmp_address_tipoVivienda" type="text" >
              <label>Tipo Vivienda:</label>
              <span class="focus-border"></span>
            </div>
            <div class="col-3 input-effect">
              <input id="tmp_address_nombreVivienda" class="effect-16 has-content" [(ngModel)]="tmp_address_nombreVivienda" type="text" >
              <label>Nombre Vivienda:</label>
              <span class="focus-border"></span>
            </div>-->
          <div class="col-3 input-effect" *ngIf="tmp_address_tipoUrbanizacion!='' || flag_address_tipoUrbanizacion">
            <input id="tmp_address_tipoUrbanizacion" class="effect-16 has-content"
              [(ngModel)]="tmp_address_tipoUrbanizacion" type="text">
            <label>Tipo CCHH (AH, UR, asociación, barrio, centro poblado, condominio, pueblo joven,
              residencial, unidad vecinal, etc.):</label>
            <span class="focus-border"></span>
          </div>
          <div class="col-3 input-effect" *ngIf="tmp_address_nombreUrbanizacion!='' || flag_address_nombreUrbanizacion">
            <input id="tmp_address_nombreUrbanizacion" class="effect-16 has-content"
              [(ngModel)]="tmp_address_nombreUrbanizacion" type="text">
            <label>Nombre CCHH:</label>
            <span class="focus-border"></span>
          </div>
          <div class="col-3 input-effect" *ngIf="tmp_address_manzana!='' || flag_address_manzana">
            <input id="tmp_address_manzana" class="effect-16 has-content" [(ngModel)]="tmp_address_manzana" type="text">
            <label>Manzana:</label>
            <span class="focus-border"></span>
          </div>
          <div class="col-3 input-effect" *ngIf="tmp_address_lote!='' || flag_address_lote">
            <input id="tmp_address_lote" class="effect-16 has-content" [(ngModel)]="tmp_address_lote" type="text">
            <label>Lote:</label>
            <span class="focus-border"></span>
          </div>
          <!--<div class="col-3 input-effect">
              <input id="tmp_address_kilometro" class="effect-16 has-content" [(ngModel)]="tmp_address_kilometro" type="text" >
              <label>Kilómetro:</label>
              <span class="focus-border"></span>
            </div>-->
          <div class="col-3 input-effect">
            <input id="tmp_address_referencia" class="effect-16 has-content" [(ngModel)]="tmp_address_referencia"
              type="text">
            <label>Referencia (piso, interior, cuadra, etc.):</label>
            <span class="focus-border"></span>
          </div>
        </div>
        <br />
        <div style="text-align: center">
          <p><strong>¿Deseas arreglar la dirección antes de continuar?</strong> Recuerda que tener los datos completos
            asegura
            tu venta.
          </p>
        </div>
        <div class="row">
          <div class="row col-sm-12  campo-reniec">
            <div class="cntBotonesOpt">
              <!--<a (click)="guardarDireccion()" class="boton_greentdp_alt">Omitir</a>-->
              <a (click)="continueCompleteAddress()" type="button" class="boton_greentdp">Completar dirección</a>
            </div>
          </div>
        </div>
        <div class="row">
        </div>
      </div>
    </div>
  </div>
</div>