<div class="row">
      <div class="col s5 m8"></div>
      <button (click)="returnList()" class="waves-effect waves-light btn col s5 m2 offset-s1">
            <i class="material-icons left">keyboard_arrow_left</i>
            REGRESAR</button>
</div>

<div class="container">
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>ARPU</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','ARPU']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','ARPU']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>AUDIO</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','AU']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','AU']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>BIOMETRIA</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','B']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','B']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>CAMBIAR CONTRASEÑA</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','C']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','C']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>CONDICIONES VENTA</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','SC']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','SC']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>CONTRATO</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','CO']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','CO']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>DUPLICADOS</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','VD']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','VD']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>EXPERTO</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','EXP']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','EXP']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>INFORMACION CLIENTE</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','IC']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','IC']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>LOGIN</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn left-align" [routerLink]="['/messageweb','L']">VER</a>
                              </div>

                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','L']">EDITAR</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>NORMALIZADOR</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','N']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','N']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>PARQUE</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','PA']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','PA']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>POLITICA COMERCIAL</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','CP']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','CP']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>PRENDIDO Y APAGADO DE VENTAS</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','OO']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','OO']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>PRODUCTO</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','PRO']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','PRO']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>REGISTRAR</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','R']"> VER </a>
                              </div>

                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','R']">EDITAR</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>RENIEC</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','E']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','E']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>RESTABLECER CONTRASEÑA</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','P']"> VER </a>
                              </div>

                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','P']">EDITAR</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>SVA</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','SVA']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','SVA']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>TRAZABILIDAD</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','MTRZ']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','MTRZ']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>VENTA</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn" [routerLink]="['/messageweb','V']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editmessage','V']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>