
<div class="container">
    <div class="row">
            <div class="col s12 {{showMessageValidator}}">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  {{messageValidate}}
                </div>
    
              </div>
            </div>
          </div>
        <div class="col s12">
            <div class="card-panel">
                <div>
                    <button (click)="cancelEdit()" style="float: right;"
                        class="waves-effect waves-light btn {{showEditCampaign}}">Cancelar</button>
                    <button (click)="modalFieldEdit()"
                        style="float: right; margin-right: 10px !important;"
                        class="waves-effect waves-light btn">{{nameEdit}}</button>
    
                    <!-- inicio modal -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Actualizaci&oacute;n de Campa&ntilde;a</h4>
                            <p>Por favor confirme su actualizaci&oacute;n</p>
                        </div>
                        <div class="modal-footer">
                            <a (click)="fieldEdit()"
                                class=" modal-action modal-close waves-effect waves-green btn-flat">Actualizar</a>
                            <a (click)="cancelEdit()"
                                class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
                        </div>
    
                    </div>
    
                    <!-- fin de modal -->
                </div>
    
                <h5 class="center">Detalle de la Campa&ntilde;a</h5>
                <div class="row">
    
                    <div style="margin-top: 30px !important;" class="divider"></div>
                    <table class="highlight responsive-table bordered centered">
                        <thead>
                            <tr>
                                <th>Campo</th>
                                <th>Dato</th>
                                <th style="text-align: left;" class="{{showEditCampaign}}">Dato a actualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Codigo Vendedor</td>
                                <td>{{campaign.codatis}}</td>
                                <td class="{{showEditCampaign}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editCampaign.codatis"
                                            placeholder="Codigo Vendedor"
                                            id="codatis" name="codatis"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Campaña</td>
                                <td>{{campaign.campaign}}</td>
                                <td class="{{showEditCampaign}}">
                                    <div class="input-field">
                                        <input [(ngModel)]="editCampaign.campaign"
                                            placeholder="Campa&ntilde;a" id="campaign" name="campaign"
                                            type="text" class="validate">
    
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
    
                </div>
            </div>
        </div>
    
    </div>
    