<div class="container">
    <div class="card-panel">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="row">
                 <div class="center">
                       <a [routerLink]="['upload']"><button name="btn_upload" class="col s12 btn green darken-1">Cargar archivo</button></a>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12 l12">
                  <form  (ngSubmit)="onSearch()">
                      <div class="input-field col l2">
                        <input [(ngModel)]="model.codatis" type="text" name="codatis" placeholder="">
                        <label class="active filter" for="model.searchCodatis">Vendedor</label>
                      </div>
                        <div class="input-field col l5">
                        <input [(ngModel)]="model.campaign" type="text" name="campaign" placeholder="">
                        <label class="active filter" for="model.searchCampaign">Campa&ntilde;a</label>
                      </div>
                      <button class="waves-effect waves-light btn" type="submit">Buscar</button>
                  </form>
              </div>
          </div>
            <div class="row valign-wrapper">
              <table class="highlight responsive-table bordered centered">
                  <thead>
                      <tr>
                          <th>Vendedor</th>
                          <th>Campaña</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr *ngFor="let salesagent of catalogxsalesagent">
                            <td>{{salesagent.codatis}}</td>
                          <td>{{salesagent.campaign}}</td>
                          <td><a [routerLink]="[salesagent.id]"><i class="material-icons">open_in_new</i></a></td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <div class="row center">
              <ul class="pagination">
                    <li [ngClass]="{'disabled': model.currentPage == -1}" class="waves-effect"><a (click)="gotoPrevPage()"><i class="material-icons">chevron_left</i></a></li>
                    <li *ngFor="let i of model.pages" [ngClass]="{'active': model.currentPage == i}"><a (click)="gotoPage(i)">{{i+1}}</a></li>
                    <li [ngClass]="{'disabled': model.currentPage == model.numPages-1}" class="waves-effect"><a (click)="gotoNextPage()"><i class="material-icons">chevron_right</i></a></li>
              </ul>

          </div>
      </div>
  </div>
</div>
<div class="loading-indicator" *ngIf="model.loading">
  <div class="windows8">
      <div class="wBall" id="wBall_1">
          <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_2">
          <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_3">
          <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_4">
          <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_5">
          <div class="wInnerBall"></div>
      </div>
  </div>
</div>

