<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>



<!--<div class="" id="modalHome" *ngIf="modalHome">
	<div>
		<div>
			<div>
				<! 							<button type="button" class="close" data-dismiss="modal">&times;</button> -->
<!--<h4>Venta Cancelada</h4>
			</div>
			<div>
				<h5>Venta caida por exceso de intentos validos.</h5>
			</div>
			<div>
				<button type="button"(click)="cancelSale()">Aceptar</button>
			</div>
		</div>
	</div>
</div>-->


<div class="popup" id="pop_reniec" data-popup="popup-1" (click)="cancelSale()">
	<div class="popup-inner">
		<div class="modal fade" id="cancel">
			<h4 class="modal-title text-center">Venta Cancelada</h4>
			<h5 class="text-center">Venta ca&iacute;da por exceso de intentos inv&aacute;lidos.</h5>
			<br>
			<div class="text-center">
				<a type="button" id="aceptar" class="boton_greentdp wd240" (click)="cancelSale()">Aceptar</a>
			</div>

		</div>
	</div>
</div>

<div *ngIf="loadError">
	<div class="modal" *ngIf="!(contador==cantidadIntentos)"> 
		{{mensaje_error}}
		<div align="center">
			<a class="boton_greentdp" (click)="obtainReniec()">Consultar nuevamente</a>
			<a class="boton_greentdp" (click)="cancelarConsulta()">Cancelar</a>
		</div>
	</div>
	<div class="overlay" *ngIf="(contador<cantidadIntentos)"></div>
</div>

<div class="seccion">
	<div class="cnt_geneeral">
		<div class="title_pagina">
			<p>Validaci&oacute;n de Identidad</p>
			<div class="both"></div>
		</div>

		<div class="cnt_forcnt">
			<div class="dileAlCliente">
				Dile al cliente lo siguiente:
			</div>
			<div class="TitAsk" [innerHTML]="mjsReniec">
			</div>
			<div class="tablaDat mgt50" *ngIf="(contador<cantidadIntentos)">
				<table cellspacing="0" cellpadding="0" width="100%">
					<tbody>
						<tr>
							<td>NOMBRE COMPLETO: </td>
							<td class="bold">{{objReniec.names}} {{objReniec.lastName}} {{objReniec.motherLastName}}</td>
							
						</tr>
						<tr>
							<td>LUGAR DE NACIMIENTO: </td>
							<td class="bold">{{ objReniec.departmentName }}</td>
							
						</tr>
						<tr>
							<td>FECHA DE NACIMIENTO: </td>
							<td class="bold">{{customer.birthDate}}</td>
							
						</tr>
						<tr id="selecttr">
							<td>NOMBRE DE LA MADRE: </td>
							<td>
								<div class="cnt_imput paraselect">
									<div class="select">
										<select (change)="validateForm($event.target.value)" class="form-control form-control-combo" name="parentescoSelect" id="parentescoSelect"
										 required [(ngModel)]="parentescoModel" value="0">
											<!--<option value="1">Elige un nombre</option>-->
											<option *ngFor="let prtsc of keyParentescoList" [ngValue]="prtsc">{{prtsc}}</option>
										</select>
										<label>Elige un nombre</label>
									</div>
								</div>
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>

			<div class="tablaDat mgt50" *ngIf="(contador==cantidadIntentos)">
				<table cellspacing="0" cellpadding="0" width="100%" style="padding: 3px;">
					<tbody>
						<tr>
							<td width="30%">
								Apellidos del cliente:
							</td>
							<td>
							<input (change)="validateCont()" type="text" class="effect-16" [(ngModel)]="apellidoscontingencia" style="width: 100%" onkeyup="this.value=this.value.replace( /[0-9\-_.,#$!%&/()?¡¿'°¬|=]/g,'')"/>
							</td>
						</tr>		
						<tr>
							<td width="30%">
								Nombres del cliente:
							</td>
							<td>
								<input (change)="validateCont()" type="text" class="effect-16" [(ngModel)]="nombrecontingencia"  style="width: 100%" onkeyup="this.value=this.value.replace( /[0-9\-_.,#$!%&/()?¡¿'°¬|=]/g,'')"/>
							</td>
						</tr>		
						<tr>
							<td width="30%">
								<label style="color: red">(*)</label> Nombre de la madre: 
							</td>
							<td>
								<input (change)="validateCont()" type="text" class="effect-16" [(ngModel)]="madrecontingencia" style="width: 100%" onkeyup="this.value=this.value.replace( /[0-9\-_.,#$!%&/()?¡¿'°¬|=]/g,'')"/>
							</td>
						</tr>		
						<tr>
							<td width="30%">
								<label style="color: red">(*)</label> Nombre del padre:
							</td>
							<td>
								<input (change)="validateCont()" type="text" class="effect-16" [(ngModel)]="padrecontingencia" style="width: 100%"  onkeyup="this.value=this.value.replace( /[0-9\-_.,#$!%&/()?¡¿'°¬|=]/g,'')"/>
							</td>
						</tr>		
						<tr>
							<td width="30%">
								Fecha de nacimiento:
							</td>
							<td>
								<input id="date" (change)="validateCont()" type="date" class="effect-16" [(ngModel)]="fechanacimiento" style="width: 100%" />
							</td>
						</tr>	
						<tr>
							<td width="30%">	
								<label>Departamento</label>
							</td>
							<td>
								<div class="paraselect" id="divDepartament">
									<div class="select">
										<select id="department" name="department" (change)="selDepart2();" required>
											<option value="" disabled selected></option>
											<option *ngFor="let kdpt of keyDeparts" [selected]="kdpt === departSeleccionado" [attr.value]="kdpt">{{objDepart[kdpt].name}}</option>
										</select>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td width="30%">
								<label>Provincia</label>
							</td>
							<td>	
								<div class="paraselect" id="divDepartament">
									<div class="select">
										<select id="city" name="city" (change)="selCity();" required>
											<option value="" disabled selected></option>
											<option *ngFor="let prov of showProvs;" [selected]="prov.sku === proviSeleccionado" value="{{prov.sku}}">{{prov.name}}</option>
										</select>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td width="30%">
								<label>Distrito</label>
							</td>
							<td>		
								<div class="paraselect" id="divDepartament">
									<div class="select">
										<select id="district" name="district" (change)="selDistrict();" required>
											<option value="" disabled selected></option>
											<option *ngFor="let distrito of showDists;" [selected]="distrito.sku === districSeleccionado" value="{{distrito.sku}}">{{distrito.name}}</option>
										</select>
									</div>
								</div>	
							</td>
						</tr>	
					</tbody>
				</table>
			</div>
			<div style="margin: auto; width: 80%" *ngIf="(contador==cantidadIntentos)">
				<label *ngIf="(contador==cantidadIntentos)" style="color: red">
					* Colocar los nombres (sin apellidos) tal cual aparecen en sus DNI
				</label>
			</div>
			<div *ngIf="isValidationCompleted" style="margin-bottom:10px" class="cntBotonesOpt">
				<a (click)="nextPage()">SIGUIENTE</a>
			</div>
		</div>

	
	</div>
</div>