<div class="row">
    <div *ngIf="dataWasSaved" class="col s6 m9">
        <div class="row ">
            <div class="col s7 m6 offset-s2 offset-m2" style="margin-top:0.8%">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="messageSuccessful" class="col s6 m9">
        <div class="row ">
            <div class="col s7 m6 offset-s3 offset-m3" style="margin-top:0.8%">
                <div>{{ messageResponse }}</div>
            </div>
        </div>
    </div>
    <div *ngIf="(!messageSuccessful  && !dataWasSaved)" class="col s6 m9">
        <div class="row ">
            <div class="col s7 m6 offset-s3 offset-m3" style="margin-top:0.8%">
            </div>
        </div>
    </div>
    <button (click)="returnList()" class="waves-effect waves-light btn col s5 m2">
        <i class="material-icons left">keyboard_arrow_left</i>
        REGRESAR</button>
</div>
<div class="row">
    <div class="col s10 m10 offset-s1 offset-m1">
        <div class="card white">
            <div class="card horizontal">
                <div class="card-content col s4 m8">
                    <p>{{unitCondition.element}} - BORRADOR</p>
                </div>
                <div class="card-content col s3 m2">
                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn left-align" (click)="save()">GUARDAR</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="web" class="row">
    <table class="bordered col s10 m10 offset-s1 offset-m1">
        <tbody>
            <tr style="background-color:white">
                <td style="text-align: right">
                    <b>
                        <label for="last_name" style="color:black">Posición: </label>
                    </b>
                </td>
                <td style="width: 65%;">
                    <div class="col m3">
                        <select class="browser-default" [(ngModel)]="codePosicion">
                            <ng-container *ngFor="let pos of posicion">
                                <option value="{{pos.id}}">{{pos.str}}</option>
                            </ng-container>
                        </select>
                    </div>
                </td>
            </tr>
            <tr style="background-color:white">
                <td style="text-align: right">
                    <b>
                        <label for="last_name" style="color:black">Marcado casillero: </label>
                    </b>
                </td>
                <td style="width: 25%;">
                    <div class="col m3">
                        <select class="browser-default" [(ngModel)]="codeMarcador">
                            <ng-container *ngFor="let mar of marcador">
                                <option value="{{mar.id}}">{{mar.str}}</option>
                            </ng-container>
                        </select>
                    </div>
                </td>
            </tr>
            <tr style="background-color:white">
                <td style="text-align: right">
                    <b>
                        <label for="last_name" style="color:black">Titulo: </label>
                    </b>
                </td>
                <td style="width: 65%;">
                    <input for="last_name" [(ngModel)]="unitCondition.titulo" style="color:black" value="{{ unitCondition.titulo }}" />
                </td>
            </tr>
            <tr style="background-color:white">
                <td style="text-align: right">
                    <b>
                        <label for="last_name" style="color:black">Subtitulo: </label>
                    </b>
                </td>
                <td style="width: 65%;">
                    <input for="last_name" [(ngModel)]="unitCondition.contenido" style="color:black" value="{{ unitCondition.contenido }}" />
                </td>
            </tr>
        </tbody>
    </table>
</div>