<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    .switch input {
        display: none;
    }
    .slider_switch {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider_switch:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked+.slider_switch {
        background-color: #43A047;
    }
    input:focus+.slider_switch {
        box-shadow: 0 0 1px #43A047;
    }
    input:checked+.slider_switch:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider_switch.round {
        border-radius: 34px;
    }
    .slider_switch.round:before {
        border-radius: 50%;
    }
</style>
<div class="container">
    <div class="row">
        <button (click)="returnList()" class="waves-effect waves-light btn col s12 m3">
            <i class="material-icons left">keyboard_arrow_left</i>
            REGRESAR</button>
            
        <div class="col s12 m6" style="float: right">  
            <a style="margin-bottom:0%" [routerLink]="['add/byCanal']" class="btn waves-effect waves-light red col s6 m6">
                + por Canal
            </a>
            <a style="margin-bottom:0%" [routerLink]="['add/byPtoVenta']" class="btn waves-effect waves-light blue col s6 m6">
                + por Pto de venta
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card white hoverable">
                <div class="card horizontal">
                    <div class="card-content col s6" style="padding-top: 25px !important">

                        <label style="color: #000000; font-size: 18px;">Apagado total </label>
                    </div>
                    <div class="card-content col s6" style="text-align: right;">
                        <label class="switch">
                            <input [(ngModel)]="flag" (change)="updateApagado()" type="checkbox" />
                            <span class="slider_switch round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card white hoverable">
                <div class="card horizontal blue" style="color:white">
                    <div class="card-content col s4 m4">
                        <p>Punto Venta</p>
                    </div>
                    <div class="card-content col s4 m4">
                        <p>Canal</p>
                    </div>
                    <div class="card-content col s2 m2" style="text-align: center">
                        <p class="d-block d-sm-none d-md-block">Login de Convergencia</p>
                    </div>
                    <div class="card-content col s1 m1">
                    </div>
                    <div class="card-content col s1 m1">
                    </div>
                </div>
                <div class="card horizontal" *ngFor="let acc of accesos">
                    <div class="card-content col s4 m4">
                        <p>{{acc.pto_venta}}</p>
                    </div>
                    <div class="card-content col s4 m4" >
                        <p>{{acc.canal}}</p>
                    </div>
                    <div class="card-content col s2 m2" style="text-align: center">
                        <input type="checkbox" style="left: initial;opacity: 1;" [(ngModel)]="acc.f_enable" disabled="">
                    </div>
                    <div class="card-content col s1 m1" style="text-align: center">
                        <a  class="btn-floating btn-small waves-effect waves-light blue" [routerLink]="['/login-convergencia/edit/', acc.id]">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>    
                    <div class="card-content col s1 m1" style="text-align: center">
                        <a  class="btn-floating btn-small waves-effect waves-light red" (click)="delete(acc.id)">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loading-indicator" *ngIf="loading">
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>