<div class="container" *ngIf="saved">
    <div class="row">
        <button (click)="returnList()" class="waves-effect waves-light btn col s6 m3">
            <i class="material-icons left">keyboard_arrow_left</i>
            REGRESAR</button>
    </div>
    <div class="row">
        <div class="col s12 m12">
            Se guardo exitosamente
        </div>
    </div>
</div>
<div class="container" *ngIf="!saved">
    <div class="row">
        <button (click)="returnList()" class="waves-effect waves-light btn col s6 m3">
            <i class="material-icons left">keyboard_arrow_left</i>
            REGRESAR</button>
        <div class="col s6 m9">  
            <a style="float:right;margin-bottom:0%" (click)="add()" class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">save</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <div class="card white hoverable">
                <div class="card horizontal blue" style="color:white">
                    <div class="card-content col s10 m10" *ngIf="type=='byPtoVenta'">
                        <p class="d-block d-sm-none d-md-block">Pto Venta</p>
                    </div>
                    <div class="card-content col s10 m10" *ngIf="type=='byCanal'">
                        <p class="d-block d-sm-none d-md-block">Canal</p>
                    </div>
                    <div class="card-content col s2 m2">
                        <p class="d-block d-sm-none d-md-block">Acceso</p>
                    </div>
                </div>
                <div class="card horizontal">
                    <div class="card-content col s10 m10" *ngIf="type=='byPtoVenta'">
                        <input type="text" [(ngModel)]="acceso.pto_venta">
                    </div>
                    <div class="card-content col s10 m10" *ngIf="type=='byCanal'">
                        <input type="text" [(ngModel)]="acceso.canal">
                    </div>
                    <div class="card-content col s2 m2">
                        <input type="checkbox" style="left: initial;opacity: 1;" [(ngModel)]="acceso.f_enable">
                    </div>     
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loading-indicator" *ngIf="loading">
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>