<div class="container">
	<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel">
          	<div class="row valign-wrapper">
            	<div class="col s2">
              		<img src="../../image/img_share.jpg" alt="" class="circle responsive-img space">
            	</div>
            	<div class="col s10">
	              	<span class="black-text">
	                	Bienvenido {{currentUser.name}} {{currentUser.lastname}}!
	              	</span>
            	</div>
          	</div>
        </div>
    </div>
</div>
