<div class="container">
  <div class="row">
    <a type="button" class="patras2" (click)="goBack()">
      Página anterior
    </a>
    <div class="col-sm-12">
      <h3 class="center">
        Detalle Historico de Ventas
      </h3>
      <div class="tablaDat">
        <table cellspacing="0" cellpadding="0" width="100%">
          <thead>
            <tr>
              <th>Campo</th>
              <th>Dato</th>
              <!-- //Trasacción -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Transacción</td>
              <td>{{salesReportDetail.id_transaccion}}</td>
            </tr>
            <tr>
                <td>DNI</td>
                <td>{{salesReportDetail.dni}}</td>
              </tr>
            <tr>
              <td>Nombre de Producto</td>
              <td>{{salesReportDetail.productName}}</td>
            </tr>
            <tr>
              <td>Fecha de Venta</td>
              <td>{{salesReportDetail.saleDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
            <tr>
              <td>Precio</td>
              <td>{{salesReportDetail.price}}</td>
            </tr>
            <tr>
              <td>Precio Promocional</td>
              <td>{{salesReportDetail.promPrice}}</td>
            </tr>
            <tr>
              <td>Descuento</td>
              <td>{{salesReportDetail.discount}}</td>
            </tr>
            <tr>
              <td>Periodo por Mes(es)</td>
              <td>{{salesReportDetail.monthPeriod}}</td>
            </tr>
            <tr>
              <td>Tipo de Linea</td>
              <td>{{salesReportDetail.lineType}}</td>
            </tr>
            <tr>
              <td>Precio Contado</td>
              <td>{{salesReportDetail.cashPrice}}</td>
            </tr>
            <tr>
              <td>Estado</td>
              <td>{{salesReportDetail.status}}</td>
            </tr>
            <tr>
              <td>Codigo de Peticion</td>
              <td>{{salesReportDetail.requestCode}}</td>
            </tr>
            <tr>
              <td>Estado de Peticion</td>
              <td>{{salesReportDetail.statusRequest}}</td>
            </tr>
            <tr>
              <td>Estado Atis/Cms</td>
              <td>{{salesReportDetail.cmsAtisStatus}}</td>
            </tr>
            <tr>
              <td>Nombre del Cliente</td>
              <td>{{salesReportDetail.clientName}}</td>
            </tr>
            <tr>
              <td>Operacion Comercial</td>
              <td>{{salesReportDetail.commercialOperation}}</td>
            </tr>
            <tr>
              <td>Descripcion de Cancelacion de Venta</td>
              <td>{{salesReportDetail.cancelDescription}}</td>
            </tr>
            <tr>
              <td>Habilitar Factura Digital</td>
              <td>{{salesReportDetail.enableDigitalInvoice}}</td>
            </tr>
            <tr>
              <td>Deshabilitar Paginas Blancas</td>
              <td>{{salesReportDetail.disableWhitePage}}</td>
            </tr>
            <tr>
              <td>Codigo CIP</td>
              <td>{{salesReportDetail.numeroCIP}}</td>
            </tr>
            <tr>
              <td>Estado CIP</td>
              <td>{{salesReportDetail.estadoCIP}}</td>
            </tr>
            <tr>
              <td>Nro Celular de Cliente</td>
              <td>{{salesReportDetail.customerPhone}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>