<style>
  .fila-custom .col-custom.col-quinto {
    width: 19.5%;
  }

  .filtro-fecha .fecha input.campo-fecha {
    font-size: 16px;
  }
</style>
<div class="loading-indicator" *ngIf="loading">
  <div class="windows8 windows-parquet">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>

<div class="titulo-wrapper">
  <div class="titulo">
    <div class="container2">
      <div class="buscador" *ngIf="isSearchHistoric">
        <input (keyup.enter)="searchUser()" [(ngModel)]="strSearchVenta" type="text"
          placeholder="Busca por Nombre o DNI" class="campo-busca">
        <input (click)="searchUser()" type="button" value="&nbsp;" class="lupa">
      </div>
      <h1>Histórico de ventas</h1>
    </div>
  </div>
</div>

<div class="reporte-wrapper">
  <div class="reporte">
    <div class="container2">
      <div class="cnt_forcnt2 bloque bloque-historico">
        <div class="filtro-fecha">
          <div class="fila-custom">
            <div class="col-custom col-quinto">
              <div class="sup">Estado:</div>
              <div class="fecha">
                <div class="fecha-cont sinca">
                  <select class="campo-estado" [(ngModel)]="codeState">
                    <ng-container *ngFor="let state of typeState">
                      <option [ngValue]="state.id" selected>{{state.name}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-custom col-quinto">
              <div class="sup">De:</div>
              <div class="fecha">
                <input type="date" id="fecha1" class="campo-fecha" [(ngModel)]="dateStart">
              </div>
            </div>
            <div class="col-custom col-quinto">
              <div class="sup">A:</div>
              <div class="fecha">
                <input type="date" id="fecha2" class="campo-fecha" [(ngModel)]="dateEnd">
              </div>
            </div>
            <div class="col-custom col-quinto">
              <div class="filtrar">
                <span id="filtrar" class="btn" (click)="getFiltrar();">Filtrar</span>
              </div>
            </div>
            <div class="col-custom col-quinto">
              <div class="filtrar">
                <span id="Exportar" class="btn" (click)="buscarReporteVenta();">Exportar</span>
              </div>
            </div>
          </div>
        </div>
        <div id="messageHistorico" class="head_deco" style="margin-top: 15px; display: none;"></div>
        <div class="historico" id="historico" style="display: none;">

          <!--*********************************Inicio Total por meses*********************************-->
          <div class="cd-timeline js-cd-timeline">

            <ng-container *ngFor="let hm of listaMes">
              <!--***********************************Inicio Mes***********************************-->
              <div>
                <!--Inicio Resumen por mes-->
                <div [style.border-color]="hm.color" class="his-mes">
                  <h3 [style.background-color]="hm.color">{{hm.name}}</h3>
                  <div class="detalles">
                    <div class="total">
                      <div class="num">
                        <span>{{hm.clientestotal}}</span>
                      </div>
                      <div class="txt">
                        Total clientes
                      </div>
                    </div>
                    <div class="datos">
                      <ng-container *ngFor="let est of hm.estados">
                        <div class="dato">
                          <div class="nombre">
                            {{est.name.substring(0,1).toUpperCase() + est.name.substring(1,est.name.length).toLowerCase()}}
                          </div>
                          <span class="bola-lila" [style.background-color]="est.color">{{est.cantidad}}</span>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <!--Fin Resument por mes-->

                <ng-container *ngFor="let day of hm.dias">
                  <!--Inicio Detalle Historico-->
                  <div class="cd-timeline__container">
                    <div class="his-dia" [style.border-color]="hm.color" [style.color]="hm.color">{{day.name}}</div>

                    <ng-container *ngFor="let list of day.lista; let i = index">
                      <!--Inicio Data-->
                      <div class="cd-timeline__block js-cd-block">
                        <div class="cd-timeline__img cd-timeline__img--picture js-cd-img cd-timeline__img--bounce-in"
                          [style.background-color]="hm.color">
                        </div>

                        <div class="cd-timeline__content js-cd-content cd-timeline__content--bounce-in">
                          <div class="fecha-dia">
                            {{list.hora}}
                          </div>

                          <div class="globo" [style.background-color]="hm.color">
                            <h2>{{list.name}}</h2>
                            <div class="contdata">
                              <div class="controw">
                                <span>Nº Documento:</span>
                                <span>{{list.document}}</span>
                              </div>
                              <div class="controw">
                                <span>Producto:</span>
                                <span>{{list.producto}}</span>
                              </div>
                              <div class="controw">
                                <span>Estado:</span>
                                <span>{{list.estado}}</span>
                              </div>
                            </div>
                            <div class="ver-mas">
                              <a (click)="getDetailData(list.id)" class="btn btn-detalle">Ver detalle</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--Fin Data-->
                    </ng-container>
                  </div>
                  <!--Fin Detalle Historico-->
                </ng-container>

              </div>
              <!--***********************************Fin Mes***********************************-->
            </ng-container>

          </div>
          <!--*********************************Inicio Total por meses*********************************-->
        </div>
      </div>
    </div>
  </div>
</div>

<!--Inicio Modal-->
<div *ngIf="isFlagModalVenta">
  <div class="modal_dir modal-detalle modal-detalle-historico" id="detalle001" style="height: 30rem;
  overflow-y: scroll;">
    <div class="modal-dialog">
      <div class="modal-content" [style.border-color]="venta.color">
        <div class="modal-header">
          <a class="close" [style.background-color]="venta.color" (click)="cerrarModal()">
            <span>&times;</span>
          </a>
          <h4 class="modal-title" [style.color]="venta.color">Detalle</h4>
        </div>
        <div class="franja" [style.background-color]="venta.color">
          <div class="fila-custom">
            <div class="col-custom">
              <div class="dato">
                Producto:
                <br>
                <strong>{{venta.producto}}</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="datos" >
            <div class="fila-custom" style="display: flex">
              <div class="col-custom col-mitad">
                  <div class="dato">
                      <div class="rojo" [style.color]="venta.color">Id Pedido</div>
                      <div class="gris">{{venta.id}}&nbsp;</div>
                    </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Precio</div>
                  <div class="gris">{{venta.precio}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Precio Prom</div>
                  <div class="gris">{{venta.preciopromocional}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Código pedido</div>
                  <div class="gris">{{venta.codigoPedido}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Nº de Teléfono Cliente</div>
                  <div class="gris">{{venta.telefonoCliente}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Nº de Teléfono Cliente 2</div>
                  <div class="gris">{{venta.telefonoCliente2}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">OP Comercial</div>
                  <div class="gris">{{venta.operacioncomercial}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Tipo de línea</div>
                  <div class="gris">{{venta.tipolinea}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Dirección</div>
                  <div class="gris">{{venta.direccion}}&nbsp;</div>
                </div>

                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Codigo CIP</div>
                  <div class="gris">{{venta.codigocip}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Debito Automatico</div>
                  <div class="gris">{{venta.debitoAuto}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Web Parental</div>
                  <div class="gris">{{venta.webParental}}&nbsp;</div>
                </div>
                <div class="dato">
                    <div class="rojo" [style.color]="venta.color">SVAs</div>
                    <div *ngFor="let svaVenta of svaVentas" style="display: flex; justify-content: space-between">
                      <div class="gris">{{svaVenta.svaNombre}}&nbsp;</div>
                      <div class="gris" style="margin-right: 100px;">{{svaVenta.svaCantidad}}&nbsp;</div>
                    </div>
                  </div>
              </div>

              <div class="col-custom col-mitad">
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Nº Teléfono vendedor</div>
                  <div class="gris">{{venta.telefonoAsignado}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Orden de trabajo</div>
                  <div class="gris">{{venta.ordenTrabajo}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Descuento</div>
                  <div class="gris">{{venta.descuento}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Periodo Prom</div>
                  <div class="gris">{{venta.periodopromocional}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">F. Venta</div>
                  <div class="gris">{{venta.fVenta}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Pago adelantado</div>
                  <div class="gris">{{venta.pagoAdelantado}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Factura electrónica</div>
                  <div class="gris">{{venta.facturaelectronica}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Páginas blancas</div>
                  <div class="gris">{{venta.paginasblancas}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Id. Transacción</div>
                  <div class="gris">{{venta.idtransaccion}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Estado CIP</div>
                  <div class="gris">{{venta.estadocip}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Tratamiento de Datos</div>
                  <div class="gris">{{venta.tratamientDatos}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Recibo Electronico</div>
                  <div class="gris">{{venta.reciboElect}}&nbsp;</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<!--Fin Modal-->

<!--Modal Mensaje-->
<div *ngIf="isMessage">
  <div class="modal_dir modal-detalle_dir" style="width: 28%;">
    <div class="modal-dialog">
      <div class="modal-content">
        <br/>
        <div class="modal-body">
          <h3 class="title_dir">Mensaje alerta:</h3>
          <div class="content_dir">
            <b>{{strMessage}}</b>
            <br/>
            <br/>
            <a class="boton_whitentdp_dir" (click)="cerrarMensaje()">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>

<div class="modal2 modal-detalle modal-fecha fade" id="fecha-de">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" rel="modal:close">
          <span aria-hidden="true">&times;</span>
        </a>
        <h4 class="modal-title titu-sele">Seleccionar fecha</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-8 col-sm-push-2">
            <div id="calendario1"></div>
            <div class="listo">
              <a id="listo1" href="#" rel="modal:close" class="btn btn-listo">Listo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal2 modal-detalle modal-fecha fade" id="fecha-a">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" rel="modal:close">
          <span aria-hidden="true">&times;</span>
        </a>
        <h4 class="modal-title titu-sele">Seleccionar fecha</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-8 col-sm-push-2">
            <div id="calendario2"></div>
            <div class="listo">
              <a id="listo2" href="#" rel="modal:close" class="btn btn-listo">Listo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Inicio Detalle por cada Venta-->
<div class="modal2 modal-detalle modal-detalle-historico" id="detalle001">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a type="button" class="close" href="#close-modal" rel="modal:close">
          <span>&times;</span>
        </a>
        <h4 class="modal-title">Detalle</h4>
      </div>
      <div class="franja">
        <div class="fila-custom">
          <div class="col-custom">
            <div class="dato">
              Producto:
              <br>
              <strong>Dúo Plano Local Estandar DHT</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="datos">
          <div class="fila-custom">
            <div class="col-custom col-mitad">
              <div class="dato">
                <div class="rojo">Precio</div>
                <div class="gris">S/ 79.90</div>
              </div>
              <div class="dato">
                <div class="rojo">Precio Prom</div>
                <div class="gris">S/ 59.90</div>
              </div>
              <div class="dato">
                <div class="rojo">Código pedido</div>
                <div class="gris">-</div>
              </div>
              <div class="dato">
                <div class="rojo">Nº de Teléfono Cliente</div>
                <div class="gris">+986982198</div>
              </div>
              <div class="dato">
                <div class="rojo">OP Comercial</div>
                <div class="gris">Alta pura</div>
              </div>
              <div class="dato">
                <div class="rojo">Tipo de línea</div>
                <div class="gris">Libre</div>
              </div>
              <div class="dato">
                <div class="rojo">Dirección</div>
                <div class="gris">Mz D Lt 14 Urb. Los olivos - Arte, Lima, Lima</div>
              </div>
            </div>
            <div class="col-custom col-mitad">
              <div class="dato">
                <div class="rojo">Descuento</div>
                <div class="gris">S/ 20.00</div>
              </div>
              <div class="dato">
                <div class="rojo">Periodo Prom</div>
                <div class="gris">2 meses</div>
              </div>
              <div class="dato">
                <div class="rojo">F. Venta</div>
                <div class="gris">19/04/2018 01:15:25 pm</div>
              </div>
              <div class="dato">
                <div class="rojo">Pago adelantado</div>
                <div class="gris">S/ 120.00 CIP dura 7 días</div>
              </div>
              <div class="dato">
                <div class="rojo">Factura electrónica</div>
                <div class="gris">Si</div>
              </div>
              <div class="dato">
                <div class="rojo">Páginas blancas</div>
                <div class="gris">Si</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Fin Detalle por cada Venta-->


<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/jquery.modal.min.js"></script>
<script src="js/index.js"></script>
<script src="js/moment.js"></script>
<script src="js/es.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script>

  $(document).ready(function () {

    $('#fecha1').click(function (event) {
      event.preventDefault();
      $('#fecha-de').modal({
        escapeClose: false,
        clickClose: false,
        showClose: false
      });
    });

    $('#fecha2').click(function (event) {
      event.preventDefault();
      $('#fecha-a').modal({
        escapeClose: false,
        clickClose: false,
        showClose: false
      });
    });

    $('a[href="#detalle001"]').click(function (event) {
      event.preventDefault();
      $(this).modal({
        escapeClose: false,
        clickClose: false,
        showClose: false
      });
    });

    var fecha1 = '';
    var fecha2 = '';

    $('#calendario1').datetimepicker({
      inline: true,
      sideBySide: false,
      format: 'DD/MM/YYYY',
      locale: 'es',
    }).on('dp.change', function (event) {
      fecha1 = event.date.format('L');
      //console.log(fecha1);
    });

    $('#listo1').click(function (event) {
      $('#fecha1').val(fecha1);
    });

    $('#calendario2').datetimepicker({
      inline: true,
      sideBySide: false,
      format: 'DD/MM/YYYY',
      locale: 'es',
    }).on('dp.change', function (event) {
      fecha2 = event.date.format('L');
      //console.log(fecha2);
    });

    $('#listo2').click(function (event) {
      $('#fecha2').val(fecha2);
    });

    $('#filtrar').click(function (event) {
      $('#historico').slideDown(300);
    });

    /**/

    $(window).scroll(function () {
      $('.ocultar').each(function (i) {
        var bottom_of_object = $(this).offset().top + $(this).outerHeight();
        var bottom_of_window = $(window).scrollTop() + $(window).height();
        if (bottom_of_window > bottom_of_object) {
          $(this).animate({ 'opacity': '1' }, 500);
        }
      });
    });

  });

</script>