<style>
      .celda {
			height: 400px;
      }

      .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
      }

      .switch input {
            display: none;
      }

      .slider_switch {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
      }

      .slider_switch:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
      }

      input:checked+.slider_switch {
            background-color: #43A047;
      }

      input:focus+.slider_switch {
            box-shadow: 0 0 1px #43A047;
      }

      input:checked+.slider_switch:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
      }

      /* Rounded sliders */

      .slider_switch.round {
            border-radius: 34px;
      }

      .slider_switch.round:before {
            border-radius: 50%;
      }
</style>

<div class="container">
      <div class="row">
            <div class="col s12 m4 l4" style="text-align: right;">
                  <button (click)="returnList()" class="waves-effect waves-light btn col s12 m6 offset-m3">
                        <i class="material-icons left">keyboard_arrow_left</i>
                        REGRESAR
                  </button>
            </div>
            <div class="col s12 m4 l4" style="text-align: center;">
                  <label class="btn btn-default" style="color:white;">
                        <i class="material-icons left">table_chart</i>
                        CARGA MASIVA <input #myInput type="file" hidden (change)="fileChange($event)">
                  </label>
            </div>
            <div class="col s12 m4 l4" style="text-align: center;">
                  <a [routerLink]="['/ftth/new']" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                  <div class="row valign-wrapper">
                        <table class="highlight responsive-table bordered centered">
                              <thead>
                                    <tr>
                                          <th>Nro</th>
                                          <th>Tipo</th>
                                          <th>Departamento</th>
                                          <th>Provincia</th>
                                          <th>Distrito</th>
                                          <th>Point Y</th>
                                          <th>Point X</th>
                                          <th></th>
                                    </tr>
                              </thead>
      
                              <tbody>
                                    <tr *ngFor="let d of data">
                                          <td>{{d.ftth_nro}}</td>
                                          <td>{{d.tipo}}</td>
                                          <td>{{d.departamento}}</td>
                                          <td>{{d.provincia}}</td>
                                          <td>{{d.distrito}}</td>
                                          <td>{{d.pointy}}</td>
                                          <td>{{d.pointx}}</td>
                                          <td><a [routerLink]="[d.ftth_nro]"><i class="material-icons">open_in_new</i></a></td>
                                    </tr>
                              </tbody>
                        </table>
                  </div>
                  <div class="row center">
                        <ul class="pagination">
                              <li [ngClass]="{'disabled': model.currentPage == 0}" class="waves-effect"><a (click)="gotoPrevPage()"><i class="material-icons">chevron_left</i></a></li>
                              <li *ngFor="let i of model.pages" [ngClass]="{'active': model.currentPage == i}"><a (click)="gotoPage(i)">{{i+1}}</a></li>
                              <li [ngClass]="{'disabled': model.currentPage == model.numPages-1}" class="waves-effect"><a (click)="gotoNextPage()"><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                  </div>
            </div>
      </div>
</div>
<div class="loading-indicator" *ngIf="loading">
      <div class="windows8">
        <div class="wBall" id="wBall_1">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
          <div class="wInnerBall"></div>
        </div>
      </div>
</div>