<style>
      .celda {
			height: 400px;
      }

      .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
      }

      .switch input {
            display: none;
      }

      .slider_switch {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
      }

      .slider_switch:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
      }

      input:checked+.slider_switch {
            background-color: #43A047;
      }

      input:focus+.slider_switch {
            box-shadow: 0 0 1px #43A047;
      }

      input:checked+.slider_switch:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
      }

      /* Rounded sliders */

      .slider_switch.round {
            border-radius: 34px;
      }

      .slider_switch.round:before {
            border-radius: 50%;
      }
</style>

<div class="container">
      <div class="row">
            <div class="col s12 m6 l6" style="text-align: right;">
                  <button (click)="returnList()" class="waves-effect waves-light btn col s12 m6 offset-m3">
                        <i class="material-icons left">keyboard_arrow_left</i>
                        REGRESAR
                  </button>
            </div>
      </div>
      <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2">
                  <div class="row valign-wrapper">
                        <div class="col s12">
                              <form>
                                <div class="row">
                                  <div class="input-field col s6">
                                    <input [(ngModel)]="model.ftth_nro" type="text" name="ftth_nro" class="validate" required>
                                    <label class="filter" for="ftth_nro">Nro</label>
                                  </div>
                                  <div class="input-field col s6">
                                    <input [(ngModel)]="model.tipo" type="text" name="tipo" class="validate" required>
                                    <label class="filter" for="tipo">Tipo</label>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="input-field col s6">
                                    <input [(ngModel)]="model.pointy" type="text" name="pointy" class="validate" required>
                                    <label class="filter" for="pointy">Point Y</label>
                                  </div>
                                  <div class="input-field col s6">
                                    <input [(ngModel)]="model.pointx" type="text" name="pointx" class="validate" required>
                                    <label class="filter" for="pointx">Point X</label>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s9">
                                      <input [(ngModel)]="model.direccion" type="text" name="direccion" class="validate" required>
                                      <label class="filter" for="direccion">Direccion</label>
                                    </div>
                                    <div class="input-field col s3">
                                      <input [(ngModel)]="model.numero" type="text" name="numero" class="validate" required>
                                      <label class="filter" for="numero">Nro</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s3">
                                      <input [(ngModel)]="model.mz" type="text" name="mz" class="validate" required>
                                      <label class="filter" for="mz">Mz</label>
                                    </div>
                                    <div class="input-field col s3">
                                      <input [(ngModel)]="model.lote" type="text" name="lote" class="validate" required>
                                      <label class="filter" for="lote">Lt</label>
                                    </div>
                                    <div class="input-field col s3">
                                          <input [(ngModel)]="model.bloque" type="text" name="bloque" class="validate" required>
                                          <label class="filter" for="bloque">Blk</label>
                                    </div>
                                    <div class="input-field col s3">
                                          <input [(ngModel)]="model.dpto" type="text" name="dpto" class="validate" required>
                                          <label class="filter" for="dpto">Dpto</label>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="input-field col s4">
                                          <select class="browser-default" [(ngModel)]="model.departamento" name="departamento"  (change)="updateUbigeo(1)">
                                                <option value="">Selecciona un departamento</option>
                                                <option *ngFor="let dep of departamento" value="{{dep.coddpto}}">{{dep.nomubigeo}}</option>
                                          </select>
                                          <label class="filter active" for="dpto">Departamento</label>
                                    </div>
                                    <div class="input-field col s4">
                                          <select class="browser-default" [(ngModel)]="model.provincia" name="provincia"  (change)="updateUbigeo(2)">
                                                <option value="">Selecciona una provincia</option>
                                                <option *ngFor="let dep of provincia" value="{{dep.codprov}}">{{dep.nomubigeo}}</option>
                                          </select>
                                          <label class="filter active" for="dpto">Provincia</label>
                                    </div>
                                    <div class="input-field col s4">
                                          <select class="browser-default" [(ngModel)]="model.distrito" name="distrito">
                                                <option value="">Selecciona un distrito</option>
                                                <option *ngFor="let dep of distrito" value="{{dep.coddist}}">{{dep.nomubigeo}}</option>
                                          </select>
                                          <label class="filter active" for="dpto">Distrito</label>
                                    </div>
                                 </div>
                                 <div class="input-field col s12">
                                    <button class="waves-effect waves-light btn" type="button" (click)="onSubmit()">Registrar</button>
                                  </div>
                              </form>
                        </div>                          
                  </div>
            </div>
      </div>
</div>
<div class="loading-indicator" *ngIf="loading">
      <div class="windows8">
        <div class="wBall" id="wBall_1">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
          <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
          <div class="wInnerBall"></div>
        </div>
      </div>
</div>