<div class="loading-indicator" *ngIf="loading">
    <div class="windows8 windows-parquet">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>


<div class="seccion">
    <div class="cnt_geneeral">
        <div class="title_pagina">
            <p>Asistencia en instalación</p>
            <div class="both"></div>
        </div>
        <div class="cnt_forcnt prela">
            <div class="dileAlCliente">
                Dile al cliente lo siguiente:
            </div>
            <div class="TitAsk">
                Estimado cliente se necesita el teléfono de la persona que estará presente el día de la instalación.
            </div>
            <div class="card compact">
                <div >
                    <div class="">
                    
                    <div class="col-4 input-effect">
                        <input disabled id="name0" value="{{cliente_name}}" class="effect-16" type="text" placeholder="">
                        <label style="position: absolute;left: 0;width: 100%;top: 0px;top: -16px;font-size: 14px;color: #3399FF;z-index: -1;letter-spacing: 0.5px;text-align: left;">Ingresa nombre</label>
                        <span class="focus-border"></span>                      
                    </div>
                    <div class="col-4 input-effect">
                        <input  id="tel0" value="{{cliente_telefono}}" class="effect-16" type="text" placeholder=""  onkeyup="this.value=this.value.replace( /[a-zA-Z\-_.,#$!%&/()?¡¿'°¬|=]/g,'')" maxlength="9">
                        <label style="position: absolute;left: 0;width: 100%;top: 0px;top: -16px;font-size: 14px;color: #3399FF;z-index: -1;letter-spacing: 0.5px;text-align: left;">Ingresa teléfono</label>
                        <span class="focus-border"></span>   
                        
                        <!-- {{cliente_telefono}} -->


                    </div>
                    <div class="col-3 ">
                            <a class="boton_greentdp_alt" (click)="addPersona()">agregar persona</a>
                    </div>
                    <div class="item">
                            
                     </div>  
                </div>
                
              
                
            </div>
            <div class="dileAlCliente">
                Dile al cliente lo siguiente:
            </div>
            <div class="TitAsk">
                De los días sugeridos ¿qué día estará disponible para la instalación del servicio?.
            </div>
            <div class="card compact calendario">
                <div class="col-12">
                    <div class="tablaDatos calendar">
                        <table>
                            <tbody><tr>
                                <th *ngFor="let nameDia of diaNameArray">
                                    {{nameDia}}
                                </th>
                                 
                            </tr>
                            <div id="calendaryContainer">
                                
                            </div>
                            <tr>
                                    <!-- *ngIf="item.satisfactorio==false" -->
                                <td *ngFor="let numDia of diaNumArray ; let i = index">
                                    <p [ngClass]="'desa'+ i"  (click)="saveDay(i)" style="border: 0;width: 44%;border-radius: 50%;font-size: 14px;text-align: center;padding: 4px;background: white;cursor:pointer" >
                                            {{numDia | slice:-2}}  
                                    </p>
                                </td>    
                            </tr>
                             
                        </tbody></table>
                    </div>
                </div>
                <div class="col-12">
                    <div class="container">
                        <form id="myForm">
                            <div class="switch">
                                <input type="radio" name="radioName" (click)="initCalendario('AM')" class="switch-input"  value="am" id="am" checked="">
                                <label for="am" class="switch-label switch-label-off">am</label>
                                <input type="radio" name="radioName" (click)="initCalendario('PM')" class="switch-input"  value="pm" id="pm">
                                <label for="pm" class="switch-label switch-label-on">pm</label>
                                <span class="switch-selection"></span>
                            </div>
                        </form>
                        
                    </div>
                    
                </div>
            </div>
            <div class="card botonera-1">
                <div class="col-12 text-center">
                    <a class="boton_greentdp full" (click)="saveAgendamiento()" >CONTINUAR</a>
                </div>
            </div>
        </div>
    </div>
 
</div>