<div class="loading-indicator" *ngIf="loading">
  <div class="windows8 windows-parquet">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>

<div class="titulo-wrapper">
  <div class="titulo">
    <div class="container2">
      <div class="buscador" style="display: none;">
        <input type="text" placeholder="Busca por Nombre, Fecha de venta o DNI" class="campo-busca">
        <input type="submit" value="&nbsp;" class="lupa">
      </div>
      <h1>Resultados de búsqueda</h1>
    </div>
  </div>
</div>

<div class="reporte-wrapper">
  <div class="reporte">
    <div class="container2">
      <div class="cnt_forcnt2 bloque">
        <div class="head_er solo-resultados"></div>
        <div class="wrap estados_wr">
          <input id="slide-1-trigger" type="radio" name="slides" checked>
          <div class="slide slide-one">
            <ng-container *ngFor="let list of listVenta">
              <div class="card_data bloque-lila" [style.border-color]="list.color">
                <h2 [style.color]="list.color" style="max-height: 50px; overflow: hidden;text-overflow: ellipsis;" style="font-size: 16px;">{{list.name}}</h2>
                <div class="dni" [style.color]="list.color" style="font-size: 15px;">DNI: {{list.document}}</div>
                <div class="datos">
                  <div class="dato">
                    <div class="izq" style="font-size: 14px;">F. de venta:</div>
                    <div class="der" style="font-size: 14px;">{{list.fechaCompleta}}
                      <br style="font-size: 14px;"> {{list.hora}}</div>
                  </div>
                  <div class="dato">
                    <div class="izq" style="font-size: 14px;">Producto:</div>
                    <div class="der" style="min-height: 90px; font-size: 14px;">{{list.producto}}</div>
                  </div>
                </div>
                <div class="ver-mas">
                  <a (click)="getDetailData(list.id)" class="" [style.background-color]="list.color">Ver Detalle</a>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div  *ngIf="isFlagModalVenta">
  <div class="modal_dir modal-detalle" id="detalle001">
    <div class="modal-dialog">
      <div class="modal-content" [style.border-color]="venta.color">
        <div class="modal-header">
          <a class="close" [style.background-color]="venta.color" (click)="cerrarModal()">
            <span>&times;</span>
          </a>
          <h4 class="modal-title" [style.color]="venta.color">Detalle</h4>
        </div>
        <div class="franja" [style.background-color]="venta.color">
          <div class="fila-custom">
            <div class="col-custom col-mitad">
              <div class="dato">
                Producto:
                <br>
                <strong>{{venta.producto}}</strong>
              </div>
            </div>
            <div class="col-custom col-mitad">
              <div class="cuadro">
                <div class="fila-custom">
                  <div class="col-custom col-mitad">
                    <div class="dato">
                      Razón de la cancelación:
                      <br>
                      <strong>{{venta.motivoCaida}}</strong>
                    </div>
                  </div>
                  <div class="col-custom col-mitad" style="display: none;">
                    <div class="dato franja-apelar">
                      <a href="#apelar001" class="btn">Recuperar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="datos">
            <div class="fila-custom" style="display: flex">
              <div class="col-custom col-mitad">
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Nº Teléfono vendedor</div>
                  <div class="gris">{{venta.telefonoAsignado}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Tecnología</div>
                  <div class="gris">{{venta.tecnologia}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">F. Venta</div>
                  <div class="gris">{{venta.fVenta}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Código Pedido</div>
                  <div class="gris">{{venta.codigoPedido}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Orden de trabajo</div>
                  <div class="gris">{{venta.ordenTrabajo}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">SVAs</div>
                  <div *ngFor="let svaVenta of svaVentas" style="display: flex; justify-content: space-between">
                    <div class="gris">{{svaVenta.svaNombre}}&nbsp;</div>
                    <div class="gris" style="margin-right: 100px;">{{svaVenta.svaCantidad}}&nbsp;</div>
                  </div>
                </div>
              </div>
              <div class="col-custom col-mitad">
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Nº Teléfono Cliente</div>
                  <div class="gris">{{venta.telefonoCliente}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Nº Teléfono Cliente 2</div>
                  <div class="gris">{{venta.telefonoCliente2}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Pago adelantado</div>
                  <div class="gris">{{venta.pagoAdelantado}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Dirección</div>
                  <div class="gris">{{venta.direccion}}&nbsp;</div>
                </div>
                <div class="dato">
                  <div class="rojo" [style.color]="venta.color">Id. Transacción</div>
                  <div class="gris">{{venta.idtransaccion}}&nbsp;</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</div>

<div class="modal2 modal-detalle fade" id="apelar001">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a type="button" class="close" href="#close-modal" rel="modal:close">
          <span>&times;</span>
        </a>
        <h4 class="modal-title">Detalle</h4>
        <p>
          <span class="titu">Producto:</span>
          <br>
          <strong>Duo Plano Local Estandar DHT</strong>
        </p>
      </div>
      <div class="modal-body negativo">
        <div class="fila-custom">
          <div class="col-custom">
            <div class="formu">
              <div class="dato">
                Razón de la cancelación:
                <br>
                <strong>Cliente ausente</strong>
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="3" id="textArea" placeholder="Escribe aquí tus argumentos..."></textarea>
              </div>
              <div class="enviar">
                <a href="#close-modal" rel="modal:close" class="btn btn-cancelar">Cancelar</a>
                <a href="#exito001" class="btn btn-enviar">Enviar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="exito001" class="modal2 modal-verde fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="exito">
          <div class="exito-cell">
            <div class="check"></div>
            <h2>Envío exitoso</h2>
            <div class="exito-p">
              <p>
                Se ha realizado correctamente el envío de la información, lo estaremos evaluando y pronto nos comunicaremos contigo
              </p>
            </div>
            <div class="codigo">
              Código:
              <br> 890898089
            </div>
            <div class="ok">
              <a href="#close-modal" rel="modal:close">ok</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/jquery.modal.min.js"></script>
<script src="js/index.js"></script>
<script>

  $(document).ready(function () {

    $('a[href="#detalle001"]').click(function (event) {
      event.preventDefault();
      $(this).modal({
        escapeClose: false,
        clickClose: false,
        showClose: false
      });
    });

    $('a[href="#apelar001"]').click(function (event) {
      event.preventDefault();
      $(this).modal({
        escapeClose: false,
        clickClose: false,
        showClose: false
      });
    });

    $('a[href="#exito001"]').click(function (event) {
      event.preventDefault();
      $(this).modal({
        escapeClose: false,
        clickClose: false,
        showClose: false
      });
    });

  });

</script>