<style>
      .celda {
			height: 400px;
		}

		.switch {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 34px;
		}

		.switch input {
			display: none;
		}

		.slider_switch {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			-webkit-transition: .4s;
			transition: .4s;
		}

		.slider_switch:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}

		input:checked+.slider_switch {
			background-color: #43A047;
		}

		input:focus+.slider_switch {
			box-shadow: 0 0 1px #43A047;
		}

		input:checked+.slider_switch:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
		}

		/* Rounded sliders */

		.slider_switch.round {
			border-radius: 34px;
		}

		.slider_switch.round:before {
			border-radius: 50%;
		}
      </style>
<div class="row">
      <div class="col s5 m8"></div>
      <button (click)="returnList()" class="waves-effect waves-light btn col s5 m2 offset-s1">
            <i class="material-icons left">keyboard_arrow_left</i>
            REGRESAR
      </button>
</div>

<div class="container">
      <div class="row">
            <div class="col s12 m12">
                  <div class="card-panel" style="padding: 15px;">
                        <div class="valign-wrapper">
                              <div class="col s6">
                                    <label style="color: #000000;">OPCIÓN WHATSAPP SELECCIONADO</label>
                              </div>
                              <div class="col s6" style="text-align: right;">
                                    <label class="switch">
                                          <input [(ngModel)]="flagWhatsapp" [checked]="flagWhatsapp" (change)="UpdateStatusWhatsApp()"
                                                type="checkbox" />
                                          <span class="slider_switch round"></span>
                                    </label>
                              </div>
                        </div>
                  </div>
            </div>
      </div>

      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>CONTRATO ALTA PURA</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn"
                                          [routerLink]="['/contractweb','A']">Ver</a>
                              </div>
                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editcontract','A']">Editar</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>

      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>CONTRATO MIGRACIÓN</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn left-align"
                                          [routerLink]="['/contractweb','M']">VER</a>
                              </div>

                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editcontract','M']">EDITAR</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>

      <div class="row">
            <div class="col s12 m12">
                  <div class="card white hoverable">
                        <div class="card horizontal">
                              <div class="card-content col s4 m8">
                                    <p>CONTRATO SVA</p>
                              </div>
                              <div class="card-content col s3 m2">
                                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn"
                                          [routerLink]="['/contractweb','S']"> VER </a>
                              </div>

                              <div class="card-content col s5 m2">
                                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" [routerLink]="['/editcontract','S']">EDITAR</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>