<div class="container">
    <div class="card-panel">
        <div class="row">
            <div class="col s5">
                <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/administration']">
                    <i class="material-icons">view_list</i>
                </a>
            </div>
        </div>
        <div *ngIf="maxAmountServicesError" class="row">
            <div class="col s8 m8 offset-m2 offset-s2">
                <div class="card red">
                    <div class="card-content red-text" style="background-color: #f2dede;">
                        <strong>
                            <p style="color: #a94442;">Verifique la cantidad máxima de servicios</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="maxAmountDecodersByFloorError" class="row">
            <div class="col s8 m8 offset-m2 offset-s2">
                <div class="card red">
                    <div class="card-content red-text" style="background-color: #f2dede;">
                        <strong>
                            <p style="color: #a94442;">Verifique la cantidad de decodificadores adicionales</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="maxAmountDecodersByInAltaError" class="row">
            <div class="col s8 m8 offset-m2 offset-s2">
                <div class="card red">
                    <div class="card-content red-text" style="background-color: #f2dede;">
                        <strong>
                            <p style="color: #a94442;">Verifique la cantidad de decodificadores adicionales en ALTA</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="ocultar" class="row" style="margin-left:2%;">
            <div class="col s8 m8 offset-m2 offset-s2">
                <div class="card red">
                    <div class="card-content red-text" style="    background-color: #dff0d8;">
                        <strong>
                            <p style="color: #3c763d;">{{ txtResponse }}</p>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left:5%">
            <div class="col s2 m2 l2"></div>
            <div class="col s10 m10 l10">
                <h4>Administrador de Políticas Comerciales</h4>
            </div>
        </div>
        <div class="row">
            <label class="col s4 l6 offset-s3 offset-l3" style="color: black;">Cantidad máxima de servicios por cliente: </label>
            <input class="col s1" (keydown)="validate($event)" style="height: 30px;" value="{{ maxAmountServices.strvalue }}" [(ngModel)]="maxAmountServices.strvalue"
                maxlength="2">
        </div>
        <div class="row">
            <label class="col s4 l6 offset-s3 offset-l3" style="color: black;">Cantidad máxima de decodificadores adicionales por planta: </label>
            <input style="height: 30px;" (keydown)="validate($event)" class="col s1" value="{{ maxAmountDecodersByFloor.strvalue }}"
                [(ngModel)]="maxAmountDecodersByFloor.strvalue" maxlength="2">
        </div>
        <div class="row">
            <label class="col s4 l6 offset-s3 offset-l3" style="color: black;">Cantidad máxima de decodificadores adicionales en Venta Alta Pura:</label>
            <input style="height: 30px;" (keydown)="validate($event)" class="col s1" value="{{ maxAmountDecodersByInAlta.strvalue }}"
                [(ngModel)]=" maxAmountDecodersByInAlta.strvalue" maxlength="2">
        </div>
        <div class="row">
            <div class="col s4 l6 offset-s1 offset-l3"></div>
            <div class="col s2 l3 offset-s2">
                <button class="btn waves-effect waves-light" (click)="setParams()">GUARDAR</button>
            </div>
        </div>

    </div>
</div>