<div class="loading-indicator" *ngIf="loading">
    <div class="windows8 windows-parquet">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>


<div class="seccion">
        <div class="cnt_geneeral">
				<div class="title_pagina">
					<p>[ TITULO ]</p>
					<div class="both"></div>
				</div>
				<div class="cnt_forcnt prela">
					<div class="dileAlCliente">
						Dile al cliente lo siguiente:
					</div>
					<div class="TitAsk">
						[Estimado cliente...]
					</div>
					<div class="tablaDatos azul">
						<table cellspacing="0" cellpadding="0" width="100%">
							<thead>
								<tr>
									<th colspan="3">Condiciones de venta</th>
								</tr>
							</thead>
							<tbody>
								<tr class="clickable">
									<td>&nbsp;</td>
									<td>SI</td>
									<td>NO</td>
								</tr>
								<tr class="clickable">
									<td class="left">
										<b>Para enviarle su contrato, recibo y páginas blancas en forma digital, por favor bríndenos su correo electrónico.</b>
									</td>
									<td>
										<div class="squaredTwo">
											<input type="checkbox" value="None" id="check8" name="check">
											<label for="check8"></label>
										</div>
									</td>
									<td>
										<div class="squaredTwo">
											<input type="checkbox" value="None" id="check8" name="check">
											<label for="check8"></label>
										</div>
									</td>
								</tr>
								<tr class="clickable">
									<td class="left"><b>¿Afiliarse al tratamiento de datos?</b><br>
									Con la finalidad de mantenernos en contacto con usted y poder comunicarle en el futuro promociones personalizadas sobre productos y servicios de movistar y/o de terceros.
									¿Aceptaría que sin costo alguno incorporemos sus datos personales en nuestras bases de datos de clientes?</td>
									<td>
										<div class="squaredTwo">
											<input type="checkbox" value="None" id="check8" name="check">
											<label for="check8"></label>
										</div>
									</td>
									<td>
										<div class="squaredTwo">
											<input type="checkbox" value="None" id="check8" name="check">
											<label for="check8"></label>
										</div>
									</td>
								</tr>
								<tr class="clickable">
									<td class="left"><b>¿Desea un filtro web parental?</b><br>
									Si desea, puede acogerse a la opción de siempre filtrar páginas con contenido adulto en su servicio de internet fijo.</td>
									<td>
										<div class="squaredTwo">
											<input type="checkbox" value="None" id="check8" name="check">
											<label for="check8"></label>
										</div>
									</td>
									<td>
										<div class="squaredTwo">
											<input type="checkbox" value="None" id="check8" name="check">
											<label for="check8"></label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="card botonera-1">
						<div class="col-12 text-center">
							<a class="boton_greentdp full" (click)='migrarOut()'>CONTINUAR</a>
						</div>
					</div>	
				</div>
			</div>
 
</div>