<div class="loading-indicator" *ngIf="loading">
    <div class="windows8 windows-parquet">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>

<div *ngIf="closeSaleError">
	<div class="modal">
		{{closeSaleErrorMessage}}
		<div align="center">
			<a class="boton_greentdp" (click)="validacionTel()">Intentar nuevamente</a>
			<a class="boton_greentdp" (click)="cancelarReintentoVenta()">Cancelar</a>
		</div>
	</div>
	<div class="overlay"></div>
</div>

<div class="seccion">
    <div class="cnt_geneeral">
        <div class="title_pagina">
            <p>Contacto de Instalaci&oacute;n</p>
            <div class="both"></div>
        </div>
        <div class="cnt_forcnt">
            <div class="dileAlCliente">
                Dile al cliente lo siguiente:
            </div>
            <div class="TitAsk">
                Estimado cliente, se necesita el teléfono de la persona que estará presente el día de la instalación
            </div>
            <div class="noObligatorio">
                *Es obligatorio registrar al menos 1 teléfono
            </div>
            <div class="col-3 input-effect has-content">
                <input onkeyup="this.value=this.value.replace( /[0-9\d\-_.,#$!%&/()?¡¿'°¬|=]/g,'')" (focusout)="focusout($event.target)"
                    class="effect-16" id="name_" type="text" placeholder [(ngModel)]="nombre">
                <label>Ingresa nombre</label>
                <span class="focus-border"></span>
            </div>
            <div class="col-3 input-effect has-content">
                <input (input)="validacionTel1()" onkeyup="this.value=this.value.replace( /[a-zA-Z\-_.,#$!%&/()?¡¿'°¬|=]/g,'')" class="effect-16" id="telefono" [(ngModel)]="telefono"
                    type="text" placeholder value="telefono seteado" maxlength="9" (focusout)="focusout($event.target)" name="telephone">
                <label>Ingrese su número de celular</label>
                <span class="focus-border"></span>
                <div *ngIf="isTheCellphoneOk" class="alert-danger col-3 texto_center" style="margin:0 auto;position:absolute;width:100%">
                    <strong>{{ messageCellphone }}!</strong>
                </div>
            </div>
            <div class="col-3 input-effect has-content">
                <input (input)="validacionTel1()" onkeyup="this.value=this.value.replace( /[a-zA-Z\-_.,#$!%&/()?¡¿'°¬|=]/g,'')" class="effect-16" id="telefonoOpcional"
                    [(ngModel)]="telefonoOpcional" type="text" placeholder maxlength="9" name="telefonoOpcional" (focusout)="focusout($event.target)">
                <label>Ingresa un número de contacto opcional</label>
                <span class="focus-border"></span>
                <div *ngIf="isTheTelephoneOk" class="alert-danger col-3 texto_center" style="margin:0 auto;position:absolute;width:100%">
                    <strong>{{ messageTelephone }}!</strong>
                </div>
            </div>
            <!--<div class="row" style="text-align: center;margin-bottom:10px">
                <div class="alert-danger col-3 texto_center" style="margin:0 auto;">
                    <strong>{{ messageCellphone }}!</strong>
                </div>
            </div>-->
            <div class="texto_center" style="margin-top:5%">
                <a class="boton_greentdp" (click)="validacionTel()">GUARDAR Y CONTINUAR</a>
            </div>
            <br>            
            <div class="row">
                <div id="alerta_registro_error" class="alert alert-danger  none">
                    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                </div>
            </div>

        </div>
    </div>
</div>