<div class="loading-indicator" *ngIf="loading">
  <div class="windows8 windows-parquet">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>

<div *ngIf="loadError">
	<div class="modal">
		<b>{{mensaje_error}}</b>
		<div align="center">
			<a *ngIf="!ruc_SinData" class="boton_greentdp" (click)="doEnter()">Consultar nuevamente</a>
			<a class="boton_greentdp" (click)="cancelarConsulta()">Cancelar</a>
		</div>
	</div>
	<div class="overlay"></div>
</div>

<div *ngIf="loadErrorDeuda">
    <div class="modal">
      {{mensaje_error_ruc}}
      <div *ngIf="!error_respuesta" align="center">
        <a class="boton_greentdp" (click)="continuarVenta()">Continuar con la Venta</a>
      </div>
      <div *ngIf="error_respuesta" align="center">
        <a class="boton_greentdp" (click)="salirVenta()">Salir</a>
      </div>
    </div>
    <div class="overlay"></div>
  </div>

<div class="seccion">
  <div class="cnt_geneeral">
    <div class="title_pagina">
      <p>Datos del Cliente</p>
      <div class="both"></div>
    </div>

    <div class="cnt_forcnt">
      <div class="dileAlCliente">
        Dile al cliente lo siguiente:
      </div>
      <div class="TitAsk">
        Buenos días/tardes, lo/la saluda <i>{{order.user.name}} {{order.user.lastName}}</i> de <b>Movistar Hogar</b>,
        <br>lo/la estamos llamando porque quisiéramos comentarle los beneficios que Movistar tiene para usted.
        <br>Me permite continuar para explicarle de qué se trata? Sólo será unos minutos!
      </div>

      <form class="formDocSelect" #formDocSelect="ngForm" novalidate>
        <div class="col-3 paraselect" id="divDocumentType">
          <div class="select">
            <label style="position: absolute; left: 0; width: 100%; top: 0px;top: -16px; font-size: 14px; color: #3399FF; z-index: -1; letter-spacing: 0.5px; text-align: left;">Tipo
              de documento</label>
            <select id="documentType" name="doctype" [(ngModel)]="selectedType" (change)="onChangeSelectDocument($event.target.value)">
              <option value="DNI" [attr.selected]="selectedType">DNI</option>
              <option value="CEX" *ngIf="showTipoDocumentoCEX">Carn&eacute; de Extranjeria</option>
              <option value="PAS" *ngIf="showTipoDocumentoPAS">Pasaporte</option>
              <option value="RUC" *ngIf="showTipoDocumentoRUC">RUC</option>
              <option value="Otros" *ngIf="showTipoDocumentoOtrosCE">Otros Extranjeros - Aut. SNM</option>
            </select>
          </div>
        </div>
        <div [ngClass]="formDocSelect.valid ? 'col-3 input-effect' : 'col-3 input-effect error_in'" id="divDocumentNumber">
          <input *ngIf="showDni" class="effect-16 input_tel" type="text" [(ngModel)]="docNroDni" name="docNroDni" id="docNroDni" pattern="^[0-9]{8}$"
            required maxlength="8" placeholder="" (focusout)="focusout($event.target)" (keyup.enter)="doEnter()">
          <input *ngIf="showCarneExtranjeria" class="effect-16" type="text" [(ngModel)]="docNroCarnetExt" id="docNroCarnetExt" name="docNroCarnetExt"
            pattern="^[a-zA-Z0-9]{4,12}$" required placeholder="" maxlength="12" (focusout)="focusout($event.target)">
          <input *ngIf="showOtrosCE" class="effect-16" type="text" [(ngModel)]="docNroOtrosCE" id="docNroOtrosCE" name="docNroOtrosCE"
            pattern="^[a-zA-Z0-9]{4,12}$" required placeholder="" maxlength="12" (focusout)="focusout($event.target)">
          <input *ngIf="showPasaporte" class="effect-16" type="text" [(ngModel)]="docNroCarnetExt" id="numeroPasaporte" name="numeroPasaporte"
            pattern="^[a-zA-Z0-9]{4,12}$" required placeholder="" maxlength="12" (focusout)="focusout($event.target)">
          <input *ngIf="showRUC" class="effect-16" type="text" [(ngModel)]="docNroCarnetExt" id="numeroRUC" name="numeroRUC" pattern="^[0-9]{11}$"
            required placeholder="" maxlength="11" (focusout)="focusout($event.target)">
          <label>Nº de Documento</label>
          <span class="focus-border"></span>
          <span class="error_msg" *ngIf="!formDocSelect.valid">Por favor rellene este campo</span>
        </div>
        <div class="texto_center" *ngIf="formDocSelect.valid">
          <button class="boton_greentdp_btn" (click)="doEnter();" >evaluar</button>
          <br><br>
        </div>
        <div class="texto_center" *ngIf="!formDocSelect.valid">
          <a class="boton_graytdp">evaluar</a><br><br>
        </div>
      </form>
    </div>
  </div>
</div>