<div class="row">
    <div class="col s5 m8"></div>
    <button (click)="returnList()" class="waves-effect waves-light btn col s5 m2 offset-s1">
        <i class="material-icons left">keyboard_arrow_left</i>
        REGRESAR</button>
</div>

<div class="container" *ngIf="flagCondition">
    <div class="row" *ngFor="let condition of salesCondition">
        <div class="col s12 m12">
            <div class="card white hoverable">
                <div class="card horizontal">
                    <div class="card-content col s4 m8">
                        <p>{{condition.element}}</p>
                    </div>
                    <div class="card-content col s5 m2">
                        <a style="margin:0%;width:100%" class="btn light-blue lighten-2" (click)="acceder(condition.category)">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>