<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>

<div class="seccion">
	<div class="cnt_geneeral">
		<div class="title_pagina">
			<p>Condiciones de Venta</p>
			<div class="both"></div>
		</div>
		<div class="cnt_forcnt">
			<div class="dileAlCliente">
				Dile al cliente lo siguiente:
			</div>
			<div class="TitAsk">
				Estimado cliente
			</div>
			<br/>
			<div class="tablaDat">
				<div *ngIf="showAlert" class="row">

					<div class="alert alert-danger text-center">
						Por favor ingrese correo electr&oacute;nico
					</div>

				</div>

				<table cellspacing="0" cellpadding="0" width="100%">
					<thead>
						<tr>
							<th class="wd55">PREGUNTA</th>
							<th>SÍ</th>
							<th>NO</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let paragraph of conditions">
							<td style="text-align:left">
								<div innerHTML="<strong>{{paragraph.titulo}}</strong></br>{{paragraph.contenido}}"></div>
								<!-- solo se muestra el correo electronico cuando se hace check en pack verde -->
								<div *ngIf="paragraph.category == 'PACKVERDE' && isCheckedVER1" id="emailDiv" class="cnt_imput mg25 input-effect">
									<label style="position: absolute; left: 0; width: 100%; top: 0px;top: -16px; font-size: 14px; color: #3399FF; z-index: -1; letter-spacing: 0.5px; text-align: left;">Ingrese correo electrónico</label>
									<input id="email" class="effect-16" type="text" [(ngModel)]="correoElectronico" (click)="aplicarEfectos();" (keypress)="deleteSpaceEmail($event);">
									<!--<label for="email1">Ingrese correo electrónico</label>
									<span class="focus-border"></span>-->
								</div>
								<div *ngIf="paragraph.category == 'DEBITOAUTOMATICO' && isCheckedDAU1" id="emailDiv" class="cnt_imput mg25 input-effect">
									<label style="position: absolute; left: 0; width: 100%; top: 0px;top: -16px; font-size: 14px; color: #3399FF; z-index: -1; letter-spacing: 0.5px; text-align: left;">Ingrese correo electrónico</label>
									<input id="email" class="effect-16" type="text" [(ngModel)]="correoElectronico" (click)="aplicarEfectos();" (keypress)="deleteSpaceEmail($event);">
									<!--<label for="email1">Ingrese correo electrónico</label>
									<span class="focus-border"></span>-->
								</div>
							</td>
							<ng-container [ngSwitch]="paragraph.category">
								<ng-container *ngSwitchCase="'PACKVERDE'">
									<td>
										<div class="squaredTwo">
											<input id="VER1" name="isCheckedVER1" [(ngModel)]="isCheckedVER1" type="checkbox" [checked]="isCheckedVER1" (click)="selectYesNo('VER1')"
											 (change)="seleccionar($event, paragraph.category,1)" />
											<label for="VER1"></label>
										</div>
									</td>
									<td>
										<div class="squaredTwo">
											<input id="VER2" name="isCheckedVER2" [(ngModel)]="isCheckedVER2" type="checkbox" [checked]="isCheckedVER2" (click)="selectYesNo('VER2')"
											 (change)="seleccionar($event, paragraph.category,2)" />
											<label for="VER2"></label>
										</div>
									</td>
								</ng-container>
								<ng-container *ngSwitchCase="'TRATAMIENTODATOS'">
									<td>
										<div class="squaredTwo">
											<input id="TRA1" name="isCheckedTRA1" [(ngModel)]="isCheckedTRA1" type="checkbox" [checked]="isCheckedTRA1" (click)="selectYesNo('TRA1')"
											 (change)="seleccionar($event, paragraph.category,1)" />
											<label for="TRA1"></label>
										</div>
									</td>
									<td>
										<div class="squaredTwo">
											<input id="TRA2" name="isCheckedTRA2" [(ngModel)]="isCheckedTRA2" type="checkbox" [checked]="isCheckedTRA2" (click)="selectYesNo('TRA2')"
											 (change)="seleccionar($event, paragraph.category,2)" />
											<label for="TRA2"></label>
										</div>
									</td>
								</ng-container>
								<ng-container *ngSwitchCase="'FILTROWEBPARENTAL'">
									<td>
										<div class="squaredTwo">
											<input id="FWP1" name="isCheckedFWP1" [(ngModel)]="isCheckedFWP1" type="checkbox" [checked]="isCheckedFWP1" (click)="selectYesNo('FWP1')"
											 (change)="seleccionar($event, paragraph.category,1)" />
											<label for="FWP1"></label>
										</div>
									</td>
									<td>
										<div class="squaredTwo">
											<input id="FWP2" name="isCheckedFWP2" [(ngModel)]="isCheckedFWP2" type="checkbox" [checked]="isCheckedFWP2" (click)="selectYesNo('FWP2')"
											 (change)="seleccionar($event, paragraph.category,2)" />
											<label for="FWP2"></label>
										</div>
									</td>
								</ng-container>
								<ng-container *ngSwitchCase="'DEBITOAUTOMATICO'"> 
									<td>
										<div class="squaredTwo">
											<input id="DAU1" name="isCheckedDAU1" [(ngModel)]="isCheckedDAU1" type="checkbox" [checked]="isCheckedDAU1" (click)="selectYesNo('DAU1')"
											 (change)="seleccionar($event, paragraph.category,1)" />
											<label for="DAU1"></label>
										</div>
									</td>
									<td>
										<div class="squaredTwo">
											<input id="DAU2" name="isCheckedDAU2" [(ngModel)]="isCheckedDAU2" type="checkbox" [checked]="isCheckedDAU2" (click)="selectYesNo('DAU2')"
											 (change)="seleccionar($event, paragraph.category,2)" />
											<label for="DAU2"></label>
										</div>
									</td>
								</ng-container>
							</ng-container>
						</tr>
						<tr *ngIf="isValidationCompleted" style="color: #155724;background-color: #d4edda;border-color: #c3e6cb;">
							<td colspan="3" style="color: #155724;background-color: #d4edda;border-color: #c3e6cb;">VALIDACIÓN CORRECTA.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-4" align="center">
				<a class="boton_greentdp" (click)="continuar()">CONTINUAR</a>
				<div id="maxDecosWarning" class="head_deco" style="margin-top: 15px; display: none;"></div>
			</div>
		</div>
	</div>


	<div *ngIf="showmodalcorreo">
		<div class="modal" style="width: 32%;border: 5px solid black;text-align:center;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<!--<div class="accordion-content default texto_center">-->
						<div class="columna2">
							<div>
								<span>Selecciona Un proveedor</span>
								<br>
								<br>
								<select id="proveedor">
									<option value="1">@gmail.com</option>
									<option value="2">@hotmail.com</option>
									<option value="3">@outlook.com</option>
								</select>
								<br/>
								<br/>
								<button (click)="aceptarProveedor()">Aceptar</button>
								<button (click)="cancel()">Cancelar</button>
							</div>

						</div>
					</div>
					<div class="modal-footer text-center">
						<a class="popup-close" (click)="cancel()">x</a>
					</div>
				</div>
			</div>
		</div>
		<div class="overlay"></div>
	</div>

</div>