<div class="container">   
  <div class="card-panel">
  	<form class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="row">
        <label>Subir archivos</label>
        <div class="file-field input-field">
          <div class="btn">
            <span>Buscar</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        	</div>
        </div>
      </div>

      <div class="row">
        <!-- Lista de reportes -->
      </div>

	    <div class="row">
	      <div class="col s6 left">
	      	<p class="red-text text-darken-1">Nº Total fila {{10+100}} </p>
	      </div>
	      <div class="col s6">
	        <p class="red-text text-darken-1">Nº Registo {{100+100}} </p>
	      </div>
	    </div>

	   <div class="center">
	      <div class="row">
	         <button name="btn_upload" ng-click="onSubmit()" class="col s12 btn green darken-1">Subir</button>
	      </div>
	    </div>

	  </form>
  </div>
</div>