<div class="container">
	<style>
		.celda {
			height: 400px;
		}

		.switch {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 34px;
		}

		.switch input {
			display: none;
		}

		.slider_switch {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			-webkit-transition: .4s;
			transition: .4s;
		}

		.slider_switch:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}

		input:checked+.slider_switch {
			background-color: #43A047;
		}

		input:focus+.slider_switch {
			box-shadow: 0 0 1px #43A047;
		}

		input:checked+.slider_switch:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
		}

		/* Rounded sliders */

		.slider_switch.round {
			border-radius: 34px;
		}

		.slider_switch.round:before {
			border-radius: 50%;
		}
	</style>
	<div class="row">
		<div class="card-panel" style="padding: 15px;">
			<div class="valign-wrapper">
				<div class="col s6">
					<label style="color: #000000;">BYPASS en AVVE para Migraciones y SVA</label>
				</div>
				<div class="col s6" style="text-align: right;">
					<label class="switch">
						<input [(ngModel)]="strValue" [checked]="strValue" (change)="updateAvve()" type="checkbox" />
						<span class="slider_switch round"></span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-panel" style="padding: 15px;">
			<div class="valign-wrapper">
				<div class="col s6">
					<label style="color: #000000;">Switch de Automatizador a TGestiona</label>
				</div>
				<div class="col s6" style="text-align: right;">
					<label class="switch">
						<input [(ngModel)]="flagAutTgest" [checked]="flagAutTgest" (change)="updateAutTgest()" type="checkbox" />
						<span class="slider_switch round"></span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<font size="1.5" class="celda">

		<div class="row">
			<div class="col s6 celda">
				<table class="responsive-table bordered striped centered " tyle="table-layout:fixed">
					<thead>
						<tr>
							<th>
								<strong>CODIGO CATALOGO</strong>
							</th>
							<th>
								<strong>DESCRIPCIÓN</strong>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1 :</td>
							<td>Mono Línea</td>
						</tr>
						<tr>
							<td>2 :</td>
							<td>BA</td>
						</tr>
						<tr>
							<td>3 :</td>
							<td>Trio</td>
						</tr>
						<tr>
							<td>4 :</td>
							<td>Dúo BA</td>
						</tr>
						<tr>
							<td>5 :</td>
							<td>Dúo TV</td>
						</tr>
						<tr>
							<td>6 :</td>
							<td>Mono TV</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col s6 celda ">
				<table class="responsive-table bordered striped centered ">
					<thead>
						<tr>
							<th>
								<strong>CODIGO SVA</strong>
							</th>
							<th>
								<strong>DESCRIPCIÓN</strong>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>6 :</td>
							<td>SVA_INTERNET</td>
						</tr>
						<tr>
							<td>7 :</td>
							<td>SVA_LINEA</td>
						</tr>
						<tr>
							<td>8 :</td>
							<td>SVA_INTERNET</td>
						</tr>
						<tr>
							<td>9 :</td>
							<td>BLOQUE TV/DECO HD/DECO SMART HD</td>
						</tr>
						<tr>
							<td>10 :</td>
							<td>BLOQUE DE PRODUCTO</td>
						</tr>
						<tr>
							<td>11 :</td>
							<td>TIPOEQUIPAMIENTO</td>
						</tr>
						<tr>
							<td>12 :</td>
							<td>TIPOEQUIPAMIENTO</td>
						</tr>
						<tr>
							<td>13 :</td>
							<td>TIPOEQUIPAMIENTO</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</font>
	<div class="card-panel">
		<div class="col s12 m8 offset-m2 l6 offset-l3">
			<div class="row valign-wrapper">
				<table class="highlight responsive-table bordered centered">
					<thead>
						<tr>
							<th>ID</th>
							<th>APP/WEB</th>
							<th>Operación Comercial</th>
							<th>Tipo Servicio Origen</th>
							<th>Tipo Producto Origen</th>
							<th>Tipo Servicio Destino</th>
							<th>Catalogo o SVA destino</th>
							<th colspan="2"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
							</td>
							<td>
								<select class="browser-default" size="1" [(ngModel)]="new_configoffering.sourceapp">
									<option value="APPVF">APPVF</option>
									<option value="WEBVF">WEBVF</option>
								</select>
							</td>
							<!--<td><input name="domain" value="OFFERS" placeholder="OFFERS" [(ngModel)]="new_configoffering.domain" readonly ></td>-->
							<td>
								<select class="browser-default" size="1" [(ngModel)]="new_configoffering.category">
									<option value="Alta Pura">Alta Pura</option>
									<option value="Alta Componente">Alta Componente</option>
									<option value="Migraciones">Migraciones</option>
									<option value="SVA">SVA</option>
								</select>
							</td>
							<td>
								<input name="sourceType" [(ngModel)]="new_configoffering.sourcetype">
							</td>
							<td>
								<select class="browser-default" [(ngModel)]="new_configoffering.sourcedata">

									<option *ngFor="let objcatalog of catalog" value="{{objcatalog.prodtypecode}}">{{objcatalog.prodtypecode}} - {{objcatalog.producttype}}</option>
								</select>
							</td>
							<td>
								<input name="targetType" [(ngModel)]="new_configoffering.targettype">
							</td>
							<td>
								<div *ngIf="new_configoffering.category=='SVA'">
									<select class="browser-default" [(ngModel)]="new_configoffering.targetdata">
										<option *ngFor="let objsva of sva" value="{{objsva.prodtypecode}}">{{objsva.prodtypecode}} - {{objsva.description}}</option>
									</select>
								</div>
								<div *ngIf="new_configoffering.category!='SVA'">
									<select class="browser-default" [(ngModel)]="new_configoffering.targetdata">
										<option *ngFor="let objcatalog of catalog" value="{{objcatalog.prodtypecode}}">{{objcatalog.prodtypecode}} - {{objcatalog.producttype}}</option>
									</select>
								</div>
							</td>
							<span *ngIf="new_configoffering.targetdata!='-'">
								<td colspan="2">
									<button (click)="save(new_configoffering)" class="material-icons">save</button>
								</td>
							</span>
							<span *ngIf="new_configoffering.targetdata==''"></span>
						</tr>
						<tr *ngFor="let objconfigoffering of configoffering">

							<td>{{objconfigoffering.id}}</td>
							<td>{{objconfigoffering.sourceapp}}</td>
							<td>{{objconfigoffering.category}}</td>
							<td>{{objconfigoffering.sourcetype}}</td>
							<td>
								{{objconfigoffering.sourcedata}} -
								<ng-container *ngFor="let objcatalog of catalog">
									<span *ngIf="objconfigoffering.sourcedata==objcatalog.prodtypecode">
										{{objcatalog.producttype}}
									</span>
								</ng-container>
							</td>
							<td>{{objconfigoffering.targettype}}</td>
							<td>
								{{objconfigoffering.targetdata}} -
								<div *ngIf="objconfigoffering.category=='SVA'">
									<ng-container *ngFor="let objsva of sva">
										<span *ngIf="objconfigoffering.targetdata==objsva.prodtypecode">
											{{objsva.description}}
										</span>
									</ng-container>
								</div>
								<div *ngIf="objconfigoffering.category!='SVA'">
									<ng-container *ngFor="let objcatalog of catalog">
										<span *ngIf="objconfigoffering.targetdata==objcatalog.prodtypecode">
											{{objcatalog.producttype}}
										</span>
									</ng-container>
								</div>
							</td>
							<td width="5%">
								<button (click)="activateUpdate(objconfigoffering)" class="material-icons">edit</button>
							</td>
							<td width="5%">
								<button (click)="remove(objconfigoffering.id)" class="material-icons">delete</button>
							</td>

						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>