<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>


<div class="popup" id="pop" data-popup="popup-1">
	<div class="popup-inner">
		<div class="modal fade" id="cancel">
			<h4 class="modal-title text-center">Ocurrió un problema: </h4>
			<h5 class="text-center">{{ mensaje_error }}</h5>
			<br>
			<div class="text-center">
				<a type="button" id="aceptar" class="boton_greentdp wd240" (click)="closeMessageError()">Aceptar</a>
			</div>

		</div>
	</div>
</div>


<div class="seccion">
	<div class="cnt_geneeral">
		<div class="title_pagina">
			<p>Resumen de Venta</p>
			<div class="both"></div>
		</div>
		<div class="cnt_forcnt">
			<div class="dileAlCliente">
				Dile al cliente lo siguiente:
			</div>
			<div class="TitAsk">
				Estimado cliente, le paso a detallar el resumen de su compra:
			</div>
			<div class="resumen_big">
				<div class="reslo" *ngIf="order.type == 'M'">
					<h3>Plan actual:</h3>
					<div class="det_pprin">
						<div class="cnt_deco_promo">
							<div *ngIf="productActual.sourceType == '2' || productActual.sourceType == '3' || productActual.sourceType == '4'">
								<img src="../imagenes/mouse_icon_celeste.png">
							</div>

							<div *ngIf="productActual.sourceType != '6'">+
								<img src="../imagenes/phone_icon_celeste.png">
							</div>

							<div *ngIf="productActual.sourceType == '6' || productActual.sourceType == '3' || productActual.sourceType == '5'">+
								<img src="../imagenes/tv_icon_celeste.png">
							</div>
						</div>
						<div class="cdatos">
							<div>{{productActual.productDescription}}</div>
						</div>
					</div>
					<div class="subtot">
						<div class="sub_prom">
						</div>
						<div class="sub_reg">
							<div>P. regular</div>
							<div>
								<span>S/ </span> {{productActual.rentaTotal}} </div>
							<div>mensual</div>
						</div>
						<div class="both"></div>
					</div>
					<div class="both"></div>
				</div>
				<div class="reslo" *ngIf="order.type != 'S'">
					<div class="cnt_control">
						<a (click)="eliminarProductoPrincipal();">
							<img src="../imagenes/cerrar_gris.png">
						</a>
					</div>
					<h3>Plan a contratar:</h3>
					<div class="det_pprin">
						<div class="cnt_deco_promo">
							<div *ngIf="productOffering.productTypeCode == '2' || productOffering.productTypeCode == '3' || productOffering.productTypeCode == '4'">
								<img src="../imagenes/mouse_icon_celeste.png">
							</div>

							<div *ngIf="productOffering.productTypeCode != '6'">+
								<img src="../imagenes/phone_icon_celeste.png">
							</div>

							<div *ngIf="productOffering.productTypeCode == '6' || productOffering.productTypeCode == '3' || productOffering.productTypeCode == '5'">+
								<img src="../imagenes/tv_icon_celeste.png">
							</div>
						</div>
						<div class="cdatos">
							<div>{{productOffering.productName}}</div>

							<div>En : {{order.product.address}}</div>
							<div *ngIf="productOffering.installCost>0 && productOffering.financingMonth>0">Costo de Instalación: S/ {{productOffering.installCost}}
								x {{productOffering.financingMonth}} meses.</div>
							<div *ngIf="productOffering.financingMonth==0">Costo de Instalación S/{{productOffering.installCost}}.</div>
							<div *ngIf="productOffering.cashPrice==0">FINANCIADO</div>
							<div *ngIf="productOffering.cashPrice!=0">CONTADO</div>
						</div>
					</div>
					<div class="subtot ">

						<div class="sub_prom bdsep">
							<div>P. promocional</div>
							<div *ngIf="productOffering.promPrice!=productOffering.price">
								<span>S/ </span> {{productOffering.promPrice}} </div>
							<div *ngIf="productOffering.promPrice!=productOffering.price">x {{productOffering.monthPeriod}} meses</div>
							<div *ngIf="productOffering.promPrice==productOffering.price"> - </div>
						</div>
						<div class="sub_reg">
							<div>P. regular</div>
							<div>
								<span>S/ </span> {{productOffering.price}} </div>
							<div>mensual</div>
						</div>
						<div class="both"></div>
					</div>
					<div class="both"></div>
				</div>
				<div class="resse">
					<!--*ngIf="!sumaSvas==0"-->
					<h3>Servicios adicionales a contratar (SVA):</h3>
					<ng-container *ngFor="let objSva of sva">
						<div class="det_seca">
							<div class="cnt_control">
								<a (click)="eliminarSva(objSva.code, objSva.obligatorio,objSva);">
									<img src="../imagenes/cerrar_gris.png">
								</a>
							</div>
							<div class="cnt_img_pr">
								<img *ngIf="objSva.code == 'SVAL'" src="../imagenes/phone_icon_naranja.png">
								<img *ngIf="objSva.code == 'SVAI'" src="../imagenes/services_internet_naranja.png">
								<img *ngIf="objSva.code == 'DSHD' || objSva.code == 'DHD' || objSva.code == 'DVR' || objSva.code == 'RSW'" src="../imagenes/icon-modem_naranja.png">
								<img *ngIf="objSva.code == 'BTV' || objSva.code == 'BP'" src="../imagenes/tv_icon_naranja.png">

								<div class="pnam">
									<strong>{{objSva.description}}</strong>
									<br> {{objSva.unit}}
								</div>
							</div>
							<div class="ccosto">
								<div class="pcost">
									<div>
										<span>S/</span> {{objSva.cost}} </div>
								</div>
								<div class="both"></div>
							</div>
							<div class="both"></div>
						</div>

					</ng-container>

					<div class="subtot ">

						<div class="sub_prom bdsep">

						</div>
						<div class="sub_reg">
							<div>P. regular</div>
							<div>
								<span>S/ </span> {{sumaSvas}} </div>
						</div>
						<div class="both"></div>
					</div>
				</div>
				<div class="ser_cond" *ngIf="order.condicionTratamientoDatos || order.condicionFiltroWebParental || order.condicionPackVerde">
					<h3>Condiciones:</h3>
					<div class="det_seca" *ngIf="order.condicionTratamientoDatos">
						<div class="cnt_control">
							<a (click)="eliminarCondicionVenta('condicionTratamientoDatos');">
								<img src="../imagenes/cerrar_gris.png">
							</a>
						</div>
						<div class="cnt_img_pr">
							<img src="../imagenes/check_rosado.png">
							<div class="pnam">
								<strong>TRATAMIENTO DATOS</strong>
							</div>
						</div>
						<div class="both"></div>
					</div>
					<div class="det_seca" *ngIf="order.condicionFiltroWebParental">
						<div class="cnt_control">
							<a (click)="eliminarCondicionVenta('condicionFiltroWebParental');">
								<img src="../imagenes/cerrar_gris.png">
							</a>
						</div>
						<div class="cnt_img_pr">
							<img src="../imagenes/check_rosado.png">
							<div class="pnam">
								<strong>Control parental </strong>
							</div>
						</div>
						<div class="both"></div>
					</div>
					<div class="det_seca" *ngIf="order.condicionPackVerde">
						<div class="cnt_control">
							<a (click)="eliminarCondicionVenta('condicionPackVerde');">
								<img src="../imagenes/cerrar_gris.png">
							</a>
						</div>
						<div class="cnt_img_pr">
							<img src="../imagenes/check_rosado.png">
							<div class="pnam">
								<strong>Pack Verde </strong>
								<br> {{order.customer.email}}
							</div>
						</div>
						<div class="both"></div>
					</div>
					<div class="det_seca" *ngIf="order.condicionDebitoAutomatico">
						<div class="cnt_control">
							<a (click)="eliminarCondicionVenta('condicionDebitoAutomatico');">
								<img src="../imagenes/cerrar_gris.png">
							</a>
						</div>
						<div class="cnt_img_pr">
							<img src="../imagenes/check_rosado.png">
							<div class="pnam">
								<strong>Débito Automático </strong>
							</div>
						</div>
						<div class="both"></div>
					</div>
				</div>
				<div class="res_tot">
					<h3>Total:</h3>
					<div class="resul_compra">
						<div class="resul_final conpromo">
							<ng-container *ngIf="sumaPromocional!=sumaRegular">
								<div>P. promocional</div>
								<div *ngIf="sumaPromocional!=sumaRegular" class="cifra">
									<span class="soles">S/ </span> {{sumaPromocional}} </div>
								<div *ngIf="sumaPromocional!=sumaRegular">x {{productOffering.monthPeriod}} meses</div>
								<div *ngIf="sumaPromocional==sumaRegular"> - </div>
								<div *ngIf="sumaPromocional==sumaRegular"> &nbsp; </div>
							</ng-container>
							<ng-container *ngIf="sumaPromocional==sumaRegular">
								<div>P. mensual</div>
								<div class="cifra">
									<span class="soles">S/ </span> {{sumaRegular}} </div>
							</ng-container>
						</div>
						<div class="precio_normal">
							<div *ngIf="sumaPromocional!=sumaRegular">S/ {{sumaRegular}} mensual</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="order.user.typeFlujoTipificacion =='PRESENCIAL'" class="cntBotonesOpt">
				<a (click)="sendTiendaVenta()">SI, ACEPTO</a>
			</div>
			<div *ngIf="order.user.typeFlujoTipificacion !='PRESENCIAL'" class="cntBotonesOpt">
				<a (click)="validReniec()">SI, ACEPTO</a>
			</div>
		</div>
	</div>
</div>