<div class="loading-indicator" *ngIf="loading">
    <div class="windows8 windows-parquet">
      <div class="wBall" id="wBall_1">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_2">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_3">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_4">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_5">
        <div class="wInnerBall"></div>
      </div>
    </div>
  </div>
  <div class="seccion">
    <div class="cnt_geneeral">
      <div class="title_pagina">
        <p>Servicios Adicionales</p>
        <div class="both"></div>
      </div>
      <div id="abrirResumen" class="cnt_forcnt fnt0 expandible">
        <div class="cnt60">
          <div class="tablaDat psva">
            <table cellspacing="0" cellpadding="0" width="100%">
              <thead>
                <tr>
                  <th>NOMBRE</th>
                  <th>PRECIO</th>
                  <th>SELECCIONAR</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let g of group;  let i = index">
                  <ng-container *ngIf="g.label=='BLOQUE TV'">
                    <ng-container *ngFor="let objSva of g.arr; let x = index">
                      <ng-container *ngIf="x==0">
                        <tr>
                          <th id="title" class="titletypesva" [attr.colspan]="3">{{g.label}}</th>
                        </tr>
                        <tr class="clickable">
                          <td>{{objSva.unit}}</td>
                          <td>S/{{objSva.cost}}</td>
                          <td>
                            <div class="squaredTwo2">
                              <input class="checkGeneral" type="checkbox" value="None" id="BTVCheck{{objSva.id}}" [checked]="(objSva.cost == 0 && validacionBTVCosto0(g.arr)) || objSva.selected || validacionBTVNotClick(objSva) || validacionBTVCostoPositivo(g.arr)"
                               name="check" [disabled]="objSva.obligatorio && objSva.cost==0" (click)="desmarcarSVA(objSva,1,g,g.cod,objSva.id);"
                              />
                              <label for="{{g.cod}}Check{{objSva.id}}"></label>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container *ngIf="x>0">
                        <tr class="clickable" id="{{objSva.id}}_sva">
                          <td>{{objSva.unit}}</td>
                          <td>S/{{objSva.cost}}</td>
                          <td>
                            <div class="squaredTwo2">
                              <input class="checkGeneral" type="checkbox" value="None" id="BTVCheck{{objSva.id}}" [checked]="(objSva.cost == 0 && validacionBTVCosto0(g.arr)) || objSva.selected || validacionBTVNotClick(objSva) || validacionBTVCostoPositivo(g.arr)"
                               name="check" [disabled]="objSva.obligatorio && objSva.cost==0" (click)="desmarcarSVA(objSva,1,g,g.cod,objSva.id);"
                              />
                              <label for="BTVCheck{{objSva.id}}"></label>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="g.label!='BLOQUE TV'">
                    <tr>
                      <th id="title" class="titletypesva" [attr.colspan]="3">{{g.label}}</th>
                    </tr>
                    <tr class="clickable">
                      <td>
                        <div class="cnt_imput paraselect">
                          <div class="select">
                            <label style="position: absolute; left: 0; width: 100%; top: 0px;top: -16px; 	font-size: 14px; color: #3399FF; z-index: -1; letter-spacing: 0.5px; text-align: left;">Elige
                              SVA
                            </label>
                            <select name="slct" id="{{g.cod}}" [(ngModel)]="selectedSva[i]" (change)="dropdown(selectedSva[i], 1, g);" (click)="aplicarEfectos();"
                             [disabled]="selectedSva[i].obligatorio">
                              <ng-container *ngFor="let objSva of g.arr">
                                <!--<ng-container *ngIf="objSva.unit!='Identificacion de llamadas'">-->
                                <option [ngValue]="objSva" [disabled]="objSva.value==0">
                                  {{objSva.unit}}
                                </option>
                                <!--</ng-container>-->
                              </ng-container>
                            </select>
                          </div>
                          <div *ngIf="g.selected && g.cod == 'DSHD'" id="emailDiv" class="cnt_imput input-effect mg25">
                            <label style="position: absolute; left: 0; width: 100%; top: 0px;top: -16px; font-size: 14px; color: #3399FF; z-index: -1; letter-spacing: 0.5px; text-align: left;">Ingrese
                              correo electrónico</label>
                            <input id="email" class="effect-16" [(ngModel)]="correoElectronico" type="text" placeholder="" (keypress)="deleteSpaceEmail($event);"
                             (click)="aplicarEfectos();">
                            <span class="focus-border"></span>
                          </div>
                        </div>
                      </td>
                      <td>S/
                        <label id="{{g.cod}}Cost">{{selectedSva[i]?.cost}}</label>
                      </td>
                      <td>
                        <div class="squaredTwo">
                          <input class="checkGeneral" type="checkbox" value="None" id="{{g.cod}}Check" [checked]="selectedSva[i]?.cost || selectedSva[i].cost == 0"
                           name="check" [disabled]="selectedSva[i].obligatorio" (click)="resetSva(g.cod,$event.srcElement, g,selectedSva[i])"
                          />
                          <label for="{{g.cod}}Check"></label>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
          <div class="col-4" align="center">
            <a class="boton_greentdp" (click)="addSva()">CONTINUAR</a>
            <div id="maxDecosWarning" class="head_deco" style="margin-top: 15px; display: none;"></div>
          </div>
        </div>
        <div class="cnt40">
          <div class="resumen_compra">
            <div class="head_resumen">
              <p>Resumen de compra</p>
              <p>
                <!--<a class="switch" (click)="obtenerActual()" *ngIf="flagActualSVA">&gt;</a>-->
              </p>
              <div class="both"></div>
            </div>
            <div class="voucher clearfix">
              <div class="cuerpo_resumen">
                <div class="total_compra">
                  <h3>Total :</h3>
                  <div class="resul_compra">
                    <div class="resul_final conpromo" *ngIf="order.type != 'S'">
                      <ng-container *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod > 0">
                        <div>P. promocional</div>
                        <div class="cifra" id="order_producto_priceProm2" *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod > 0">
                          <span class="soles" *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod > 0">S/ </span>
                          <ng-container>{{+(productoPrecioPro+sumaSvas).toFixed(2)}}</ng-container>
                        </div>
                        <div id="order_producto_priceProm_2" *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod <= 0">
                          <ng-container>-</ng-container>
                        </div>
                        <div *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod > 0">x {{order.selectedOffering.monthPeriod}}
                          meses
                        </div>
                        <div *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod <= 0">&nbsp;</div>
                      </ng-container>
                      <ng-container *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod <= 0">
                        <div>P. mensual</div>
                        <div class="cifra" id="order_producto_priceProm2">
                          <span class="soles">S/ </span>
                          <ng-container>{{ order.selectedOffering != null ? +(productoPrecio+sumaSvas).toFixed(2) : 0.00}}</ng-container>
                        </div>
                      </ng-container>
                    </div>
                    <div class="resul_final conpromo" *ngIf="order.type == 'S'">
                      <div>P. mensual</div>
                      <div class="cifra" id="order_producto_priceProm2">
                        <span class="soles">S/ </span>
                        <ng-container>{{sumaSvas}}</ng-container>
                      </div>
                    </div>
                    <div class="precio_normal">
                      <ng-container *ngIf="order.type!='S' && (order.selectedOffering != null && order.selectedOffering.monthPeriod > 0)">
                        <div id="order_producto_price2">
                          <span>S/ </span>{{ order.selectedOffering != null ? +(productoPrecio+sumaSvas).toFixed(2) : 0.00}} mensual</div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="prod_principal">
                  <ng-container *ngIf="flagActualSVA">
                    <h3 *ngIf="productOffering != null">Producto actual:</h3>
                    <div class="cnt_dest_Sec_prod" *ngIf="productOffering != null">
                      <div class="cnt_deco_promo" id="cnt_deco_promo">
                        <div *ngIf="productActual.sourceType==1">
                          <img src="../img/phone_icon_celeste.png">
                        </div>
  
                        <div *ngIf="productActual.sourceType==2">
                          <img src="../img/mouse_icon_celeste.png">
                        </div>
  
                        <div *ngIf="productActual.sourceType==6">
                          <img src="../img/tv_icon_celeste.png">
                        </div>
  
                        <div *ngIf="productActual.sourceType==3">
                          <div>
                            <img src="../img/tv_icon_celeste.png">
                          </div>
                          <div>+</div>
                          <div>
                            <img src="../img/phone_icon_celeste.png">
                          </div>
                          <div>+</div>
                          <div>
                            <img src="../img/mouse_icon_celeste.png">
                          </div>
                        </div>
  
                        <div *ngIf="productActual.sourceType==4">
                          <div>
                            <img src="../img/phone_icon_celeste.png">
                          </div>
                          <div>+</div>
                          <div>
                            <img src="../img/mouse_icon_celeste.png">
                          </div>
                        </div>
  
                        <div *ngIf="productActual.sourceType==5">
                          <div>
                            <img src="../img/phone_icon_celeste.png">
                          </div>
                          <div>+</div>
                          <div>
                            <img src="../img/tv_icon_celeste.png" />
                          </div>
                        </div>
                        <br/>
                        <div class="cdatos">
                          <div id="order_producto">{{productActual.productDescription}} </div>
                        </div>
                      </div>
                      <div class="subtot">
                        <div class="sub_prom">
                        </div>
                        <div class="sub_reg">
                          <div>P. actual</div>
                          <div id="order_producto_total">
                            <span>S/ </span> {{productActual.rentaTotal}}
                          </div>
                          <div>mensual</div>
                        </div>
                        <div class="both"></div>
                      </div>
                    </div>
                    <br/><br/>
                  </ng-container>
                  <h3 *ngIf="productOffering != null">Producto seleccionado :</h3>
                  <div class="cnt_dest_Sec_prod" *ngIf="productOffering != null">
                    <div class="cnt_deco_promo" id="cnt_deco_promo">
                      <div *ngIf="numeral==1">
                        <img src="../img/phone_icon_celeste.png">
                      </div>
  
                      <div *ngIf="numeral==2">
                        <img src="../img/mouse_icon_celeste.png">
                      </div>
  
                      <div *ngIf="numeral==6">
                        <img src="../img/tv_icon_celeste.png">
                      </div>
  
                      <div *ngIf="numeral==3">
                        <div>
                          <img src="../img/tv_icon_celeste.png">
                        </div>
                        <div>+</div>
                        <div>
                          <img src="../img/phone_icon_celeste.png">
                        </div>
                        <div>+</div>
                        <div>
                          <img src="../img/mouse_icon_celeste.png">
                        </div>
                      </div>
  
                      <div *ngIf="numeral==4">
                        <div>
                          <img src="../img/phone_icon_celeste.png">
                        </div>
                        <div>+</div>
                        <div>
                          <img src="../img/mouse_icon_celeste.png">
                        </div>
                      </div>
  
                      <div *ngIf="numeral==5">
                        <div>
                          <img src="../img/phone_icon_celeste.png">
                        </div>
                        <div>+</div>
                        <div>
                          <img src="../img/tv_icon_celeste.png" />
                        </div>
                      </div>
                      <div class="cdatos">
                        <div id="order_producto">{{order.selectedOffering.productName}} </div>
                        <div id="order_producto_address">
                          <b>En :</b> {{order.product.address}}</div>
                        <br/>
                        <div id="order_producto_installCost" *ngIf="order.selectedOffering.installCost>0 && order.selectedOffering.financingMonth>0">
                          <b>Costo de Instalación: s/. </b>{{order.selectedOffering.installCost}} x {{order.selectedOffering.financingMonth}}
                          meses.
                        </div>
                        <div id="order_producto_installCost" *ngIf="order.selectedOffering.financingMonth==0">
                          <b>Costo de Instalación: s/. </b>{{order.selectedOffering.installCost}}</div>
                        <br/>
                        <div id="order_producto_paymentMethod">
                          <b>{{order.selectedOffering.paymentMethod}}</b>
                        </div>
                        <br/>
                      </div>
                    </div>
                    <div class="subtot ">
                      <h4>Sub total:</h4>
                      <div class="sub_prom bdsep">
                        <div>P. promocional</div>
                        <div id="order_producto_total_prom">
                          <span *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod > 0">S/ </span>
                          <ng-container *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod > 0">{{+(order.selectedOffering.promPrice+sumaSvas).toFixed(2)}}</ng-container>
                          <ng-container *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod <= 0">-</ng-container>
                        </div>
                        <div *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod > 0">x {{order.selectedOffering.monthPeriod}}
                          meses
                        </div>
                        <div *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod <= 0">&nbsp;</div>
                      </div>
                      <div class="sub_reg">
                        <div>P. regular</div>
                        <div id="order_producto_total">
                          <span>S/ </span> {{ order.selectedOffering != null ? +(order.selectedOffering.price+sumaSvas).toFixed(2) : 0}}
                        </div>
                        <div>mensual</div>
                      </div>
                      <div class="both"></div>
                    </div>
                  </div>
                  <div class="prod_sva">
                    <h3>Productos Adicionales (SVA) :</h3>
                    <!--Resumen-->
                    <ng-container *ngFor="let objSva of sva">
                      <ng-container *ngIf="objSva.selected">
                        <div class="cnt_dest_Sec_prod" id="sva">
                          <div class="cnt_control">
                            <a (click)="eliminarSva(objSva.code, objSva.obligatorio,objSva);">
                              <img src="../img/cerrar_gris.png">
                            </a>
                          </div>
                          <div class="cnt_img_pr">
                            <img *ngIf="objSva.code == 'SVAL'" src="../imagenes/phone_icon_naranja.png">
                            <img *ngIf="objSva.code == 'SVAI'" src="../imagenes/services_internet_naranja.png">
                            <img *ngIf="objSva.code == 'DSHD' || objSva.code == 'DHD' || objSva.code == 'DVR' || objSva.code == 'RSW'" src="../imagenes/icon-modem_naranja.png">
                            <img *ngIf="objSva.code == 'BTV' || objSva.code == 'BP'" src="../imagenes/tv_icon_naranja.png">
                            <div class="pnam">
                              <strong>{{objSva.description}}</strong>
                              <br>
                              <div id="order_name_linea2">{{objSva.unit}}</div>
                            </div>
                          </div>
                          <div class="ccosto">
                            <div class="pcost">
                              <div id="order_producto_sva_cost2" class="sva_linea_price2">
                                <span>S/</span>{{objSva.cost}}</div>
                            </div>
                            <div class="both"></div>
                          </div>
                          <div class="both"></div>
                        </div>
                      </ng-container>
                    </ng-container>
                    <!-- SubTotal -->
                    <div class="subtot ">
                      <h4>Sub total:</h4>
                      <div class="sub_prom bdsep">
                        <div style="display: none;">P. promocional</div>
                        <div id="resultado_sva_prom" style="display: none;">
                          <span>S/ </span>{{sumaSvas}}
                        </div>
                        <div *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod > 0" style="display: none;">x
                          {{order.selectedOffering.monthPeriod}} meses</div>
                        <div *ngIf="order.selectedOffering != null && order.selectedOffering.monthPeriod <= 0">&nbsp;</div>
                      </div>
                      <div class="sub_reg">
                        <div>P. regular</div>
                        <div id="resultado_sva_regular">
                          <span>S/ </span>{{sumaSvas}}</div>
                        <div>mensual</div>
                      </div>
                      <div class="both"></div>
                    </div>
                    <!-- SubTotal -->
                  </div>
                  <div class="prod_afiliaciones">
                    <div class="cnt_dest_Sec_prod" id="correo_card">
                      <div class="cnt_control">
                        <a (click)="cerrarCard('correo_card')" id="correo_card_close">
                          <img src="../img/cerrar_gris.png">
                        </a>
                      </div>
                      <div class="cnt_img_pr">
                        <img src="../img/check_rosado.png">
                        <div class="pnam">
                          <strong>RECIBO DIGITAL </strong>
                          <br> micorreo@mail.com
                        </div>
                      </div>
                      <div class="both"></div>
                    </div>
                    <div class="cnt_dest_Sec_prod" id="parental_card">
                      <div class="cnt_control">
                        <a (click)="cerrarCard('parental_card')" id="parental_card_close">
                          <img src="../img/cerrar_gris.png">
                        </a>
                      </div>
                      <div class="cnt_img_pr">
                        <img src="../img/check_rosado.png">
                        <div class="pnam">
                          <strong>Control parental </strong>
                        </div>
                      </div>
                      <div class="both"></div>
                    </div>
                    <div class="cnt_dest_Sec_prod" id="pack_verde_card">
                      <div class="cnt_control">
                        <a (click)="cerrarCard('pack_verde_card')" id="pack_verde_card_close">
                          <img src="../img/cerrar_gris.png">
                        </a>
                      </div>
                      <div class="cnt_img_pr">
                        <img src="../img/check_rosado.png">
                        <div class="pnam">
                          <strong>Pack Verde </strong>
                        </div>
                      </div>
                      <div class="both"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="cuerpo_resumen_actual" *ngIf="flagActualSVA">
                <div class="total_compra">
                  <h3>Actual :</h3>
                  <div class="resul_compra">
                    <div class="resul_actual">
                      <div>P. Mensual</div>
                      <div class="cifra"><span class="soles">S/ </span>{{productActual.rentaTotal}}</div>
                    </div>
                    <div class="precio_normal">
                      <div>--------------</div>
                    </div>
                  </div>
                </div>
                <div class="prod_principal">
                  <h3>Producto principal :</h3>
                  <div class="cnt_dest_Sec_prod">
  
                    <div class="cnt_control">
                      <a href="#"><img src="../img/editar_gris.png"></a>
                    </div>
                    <div class="cnt_deco_promo">
                      <div *ngIf="productActual.sourceType==1">
                        <img src="../img/phone_icon_celeste.png">
                      </div>
  
                      <div *ngIf="productActual.sourceType==2">
                        <img src="../img/mouse_icon_celeste.png">
                      </div>
  
                      <div *ngIf="productActual.sourceType==6">
                        <img src="../img/tv_icon_celeste.png">
                      </div>
  
                      <div *ngIf="productActual.sourceType==3">
                        <div>
                          <img src="../img/tv_icon_celeste.png">
                        </div>
                        <div>+</div>
                        <div>
                          <img src="../img/phone_icon_celeste.png">
                        </div>
                        <div>+</div>
                        <div>
                          <img src="../img/mouse_icon_celeste.png">
                        </div>
                      </div>
  
                      <div *ngIf="productActual.sourceType==4">
                        <div>
                          <img src="../img/phone_icon_celeste.png">
                        </div>
                        <div>+</div>
                        <div>
                          <img src="../img/mouse_icon_celeste.png">
                        </div>
                      </div>
  
                      <div *ngIf="productActual.sourceType==5">
                        <div>
                          <img src="../img/phone_icon_celeste.png">
                        </div>
                        <div>+</div>
                        <div>
                          <img src="../img/tv_icon_celeste.png" />
                        </div>
                      </div>
                    </div>
                    <div class="cdatos">
                      <div>{{productActual.productDescription}}</div>
                      <div>En : {{productActual.address}}, {{productActual.district}} - {{productActual.province}} - {{productActual.department}}</div>
                    </div>
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>