<div class="loading-indicator" *ngIf="loading">
  <div class="windows8 windows-parquet">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>

<div class="seccion">
  <div class="cnt_geneeral">
    <div class="cnt_forcnt prela bo2">
      <div class="card">
        <div class="moddd">
          <div class="bloq" style="text-align: center;">
            <h2>Bandeja de Audios</h2>
          </div>
        </div>
        <div class="filtro-fecha">
          <div class="fila-custom">
            <div class="col-custom col-tercio">
              <div class="sup">Estado:</div>
              <div class="fecha">
                <div class="fecha-cont sinca">
                  <select class="campo-estado" (change)="removeListAudio(codeState);" [(ngModel)]="codeState">
                    <ng-container *ngFor="let state of typeState">
                      <option [ngValue]="state.id" selected>{{state.name}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-custom col-tercio">
              <div class="sup">Desde:</div>
              <div class="fecha">
                <input type="date" id="fecha1" class="campo-fecha" [(ngModel)]="dateStart">
              </div>
            </div>
            <div class="col-custom col-tercio">
              <div class="sup">Hasta:</div>
              <div class="fecha">
                <input type="date" id="fecha2" class="campo-fecha" [(ngModel)]="dateEnd">
              </div>
            </div>
            <div class="col-custom col-tercio">
              <div class="filtrar">
                <span id="filtrar" class="btn" (click)="getFiltrar();">Filtrar</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let audio of bandejaAudio">
        <div class="card cyan">
          <div class="moddd">
            <div class="bloq-8">
              <div class="moddd">
                <div class="bloq-6">
                  <dl>
                    <dt>Código:</dt>
                    <dd><b>{{audio.orderId}}</b></dd>
                  </dl>
                </div>
                <div class="bloq-6">
                  <dl>
                    <dt>Asesor:</dt>
                    <dd><b>{{audio.codigoVendedor}}</b></dd>
                  </dl>
                </div>
                <div class="bloq-6">
                  <dl>
                    <dt>Estado:</dt>
                    <dd *ngIf="audio.statusAudioDescripcion=='PENDIENTE DE AUDITAR'"><b class="pendiente">{{audio.statusAudioDescripcion}}</b></dd>
                    <dd *ngIf="audio.statusAudioDescripcion=='APROBADO'"><b class="aprobado">{{audio.statusAudioDescripcion}}</b></dd>
                  </dl>
                </div>
                <div class="bloq-6">
                  <dl>
                    <dt>Fecha:</dt>
                    <dd>{{audio.saleDate}}</dd> 
                  </dl>
                </div>
              </div>
            </div>
            <div class="bloq-4" *ngIf="audio.statusAudioDescripcion=='PENDIENTE DE AUDITAR'">
              <div class="moddd botonera01">
                <div class="bloq">
                  <div class="btn-group">
                    <div class="boton_greentdp" (click)="validarDetalle(audio.orderId)">Validar</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bloq-4" style="text-align: right;" *ngIf="audio.statusAudioDescripcion=='APROBADO'">
              <div class="box">
                <input [attr.disabled]="audio.audioActivo=='NO' ? '' : null" (ngModelChange)="adicionarFile($event,audio.orderId)" [(ngModel)]="audio.file" type="file" name="file-1[]" id="file-1"
                  class="inputfile inputfile-1" multiple #fileInput data-multiple-caption="{count} archivos seleccionados"
                  multiple />
                <label for="file-1" id>
                  <svg *ngIf="audio.audioActivo=='SI'" xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                    <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
                    />
                  </svg>
                  <span id="textInputAudio" *ngIf="audio.whatsapp==1 && audio.audioActivo=='SI'">SUBIR AUDIO O PDF</span>
                  <span id="textInputAudio" *ngIf="audio.whatsapp==0 && audio.audioActivo=='SI'">SUBIR AUDIO</span>
                  <span id="textInputAudio" *ngIf="audio.audioActivo=='NO'">FUERA DE HORA</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>