<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>
<div class="seccion">
	<div class="cnt_geneeral">
		<div class="title_pagina" [innerHTML]="mjsOffLine">

			<div class="both"></div>
		</div>

		<div class="cnt_forcnt">

			<div class="dileAlCliente">
				Dile al cliente lo siguiente:
			</div>
			<div class="TitAsk">
				<div *ngIf="!productsEmpty" [innerHTML]="mjsUser">
				</div>
				<div *ngIf="CategoriaSeleccionada" class="CategoriaSeleccionada"
					style="position: absolute;right: 10%;color: white;cursor:context-menu;">

					<div class="div"
						style="display: inline;padding: 0.5em;top: 8em;background: #ffffff;border: 2px #00a9e0 solid;color: black;">
						CAMPAÑA:
					</div>

					<div class="div"
						style="display: inline;padding: 0.5em;top: 8em;background: #00a9e0;border: 2px #00a9e0 solid;">
						{{nameselectcategory}}
					</div>
				</div>
				<br /><br />
				<ng-container *ngIf="flagProductoActual">
					Producto actual:
					<p style="color: black">{{productActual.productDescription}} - <b>S/
							{{productActual.rentaTotal}}</b> mensual</p>
				</ng-container>

				<div *ngIf="productsEmpty" [innerHTML]="mjsOfferingException">
				</div>
			</div>

			<div class="sepPest" *ngIf="!productsEmpty">
				<ul class="tabs">
					<li class="active">
						<a (click)="visibility(1)" id="a1" class="tab1">TODO</a>
					</li>
					<li *ngIf="productOfferTrio.length > 0">
						<a (click)="visibility(2)" id="a2" class="tab2">TR&Iacute;O</a>
					</li>
					<li *ngIf="productOfferDuo.length > 0">
						<a (click)="visibility(3)" id="a3" class="tab3">D&Uacute;O</a>
					</li>
					<li *ngIf="productOfferMono.length > 0">
						<a (click)="visibility(4)" id="a4" class="tab4">MONO</a>
					</li>
				</ul>

				<div *ngIf="showAlert" class="row">

					<div class="alert alert-danger text-center">
						{{answerValidationOffer.responseMessage}}
					</div>

				</div>

				<div class="tab_container">
					<div *ngIf="tab1" id="tab1" class="tab_content">
						<div [ngClass]="setClasses(prod)" *ngFor="let prod of productOffer; let ind = index;">
							<div class="prod_inf fleft">
								<p class="">{{prod.productName}}</p>

								<p *ngIf="prod.promoInternetSpeed>0">Promoción Internet {{prod.promoInternetSpeed}} MB x
									{{prod.periodoPromoInternetSpeed}}
									meses.</p>

								<p *ngIf="prod.installCost>0 && prod.financingMonth>0">Costo de Instalación
									S/{{prod.installCost}} x {{prod.financingMonth}}
									meses.</p>

								<p *ngIf="prod.financingMonth==0">Costo de Instalación
									S/{{prod.installCost | number:'1.2'}}</p>

								<span *ngIf="prod.internetTech =='ADSL'">Tecnología de Internet:
									{{prod.internetTech}}</span>
								<span *ngIf="prod.internetTech =='HFC'">Tecnología de Internet:
									{{prod.internetTech}}</span>
								<span *ngIf="prod.internetTech =='FTTH'">Tecnología de Internet:
									{{prod.internetTech}}</span>
								<span *ngIf="prod.cashPrice == 0">FINANCIADO</span>
							</div>
							<div class="fright">
								<div class="pProm_inf" *ngIf="prod.price != prod.promPrice">
									<span>P. Promocional:</span>
									<span>S/ {{prod.promPrice + prod.sva?.cost}}</span>
									<span *ngIf="prod.monthPeriod > 0">x {{ prod.monthPeriod }} meses</span>
								</div>
								<div class="pReg_inf">
									<span>P. Regular:</span>
									<span *ngIf="prod.promPrice != prod.price">S/
										{{(prod.price + prod.sva?.cost) | number:'1.1-2'}}</span>
									<span *ngIf="prod.promPrice == prod.price">S/
										{{(prod.price + prod.sva?.cost) | number:'1.1-2'}}</span>
									<span>mensual</span>
								</div>
								<div *ngIf="type == 'M'" class="salto">
									<span>Salto:</span>
									<span
										*ngIf="product.rentaTotal">{{((prod.price + prod.sva?.cost) - arpu)| number:'1.1-2'}}</span>
									<span *ngIf="product!=null && !product.rentaTotal">---</span>
									<span>&nbsp;</span>
								</div>
								<a [ngClass]="setButtonColor(prod)" (click)="sendOffering(prod)">Seleccionar</a>
							</div>
							<div class="both"></div>
							<div class="separacion"></div>
							<div id="toggle{{ind}}" (click)="toggleMove(ind)" class="accordion-toggle">
								<p>Ver detalle</p>
							</div>
							<div class="accordion-content default texto_center" style="display: none;">
								<div class="columna">
									<span>BENEFICIOS</span>
									<ul>
										<li *ngIf="prod.productType!='No Aplica'">Pack {{prod.productType}}</li>
										<li *ngIf="prod.productCategory!='No Aplica'">Categoría {{prod.productCategory}}
										</li>
										<li *ngIf="prod.tvSignal!='No Aplica'">Se&ntilde;al {{prod.tvSignal}}</li>
										<li *ngIf="prod.lineType!='No Aplica'">Telefonía {{prod.lineType}}</li>
									</ul>
								</div>
								<div class="columna" *ngIf="prod.internetTech!='No Aplica'">
									<span> INCLUYE</span>
									<ul>
										<li>Cable {{prod.internetTech}} </li>
										<li *ngIf="prod.internetSpeed>0">Velocidad de Internet {{prod.internetSpeed}}
										</li>
									</ul>
								</div>
								<div class="columna">
									<span>COD PROD.</span>
									<span>{{prod.id}} - {{prod.productCode}} - {{prod.productCodigo}}</span>
								</div>
								<div class="columna">
									<span>RENTA</span>
									<span *ngIf="prod.promPrice != prod.price">S/
										{{(prod.price + prod.sva?.cost) | number:'1.1-2'}}</span>
									<span *ngIf="prod.promPrice == prod.price">S/
										{{(prod.price + prod.sva?.cost) | number:'1.1-2'}}</span>
								</div>
								<div class="columna" *ngIf="prod.installCost>0">
									<span>COSTO DE INSTALACIÓN</span>
									<span>S/ {{prod.installCost}}</span>
								</div>
								<div class="columna" *ngIf="prod.promoInternetSpeed>0">
									<span>Promoción Internet</span>
									<span>{{prod.promoInternetSpeed}} MB x {{prod.periodoPromoInternetSpeed}}
										meses.</span>
								</div>
								<div class="columna"
									*ngIf="prod.equipamientoLinea!='' || prod.equipamientoInternet!='' || prod.equipamientoTv!=''">
									<span>Equipamiento</span>
									<ul>
										<li *ngIf="prod.equipamientoLinea!=''">{{prod.equipamientoLinea}}</li>
										<li *ngIf="prod.equipamientoInternet!=''">{{prod.equipamientoInternet}}</li>
										<li *ngIf="prod.equipamientoTv!=''">{{prod.equipamientoTv}}</li>
									</ul>
								</div>
								<div class="columna2" *ngIf="prod.paymentMethod=='Contado'">
									<span>Pago Adelantado</span>
									<ul>
										<li>s/. {{prod.cashPrice}} CIP dura 7 días.</li>
									</ul>
									<span>Devolución</span>
									<ul>
										<li>{{prod.returnMonth}} meses x{{prod.returnPeriod}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div *ngIf="tab2" id="tab2" class="tab_content">
						<div class="trio_inf acordeon" *ngFor="let prod of productOfferTrio; let ind = index;">
							<div class="prod_inf fleft">
								<p class="">{{prod.productName}}</p>
								<p *ngIf="prod.promoInternetSpeed>0">Promoción Internet {{prod.promoInternetSpeed}} MB x
									{{prod.periodoPromoInternetSpeed}}
									meses.</p>
								<p *ngIf="prod.installCost>0 && prod.financingMonth>0">Costo de Instalación
									S/{{prod.installCost}} x {{prod.financingMonth}}
									meses.</p>

								<p *ngIf="prod.financingMonth==0">Costo de Instalación
									S/{{prod.installCost | number:'1.2'}}</p>


								<span *ngIf="prod.internetTech =='ADSL'">Tecnología de Internet:
									{{prod.internetTech}}</span>
								<span *ngIf="prod.internetTech =='HFC'">Tecnología de Internet:
									{{prod.internetTech}}</span>
								<span *ngIf="prod.internetTech =='FTTH'">Tecnología de Internet:
									{{prod.internetTech}}</span>
								<span *ngIf="prod.cashPrice == 0">FINANCIADO</span>
							</div>
							<div class="fright">
								<div class="pProm_inf" *ngIf="prod.price != prod.promPrice">
									<span>P. Promocional:</span>
									<span>S/ {{prod.promPrice + prod.sva?.cost}}</span>
									<span *ngIf="prod.monthPeriod > 0">x {{ prod.monthPeriod }} meses</span>
								</div>
								<div class="pReg_inf">
									<span>P. Regular:</span>
									<span *ngIf="prod.promPrice != prod.price">S/
										{{(prod.price + prod.sva?.cost) | number:'1.1-2'}}</span>
									<span *ngIf="prod.promPrice == prod.price">S/
										{{(prod.price + prod.sva?.cost) | number:'1.1-2'}}</span>
									<span>mensual</span>
								</div>
								<div *ngIf="type == 'M'" class="salto">
									<span>Salto:</span>
									<span
										*ngIf="product.rentaTotal">{{((prod.price + prod.sva?.cost) - arpu)| number:'1.1-2'}}</span>
									<span *ngIf="product!=null && !product.rentaTotal">---</span>
									<span>&nbsp;</span>
								</div>
								<a class="boton_greentdp" (click)="sendOffering(prod)">Seleccionar</a>
							</div>
							<div class="both"></div>
							<div class="separacion"></div>
							<div id="trio{{ind}}" (click)="toggleMove(ind)" class="accordion-toggle">
								<p>Ver detalle</p>
							</div>
							<div class="accordion-content default texto_center" style="display: none;">
								<div class="columna">
									<span>BENEFICIOS</span>
									<ul>
										<li *ngIf="prod.productType!='No Aplica'">Pack {{prod.productType}}</li>
										<li *ngIf="prod.productCategory!='No Aplica'">Categoría {{prod.productCategory}}
										</li>
										<li *ngIf="prod.tvSignal!='No Aplica'">Se&ntilde;al {{prod.tvSignal}}</li>
										<li *ngIf="prod.lineType!='No Aplica'">Telefonía {{prod.lineType}}</li>
									</ul>

								</div>
								<div class="columna" *ngIf="prod.internetTech!='No Aplica'">
									<span>INCLUYE</span>
									<ul>
										<li>Cable {{prod.internetTech}} </li>
										<li *ngIf="prod.internetSpeed>0">Velocidad de Internet {{prod.internetSpeed}}
										</li>
									</ul>
								</div>
								<div class="columna">
									<span>COD PROD.</span>
									<span>{{prod.id}} - {{prod.productCode}} - {{prod.productCodigo}}</span>
								</div>
								<div class="columna">
									<span>RENTA</span>
									<span>S/{{prod.price}}</span>
								</div>
								<div class="columna" *ngIf="prod.installCost>0">
									<span>COSTO DE INSTALACIÓN</span>
									<span>S/ {{prod.installCost}}</span>
								</div>
								<div class="columna" *ngIf="prod.promoInternetSpeed>0">
									<span>Promoción Internet</span>
									<span>{{prod.promoInternetSpeed}} MB x {{prod.periodoPromoInternetSpeed}}
										meses.</span>
								</div>
								<div class="columna"
									*ngIf="prod.equipamientoLinea!='' || prod.equipamientoInternet!='' || prod.equipamientoTv!=''">
									<span>Equipamiento</span>
									<ul>
										<li *ngIf="prod.equipamientoLinea!=''">{{prod.equipamientoLinea}}</li>
										<li *ngIf="prod.equipamientoInternet!=''">{{prod.equipamientoInternet}}</li>
										<li *ngIf="prod.equipamientoTv!=''">{{prod.equipamientoTv}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div *ngIf="tab3" id="tab3" class="tab_content">
						<div *ngFor="let prod of productOfferDuo; let ind = index;">
							<div class="duo_inf acordeon">
								<div class="prod_inf fleft">
									<p class="">{{prod.productName}}</p>
									<p *ngIf="prod.promoInternetSpeed>0">Promoción Internet {{prod.promoInternetSpeed}}
										MB x {{prod.periodoPromoInternetSpeed}}
										meses.</p>

									<p *ngIf="prod.installCost>0 && prod.financingMonth>0">Costo de Instalación
										S/{{prod.installCost}} x {{prod.financingMonth}}
										meses.</p>

									<p *ngIf="prod.financingMonth==0">Costo de Instalación
										S/{{prod.installCost | number:'1.2'}}</p>
									<span *ngIf="prod.internetTech =='ADSL'" class="label label-primary">Tecnología de
										Internet:
										{{prod.internetTech}}</span>
									<span *ngIf="prod.internetTech =='HFC'" class="label label-info">Tecnología de
										Internet: {{prod.internetTech}}</span>
									<span *ngIf="prod.internetTech =='FTTH'" class="label label-default">Tecnología de
										Internet:
										{{prod.internetTech}}</span>
									<span *ngIf="prod.cashPrice == 0">FINANCIADO</span>
								</div>
								<div class="fright">
									<div class="pProm_inf" *ngIf="prod.promPrice != prod.price">
										<span>P. Promocional:</span>
										<span>S/ {{prod.promPrice + prod.sva?.cost}}</span>
										<span *ngIf="prod.monthPeriod!==0">x {{prod.monthPeriod}} meses</span>
									</div>

									<div class="pReg_inf">
										<span>P. Regular:</span>
										<span *ngIf="prod.promPrice != prod.price"> S/
											{{(prod.price + prod.sva?.cost) | number:'1.1-2'}}</span>
										<span *ngIf="prod.promPrice == prod.price"> S/
											{{prod.price + prod.sva?.cost | number:'1.1-2'}}</span>
										<span>mensual</span>
									</div>

									<div *ngIf="type == 'M'" class="salto">
										<span>Salto:</span>
										<span
											*ngIf="product.rentaTotal">{{((prod.price + prod.sva?.cost) - arpu)| number:'1.1-2'}}</span>
										<span *ngIf="product!=null && !product.rentaTotal">---</span>
										<span>&nbsp;</span>
									</div>
									<a class="boton_cyan" (click)="sendOffering(prod)">Seleccionar</a>
								</div>
								<div class="both"></div>
								<div class="separacion"></div>
								<div id="duo{{ind}}" (click)="toggleMove(ind)" class="accordion-toggle">
									<p>Ver detalle</p>
								</div>

								<div class="accordion-content default texto_center" style="display:none;">
									<div class="columna">
										<span>BENEFICIOS</span>
										<ul>
											<li *ngIf="prod.productType!='No Aplica'">Pack {{prod.productType}}</li>
											<li *ngIf="prod.productCategory!='No Aplica'">Categoría
												{{prod.productCategory}}</li>
											<li *ngIf="prod.tvSignal!='No Aplica'">Se&ntilde;al {{prod.tvSignal}}</li>
											<li *ngIf="prod.lineType!='No Aplica'">Telefonía {{prod.lineType}}</li>
										</ul>
									</div>
									<div class="columna" *ngIf="prod.internetTech!='No Aplica'">
										<span>INCLUYE</span>
										<ul>
											<li>Cable {{prod.internetTech}}</li>
											<li *ngIf="prod.internetSpeed>0">Velocidad de Internet
												{{prod.internetSpeed}}</li>
										</ul>
									</div>
									<div class="columna">
										<span>COD PROD.</span>
										<span>{{prod.id}} - {{prod.productCode}} - {{prod.productCodigo}}</span>
									</div>
									<div class="columna">
										<span>RENTA</span>
										<span>S/{{prod.price}}</span>
									</div>
									<div class="columna" *ngIf="prod.installCost>0">
										<span>COSTO DE INSTALACIÓN</span>
										<span>S/ {{prod.installCost}}</span>
									</div>
									<div class="columna" *ngIf="prod.promoInternetSpeed>0">
										<span>Promoción Internet</span>
										<span>{{prod.promoInternetSpeed}} MB x {{prod.periodoPromoInternetSpeed}}
											meses.</span>
									</div>
									<div class="columna"
										*ngIf="prod.equipamientoLinea!='' || prod.equipamientoInternet!='' || prod.equipamientoTv!=''">
										<span>Equipamiento</span>
										<ul>
											<li *ngIf="prod.equipamientoLinea!=''">{{prod.equipamientoLinea}}</li>
											<li *ngIf="prod.equipamientoInternet!=''">{{prod.equipamientoInternet}}</li>
											<li *ngIf="prod.equipamientoTv!=''">{{prod.equipamientoTv}}</li>
										</ul>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div *ngIf="tab4" id="tab4" class="tab_content">
						<div [ngClass]="setClasses(prod)" *ngFor="let prod of productOfferMono; let ind = index;">
							<div class="prod_inf fleft">
								<p class="">{{prod.productName}}</p>
								<p *ngIf="prod.promoInternetSpeed>0">Promoción Internet {{prod.promoInternetSpeed}} MB x
									{{prod.periodoPromoInternetSpeed}}
									meses.</p>

								<p *ngIf="prod.installCost>0 && prod.financingMonth>0">Costo de Instalación
									S/{{prod.installCost}} x {{prod.financingMonth}}
									meses.</p>

								<p *ngIf="prod.financingMonth==0">Costo de Instalación
									S/{{prod.installCost | number:'1.2'}}</p>
								<span *ngIf="prod.cashPrice==0">FINANCIADO</span>
							</div>

							<div class="fright">
								<div class=" pProm_inf">
									<span>P. Regular:</span>
									<span *ngIf="prod.promPrice != prod.price">S/
										{{(prod.price + prod.sva?.cost) | number:'1.1-2'}}</span>
									<span *ngIf="prod.promPrice == prod.price">S/
										{{(prod.price + prod.sva?.cost) | number:'1.1-2'}}</span>
									<span *ngIf="prod.monthPeriod > 0">x {{ prod.monthPeriod }} meses</span>
								</div>
								<div *ngIf="type == 'M'" class="salto">
									<span>Salto:</span>
									<span
										*ngIf="product.rentaTotal">{{((prod.price + prod.sva?.cost) - arpu)| number:'1.1-2'}}</span>
									<span *ngIf="product!=null && !product.rentaTotal">---</span>
									<span>&nbsp;</span>
								</div>
								<a [ngClass]="setButtonColor(prod)" (click)="sendOffering(prod)">Seleccionar</a>
							</div>
							<div class="both"></div>
							<div class="separacion"></div>
							<div id="mono{{ind}}" (click)="toggleMove(ind)" class="accordion-toggle">
								<p>Ver detalle</p>
							</div>
							<div class="accordion-content default texto_center" style="display: none;">
								<div class="columna">
									<span>BENEFICIOS</span>
									<ul>
										<li *ngIf="prod.productType!='No Aplica'">Pack {{prod.productType}}</li>
										<li *ngIf="prod.productCategory!='No Aplica'">Categoría {{prod.productCategory}}
										</li>
										<li *ngIf="prod.tvSignal!='No Aplica'">Se&ntilde;al {{prod.tvSignal}}</li>
										<li *ngIf="prod.lineType!='No Aplica'">Telefonía {{prod.lineType}}</li>
									</ul>
								</div>
								<div class="columna" *ngIf="prod.internetTech!='No Aplica'">
									<span>INCLUYE</span>
									<ul>
										<li>Cable {{prod.internetTech}} </li>
										<li *ngIf="prod.internetSpeed>0">Velocidad de Internet {{prod.internetSpeed}}
										</li>
									</ul>
								</div>
								<div class="columna">
									<span>COD PROD.</span>
									<span>{{prod.id}} - {{prod.productCode}} - {{prod.productCodigo}}</span>
								</div>
								<div class="columna">
									<span>RENTA</span>
									<span>S/{{prod.price}}</span>
								</div>
								<div class="columna" *ngIf="prod.installCost>0">
									<span>COSTO DE INSTALACIÓN</span>
									<span>S/ {{prod.installCost}}</span>
								</div>
								<div class="columna" *ngIf="prod.promoInternetSpeed>0">
									<span>Promoción Internet</span>
									<span>{{prod.promoInternetSpeed}} MB x {{prod.periodoPromoInternetSpeed}}
										meses.</span>
								</div>
								<div class="columna"
									*ngIf="prod.equipamientoLinea!='' || prod.equipamientoInternet!='' || prod.equipamientoTv!=''">
									<span>Equipamiento</span>
									<ul>
										<li *ngIf="prod.equipamientoLinea!=''">{{prod.equipamientoLinea}}</li>
										<li *ngIf="prod.equipamientoInternet!=''">{{prod.equipamientoInternet}}</li>
										<li *ngIf="prod.equipamientoTv!=''">{{prod.equipamientoTv}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>