<div class="seccion">
	<div class="cnt_geneeral">
		<div class="cnt_medium">
			<div class="dileAlCliente">
				<b>Hola {{order.user.name | lowercase | capitalize}}, mira como van tus ventas</b>
			</div>
			<div class="alert-danger posmslogin col-sm-3" *ngIf="loadError">
				<h1>&iexcl;Error!</h1>
				<p>{{mensaje_error}}</p>
			</div>
			<div class="alert-info" *ngIf="is_venta_empty">
				<p>No tienes ventas registradas en los &uacute;ltimos {{numDaysSales}} d&iacute;as
				</p>
			</div>
			<div class="cnt_small" *ngFor="let venta of infoVenta; let ind = index;">
				<div class="col-sm-6 col-xs-12 cuadro_venta">
					<a (click)="listarVentas(venta.status)" class="thumbnail vinculo_venta">
						<!-- glazaror se corrige palabra -->
						<p class="venta_parrafo_1">{{venta.status == null? 'CA&Iacute;DA WEB' : venta.status}}</p>
						<p class="venta_parrafo_2">{{venta.quantity}}</p>
						<p class="venta_parrafo_3">en los &uacute;ltimos 30 d&iacute;as
						</p>
					</a>
				</div>
			</div>
			<!--<div class="texto_center" style="margin-top:2%">
				<h3 style="margin-bottom:1%">&iquest;Est&aacute;s listo para comerte hoy el mundo?</h3>
				<a class="boton_greentdp wd240" [routerLink]="['/searchUser']">INGRESAR AHORA</a>
			</div>-->
			<div *ngIf="!order.user.groupPermission" style="margin-top:20px;">
				<div class="alert alert-info">
					<strong>Imporante : </strong> Comunicase con el administrador del sistema para asignarle un perfil.
				</div>
			</div>

		</div>
	</div>
</div>



