<div class="container">
	<div class="card-panel">
		<div class="row">
			<div class="col s12">
				<h4>Configuraci&oacute;n de Equivalencias</h4>
			</div>
		</div>
		<div class="col s12 m8 offset-m2 l6 offset-l3">
			<div class="row">
				<div class="input-field col s12 l12">
					<form (ngSubmit)="onSearch()">
						<div class="input-field col l5">
							<!--input [(ngModel)]="model.categoryValue" type="text" name="producttype" placeholder="Ficha Producto"-->

							<select class="browser-default" [(ngModel)]="model.categoryValue" name="producttype">
								<option value="0" selected="selected" disabled>Seleccionar</option>
								<option *ngFor="let ficha of fichaList" value="{{ficha.element}}">{{ficha.element}}</option>
							</select>

							<label class="active filter">Equivalencia</label>
						</div>
						<div class="input-field col l5">
							<input [(ngModel)]="model.elementValue" type="text" name="productcategory" placeholder="CANAL">
							<label class="active filter" for="model.elementValue">{{etiquetaCampoDestino}}</label>
						</div>
						<button class="waves-effect waves-light btn" type="submit">Buscar</button>
					</form>
				</div>
			</div>
			<div class="row" style="margin-bottom:0%;margin-top:0%" *ngIf="showResults">
				<a style="float:right;margin-right:6%;margin-bottom:0%" [routerLink]="['/equivalent/create', model.categoryValue, etiquetaCampoDestino, etiquetaCampoOrigen, flagTipif]"
				 class="btn-floating btn-large waves-effect waves-light red">
					<i class="material-icons">add</i>
				</a>
			</div>
			<div class="row valign-wrapper" *ngIf="showResults">
				<table class="highlight responsive-table bordered centered">
					<thead>
						<tr>
							<th>{{etiquetaCampoDestino}}</th>
							<th *ngIf="flagTipif">{{etiquetaTipificacion}}</th>
							<th>{{etiquetaCampoOrigen}}</th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor="let equivalencia of equivalentList">
							<td width="30%">{{equivalencia.element}}</td>
							<td width="20%" *ngIf="flagTipif" >{{equivalencia.strfilter}}</td>
							<td width="65%">{{equivalencia.strvalue}}</td>
							<td width="5%"><a [routerLink]="['/equivalent/detail', equivalencia.id, etiquetaCampoDestino, etiquetaCampoOrigen,flagTipif]"><i
									 class="material-icons">open_in_new</i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row center" *ngIf="showResults">
				<!--<ul class="pagination">
					<li [ngClass]="disablePrevPage()"><a (click)="prevPage()"><i class="material-icons">chevron_left</i></a></li>
					<li *ngFor="let n of pages" [ngClass]="{active: n == currentPage}" (click)="setPage(n)" class="waves-effect"><a>{{n + 1}}</a></li>
					<li [ngClass]="disableNextPage()"><a (click)="nextPage()"><i class="material-icons">chevron_right</i></a></li>
				</ul>-->
				<ul class="pagination">
					<li [ngClass]="{'disabled': model.currentPage == -1}" class="waves-effect"><a (click)="gotoPrevPage()"><i class="material-icons">chevron_left</i></a></li>
					<li *ngFor="let i of model.pages" [ngClass]="{'active': model.currentPage == i}"><a (click)="gotoPage(i)">{{i+1}}</a></li>
					<li [ngClass]="{'disabled': model.currentPage == model.numPages-1}" class="waves-effect"><a (click)="gotoNextPage()"><i
							 class="material-icons">chevron_right</i></a></li>
				</ul>

			</div>
		</div>
	</div>
</div>
<div class="loading-indicator" *ngIf="model.loading">
	<div class="windows8">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>