<div class="container">
    <div class="col s12">
        <div class="card-panel">
            <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/equivalent', equivalent.category]">
                <i class="material-icons">view_list</i>
            </a>
            <h5 class="center">Registrar Equivalencia</h5>
            <div class="row">
                <button *ngIf="!ocultar" style="float: right; margin-right:5%" class="btn btn-success" (click)="create()">GUARDAR</button>
            </div>
            <div class="row">
                <label class="center" *ngIf="ocultar">{{ responseTitle }}</label>
            </div>
            <div class="row">
                <label class="center" *ngIf="showError">{{ responseTitle }}</label>
            </div>
            <div class="row" *ngIf="!ocultar">
                <form>
                    <div class="divider"></div>
                    <table class="highlight responsive-table bordered centered">
                        <thead>
                            <tr>
                                <th>Campo</th>
                                <th>Dato</th>
                            </tr>
                        </thead>
                        <tbody>
							<tr>
                                <td>Equivalencia</td>
                                <td>
                                    <input type="text" name="apellidoMaterno" [(ngModel)]="equivalent.category" readonly="true">
                                </td>
                            </tr>
                            <tr>
                                <td>{{etiquetaCampoDestino}}</td>
                                <td>
                                    <input [(ngModel)]="equivalent.element" type="text" name="dni">
                                </td>
                            </tr>
                            <tr>
                                <td>{{etiquetaCampoOrigen}}</td>
                                <td>
                                    <input [(ngModel)]="equivalent.strvalue" type="text" name="valorOrigen">
                                </td>
                            </tr>
                            <tr *ngIf="flagTipif">
                                <td>{{etiquetaTipificacion}}</td>
                                <td>
                                    <select class="browser-default" [(ngModel)]="equivalent.strfilter" name="tipificacion">
                                        <option value="0" selected="selected" disabled>Seleccionar</option>
                                        <option *ngFor="let tipificacion of tipificacionList" value="{{tipificacion.element}}">{{tipificacion.element}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>