<div class="container">
	<div class="row">
		<div class="col s12 {{showMessageValidator}}">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					{{messageValidate}}
				</div>

			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="card-panel">
			<a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/equivalent', equivalent.category]">
				<i class="material-icons">view_list</i>
			</a>

			<div *ngIf="!ocultar">
				<button (click)="cancelEdit()" style="float: right;" class="waves-effect waves-light btn {{showEditEquivalent}}">Cancelar</button>
				<button (click)="modalFieldEdit()" style="float: right; margin-right: 10px !important;" class="waves-effect waves-light btn">{{nameEdit}}</button>

				<button (click)="deleteEquivalent()" style="float: right; margin-right: 10px !important;" [disabled]="processingDelete" class="waves-effect waves-light btn">Eliminar</button>

				<!-- inicio modal -->
				<div id="modal1" class="modal">
					<div class="modal-content">
						<h4>Actualizaci&oacute;n de Equivalencia</h4>
						<p>Por favor confirme su actualizaci&oacute;n</p>
					</div>
					<div class="modal-footer">
						<a (click)="fieldEdit()" class=" modal-action modal-close waves-effect waves-green btn-flat">Actualizar</a>
						<a (click)="cancelEdit()" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
					</div>

				</div>

				<!-- fin de modal -->
			</div>

			<h5 class="center">Detalle de Equivalencia</h5>
			<div class="row">
				<label class="center" *ngIf="ocultar">{{ responseTitle }}</label>
			</div>
			<div class="row" *ngIf="!ocultar">

				<div style="margin-top: 30px !important;" class="divider"></div>
				<table class="highlight responsive-table bordered centered">
					<thead>
						<tr>
							<th>Campo</th>
							<th>Dato</th>
							<th style="text-align: left;" class="{{showEditEquivalent}}">Dato a actualizar</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="20%">{{etiquetaCampoDestino}}</td>
							<td width="40%">{{editEquivalent.element}}</td>
							<td width="40%" class="{{showEditEquivalent}}">
								<div class="input-field">
									<input [(ngModel)]="editEquivalent.element" placeholder="Valor Destino" id="commercialoperation" name="commercialoperation" type="text" class="validate">

								</div>
							</td>
						</tr>
						<tr>
							<td width="20%">{{etiquetaCampoOrigen}}</td>
							<td width="40%">{{editEquivalent.strvalue}}</td>
							<td width="40%" class="{{showEditEquivalent}}">
								<div class="input-field">
									<input [(ngModel)]="editEquivalent.strvalue" placeholder="Valor Origen" id="campaign" name="campaign" type="text" class="validate">

								</div>
							</td>
						</tr>
						<tr *ngIf="flagTipif">
							<td width="20%">{{etiquetaTipificacion}}</td>
							<td width="40%">{{editEquivalent.strfilter}}</td>
							<td width="40%" class="{{showEditEquivalent}}">
								<div class="input-field">
									<select class="browser-default" [(ngModel)]="editEquivalent.strfilter" name="tipificacion">
                                        <option *ngFor="let tipificacion of tipificacionList" value="{{tipificacion.element}}">{{tipificacion.element}}</option>
                                    </select>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

</div>