<div class="loading-indicator" *ngIf="loading">
  <div class="windows8 windows-parquet">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>

<div *ngIf="loadError">
  <div class="modal">
    {{mensaje_error}}
    <div align="center">
      <a class="boton_greentdp" (click)="onSubmit()">Consultar nuevamente</a>
      <a class="boton_greentdp" (click)="cancelarConsulta()">Cancelar</a>
    </div>
  </div>
  <div class="overlay"></div>
</div>

<div *ngIf="loadErrorDeuda">
	<div class="modal">
		{{mensaje_error_deuda}}
		<div *ngIf="!error_respuesta" align="center">
			<a class="boton_greentdp" (click)="cancelarConsultaDeuda()">Continuar con la Venta</a>
		</div>
		<div *ngIf="error_respuesta" align="center">
			<a class="boton_greentdp" (click)="salirVenta()">Salir</a>
		</div>
	</div>
	<div class="overlay"></div>
</div>

<div class="seccion">
  <div class="cnt_geneeral">
    <div class="title_pagina">
      <p>Datos del Cliente</p>
      <div class="both"></div>
    </div>

    <div class="cnt_forcnt">

      <div class="dileAlCliente">
        Dile al cliente lo siguiente:
      </div>
      <div class="TitAsk">
        Estimado cliente, necesito los siguientes datos:
        <br> - Su tipo de documento y número del mismo

        <br>
        <div *ngIf="order.type == 'A'">
          - Departamento, Provincia y Distrito donde se hara la instalación
        </div>
      </div>

      <form class="formDocSelect" #formDocSelect="ngForm" novalidate>
        <div class="col-3 paraselect" id="divDocumentType">

          <div class="select">
            <label style="position: absolute; left: 0; width: 100%; top: 0px;top: -16px; font-size: 14px; color: #3399FF; z-index: -1; letter-spacing: 0.5px; text-align: left;">Tipo
              de documento</label>
            <select id="documentType" name="doctype" [(ngModel)]="selectedType" (change)="onChangeSelectDocument($event.target.value)">
              <option value="DNI" [attr.selected]="selectedType">DNI</option>
              <option value="CEX" *ngIf="showTipoDocumentoCEX">Carn&eacute; de Extranjeria</option>
              <option value="PAS" *ngIf="showTipoDocumentoPAS">Pasaporte</option>
              <option value="RUC" *ngIf="showTipoDocumentoRUC">RUC</option>
              <option value="Otros" *ngIf="showTipoDocumentoOtrosCE">Otros Extranjeros - Aut. SNM</option>
            </select>

          </div>
        </div>
        <div [ngClass]="formDocSelect.valid ? 'col-3 input-effect' : 'col-3 input-effect error_in'" id="divDocumentNumber">
          <input *ngIf="showDni" class="effect-16 has-content" type="text" [(ngModel)]="docNroDni" name="docNroDni" id="docNroDni" pattern="^[0-9]{8}$"
            required maxlength="8" placeholder="" (focusout)="focusout($event.target)" (keyup.enter)="doEnter()">
          <input *ngIf="showCarneExtranjeria" class="effect-16 has-content" type="text" [(ngModel)]="docNroCarnetExt" id="docNroCarnetExt" name="docNroCarnetExt"
            pattern="^[a-zA-Z0-9]{4,12}$" required placeholder="" maxlength="12" (focusout)="focusout($event.target)">
          <input *ngIf="showOtrosCE" class="effect-16 has-content" type="text" [(ngModel)]="docNroOtrosCE" id="docNroOtrosCE" name="docNroOtrosCE"
            pattern="^[a-zA-Z0-9]{4,12}$" required placeholder="" maxlength="12" (focusout)="focusout($event.target)">
          <input *ngIf="showPasaporte" class="effect-16 has-content" type="text" [(ngModel)]="docNroCarnetExt" id="numeroPasaporte" name="numeroPasaporte"
            pattern="^[a-zA-Z0-9]{4,12}$" required placeholder="" maxlength="12" (focusout)="focusout($event.target)">
          <input *ngIf="showRUC" class="effect-16 has-content" type="text" [(ngModel)]="docNroCarnetExt" id="numeroRUC" name="numeroRUC" pattern="^[0-9]{11}$"
            required placeholder="" maxlength="12" (focusout)="focusout($event.target)">
          <label>Nº de Documento</label>
          <span class="focus-border"></span>
          <!--<span class="error_msg" *ngIf="!formDocSelect.valid">Por favor rellene este campo</span>-->
        </div>
        <br>
        <div *ngIf="!isItMigraProcess" class="col-3 paraselect" id="divDepartament">
          <div class="select">
            <label *ngIf="showUbicacionDefault" style="position: absolute; left: 0; width: 100%; top: 0px;top: -16px; font-size: 14px; color: #3399FF; z-index: -1; letter-spacing: 0.5px; text-align: left;">Departamento</label>
            <select id="department" name="department" [(ngModel)]="departSeleccionado" (change)="selDepart();" required>
              <option value="" disabled selected></option>
              <option *ngFor="let kdpt of keyDeparts" [selected]="kdpt === departSeleccionado" [attr.value]="kdpt">{{objDepart[kdpt].name}}</option>
            </select>
            <label *ngIf="!showUbicacionDefault">Departamento</label>
          </div>
        </div>

        <div *ngIf="!isItMigraProcess" class="col-3 paraselect" id="divCity">
          <div class="select">
            <label *ngIf="showUbicacionDefault" style="position: absolute; left: 0; width: 100%; top: 0px;top: -16px; font-size: 14px; color: #3399FF; z-index: -1; letter-spacing: 0.5px; text-align: left;">Provincia</label>
            <select id="city" name="city" [(ngModel)]="proviSeleccionado" (change)="selCity();" required>
              <option value="" disabled selected></option>
              <option *ngFor="let prov of showProvs;" [selected]="prov.sku === proviSeleccionado" value="{{prov.sku}}">{{prov.name}}</option>
            </select>
            <label *ngIf="!showUbicacionDefault">Provincia</label>
          </div>
        </div>

        <div *ngIf="!isItMigraProcess" class="col-3 paraselect" id="divDistrict">
          <div class="select">
            <label *ngIf="showUbicacionDefault" style="position: absolute; left: 0; width: 100%; top: 0px;top: -16px; font-size: 14px; color: #3399FF; z-index: -1; letter-spacing: 0.5px; text-align: left;">Distrito</label>
            <select id="district" name="district" [(ngModel)]="districSeleccionado" (change)="selDistrict();" required>
              <option value="" disabled selected></option>
              <option *ngFor="let distrito of showDists;" [selected]="distrito.sku === districSeleccionado" value="{{distrito.sku}}">{{distrito.name}}</option>
            </select>
            <label *ngIf="!showUbicacionDefault">Distrito</label>
          </div>
        </div>
        <div class="texto_center" *ngIf="formDocSelect.valid && !this.scoringContingencia">

          <button class="boton_greentdp_btn" (click)="onSubmit()">evaluar</button>
          <br><br>
        </div>

        <div class="texto_center" *ngIf="!formDocSelect.valid || this.scoringContingencia">
          <a class="boton_graytdp">evaluar</a><br><br>
        </div>

        <div class="contingencia_error" style="width: 100%;text-align: center;" *ngIf="deudaClienteMensajeEstado">
          <div style="border: dashed 1.7px;border-radius: 1em;color: #a09fa2;width: 23em;padding: .6em;padding-bottom:  .6em;display: inline-block;padding-top:  .6em;padding-left: 0;padding-right:  0;">
            <div style="display: inline-block">
              <div style="display: inline-block;width: 13%;text-align: left;">
                <img alt="" src="../../app/img/close.png" style="height: 1.5em;" width="auto">
              </div>
              <div style="display: inline-block;width: 71%;color:red;font-size: 14px;">{{deudaClienteMensaje}}</div>
            </div>
          </div>
        </div>

        <div class="contingencia_error" style="width: 100%;text-align: center;" *ngIf="messageScoringErrorVisual">
          <div style="border: dashed 1.7px;border-radius: 1em;color: #a09fa2;width: 23em;display: inline-block;padding: 22px 8px 10px 8px;">
            <div style="display: inline-block;width: 100%;">
              <div style="width: 20%;position: relative;display: inline-block;float: left;">
                <img alt="" src="/assets/close.ebd2d10deeb3060ae40a67e0b83430a5.png" style="height: 1.5em;" width="auto">
              </div>
              <div style="width: 80%;position: relative;display: inline-block;float: left;">{{messageScoringError}}</div>
            </div>
          </div>
        </div>

        <div *ngIf="serv_deuda_act && respuestaDataCustomer" class="card calificacion">
						<div *ngIf="!cli_sin_datos" class="titulo">
              {{this.nom_cliente}} {{this.ape_cliente}}, <br/> 
              {{this.tip_doc_cliente}}: {{this.num_doc_cliente}}
						</div>
						<div *ngIf="!tiene_deuda || cli_sin_datos" class="wrapper--1 clearfix">
							<div class="status ok">
								Cliente sin restricción de deuda, califica a una renta máxima de:
							</div>
							<div class="monto">
								<span class="moneda">S/</span> <span class="soles">{{ this.renta_Inter_Conect == null || this.renta_Inter_Conect == "" ? "0.00" : this.renta_Inter_Conect.replace('S/','') }}</span><span class="centimos"></span>
							</div>
						</div>

						<div *ngIf="tiene_deuda" class="wrapper--1 clearfix">
								<div class="status error">
									Cliente con deuda de:
									<br/>
									Cliente con deuda de:
                  <br/>
                  <span class="moneda">de hace {{this.tiempo_tot}}</span> <br/>
                  <span class="moneda">en {{lineas_cliente}} {{linea_desc}}</span>
								</div>
								<div class="monto">
									<span class="moneda">S/</span> <span class="soles">{{this.deuda_tot}}</span><span class="centimos">{{this.deuda_dec}}</span>
								</div>
								
						</div>
				</div>
        <!---->
        <div *ngIf="respuestaScoring">
          <div *ngIf="messageScoringCod" class="texto_center" style="padding:1em; ">
               <span *ngIf="this.cod_int != 'N/A' && (!this.serv_deuda_act || (this.respuestaDataCustomer && !this.tiene_deuda))" style="font-size: 16px; color: #954B96 ;" >Código Interconnect:
              <p id="cod_interconect" style="font-size: 16px;color: black;display: inline-block;">
                {{ this.cod_int }}
              </p>
              <br>
            </span>
              <span *ngIf="!serv_deuda_act" style="font-size: 16px; color: #954B96 ;">Renta Máxima:
              <p id="interconect_renta" style="font-size: 16px;color: black;display: inline-block;">
                {{ this.renta_Inter_Conect }}
              </p>
            </span>
          </div>
        </div>
          <div *ngIf="serv_deuda_act && (respuestaDataCustomer && tiene_deuda && !cli_sin_datos)">
              Cliente con deuda
              <br/>
              <div class="advisorDue">
                Al evaluar su documento de identidad encontramos que Ud. tiene una deuda de S/ {{ this.deuda_tot }}{{this.deuda_dec}} 
                de hace {{this.tiempo_tot}} en {{ this.lineas_cliente }} {{linea_desc}}. {{ this.nom_cliente.substr(0,this.nom_cliente.indexOf(' ') == -1 ? this.nom_cliente.length : this.nom_cliente.indexOf(' ')) }}
                si cancelas tu deuda de S/ {{ this.deuda_tot }}{{this.deuda_dec}}  la proxima vez podras acceder a algunas de estas ofertas:
              </div>
              <br/>
            </div>
      </form>

      <div *ngIf="respuestaScoring" class="tablaDat" id="tablaDat">
        <table *ngIf="scoringDataModel.responseData.result[0].length != 0" cellspacing="0" cellpadding="0" width="100%">
          <thead>
            <tr>
              <ng-container *ngFor="let objScoring of scoringDataModel.responseData.result[0].detalle">
                <th>{{objScoring.desProd}}</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr>
              <ng-container *ngFor="let objScoring of scoringDataModel.responseData.result[0].detalle">
                <td *ngIf="objScoring.pagoAdelantado <= 0" style="border-bottom:1px solid #954B97">FINANCIADO</td>
                <td *ngIf="objScoring.pagoAdelantado > 0" style="border-bottom:1px solid #954B97">{{objScoring.pagoAdelantado}}</td>
              </ng-container>
            </tr>
            <tr>
              <ng-container *ngFor="let objScoring of scoringDataModel.responseData.result[0].detalle">
                <td style="border-bottom:1px solid #954B97;">Punto Adicional {{objScoring.nroDecosAdic}}</td>
              </ng-container>
            </tr>

          </tbody>
        </table>
      </div>
      <br>
      <div *ngIf="respuestaScoring && (!serv_deuda_act || (respuestaDataCustomer && (!tiene_deuda || cli_sin_datos)))" class="col-4" align="center">
        <button class="boton_greentdp_btn" (click)="iniciarVenta()">CONTINUAR</button>
      </div>
    </div>
  </div>
</div>