<div class="row">
    <div *ngIf="dataWasSaved" class="col s6 m9">
        <div class="row ">
            <div class="col s7 m6 offset-s2 offset-m2" style="margin-top:0.8%">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
    </div>
 
    <div *ngIf="messageSuccessful" class="col s6 m9">
        <div class="row ">
            <div class="col s7 m6 offset-s3 offset-m3" style="margin-top:0.8%">
                <div>{{ messageResponse }}</div>
            </div>
        </div>
    </div>
    <div *ngIf="(!messageSuccessful  && !dataWasSaved)" class="col s6 m9">
            <div class="row ">
                <div class="col s7 m6 offset-s3 offset-m3" style="margin-top:0.8%">
                </div>
            </div>
        </div>
    <button (click)="returnList()" class="waves-effect waves-light btn col s5 m2">
        <i class="material-icons left">keyboard_arrow_left</i>
        REGRESAR</button>
 </div>
 <div class="row">
    <div class="col s10 m10 offset-s1 offset-m1">
        <div class="card white">
            <div class="card horizontal">
                <div class="card-content col s4 m8">
                    <p>CONTRATO {{ title }} - BORRADOR</p>
                </div>
                <div class="card-content col s3 m2">
                    <a style="width:100%;margin:0%;padding-right: 0%;padding-left: 0%;" class="btn left-align" (click)="save()">GUARDAR</a>
                </div>
 
                <div class="card-content col s5 m2">
                    <a style="margin:0%;width:100%" class="btn light-blue lighten-2" (click)="publish()">PUBLICAR</a>
                </div>
            </div>
            <!--<div class="card-content">
                <p>
                    <input [(ngModel)]="checkStatus" [checked]="checkStatus" type="checkbox" id="test5" (change)="showForm()" />
                    <label for="test5">Contrato App diferente</label>
                </p>
            </div>-->
        </div>
    </div>
 </div>
 
 <div *ngIf="errorResponse" class="row">
    <div class="col s8 m8 offset-m2 offset-s2">
        <div *ngFor="let error of errorResponse" class="card red">
            <div class="card-content red-text" style="background-color: #f2dede;">
                <strong>
                    <p style="color: #a94442;">No se encontró el parámetro {{ error }}</p>
                </strong>
            </div>
        </div>
    </div>
 </div>
 <div class="row" *ngIf="checkStatus">
    <div class="col s12 m10 offset-s2 offset-m1">
        <ul id="tabs-swipe-demo" class="tabs" materialize="tabs">
            <li class="tab col s4 m4">
                <a href="#web" style="color:#26a69a">WEB</a>
            </li>
            <li class="tab col s4 m4">
                <a href="#app" style="color:#26a69a">APP</a>
            </li>
            <li class="tab col s4 m4">
                <a href="#speech" style="color:#26a69a">SPEECH</a>
            </li>
        </ul>
    </div>
 </div>
 
 <div *ngIf="!dataHasArrived" class="row ">
    <div class="col s6 m6 offset-s3 offset-m3" style="margin-top:15%">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
 </div>
 
 <div *ngIf="checkStatus" id="web" class="row">
    <table class="bordered col s10 m10 offset-s1 offset-m1">
        <tbody>
            <tr *ngFor="let sentence of dataResponse" style="background-color:white">
                <td *ngIf="sentence.appvalue !== undefined" class="col s1 m1">
                    <label for="last_name" style="color:black">{{ sentence.campo }}</label>
                </td>
                <td *ngIf="sentence.appvalue !== undefined" class="col s11 m11">
                    <input for="last_name" [(ngModel)]="sentence.webvalue" style="color:black" value="{{ sentence.webvalue }}" />
                </td>
            </tr>
        </tbody>
 
    </table>
 
 </div>
 
 <div *ngIf="checkStatus" id="app" class="row">
    <table class="bordered col s10  m10 offset-s1 offset-m1">
        <tbody>
            <tr *ngFor="let sentence of dataResponse" style="background-color:white">
                <td *ngIf="sentence.appvalue !== undefined" class="col s1 m1">
                    <label for="first_name" style="color:black">{{ sentence.campo }}</label>
 
                </td>
                <td *ngIf="sentence.appvalue !== undefined" class="col s11 m11">
                    <input for="first_name" [(ngModel)]="sentence.appvalue" style="color:black" value="{{ sentence.appvalue }}" />
                </td>
            </tr>
        </tbody>
    </table>
 </div>
 
 <div *ngIf="checkStatus" id="speech" class="row">
    <table class="bordered col s10  m10 offset-s1 offset-m1">
        <tbody>
            <tr *ngFor="let sentence of dataSpeechResponse" style="background-color:white">
                <td *ngIf="sentence.appvalue !== undefined" class="col s1 m1">
                    <label for="first_name" style="color:black">{{ sentence.campo }}</label>
 
                </td>
                <td *ngIf="sentence.appvalue !== undefined" class="col s11 m11">
                    <input for="first_name" [(ngModel)]="sentence.appvalue" style="color:black" value="{{ sentence.appvalue }}" />
                </td>
            </tr>
        </tbody>
    </table>
 </div>
 
 <!--<div class="row" *ngIf="!checkStatus">
    <div class="col s12 m9 offset-s2 offset-m1">
        <ul id="tabs-swipe-demo" class="tabs" materialize="tabs">
            <li class="tab col s4 m6">
                <a href="#app1" style="color:#26a69a">APP</a>
            </li>
            <li class="tab col s4 m6">
                <a href="#speech1" style="color:#26a69a">SPEECH</a>
            </li>
        </ul>
    </div>
 </div>-->
 
 
 
 <!--<div *ngIf="!checkStatus" id="app1" class="row">
    <table class="bordered col s10  m10 offset-s1 offset-m1">
        <tbody>
            <tr *ngFor="let sentence of dataSpeechResponse" style="background-color:white">
                <td *ngIf="sentence.appvalue !== undefined" class="col s1 m1">
                    <label for="first" style="color:black">{{ sentence.campo }}</label>
 
                </td>
                <td *ngIf="sentence.appvalue !== undefined" class="col s11 m11">
                    <input for="first" [(ngModel)]="sentence.appvalue" style="color:black" value="{{ sentence.appvalue }}" />
                </td>
            </tr>
        </tbody>
    </table>
 </div>-->
 
 <!--<div *ngIf="!checkStatus" id="speech1" class="row">
    <table class="bordered col s10  m10 offset-s1 offset-m1">
        <tbody>
            <tr *ngFor="let sentence of dataSpeechResponse" style="background-color:white">
                <td *ngIf="sentence.appvalue !== undefined" class="col s1 m1">
                    <label for="first" style="color:black">{{ sentence.campo }}</label>
 
                </td>
                <td *ngIf="sentence.appvalue !== undefined" class="col s11 m11">
                    <input for="first" [(ngModel)]="sentence.appvalue" style="color:black" value="{{ sentence.appvalue }}" />
                </td>
            </tr>
        </tbody>
    </table>
 </div>-->
 
 
 
 