<div class="row">
    <div class="col s7 m9"></div>
    <button (click)="returnList()" class="waves-effect waves-light btn col s4 m2">
        <i class="material-icons left">keyboard_arrow_left</i>
        REGRESAR</button>
</div>
<div class="row">
    <div class="col s10 m10 offset-s1 offset-m1">
        <div class="card white">
            <div class="card horizontal">
                <div class="card-content col s4 m8">
                    <p style="font-size: 160%;">CONTRATO {{ title }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s8 m4 offset-s2 offset-m1">
        <ul id="tabs-swipe-demo" class="tabs" materialize="tabs">
            <li class="tab col s4">
                <a href="#web" style="color:#26a69a">WEB</a>
            </li>
            <li class="tab col s4">
                <a href="#app" style="color:#26a69a">APP</a>
            </li>
            <li class="tab col s4">
                <a href="#speech" style="color:#26a69a">SPEECH</a>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="!dataHasArrived" class="row ">
    <div class="col s6 m6 offset-s3 offset-m3" style="margin-top:15%">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>

<div id="web" class="row">
    <table class="bordered col s10 m10 offset-s1 offset-m1">
        <tbody>
            <tr *ngFor="let sentence of dataResponse" style="background-color:white">
                <td *ngIf="sentence.appvalue !== undefined">
                    <label for="first_name" style="color:black">{{ sentence.campo }}</label>
                </td>
                <td *ngIf="sentence.appvalue !== undefined">
                    <label for="first_name" style="color:black">{{ sentence.webvalue }}</label>
                </td>
            </tr>
        </tbody>

    </table>

</div>

<div id="app" class="row">
    <table class="bordered col s10 m10 offset-s1 offset-m1">
        <tbody>
            <tr *ngFor="let sentence of dataResponse" style="background-color:white">
                <td *ngIf="sentence.appvalue !== undefined">
                    <label for="first_name" style="color:black">{{ sentence.campo }}</label>

                </td>
                <td *ngIf="sentence.appvalue !== undefined">
                    <label for="first_name" style="color:black">{{ sentence.appvalue }}</label>
                </td>
            </tr>
        </tbody>

    </table>
</div>

<div id="speech" class="row">
    <table class="bordered col s10 m10 offset-s1 offset-m1">
        <tbody>
            <tr *ngFor="let sentence of dataSpeechResponse" style="background-color:white">
                <td>
                    <label for="first_name" style="color:black">{{ sentence.campo }}</label>

                </td>
                <td>
                    <label for="first_name" style="color:black">{{ sentence.appvalue }}</label>
                </td>
            </tr>
        </tbody>

    </table>
</div>