<div class="container">
	<div class="card-panel">
		<div class="col s12 m8 offset-m2 l6 offset-l3">
			<div class="row valign-wrapper">
				<table class="highlight responsive-table bordered centered">
					<thead>
						<tr>
							<th>Nombre de Perfil</th>
							<th>Nombre de Screen</th>
							<th colspan="2"></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of profilescreen">
							<ng-container *ngFor="let objprofile of profile">
							<ng-container *ngIf="item.webprofileid==objprofile.id">
							<td>{{objprofile.name}}</td>
							</ng-container>
							</ng-container>
							<ng-container *ngFor="let objscreen of screen">
							<ng-container *ngIf="item.webscreenid==objscreen.id">							
							<td>{{objscreen.name}}</td>
							</ng-container>
							</ng-container>							
							<td width="5%"><button (click)="activateUpdate(item)"
									class="material-icons">edit</button></td>
							<td width="5%"><button (click)="remove(item.id)"
									class="material-icons">delete</button></td>

						</tr>
						<tr>
							<td>
							<select class="browser-default" [(ngModel)]="new_profilescreen.webprofileid">
							<option *ngFor="let objprofile of profile" value="{{objprofile.id}}">{{objprofile.name}}</option>
							</select>
							</td>
							<td>
							<select class="browser-default" [(ngModel)]="new_profilescreen.webscreenid">
							<option *ngFor="let objscreen of screen" value="{{objscreen.id}}">{{objscreen.name}}</option>
							</select>							
							</td>
							<td colspan="2"><button (click)="save(new_profilescreen)"
									class="material-icons">save</button></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>					