<div class="container">
	<div class="card-panel">
		<div class="col s12 m8 offset-m2 l6 offset-l3">
			<div class="row valign-wrapper">
				<table class="highlight responsive-table bordered centered">
					<thead>
						<tr>
							<th>Nombre de Perfil</th>
							<th colspan="2"></th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor="let item of profile">
							<td>{{item.name}}</td>
							<td width="5%"><button (click)="activateUpdate(item)"
									class="material-icons">edit</button></td>
							<td width="5%"><button (click)="remove(item.id)"
									class="material-icons">delete</button></td>
						</tr>
						<tr>
							<td><input type="text" [(ngModel)]="new_profile.name" maxlength="45"></td>
							<td colspan="2"><button (click)="save(new_profile)"
									class="material-icons">save</button></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>