<div class="loading-indicator" *ngIf="loading">
  <div class="windows8 windows-parquet">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>

 
<div class="seccion">
  <div class="cnt_general">
    <div class="cnt_forcnt fnt0">
    	<div class=" ">
          <h3>Filtrar Historico de Ventas</h3>		
            <!-- <form (ngSubmit)="filterIdTransaccion()" style="text-align: center;"> -->
              
              <div class="col-5 input-effect"> 
                <input class="effect-16" type="text" placeholder="Ingrese Id Transacción" [(ngModel)]="trans"  id="id_transaccion">
                <label>Id Transacción</label>
                <span class="focus-border"></span>
              </div>

              <div class="col-5 input-effect"> 
                  <input class="effect-16" type="text" placeholder="Ingrese DNI" [(ngModel)]="dni"  id="numeroDni">
                  <label>DNI</label>
                  <span class="focus-border"></span>
                </div>
              <button class="boton_greentdp" (click)="filterIdTransaccion()" style="border: 0; font-weight: 400;"><b>BUSCAR</b></button>
			  <button class="boton_greentdp" type="button" (click)="descargarReporte()" style="padding: 15px; margin-left: 10px; border: 0; font-weight: 400;"><b>EXPORTAR</b></button>
              
            <!-- </form> -->
        </div>

        <h3 class="center">
        Historico de Ventas
      </h3>
      <div class="tablaDat">
        <table cellspacing="0" cellpadding="0" width="100%">
          <thead>
            <tr>
              <th>DNI</th>
              <th>Producto</th>
              <th>Fecha de Venta</th>
              <th>Estado</th>   
              <th>Transacción</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
                <tr *ngIf="no_data">
                  <td colspan="6">No existen registros</td>
                </tr>
            <tr *ngFor="let venta of ventas">
              <td *ngIf="status == venta.status">{{venta.dni}}</td>
              <td *ngIf="status == venta.status">{{venta.productName}}</td>
              <td *ngIf="status == venta.status">{{venta.saleDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td *ngIf="status == venta.status && status != null">{{venta.status}}</td>
                    <td *ngIf="status == venta.status && status != null">{{venta.id_transaccion}}</td>
              <td *ngIf="status == venta.status && status == null">CAIDA WEB</td>
              <td *ngIf="status == venta.status">
                <button [routerLink]="['/home/venta/detail']" [queryParams]="{id:venta.orderId}" type="button" class="boton_venta_detalle btn btn-default glyphicon icon-1 btn-success">Detalle
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
              </td>


              <!--  <td >{{venta.dni}}</td>
             <td >{{venta.productName}}</td>
             <td >{{venta.saleDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td> 
             <td >{{venta.status}}</td>
             <td ><button [routerLink]="['/home/venta/detail']" [queryParams]="{id:venta.orderId}" type="button" class="boton_venta_detalle btn btn-default glyphicon icon-1">Detalle<span class="glyphicon glyphicon-chevron-right"></span></button></td>
            -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <button type="button" class="btn btn-link" [routerLink]="['/home']">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>Histórico de Ventas</h3>
      <table class="table table-striped tabla-ventas" style="text-align: center;width: 100%;max-width: 97%;margin-bottom: 1rem;background-color: transparent;padding:  1em;background:  white;margin: 1em;"
        *ngIf="visible_venta">
        <thead>
          <tr>
            <th>DNI</th>
            <th>Producto</th>
            <th>Fecha de Venta</th>
            <th>Estado</th>   <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let venta of ventas">
            <td *ngIf="status == venta.status">{{venta.dni}}</td>
            <td *ngIf="status == venta.status">{{venta.productName}}</td>
            <td *ngIf="status == venta.status">{{venta.saleDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td *ngIf="status == venta.status && status != null">{{venta.status}}</td>
            <td *ngIf="status == venta.status && status == null">CAIDA WEB</td>
            <td *ngIf="status == venta.status">
              <button [routerLink]="['/home/venta/detail']" [queryParams]="{id:venta.orderId}" type="button" class="boton_venta_detalle btn btn-default glyphicon icon-1 btn-success">Detalle
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
            </td>


            <!--  <td >{{venta.dni}}</td>
           <td >{{venta.productName}}</td>
           <td >{{venta.saleDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td> 
           <td >{{venta.status}}</td>
           <td ><button [routerLink]="['/home/venta/detail']" [queryParams]="{id:venta.orderId}" type="button" class="boton_venta_detalle btn btn-default glyphicon icon-1">Detalle<span class="glyphicon glyphicon-chevron-right"></span></button></td>
          
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>-->