a{
  transition: background-color .3s;
  font-size: 1rem;
  color: #000;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}
body{
	background-color: #f0f2f5 !important;
}
main {
  min-height: 100vh;
  }
nav{
  background-color:  #005c84 !important;
  box-shadow: none !important;
}
nav .brand-logo {
	font-size: 3.2rem !important;
}
.promo{
	overflow: hidden;
	width: 100%;
}
.promo-caption{
	font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}
.promo i {
  margin: 40px 0;
  font-size: 7rem;
  display: block;
}
img.space{
  margin: 1.5rem 0 0 0;
}
footer.page-footer{
  background-color: transparent !important;
}
.footer-bg{
  background-color: #02405b !important;
  font-color: #fff;
}
.footer-caption{
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
  color: #fff;
}
.footer-bg, .page-footer, .footer-copyright{
    background-color: #02405b !important;
    color: #fff;
}
button.btn.green.darken-1:hover{
  background-color: #00c853 !important;
}
.btn-logout{
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
}
.btn-logout:hover {
  background-color: #2bbbad;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.log-text-display {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
  padding: 5px 8px;
  background-color: #fcf6db;
  border: 1px solid #e5e0c6;
}
input[type=text]:disabled.data-detail{
  border: none !important;
}
.data-detail, .filter{
  color: #000 !important;
}
.prom-detail,.data-detail{
  font-size: 1.2rem !important;
  color: #515559 !important;
}
.filter{
  font-size: 1rem !important;
}
.pagination li.active {
  background-color: #005c84 !important;
}
.mobile-logout{
  width: 100% !important;
}
.side-nav{
  background-color: #005c84 !important;
}
.side-nav a{
  color: #fff !important;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

@media (max-width: 1300px){
  .media-position {
    height: 300px;
  }
}
