<div class="container">

    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 m12">
                        <button [routerLink]="['/argumentarios/config']" class="waves-effect waves-light btn col s5 m2 offset-s1">
                            <i class="material-icons left">keyboard_arrow_left</i>
                            REGRESAR
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <h5 class="center">Tecnologías para Argumentarios</h5>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col s5">
                        <label class="active filter">Añadir tecnología</label>
                        <input [(ngModel)]="inputTecnologia" style="text-transform: uppercase;" type="text" name="canal"
                            placeholder="Nombre de la tecnología">
                    </div>
                    <div class="col s1">
                        <a (click)="addCanal()" title="Añadir Canal" style="float: left; margin-right: 6%; margin-bottom: 0%"
                            class="btn-floating btn-large waves-effect waves-light red">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                    <div class="col s6">
                        <div *ngIf="msgError" class="row">
                            <div class="col s8 m8 offset-m2 offset-s2">
                                <div class="card red">
                                    <div class="card-content red-text" style="background-color: #f2dede;">
                                        <strong>
                                            <p style="color: #a94442;">{{msgError}}</p>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="msgResult" class="row" style="margin-left:2%;">
                            <div class="col s8 m8 offset-m2 offset-s2">
                                <div class="card red">
                                    <div class="card-content red-text" style="background-color: #dff0d8;">
                                        <strong>
                                            <p style="color: #3c763d;">{{msgResult}}</p>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m12">
                        <button class="waves-effect waves-light btn col s5 m2 offset-s1" style="float: right;" (click)="setCanales()">
                            <i class="material-icons left">save</i>
                            Guardar
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <table class="highlight responsive-table bordered centered" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>Tecnologías</th>
									<th>Flujo</th>
                                    <th>Pantalla</th>
                                    <th>Mensaje</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let argumentItem of argumentListCanal">
									<td>{{ argumentItem.canal }}</td>
									<td>{{ argumentItem.flujo }}</td>
                                    <td>{{ argumentItem.pantalla }}</td>
                                    <td><input type="text" [(ngModel)]="argumentItem.mensaje" [disabled]="argumentItem.edit"/> </td>
                                    <td>
                                        <a (click)="editArgument(argumentItem)">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <div class="opcionesEdit">
                                            <a (click)="cancelArgument(argumentItem)">
                                                <i class="material-icons">cancel</i>
                                            </a>
                                            <a (click)="setArgument(argumentItem)" >
                                                <i class="material-icons">save </i>
                                            </a>
                                        </div>
                                    </td>
								</tr>
								<tr *ngFor="let argumentItem of argumentListNivel">
									<td>{{ argumentItem.canal }}</td>
									<td>{{ argumentItem.flujo }}</td>
                                    <td>{{ argumentItem.pantalla }}</td>
                                    <td><input type="text" [(ngModel)]="argumentItem.mensaje" [disabled]="argumentItem.edit"/> </td>
                                    <td>
                                        <a (click)="editArgument(argumentItem)">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <div class="opcionesEdit">
                                            <a (click)="cancelArgument(argumentItem)">
                                                <i class="material-icons">cancel</i>
                                            </a>
                                            <a (click)="setArgument(argumentItem)" >
                                                <i class="material-icons">save</i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="loading-indicator" *ngIf="loading">
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>