<div class="container">

    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 m12">
                        <button [routerLink]="['/argumentarios/config']" class="waves-effect waves-light btn col s5 m2 offset-s1">
                            <i class="material-icons left">keyboard_arrow_left</i>
                            REGRESAR
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <h5 class="center">Tecnologías para Argumentarios CALL CENTER</h5>
                    </div>
                </div>

                <br>
                
                <div class="row">
                    <div class="col s12">
                        <table class="highlight responsive-table bordered centered" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>Tecnologías</th>
									<th>Flujo</th>
                                    <th>Pantalla</th>
                                    <th>Mensaje</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let argumentItem of argumentListCanal">
									<td>{{ argumentItem.canal }}</td>
									<td>{{ argumentItem.flujo }}</td>
                                    <td>{{ argumentItem.pantalla }}</td>
                                    <td>
                                        <input id="msjArgument" type="text" [(ngModel)]="argumentItem.mensaje" [disabled]="argumentItem.edit"/> 
                                    </td>
                                    <td>
                                        <a (click)="editArgument(argumentItem)">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <div class="opcionesEdit">
                                            <a (click)="cancelArgument(argumentItem)">
                                                <i class="material-icons">cancel</i>
                                            </a>
                                            <a (click)="setArgument(argumentItem)" >
                                                <i class="material-icons">save</i>
                                            </a>
                                        </div>
                                    </td>
								</tr>
								<tr *ngFor="let argumentItem of argumentListNivel">
									<td>{{ argumentItem.canal }}</td>
									<td>{{ argumentItem.flujo }}</td>
                                    <td>{{ argumentItem.pantalla }}</td>
                                    <td>
                                        <input id="msjArgument" type="text" [(ngModel)]="argumentItem.mensaje" [disabled]="argumentItem.edit"/> 
                                    </td>
                                    <td>
                                        <a (click)="editArgument(argumentItem)">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <div class="opcionesEdit">
                                            <a (click)="cancelArgument(argumentItem)">
                                                <i class="material-icons">cancel</i>
                                            </a>
                                            <a (click)="setArgument(argumentItem)" >
                                                <i class="material-icons">save</i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="loading-indicator" *ngIf="loading">
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>