<div id="bg" style="background-color: white">
	<!--<img src="../../../resources/background.jpg" alt="">-->
</div>

<div class="loading-indicator" *ngIf="loading">
  <div class="windows8 windows-parquet">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>
<div class="container">
	<div class="row col-sm-6 col-sm-offset-3" style="background-color: white">
		<!--<div class="col-sm-8">
				<div class="contenido_col_izquierda">
				 	<div class="row">
					</div>
	 				<div class="cascaron visible-lg visible-md visible-sm">
	 				</div>
				<h3>La herramienta que har&aacute;n que
					<b>tus ventas sean mas r&aacute;pidas y sencillas</b>
				</h3>
			</div>
		</div>-->
		<div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
				<div class="contenido_col_derecha">
					<form class="form-signin" (ngSubmit)="doChangePassword()" *ngIf="!success">
						<h2 style="text-align: center;font-size:18px;font-weight: bold;" class="form-signin-heading">Cambio de Clave</h2>
						<div class="alert alert-info" *ngIf="info">{{messageLogin}}</div>
						<div class="alert alert-danger" *ngIf="error">{{messageLogin}}</div>
						<label for="inputpasswordOld" class="sr-only">Contrase&ntilde;a Actual</label>
					<input type="password" [(ngModel)]="passwordOld" name="passwordOld" id="inputpasswordOld" class="form-control" placeholder="Contrase&ntilde;a Actual"
					 required="" autofocus="">
						<label for="inputPassword" class="sr-only">Nueva Contrase&ntilde;a</label>
					<input type="password" [(ngModel)]="password" name="password" id="inputPassword" class="form-control" placeholder="Nueva Contrase&ntilde;a"
					 required="" autofocus="">
						<label for="inputConfirmPassword" class="sr-only">Confirme Nueva Contrase&ntilde;a</label>
					<input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="inputConfirmPassword" class="form-control"
					 placeholder="Confirme Nueva Contrase&ntilde;a" required="">

			
						<button class="btn btn-lg btn-sm btn-md btn-primary btn-block visible-md visible-xs  visible-lg boton_login" type="submit">CAMBIAR CLAVE</button>
						<button class="btn btn-lg btn-sm btn-md btn-primary visible-sm boton_login" type="submit">CAMBIAR CLAVE</button>
					</form>
					
					<div *ngIf="success">
						<h2 style="text-align: center;font-size:18px;font-weight: bold;" class="form-signin-heading">Contraseña cambiada</h2>
						<p>Usted cambi&oacute; correctamente su clave en la web.</p>
						<p style="text-align: center; margin: 0px;">
						  <button class="btn btn-link" [routerLink]="['/home']">Continuar.</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
