<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>

<div class="seccion">
	<div class="cnt_geneeral">
		<div class="title_pagina">
			<p>Speech de Grabaci&oacute;n</p>
			<div class="both"></div>
		</div>
		<div class="cnt_forcnt">
			<div class="dileAlCliente">
				Dile al cliente lo siguiente:
			</div>

			<div class="TitAsk">
				Estimado cliente procederemos con la grabación del contrato,
				<br> por favor responda "SÍ, ACEPTO" a cada pregunta
			</div>

			<ng-container *ngFor="let canal of channels">
					<ng-container *ngIf="order.user.sellerChannelEquivalentCampaign==canal">
						<div style="float: right;">
							<strong style="vertical-align: super;">Enviar por WhatsApp</strong>
							<input class="squaredTwo2" id="VER2" name="isWsp" [(ngModel)]="isWsp" type="checkbox" [checked]="isWsp" />
							<label for="VER2"></label>
						</div>
					</ng-container>
				</ng-container>

			<br/>
			<br/>

			<div class="detalle_producto padding-left">
				<div *ngIf="order.user.typeFlujoTipificacion !='PRESENCIAL'">

					<div class="panel panel-default">
						<div class="tablaDat2 psva">
							<table class="table table-hover">
								<tbody>
									<tr *ngFor="let paragraph of contract" class="clickable">
										<td>{{paragraph.paragraph}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="alert alert-info" *ngIf="closeSaleError">
						<p>
							No se pudo completar la venta,
							<strong>por favor vuelva a intentarlo
							</strong>. ({{closeSaleErrorMessage}})
						</p>
					</div>
					<div class="clickable">
						<div class="row padding-left" *ngIf="order.cip || cipError">
							<div class="col-sm-12">
								<table class="table" width="90%">
									<tr>
										<td>
											<h4>Codigo PagoEfectivo: {{order.cip}}</h4>
										</td>
										<td style="text-align: right;">
											<h4>Monto: S/ {{order.selectedOffering.cashPrice}}</h4>
										</td>
									</tr>
								</table>
								<p>
								<br/>	Tienes hasta 48 horas para realizar el pago. Puedes pagar a través de la banca por internet o móvil de tu banco,
									o acercándote a los agentes o agencias autorizadas.</p>
								<ul>
									<li>BanBif</li>
									<li>Banco Continental BBVA</li>
									<li>Banco de Crédito BCP</li>
									<li>Banco Interbank</li>
									<li>Banco Scotiabank</li>
									<li>Banco WesternUnion</li>
									<li>Full Carga</li>
								</ul>
								<p>Ademas se te enviara un SMS con el codigo de PagoEfectivo y el monto a pagar.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-center" *ngIf="loadError" style="padding-bottom: 30px;">
							<h1>Hola!</h1>
							<p>{{mensaje_error}}</p>
							<p>Vuelve a consultar nuevamente</p>
						</div>
						<div class="cal-sm-12 text-center">
							<div class="cntBotonesOpt">
								<div class="footerEndSend">
									<a (click)="cerrarVenta()">CONTRATAR</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>