<div class="container">
  <div class="col s12">
    <div class="card-panel">
      <div class="col s12">
        <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/salesAgentNiveles']">
          <i class="material-icons">view_list</i>
        </a>
      </div>
      <h5 class="center">Detalles del Coordinador a actualizar</h5>
      <div class="row">
        <button *ngIf="!ocultar" style="float: right; margin-right:5%" class="btn btn-success" (click)="update()">Actualizar</button>
      </div>
      <div class="row">
        <label class="center" *ngIf="ocultar">{{ responseTitle }}</label>
      </div>
      <div class="row">
        <label class="center" *ngIf="showError">{{ responseTitle }}</label>
      </div>
      <div class="row" *ngIf="!ocultar">
        <form>
          <div class="divider"></div>
          <table class="highlight responsive-table bordered centered">
            <thead>
              <tr>
                <th>Campo</th>
                <th>Dato</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DNI</td>
                <td>
                  <input [(ngModel)]="salesAgent.dni" (keydown)="validate($event)" type="text" name="dni" [disabled]="true">
                </td>
              </tr>
              <tr>
                <td>Usuario</td>
                <td>
                  <input [(ngModel)]="salesAgent.codatis" type="text" name="codatis" [disabled]="true">
                </td>
              </tr>
              <tr>
                <td>Apellido Paterno</td>
                <td>
                  <input [(ngModel)]="salesAgent.apepaterno" type="text" onkeyup="this.value=this.value.replace(/[0-9]/g,'')" name="apepaterno">
                </td>
              </tr>
              <tr>
                <td>Apellido Materno</td>
                <td>
                  <input [(ngModel)]="salesAgent.apematerno" type="text" onkeyup="this.value=this.value.replace(/[0-9]/g,'')" name="apematerno">
                </td>
              </tr>
              <tr>
                <td>Nombres</td>
                <td>
                  <input [(ngModel)]="salesAgent.nombre" type="text" onkeyup="this.value=this.value.replace(/[0-9]/g,'')" name="nombre">
                </td>
              </tr>
              <tr>
                <td>Nivel</td>
                <td>
                  <input [(ngModel)]="salesAgent.niveles" (keydown)="validate($event)" type="text" name="niveles" maxlength="1" placeholder="Ejm: 3" readonly>
                </td>
              </tr>
              <tr>
                <td>Canal</td>
                <td>
                  <input onkeyup="this.value=this.value.replace(/[0-9]/g,'')" [(ngModel)]="salesAgent.canal" type="text" name="canalatis">
                </td>
              </tr>
              <tr>
                <td>Entidad</td>
                <td>
                  <input onkeyup="this.value=this.value.replace(/[0-9]/g,'')" [(ngModel)]="salesAgent.entidad" type="text" name="entidad">
                </td>
              </tr>
              <tr>
                <td>Nombre de Punto de Venta</td>
                <td>
                  <input onkeyup="this.value=this.value.replace(/[0-9]/g,'')" [(ngModel)]="salesAgent.nompuntoventa" type="text" name="nompuntoventa">
                </td>
              </tr>
              <tr>
                <td>Región</td>
                <td>
                    <input [(ngModel)]="salesAgent.zona" onkeyup="this.value=this.value.replace(/[0-9]/g,'')" type="text" name="zona">
                </td>
            </tr>
            <tr>
                <td>Zonal</td>
                <td>
                    <input [(ngModel)]="salesAgent.zonal" onkeyup="this.value=this.value.replace(/[0-9]/g,'')" type="text" name="zonal">
                </td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="loading-indicator" *ngIf="loading">
  <div class="windows8">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>