<div class="container">
  <div class="col s12">
    <div class="card-panel">
      <h5 class="center">Detalles del Vendedor</h5>
      <div class="row">
        <form>
          <div class="divider"></div>
          <table class="highlight responsive-table bordered centered">
            <thead>
              <tr>
                <th>Campo</th>
                <th>Dato</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DNI</td>
                <td>{{salesAgent.dni}}</td>
              </tr>
              <tr>
                <td>Apellido Paterno</td>
                <td>{{salesAgent.apepaterno}}</td>
              </tr>
              <tr>
                <td>Apellido Materno</td>
                <td>{{salesAgent.apematerno}}</td>
              </tr>
              <tr>
                <td>Nombres</td>
                <td>{{salesAgent.nombre}}</td>
              </tr>
              <tr>
                <td>Código ATIS</td>
                <td>{{salesAgent.codatis}}</td>
              </tr>
              <tr>
                <td>Código CMS</td>
                <td>{{salesAgent.codcms}}</td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td>{{salesAgent.email}}</td>
              </tr>
              <tr>
                <td>Nivel</td>
                <td>{{salesAgent.niveles}}</td>
              </tr>
              <tr>
                <td>Zona</td>
                <td>{{salesAgent.zona}}</td>
              </tr>
              <tr>
                <td>Zonal</td>
                <td>{{salesAgent.zonal}}</td>
              </tr>
              <tr>
                <td>Canal ATIS</td>
                <td>{{salesAgent.canalatis}}</td>
              </tr>
              <tr>
                <td>Código Canal venta</td>
                <td>{{salesAgent.userCanalCodigo}}</td>
              </tr>
              <tr>
                <td>Canal</td>
                <td>{{salesAgent.canal}}</td>
              </tr>
              <tr>
                <td>Segmento</td>
                <td>{{salesAgent.segmento}}</td>
              </tr>
              <tr>
                <td>Entidad</td>
                <td>{{salesAgent.entidad}}</td>
              </tr>
              <tr>
                <td>Pto. venta</td>
                <td>{{salesAgent.nompuntoventa}}</td>
              </tr>
              <tr>
                <td>Código pto. venta</td>
                <td>{{salesAgent.codpuntoventa}}</td>
              </tr>
              <tr>
                <td>Código de Fuerza de Venta Generico</td>
                <td>{{salesAgent.userFuerzaVenta}}</td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>

  <div class="loading-indicator" *ngIf="loading">
    <div class="windows8">
      <div class="wBall" id="wBall_1">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_2">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_3">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_4">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_5">
        <div class="wInnerBall"></div>
      </div>
    </div>
  </div>