<div class="container">
    <div class="col s12">
        <div class="card-panel">
            <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/salesAgentSupervisores']">
                <i class="material-icons">view_list</i>
            </a>
            <h5 class="center">Registrar BackOffice / Supervisor / Socio</h5>
            <div class="row">
                <button *ngIf="!ocultar" style="float: right; margin-right:5%" class="btn btn-success" (click)="create()">GUARDAR</button>
            </div>
            <div class="row">
                <label class="center" *ngIf="ocultar">{{ responseTitle }}</label>
            </div>
            <div class="row">
                <label class="center" *ngIf="showError">{{ responseTitle }}</label>
            </div>
            <div class="row" *ngIf="!ocultar">
                <form>
                    <div class="divider"></div>
                    <table class="highlight responsive-table bordered centered">
                        <thead>
                            <tr>
                                <th>Campo</th>
                                <th>Dato</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>DNI</td>
                                <td>
                                    <input [(ngModel)]="salesAgent.dni" type="text" (keydown)="validate($event)" name="dni" maxlength="8">
                                </td>
                            </tr>
                            <tr>
                                <td>Usuario</td>
                                <td>
                                    <input [(ngModel)]="salesAgent.codatis" type="text" name="codigoAtis">
                                </td>
                            </tr>
                            <tr>
                                <td>Apellido Paterno</td>
                                <td>
                                    <input [(ngModel)]="salesAgent.apepaterno" onkeyup="this.value=this.value.replace(/[0-9]/g,'')" type="text" name="apellidoPaterno">
                                </td>
                            </tr>
                            <tr>
                                <td>Apellido Materno</td>
                                <td>
                                    <input [(ngModel)]="salesAgent.apematerno" onkeyup="this.value=this.value.replace(/[0-9]/g,'')" type="text" name="apellidoMaterno">
                                </td>
                            </tr>
                            <tr>
                                <td>Nombres</td>
                                <td>
                                    <input [(ngModel)]="salesAgent.nombre" onkeyup="this.value=this.value.replace(/[0-9]/g,'')" type="text" name="nombres">
                                </td>
                            </tr>
                            <tr>
                                <td>Niveles</td>
                                <td style="text-align: left;">
                                    <input [(ngModel)]="salesAgent.niveles" (keydown)="validate($event)" type="text" name="niveles" maxlength="1" placeholder="Ejm: 2, 4 o 5">
                                    <label for="" style="color: red">* 2 = BackOffice, 4 = Supervisor, 5 = Socio</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Canal</td>
                                <td>
                                    <input [(ngModel)]="salesAgent.canal" onkeyup="this.value=this.value.replace(/[0-9]/g,'')" type="text" name="canalatis">
                                </td>
                            </tr>
                            <tr>
                                <td>Entidad</td>
                                <td>
                                    <input [(ngModel)]="salesAgent.entidad" onkeyup="this.value=this.value.replace(/[0-9]/g,'')" type="text" name="entidad">
                                </td>
                            </tr>
                            <tr>
                                <td>Nombre de Punto de Venta</td>
                                <td>
                                    <input [(ngModel)]="salesAgent.nompuntoventa" onkeyup="this.value=this.value.replace(/[0-9]/g,'')" type="text" name="nombrePuntoVenta">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="loading-indicator" *ngIf="loading">
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>