<div class="container">
  <div class="col s12">
    <div class="card-panel">
      <div class="row">
          <div class="col s12">
            <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/salesAgentSupervisores']">
              <i class="material-icons">view_list</i>
            </a>
            <h5 class="center">Detalles del BackOffice / Supervisor / Socio</h5>
            </div>
        </div>
      <div class="row">
        <form>
          <div class="divider"></div>
          <table class="highlight responsive-table bordered centered">
            <thead>
              <tr>
                <th>Campo</th>
                <th>Dato</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DNI</td>
                <td>{{salesAgent.dni}}</td>
              </tr>
              <tr>
                <td>Usuario</td>
                <td>{{salesAgent.codatis}}</td>
              </tr>
              <tr>
                <td>Apellido Paterno</td>
                <td>{{salesAgent.apepaterno}}</td>
              </tr>
              <tr>
                <td>Apellido Materno</td>
                <td>{{salesAgent.apematerno}}</td>
              </tr>
              <tr>
                <td>Nombres</td>
                <td>{{salesAgent.nombre}}</td>
              </tr>
              <tr>
                <td>Nivel</td>
                <td>{{salesAgent.niveles}}</td>
              </tr>
              <tr>
                <td>Canal</td>
                <td>{{salesAgent.canal}}</td>
              </tr>
              <tr>
                <td>Entidad</td>
                <td>{{salesAgent.entidad}}</td>
              </tr>
              <tr>
                <td>Nombre de Punto de Venta</td>
                <td>{{salesAgent.nompuntoventa}}</td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="loading-indicator" *ngIf="loading">
  <div class="windows8">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall"></div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall"></div>
    </div>
  </div>
</div>