<div class="container" *ngIf="saved">
    <div class="row">
        <button (click)="returnList()" class="waves-effect waves-light btn col s6 m3">
            <i class="material-icons left">keyboard_arrow_left</i>
            REGRESAR</button>
    </div>
    <div class="row">
        <div class="col s12 m12">
            Se edito exitosamente
        </div>
    </div>
</div>
<div class="container" *ngIf="!saved">
    <div class="row">
        <button (click)="returnList()" class="waves-effect waves-light btn col s6 m3">
            <i class="material-icons left">keyboard_arrow_left</i>
            REGRESAR</button>
        <div class="col s6 m9">  
            <a style="float:right;margin-bottom:0%" (click)="save()" class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">save</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <div class="card white hoverable">
                <div class="card horizontal blue" style="color:white">
                    <div class="card-content col s4 m4">
                        <p>Nombre</p>
                    </div>
                    <div class="card-content col s1 m1">
                        <p class="d-block d-sm-none d-md-block">Nivel</p>
                    </div>
                    <div class="card-content col s2 m2">
                        <p class="d-block d-sm-none d-md-block">Canal</p>
                    </div>
                    <div class="card-content col s1 m1">
                        <p class="d-block d-sm-none d-md-block">Venta</p>
                    </div>
                    <div class="card-content col s1 m1">
                        <p class="d-block d-sm-none d-md-block">Bandeja</p>
                    </div>
                    <div class="card-content col s1 m1">
                        <p class="d-block d-sm-none d-md-block">Recupero de caida</p>
                    </div> 
                    <div class="card-content col s1 m1">
                        <p class="d-block d-sm-none d-md-block">Reporte y Tracking</p>
                    </div>
                    <div class="card-content col s1 m1">
                        <p class="d-block d-sm-none d-md-block">Reporte de Venta</p>
                    </div>
                </div>
                <div class="card horizontal">
                    <div class="card-content col s4 m4">
                        <input type="text" [(ngModel)]="perfil.name">
                    </div>
                    <div class="card-content col s1 m1">
                        <input type="number" [(ngModel)]="perfil.nivel" min="0">
                    </div>
                    <div class="card-content col s2 m2">
                        <input type="text" [(ngModel)]="perfil.canal">
                    </div>
                    <div class="card-content col s1 m1">
                        <input type="checkbox" style="left: initial;opacity: 1;" [(ngModel)]="perfil.f_venta">
                    </div>
                    <div class="card-content col s1 m1">
                        <input type="checkbox" style="left: initial;opacity: 1;" [(ngModel)]="perfil.f_bandeja"> 
                    </div>
                    <div class="card-content col s1 m1">
                        <input type="checkbox" style="left: initial;opacity: 1;" [(ngModel)]="perfil.f_recupero">
                    </div> 
                    <div class="card-content col s1 m1">
                        <input type="checkbox" style="left: initial;opacity: 1;" [(ngModel)]="perfil.f_reptrack">
                    </div>
                    <div class="card-content col s1 m1">
                        <input type="checkbox" style="left: initial;opacity: 1;" [(ngModel)]="perfil.f_repventa">
                    </div>     
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loading-indicator" *ngIf="loading">
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>