<div class="container">
    <div class="row">
		<div class="col l12 m12 s12">
			<a>
				<div class="center promo card-panel hoverable media-position green">
					Listado de Niveles <br>
					1 = Vendedores ,
					2 = BackOffice ,
					3 = Coordinador ,
					4 = Supervisor ,
					5 = Socio 
				</div>
			</a>		
		</div>
	</div>
    <div class="row">
        <button (click)="returnList()" class="waves-effect waves-light btn col s6 m3">
            <i class="material-icons left">keyboard_arrow_left</i>
            REGRESAR</button>
        <div class="col s6 m9">  
            <a style="float:right;margin-bottom:0%" [routerLink]="['add']" class="btn-floating btn-large waves-effect waves-light red">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <div class="card white hoverable">
                <div class="card horizontal blue" style="color:white">
                    <div class="card-content col s2 m2">
                        <p>Nombre</p>
                    </div>
                    <div class="card-content col s1 m1">
                        <p>Nivel</p>
                    </div>
                    <div class="card-content col s2 m2" style="text-align: center">
                        <p>Canal</p>
                    </div>
                    <div class="card-content col s1 m1" style="text-align: center">
                        <p class="d-block d-sm-none d-md-block">Venta</p>
                    </div>
                    <div class="card-content col s1 m1" style="text-align: center">
                        <p class="d-block d-sm-none d-md-block">Bandeja de audio</p>
                    </div>
                    <div class="card-content col s1 m1" style="text-align: center">
                        <p class="d-block d-sm-none d-md-block">Recupero de caida</p>
                    </div> 
                    <div class="card-content col s1 m1" style="text-align: center">
                        <p class="d-block d-sm-none d-md-block">Reporte vendedor y Tracking</p>
                    </div>
                    <div class="card-content col s1 m1" style="text-align: center">
                        <p class="d-block d-sm-none d-md-block">Reporte de Venta</p>
                    </div>
                    <div class="card-content col s1 m1">
                    </div>
                    <div class="card-content col s1 m1">
                    </div>
                </div>
                <div class="card horizontal" *ngFor="let perfil of perfiles">
                    <div class="card-content col s2 m2">
                        <p>{{perfil.name}}</p>
                    </div>
                    <div class="card-content col s1 m1" style="text-align: center">
                        <p>{{perfil.nivel}}</p>
                    </div>
                    <div class="card-content col s2 m2" style="text-align: center">
                        <p>{{perfil.canal}}</p>
                    </div>
                    <div class="card-content col s1 m1" style="text-align: center">
                        <input type="checkbox" style="left: initial;opacity: 1;" [(ngModel)]="perfil.f_venta" disabled="">
                    </div>
                    <div class="card-content col s1 m1" style="text-align: center">
                        <input type="checkbox" style="left: initial;opacity: 1;" [(ngModel)]="perfil.f_bandeja" disabled=""> 
                    </div>
                    <div class="card-content col s1 m1" style="text-align: center">
                        <input type="checkbox" style="left: initial;opacity: 1;" [(ngModel)]="perfil.f_recupero" disabled="">
                    </div> 
                    <div class="card-content col s1 m1" style="text-align: center">
                        <input type="checkbox" style="left: initial;opacity: 1;" [(ngModel)]="perfil.f_reptrack" disabled="">
                    </div>
                    <div class="card-content col s1 m1" style="text-align: center">
                        <input type="checkbox" style="left: initial;opacity: 1;" [(ngModel)]="perfil.f_repventa" disabled="">
                    </div>    
                    <div class="card-content col s1 m1" style="text-align: center">
                        <a  class="btn-floating btn-small waves-effect waves-light blue" [routerLink]="['/permisos-perfiles/edit/', perfil.id]">
                            <i class="material-icons">edit</i>
                        </a>
                    </div>    
                    <div class="card-content col s1 m1" style="text-align: center">
                        <a  class="btn-floating btn-small waves-effect waves-light red" (click)="delete(perfil.id)">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loading-indicator" *ngIf="loading">
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>