<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>
<div class="modal fade"  id="cancel" tabindex="-1" role="dialog" aria-labelledby="cancel" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
				<h4 class="modal-title">Cancelar Venta</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<div class="alert alert-info" *ngIf="errorOption">Debe seleccionar un motivo por el cual cancelará la venta.</div>
					<div class="alert alert-info" *ngIf="errorCustomReason">Ingrese el motivo por el cual cancelará la venta.</div>
					<div class="alert alert-info" *ngIf="errorSending">No se pudo cancelar la venta.</div>
					<p>Seleccione el motivo por cual va a cancelar la venta:</p>
					<select id="reason" class="form-control" (ngModelChange)="sendReason($event)" [(ngModel)]="selectedOption">
						<option  [ngValue]="{'id':0,'value':null}" value=0>Seleccione</option>
						<option *ngFor="let reasons of cancelList" [ngValue]="reasons"> {{reasons.value}} </option>
					</select>
					<br>
					<div *ngIf="anotherReason" class="text-center">
						<label class="head-text" for="anotherReason" >¿Cuál es el motivo?</label>
						<input [(ngModel)]="customReason" name="anotherReason" type="text" class="form-control full" maxlength="100">
					</div>
					<!--<pre *ngIf="selectedOption!=null">Motivo: {{selectedOption.id}}</pre>-->
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" (click)="ok()">Aceptar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Cancelar</button>
			</div>
		</div>
	</div>
</div>
