<div class="container-fluid">
    <!-- <div class="row ">
        <div (click)="exit()" class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center head"
             style="padding-bottom: 24px; cursor:pointer;">
            <span class="glyphicon glyphicon-chevron-left" style="margin-left:-5px; font-size: 20px; color:#005d88;"
                  aria-hidden="true"></span>
        </div> -->
        <!-- <div class="col-lg-7 col-md-6 col-sm-5 col-xs-10 head-bottom" style="padding-bottom: 18px;">
            <span class="head-text" style="padding-left: 1rem;">Proceso de venta fija</span>
        </div>
             -->
        <!-- <div [ngClass]="getCSSNav(order)" class="head-bottom nav   ">
            <nav id="menu">
                <ul class="menu">
                    <li [ngClass]="{'active-li': isHere == '/saleProcess' || isHere == '/saleProcess/park' || isHere == '/saleProcess/offering' || isHere == '/saleProcess/sva' || isHere == '/saleProcess/salesSummary' || isHere == '/saleProcess/reniec' || isHere == '/saleProcess/contract' || isHere == '/saleProcess/direccion' || isHere == '/saleProcess/close' || isHere == '/saleProcess/scoring'}">
                        Identificaci&oacute;n
                    </li>
                    <li [ngClass]="{'active-li': isHere == '/saleProcess/salesSummary' || isHere == '/saleProcess/reniec'  || isHere == '/saleProcess/contract' || isHere == '/saleProcess/close'}">
                        Oferta
                    </li>
                    <li [ngClass]="{'active-li': isHere == '/saleProcess/close'}">Registrar pre venta</li>
                </ul>
            </nav>
        </div> -->
<!-- 
        <div [ngClass]="getCSSX(order)" style="margin-top: 4px;">
            <span class="glyphicon glyphicon-remove-circle"
                  style="padding-bottom:25px;cursor:pointer; margin-left:-25px; font-size: 20px; color:#005d88;"
                  aria-hidden="true" data-toggle="modal" (click)="showCancelModal()"></span>
        </div>-->
        <!-- <cancelSale></cancelSale>
    </div> -->
                                    <div class="row">
        <div class="col-sm-12 space">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="loading-indicator" *ngIf="loading">
        <div class="windows8 windows-parquet">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall"></div>
            </div>
        </div>
    </div>
</div>