<div class="loading-indicator" *ngIf="loading">
    <div class="windows8 windows-parquet">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>


<div class="seccion">
    <div class="cnt_geneeral">
				<div class="title_pagina">
					<p>[ TITULO ]</p>
					<div class="both"></div>
				</div>
				<div class="cnt_forcnt prela">
					<div class="dileAlCliente">
						Dile al cliente lo siguiente:
					</div>
					<div class="TitAsk">
						[Estimado cliente...]
					</div>
					<div  >
						<div class="card compact">
							<div class="col-12"><span class="title">Plan a contratar:</span></div>
							<div class="reslo clearfix"> 
								<div class="det_pprin">
									<div class="cnt_deco_promo">
									 								 
									</div>
									<div class="cdatos">
										<div>Trio Plano Local 6 Mbps Estandar DTH </div>
										<div>En : CL 8 123 1 UR SANTA RAQUEL ET.3 , Lima, Lima, Peru - Ate</div> 
										<div>Costo de Instalación: S/ 12.9 x 24 meses.</div>
										<div>FINANCIADO</div>
									</div>
								</div>
								<div class="subtot new">
									<div class="sub_prom bdsep">
										<div>P. promocional</div>	
										<div><span>S/ </span> 109.9	</div>
										<div>x 2 meses</div>
										<div>S/ 139.9 mensual</div>
									</div>
									<div class="both"></div>
								</div>
							</div>
							<div class="col-12"><span class="title">Servicios Adicionales (SVA) a contratar:</span></div>
							<div class="reslo superior clearfix"> 
								<div class="det_pprin">
									<div class="cdatos">
										<div>SVA_LINEA </div>
										<div>Identificacion de llamadas</div>
									</div>
								</div>
								<div class="subtot new">
									<div class="sub_prom bdsep">
										<div class="fz20">S/ 8.41</div>
									</div>
									<div class="both"></div>
								</div>
								<div class="both"></div>
								<div class="det_pprin">
									<div class="cdatos">
										<div>1 DECO </div>
										<div>Smart HD</div>
									</div>
								</div>
								<div class="subtot new">
									<div class="sub_prom bdsep">
										<div class="fz20">S/ 10.90</div>
									</div>
									<div class="both"></div>
								</div>
							</div>
							<div class="reslo inferior clearfix"> 
								<div class="det_pprin">
									<div class="cdatos">
										<div>Sub total</div>
									</div>
								</div>
								<div class="subtot new">
									<div class="sub_prom bdsep">
										<div class="fz20">S/ 19.31</div>
										<div class="fz14">Mensual</div>
									</div>
									<div class="both"></div>
								</div>
							</div>
							<div class="reslo total clearfix"> 
								<div class="det_pprin">
									<div class="cdatos">
										<div>Total</div>
									</div>
								</div>
								<div class="subtot new">
									<div class="sub_prom bdsep">
										<div class="fz14">Mensual</div>
										<div>S/ 109.9</div>
									</div>
									<div class="both"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="card botonera-1">
						<div class="col-12 text-center">
							<a class="boton_greentdp full" (click)='migrarOut()'>CONTINUAR</a>
						</div>
					</div>
				</div>
			</div>

 
</div>