<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>


<div class="seccion">
	<div class="cnt_geneeral">
		<div class="title_pagina">
			<p>Speech de Grabaci&oacute;n</p>
			<div class="both"></div>
		</div>
		<div class="cnt_forcnt">
			<div class="dileAlCliente">
				Dile al cliente lo siguiente:
			</div>

			<div class="TitAsk" [innerHTML]="mjsContract">
			</div>

			<ng-container *ngFor="let canal of channels">
				<ng-container *ngIf="order.user.sellerChannelEquivalentCampaign==canal">
					<div style="float: right;">
						<strong style="vertical-align: super;">Enviar por WhatsApp</strong>
						<input class="squaredTwo2" id="VER2" name="isWsp" [(ngModel)]="isWsp" type="checkbox" [checked]="isWsp" />
						<label for="VER2"></label>
					</div>
				</ng-container>
			</ng-container>

			<br/>
			<br/>

			<div class="detalle_producto padding-left">
				<div *ngIf="order.user.typeFlujoTipificacion !='PRESENCIAL'">

					<div class="panel panel-default">
						<div class="tablaDat2 psva">
							<table class="table table-hover">
								<tbody>
									<tr *ngFor="let paragraph of contract" class="clickable">
										<td>{{paragraph.paragraph}}
											<!--<ng-container *ngIf="paragraph.category=='publication_white_pages_guide'">
												<label class="switch" style="float: right">
													<input type="checkbox" [(ngModel)]="publicationWhitePagesGuide">
													<div class="slider round"></div>
												</label>
											</ng-container>
											<ng-container *ngIf="paragraph.category=='affiliation_electronic_invoice'">
												<label class="switch" style="float: right">
													<input type="checkbox" [(ngModel)]="affiliationElectronicInvoice">
													<div class="slider round"></div>
												</label>
											</ng-container>
											<ng-container *ngIf="paragraph.category=='disaffiliation_white_pages_guide'">
												<label class="switch" style="float: right">
													<input type="checkbox" [(ngModel)]="disaffiliationWhitePagesGuide">
													<div class="slider round"></div>
												</label>
											</ng-container>
											<ng-container *ngIf="paragraph.category=='affiliation_data_protection'">
												<label class="switch" style="float: right">
													<input type="checkbox" [(ngModel)]="affiliationDataProtection">
													<div class="slider round"></div>
												</label>
											</ng-container>
											<ng-container *ngIf="paragraph.category=='client_has_email0'">
												<label class="switch" style="float: right">
													<input type="checkbox" [(ngModel)]="shippingContractsForEmail">
													<div class="slider round"></div>
												</label>
											</ng-container>-->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="alert alert-info" *ngIf="closeSaleError">
						<p>
							No se pudo completar la venta,
							<strong>por favor vuelva a intentarlo
							</strong>. ({{closeSaleErrorMessage}})
						</p>
					</div>
					<div class="clickable">
						<div class="row padding-left" *ngIf="order.cip || cipError">
							<div class="col-sm-12">
								<table class="table" width="90%">
									<tr>
										<td style="width:50%;">
											<h4 *ngIf = "!this.errorPagoEfectivo">Codigo PagoEfectivo: {{order.cip}}</h4>
											<span style="font-size:16px" *ngIf = "this.errorPagoEfectivo">Ocurrió un error al generar el código CIP, por favor ingrese una dirección de correo electronico para informarle cuando se genere el CIP</span>
										</td>
										<td style="text-align: right;" style="width:50%;">
											<h4 *ngIf = "!this.errorPagoEfectivo" >Monto: S/ {{order.selectedOffering.cashPrice}}</h4>
											<div *ngIf = "this.errorPagoEfectivo">
												<form class="formDocSelect" #formEmail="ngForm" novalidate>
													<div  [ngClass]="formEmail.valid ? 'col-raz-email input-effect' : 'col-raz-email input-effect error_in'" id="divEmail">
														<input class="effect-16" type="text" [(ngModel)]="emailSeller"  name="emailSeller" id="emailSeller"
															required placeholder="" (focusout)="focusout($event.target)" [pattern]="emailPattern">
														<label>Email</label>
														<span class="focus-border"></span>
														<span class="error_msg" *ngIf="!formEmail.valid">Por favor rellene este campo</span>
													</div>
													
												</form>
											</div>
										</td>
									</tr>
								</table>
								<p>
									<br/> Tienes hasta 48 horas para realizar el pago. Puedes pagar a través de la banca por internet o móvil de tu
									banco, o acercándote a los agentes o agencias autorizadas.
								</p>
								<ul>
									<li>BanBif</li>
									<li>Banco Continental BBVA</li>
									<li>Banco de Crédito BCP</li>
									<li>Banco Interbank</li>
									<li>Banco Scotiabank</li>
									<li>Banco WesternUnion</li>
									<li>Full Carga</li>
								</ul>
								<p>Ademas se te enviara un SMS con el codigo de PagoEfectivo y el monto a pagar.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-center" *ngIf="loadError" style="padding-bottom: 30px;">
							<h1>Hola!</h1>
							<p>{{mensaje_error}}</p>
							<p>Vuelve a consultar nuevamente</p>
						</div>
						<div class="cal-sm-12 text-center">
							<div class="cntBotonesOpt">
								<div class="footerEndSend">
									<a (click)="cerrarVenta()">CONTRATAR</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>