<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>
<div *ngIf="loadErrorDeuda">
	<div class="modal">
		{{mensaje_error_deuda}}
		<div *ngIf="!error_respuesta" align="center">
			<a class="boton_greentdp" (click)="cancelarConsultaDeuda()">Continuar con la Venta</a>
		</div>
		<div *ngIf="error_respuesta" align="center">
			<a class="boton_greentdp" (click)="salirVenta()">Salir</a>
		</div>
	</div>
	<div class="overlay"></div>
</div>

<div class="seccion">
	<div class="cnt_geneeral">
		<div class="title_pagina">
			<p>Parque del Cliente</p>
			<div class="both"></div>
		</div>

		<div class="alert-danger posmsglogin col-sm-3" *ngIf="loadError">
			Hola! {{mensaje_error}}
			<br>
			<a (click)="getData()"> Intentar nuevamente</a>
		</div>
		<div class="cnt_forcnt">
			<div class="dileAlCliente">
				Dile al cliente lo siguiente:
			</div>
			<div class="TitAsk" [innerHTML]="mjsPark">				
			</div>

			<div *ngIf="serv_deuda_act && respuestaDataCustomer" class="card calificacion">
				<div *ngIf="!cli_sin_datos" class="titulo">
					{{this.nom_cliente}} {{this.ape_cliente}}, <br/>
					{{this.tip_doc_cliente}}: {{this.num_doc_cliente}}
				</div>
				<div *ngIf="!tiene_deuda || cli_sin_datos" class="wrapper--1 clearfix" style="padding : 15px 20px 15px 76px;">
					<div class="status ok" style="font-size:15px;">
						Cliente sin restrincción de deuda
					</div>
				</div>

				<div *ngIf="tiene_deuda" class="wrapper--1 clearfix">
						<div class="status error">
							Cliente con deuda de:
							<br/>
							<span class="moneda">de hace {{this.tiempo_tot}}</span> <br/>
							<span class="moneda">en {{lineas_cliente}} {{linea_desc}}</span>
						</div>
						<div class="monto">
							<span class="moneda">S/</span> <span class="soles">{{this.deuda_tot}}</span><span class="centimos">{{this.deuda_dec}}</span>
						</div>
						
				</div>
			</div>

			<div *ngIf="serv_deuda_act && (respuestaDataCustomer && tiene_deuda && !cli_sin_datos)">
				Cliente con deuda
				<br/>
				<div class="advisorDue">
					Al evaluar su documento de identidad encontramos que Ud. tiene una deuda de S/ {{ this.deuda_tot }}{{this.deuda_dec}} 
					de hace {{this.tiempo_tot}} en {{ this.lineas_cliente }} {{this.linea_desc}}.
				</div>
				<br/>
			</div>

			<div class="sepPest">
				<ul class="tabs">
					<li class="active">
						<a id="a5" class="tab5">LÍNEAS Y B/A</a>
					</li>
					<li>
						<a id="a6" class="tab6">TELEVISIÓN</a>
					</li>
				</ul>
				<div class="tab_container">
					<div id="tab5" class="tab_content" style="display: block !important;">
						<div class="tablaDat">
							<table cellspacing="0" cellpadding="0" width="100%">
								<thead>
									<tr>
										<th>TELÉFONO</th>
										<th>PRODUCTO</th>
										<th>DISTRITO</th>
										<th></th>
										<th *ngIf="(!serv_deuda_act || (respuestaDataCustomer && (!tiene_deuda || cli_sin_datos)))">SELECCIONAR</th>
									</tr>
								</thead>
								<tbody>
									<ng-container *ngFor="let prod of product; let ind = index;">
										<ng-container *ngIf="prod.parkType=='ATIS'">
											<tr class="clickable">
												<ng-container *ngIf="isThereAnyLineaOrBAProduct">
													<td *ngIf="prod.phone">{{ prod.phone }}</td>
													<td *ngIf="!prod.phone">{{ prod.serviceCode }}</td>
													<td>{{prod.productDescription}}</td>
													<td>{{prod.address}} - {{prod.district}}</td>
													<td>
														<a class="boton_greentdp_parque" (click)="getModal(ind)">VER DETALLE</a>
													</td>
													<td *ngIf="(!serv_deuda_act || (respuestaDataCustomer && (!tiene_deuda || cli_sin_datos)))">
														<div class="squaredTwo">
															<input type="checkbox" value="None" id="{{ ind }}" name="check" (change)="selectionChange($event.srcElement, ind)">
															<label for="{{ ind }}"></label>
														</div>
													</td>
												</ng-container>
											</tr>
											<div *ngIf="showModalPark[ind]">
												<div class="modal" style="width: 75%">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-body">
																<!--<div class="accordion-content default texto_center">-->
																<div class="columna2">
																	<div *ngIf="prod.productDescription">
																		<span>Producto</span>
																		<ul>
																			<li>{{prod.productDescription}}</li>
																		</ul>
																		<br/>
																	</div>
																	<div *ngIf="prod.phone">
																		<span>Teléfono</span>
																		<ul>
																			<li>{{prod.phone}}</li>
																		</ul>
																	</div>
																</div>
																<div class="columna2">
																	<div *ngIf="prod.rentaTotal">
																		<span>Precio Regular</span>
																		<ul>
																			<li>s/. {{prod.rentaTotal}}</li>
																		</ul>
																		<br/>
																	</div>
																	<div *ngIf="prod.status && prod.status!='SIN VALOR'">
																		<span>Estado de Servicio</span>
																		<ul>
																			<li>{{prod.status}}</li>
																		</ul>
																	</div>
																	<div *ngIf="prod.numDecos && prod.status=='SIN VALOR'">
																		<span>Cant. Punto Adicional</span>
																		<ul>
																			<li>{{prod.numDecos}}</li>
																		</ul>
																		<br/>
																	</div>
																</div>
																<div class="columna2">
																	<div *ngIf="prod.numDecos && prod.status && prod.status!='SIN VALOR'">
																		<span>Cant. Punto Adicional</span>
																		<ul>
																			<li>{{prod.numDecos}}</li>
																		</ul>
																		<br/>
																	</div>
																	<div *ngIf="prod.address">
																		<span>Dirección</span>
																		<ul>
																			<li>{{prod.address}}</li>
																		</ul>
																	</div>
																</div>
																<!--</div>-->
															</div>
															<br>
															<br>
															<div class="modal-footer text-center">
																<a class="popup-close" (click)="cancelCancelacionVenta(ind)">x</a>
															</div>
														</div>
													</div>
												</div>
												<div class="overlay"></div>
											</div>
										</ng-container>
									</ng-container>
									<tr class="clickable" *ngIf="amountOfRowsLinea.length == 0">
										<td colspan="4">SIN RESULTADO</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="tab6" class="tab_content ">
						<div class="tablaDat">
							<table cellspacing="0" cellpadding="0" width="100%">
								<thead>
									<tr>
										<th>COD. SERVICIO</th>
										<th>PRODUCTO</th>
										<th>DISTRITO</th>
										<th></th>
										<th *ngIf="(!serv_deuda_act || (respuestaDataCustomer && (!tiene_deuda || cli_sin_datos)))">SELECCIONAR</th>
									</tr>
								</thead>
								<tbody>
									<ng-container *ngFor="let prod of product; let ind = index;">
										<ng-container *ngIf="prod.parkType=='CMS'">
											<tr class="clickable">
												<ng-container *ngIf="isThereAnyTvProduct">
													<td>{{ prod.serviceCode }}</td>
													<td>{{prod.productDescription}}</td>
													<td>{{prod.address}} - {{prod.district}}</td>
													<td>
														<a class="boton_greentdp_parque" (click)="getModal(ind)">VER DETALLE</a>
													</td>
													<td *ngIf="(!serv_deuda_act || (respuestaDataCustomer && (!tiene_deuda || cli_sin_datos)))">
														<div class="squaredTwo">
															<input type="checkbox" class="classCheckBox" value="None" id="{{ ind }}" name="check" (change)="selectionChange($event.srcElement, ind)">
															<label for="{{ ind }}"></label>
														</div>
													</td>
												</ng-container>
											</tr>
											<div *ngIf="showModalPark[ind]">
												<div class="modal" style="width: 75%">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-body">
																<!--<div class="accordion-content default texto_center">-->
																<div class="columna2">
																	<div *ngIf="prod.productDescription">
																		<span>Producto</span>
																		<ul>
																			<li>{{prod.productDescription}}</li>
																		</ul>
																		<br/>
																	</div>
																	<div *ngIf="prod.phone">
																		<span>Teléfono</span>
																		<ul>
																			<li>{{prod.phone}}</li>
																		</ul>
																	</div>
																</div>
																<div class="columna2">
																	<div *ngIf="prod.rentaTotal">
																		<span>Precio Regular</span>
																		<ul>
																			<li>s/. {{prod.rentaTotal}}</li>
																		</ul>
																		<br/>
																	</div>
																	<div *ngIf="prod.status && prod.status!='SIN VALOR'">
																		<span>Estado de Servicio</span>
																		<ul>
																			<li>{{prod.status}}</li>
																		</ul>
																	</div>
																	<div *ngIf="prod.numDecos && prod.status=='SIN VALOR'">
																		<span>Cant. Punto Adicional</span>
																		<ul>
																			<li>{{prod.numDecos}}</li>
																		</ul>
																		<br/>
																	</div>
																</div>
																<div class="columna2">
																	<div *ngIf="prod.numDecos && prod.status && prod.status!='SIN VALOR'">
																		<span>Cant. Punto Adicional</span>
																		<ul>
																			<li>{{prod.numDecos}}</li>
																		</ul>
																		<br/>
																	</div>
																	<div *ngIf="prod.address">
																		<span>Dirección</span>
																		<ul>
																			<li>{{prod.address}}</li>
																		</ul>
																	</div>
																</div>
																<!--</div>-->
															</div>
															<br>
															<br>
															<div class="modal-footer text-center">
																<a class="popup-close" (click)="cancelCancelacionVenta(ind)">x</a>
															</div>
														</div>
													</div>
												</div>
												<div class="overlay"></div>
											</div>
										</ng-container>
									</ng-container>
									<tr class="clickable" *ngIf="amountOfRows.length == 0">
										<td colspan="4">SIN RESULTADO</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>


				</div>
			</div>
			<div *ngIf="product ? product.length > 0 : '' " class="texto_center">
					<div *ngIf="(!serv_deuda_act || (respuestaDataCustomer && (!tiene_deuda || cli_sin_datos)))">
				<a (click)="sendMigra()" *ngIf="order.type == 'M'" class="boton_greentdp">MIGRAR</a>
				<a (click)="sendSVA()" *ngIf="order.type == 'S'" class="boton_greentdp">SVA</a>
			</div>
		</div>
	</div>
	</div>
	<!--<div *ngIf="showModalPark">
		<div class="modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-group">

						</div>
					</div>
					<br>
					<br>
					<div class="modal-footer text-center">
						<a class="popup-close" (click)="cancelCancelacionVenta()">x</a>
					</div>
				</div>
			</div>
		</div>
		<div class="overlay"></div>
	</div>-->
</div>