<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>



<!--<div class="" id="modalHome" *ngIf="modalHome">
	<div>
		<div>
			<div>
				<! 							<button type="button" class="close" data-dismiss="modal">&times;</button> -->
<!--<h4>Venta Cancelada</h4>
			</div>
			<div>
				<h5>Venta caida por exceso de intentos validos.</h5>
			</div>
			<div>
				<button type="button"(click)="cancelSale()">Aceptar</button>
			</div>
		</div>
	</div>
</div>-->


<div class="popup" id="pop_reniec" data-popup="popup-1" (click)="cancelSale()">
	<div class="popup-inner">
		<div class="modal fade" id="cancel">
			<h4 class="modal-title text-center">Venta Cancelada</h4>
			<h5 class="text-center">Venta ca&iacute;da por exceso de intentos inv&aacute;lidos.</h5>
			<br>
			<div class="text-center">
				<a type="button" id="aceptar" class="boton_greentdp wd240" (click)="cancelSale()">Aceptar</a>
			</div>

		</div>
	</div>
</div>

<div *ngIf="loadError">
	<div class="modal">
		{{mensaje_error}}
		<div align="center">
			<a class="boton_greentdp" (click)="obtainReniec()">Consultar nuevamente</a>
			<a class="boton_greentdp" (click)="cancelarConsulta()">Cancelar</a>
		</div>
	</div>
	<div class="overlay"></div>
</div>

<div class="seccion">
	<div class="cnt_geneeral">
		<div class="title_pagina">
			<p>Validaci&oacute;n de Identidad</p>
			<div class="both"></div>
		</div>
		<div class="cnt_forcnt">
			<div class="dileAlCliente">
				Dile al cliente lo siguiente:
			</div>
			<div class="TitAsk" [innerHTML]="mjsReniec">
			</div>
			<div class="tablaDat mgt50">
				<table cellspacing="0" cellpadding="0" width="100%">
					<tbody>
						<tr *ngIf="activaFlujoOff">
							<td>NRO. RUC</td>
							<td><b>{{customer.documentNumber}}</b></td>
						</tr>
						<tr>
							<td>RAZÓN SOCIAL: </td>
							<td class="bold" *ngIf="!activaFlujoOff">{{customer.razonSocial}}</td>
							<td *ngIf="activaFlujoOff">

								<form class="formDocSelect" #formNom="ngForm" novalidate>
									<div  [ngClass]="formNom.valid ? 'col-raz-social input-effect' : 'col-raz-social input-effect error_in'" id="divRazonSocial">
										<input class="effect-16" type="text" [(ngModel)]="nomRazSoc"  name="nomRazSoc" id="nomRazSoc"
											required placeholder="" (focusout)="focusout($event.target)">
										<label>Razón Social</label>
										<span class="focus-border"></span>
										<span class="error_msg" *ngIf="!formNom.valid">Por favor rellene este campo</span>
									</div>
									<div>
										<span style="color:red;font-size: 14px;font-family: Calibri">*Debera ingresar el nombre de Razon Social tal como figura en Sunat.</span>
									</div>
									
								</form>
							</td>
							
						</tr>
						<tr *ngIf="!activaFlujoOff">
							<td>ESTADO CONTR.: </td>
							<td class="bold">{{customer.estContrib}}</td>
							
						</tr>
						<tr *ngIf="!activaFlujoOff">
							<td>COND. DOMICILIO: </td>
							<td class="bold">{{customer.condDomicilio}}</td>
							
						</tr>
						<tr *ngIf="!activaFlujoOff" id="selecttr">
							<td>DIRECCIÓN REG.: </td>
							<td class="bold">{{customer.direccion}}</td>
							
						</tr>
					</tbody>
				</table>
			</div>

			<div *ngIf="mostrarRepresentanteLegal">
				<div class="TitAsk" >
					{{tituloSeleccionDoc}}
				</div>
				<form class="formDocSelect" #formDocSelect="ngForm" novalidate>
						<div class="col-3 paraselect" id="divDocumentType">

								<div class="select">
									<label style="position: absolute; left: 0; width: 100%; top: 0px;top: -16px; font-size: 14px; color: #3399FF; z-index: -1; letter-spacing: 0.5px; text-align: left;">Tipo de documento</label>
									<select id="documentType" name="doctype" [(ngModel)]="selectedType" (change)="onChangeSelectDocument($event.target.value)">
										<!-- <option value="null">Seleccione</option> -->
			
										<option value="DNI" [attr.selected]="selectedType">DNI</option>
										<option value="CEX">Carn&eacute; de Extranjeria</option>
										<option value="PAS">Pasaporte</option>
										<option value="Otros">Otros Extranjeros - Aut. SNM</option>
									</select>
			
								</div>
							</div>
							<div  [ngClass]="formDocSelect.valid ? 'col-3 input-effect' : 'col-3 input-effect error_in'" id="divDocumentNumber">
								<input *ngIf="showDni" class="effect-16 input_tel" type="text" [(ngModel)]="docNroDni"  name="docNroDni" id="docNroDni" pattern="^[0-9]{8}$"
									required maxlength="8" placeholder="" (focusout)="focusout($event.target)">
								<input *ngIf="showCarneExtranjeria" class="effect-16" type="text" [(ngModel)]="docNroCarnetExt" id="docNroCarnetExt" name="docNroCarnetExt"
									pattern="^[a-zA-Z0-9]{4,12}$" required placeholder="" maxlength="12" (focusout)="focusout($event.target)">
								<input *ngIf="showOtrosCE" class="effect-16" type="text" [(ngModel)]="docNroOtrosCE" id="docNroOtrosCE" name="docNroOtrosCE"
									pattern="^[a-zA-Z0-9]{4,12}$" required placeholder="" maxlength="12" (focusout)="focusout($event.target)">
							 	<input *ngIf="showPasaporte" class="effect-16" type="text" [(ngModel)]="docNroCarnetExt" id="numeroPasaporte" name="numeroPasaporte"
									pattern="^[a-zA-Z0-9]{4,12}$" required placeholder="" maxlength="12" (focusout)="focusout($event.target)">
								<label>Nº de Documento</label>
								<span class="focus-border"></span>
								<span class="error_msg" *ngIf="!formDocSelect.valid">Por favor rellene este campo</span>
							</div>
						<div *ngIf="formDocSelect.valid" class="texto_center">
								<a class="boton_greentdp_btn" (click)="validarRuc()">VALIDAR</a>
							</div>
						<div *ngIf="!formDocSelect.valid" class="texto_center">
								<a class="boton_graytdp">VALIDAR</a>
						</div>
				</form>
			</div>
			<div *ngIf="!mostrarRepresentanteLegal" class="texto_center">
					<a class="boton_greentdp_btn" (click)="validarRuc()">VALIDAR</a>
				</div>
		</div>
	</div>
</div>