<div class="loading-indicator" *ngIf="loading">
    <div class="windows8 windows-parquet">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>


<div class="seccion">
    <div class="cnt_geneeral">
				<div class="title_pagina">
					<p>[ TITULO ]</p>
					<div class="both"></div>
				</div>
				<div class="cnt_forcnt prela">
					<div class="dileAlCliente">
						Dile al cliente lo siguiente:
					</div>
					<div class="TitAsk">
						[Estimado cliente...]
					</div>
					<div class="tablaDatos azul">
						<table cellspacing="0" cellpadding="0" width="100%">
							<thead>
								<tr>
									<th>PRODUCTO</th>
									<th>DISTRITO</th>
									<th>SELECCIONAR</th>
								</tr>
							</thead>
							<tbody>
								<tr class="clickable">
									<th colspan="3">Bloque TV</th>
								</tr>
								<tr class="clickable">
									<td>Duo Plan Nacional 12 Mbps</td>
									<td>NND MZ I LT 5 AH SAN VALENTIN - CASTILLA</td>
									<td>
										<div class="squaredTwo">
											<input type="checkbox" value="None" id="check8" name="check">
											<label for="check8"></label>
										</div>
									</td>
								</tr>
								<tr class="clickable">
									<td>Duo Plan Nacional 12 Mbps</td>
									<td>NND MZ I LT 5 AH SAN VALENTIN - CASTILLA</td>
									<td>
										<div class="squaredTwo">
											<input type="checkbox" value="None" id="check8" name="check">
											<label for="check8"></label>
										</div>
									</td>
								</tr>
								<tr class="clickable">
									<td>Duo Plan Nacional 12 Mbps</td>
									<td>NND MZ I LT 5 AH SAN VALENTIN - CASTILLA</td>
									<td>
										<div class="squaredTwo">
											<input type="checkbox" value="None" id="check8" name="check">
											<label for="check8"></label>
										</div>
									</td>
								</tr>
							</tbody>
							<tbody>
								<tr class="clickable">
									<th colspan="3">Internet</th>
								</tr>
								<tr class="clickable">
									<td>Duo Plan Nacional 12 Mbps</td>
									<td>NND MZ I LT 5 AH SAN VALENTIN - CASTILLA</td>
									<td>
										<div class="squaredTwo">
											<input type="checkbox" value="None" id="check8" name="check">
											<label for="check8"></label>
										</div>
									</td>
								</tr>
								<tr class="clickable">
									<td>Duo Plan Nacional 12 Mbps</td>
									<td>NND MZ I LT 5 AH SAN VALENTIN - CASTILLA</td>
									<td>
										<div class="squaredTwo">
											<input type="checkbox" value="None" id="check8" name="check">
											<label for="check8"></label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
                    </div>	
                    
                    <div class="card botonera-1">
                        <div class="col-12 text-center">
                            <a class="boton_greentdp full" (click)='migrarOut()'>MIGRAR</a>
                        </div>
                    </div>

				</div>
			</div>

 
</div>