<div class="loading-indicator" *ngIf="loading">
	<div class="windows8 windows-parquet">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>

<div *ngIf="loadError">
	<div class="modal">
		{{mensaje_error}}
		<div align="center">
			<a class="boton_greentdp" (click)="onSubmit()">Consultar nuevamente</a>
			<a class="boton_greentdp" (click)="cancelarConsulta()">Cancelar</a>
		</div>
	</div>
	<div class="overlay"></div>
</div>

<div class="seccion">
	<div class="cnt_geneeral">
		<div class="title_pagina">
			<p>Datos del Cliente</p>
			<div class="both"></div>
		</div>

		<div class="cnt_forcnt">

			<div class="dileAlCliente">
				Dile al cliente lo siguiente:
			</div>
			<div class="TitAsk">
				Estimado cliente, necesito los siguientes datos:
				<br> - Su tipo de documento y número del mismo

				<br >
				<!-- <div *ngIf="order.type == 'A'">
					- Departamento, Provincia y Distrito donde se hara la instalación
				</div> -->
			</div>
			<!-- / -->

			<form class="formDocSelect" #formDocSelect="ngForm" novalidate>
                <!-- <form class="formDocSelect" #formDocSelect="ngForm" novalidate> -->
				<div class="col-3 paraselect" id="divDocumentType">

					<div class="select">
						<label style="position: absolute; left: 0; width: 100%; top: 0px;top: -16px; font-size: 14px; color: #3399FF; z-index: -1; letter-spacing: 0.5px; text-align: left;">Tipo de documento</label>
						<select id="documentType" name="doctype" [(ngModel)]="selectedType" (change)="onChangeSelectDocument($event.target.value)">
							<!-- <option value="null">Seleccione</option> -->

							<option value="DNI" [attr.selected]="selectedType">DNI</option>
							<option value="CEX" *ngIf="showTipoDocumentoCEX">Carn&eacute; de Extranjeria</option>
                            
						</select>

					</div>
				</div>
				<div  [ngClass]="formDocSelect.valid ? 'col-3 input-effect' : 'col-3 input-effect error_in'" id="divDocumentNumber">
					<input *ngIf="showDni" class="effect-16 input_tel" type="text" [(ngModel)]="docNroDni"  name="docNroDni" id="docNroDni" pattern="^[0-9]{8}$"
						   required maxlength="8" placeholder="" (focusout)="focusout($event.target)" (keyup.enter)="doEnter()">
				

					<input *ngIf="showCarneExtranjeria" class="effect-16" type="text" [(ngModel)]="docNroCarnetExt" id="docNroCarnetExt" name="docNroCarnetExt"
						   pattern="^[a-zA-Z0-9]{4,12}$" required placeholder="" maxlength="12" (focusout)="focusout($event.target)">

					<!-- <input *ngIf="showPasaporte" class="effect-16" type="text" [(ngModel)]="docNroOtrosCE" id="docNroOtrosCE" name="docNroOtrosCE"
						   pattern="^[a-zA-Z0-9]{4,12}$" required placeholder="" maxlength="12" (focusout)="focusout($event.target)">
				 -->

					<label>Nº de Documento</label>
					<span class="focus-border"></span>
					<span class="error_msg" *ngIf="!formDocSelect.valid">Por favor rellene este campo</span>
				</div>
				<br>
			
			</form>


			<br>


			<div class="col-4" align="center">
                <!-- <div *ngIf="respuestaScoring" class="col-4" align="center"> -->

				<!--a class="boton_greentdp" (click)="iniciarVenta()">CONTINUAR</a-->
				<!-- <button class="boton_greentdp_btn" (click)="iniciarVenta()">Guardar</button> -->
				<button class="boton_greentdp_btn" (click)="guardarInfo()">Guardar</button>

			</div>

		</div>
	</div>
</div>