<div class="container">
<div class="row">
        <div class="col s12 {{showMessageValidator}}">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              {{messageValidate}}
            </div>

          </div>
        </div>
      </div>
	<div class="col s12">
		<div class="card-panel">
			<div>
				<button (click)="cancelEdit()" style="float: right;" class="waves-effect waves-light btn {{showEditProduct}}">Cancelar</button>
				<button (click)="modalFieldEdit()" style="float: right; margin-right: 10px !important;" class="waves-effect waves-light btn">{{nameEdit}}</button>
				<!-- inicio modal -->
				<div id="modal1" class="modal">
					<div class="modal-content">
						<h4>Actualizaci&oacute;n de Producto</h4>
						<p>Por favor confirme su actualizaci&oacute;n</p>
					</div>
					<div class="modal-footer">
						<a (click)="fieldEdit()" class=" modal-action modal-close waves-effect waves-green btn-flat">Actualizar</a>
						<a (click)="cancelEdit()" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
					</div>

				</div>
				<!-- fin de modal -->
			</div>

			<h5 class="center">Detalle del Producto</h5>
			<div class="row">

				<div style="margin-top: 30px !important;" class="divider"></div>
				<table class="highlight responsive-table bordered centered">
					<thead>
						<tr>
							<th>Campo</th>
							<th>Dato</th>
							<th style="text-align: left;" class="{{showEditProduct}}">Dato a actualizar</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Código Único del Producto</td>
							<td>{{product.idProduct}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.idProduct" placeholder="Código único del Producto" id="idProduct" name="idProduct" type="text"
									 class="validate" maxlength="9">
								</div>
							</td>
						</tr>
						<tr>
							<td>Operación Comercial</td>
							<td>{{product.commercialoperation}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.commercialoperation" placeholder="Operaci&oacute;n Comercial" id="commercialoperation" name="commercialoperation"
										type="text" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Campaña</td>
							<td>{{product.campaign}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.campaign" placeholder="Campa&ntilde;a" id="campaign" name="campaign" type="text" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Código de Campaña</td>
							<td>{{product.campaingcode}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.campaingcode" placeholder="C&oacute;digo Campa&ntilde;a" id="campaingcode" name="campaingcode"
									 type="text" min="0" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Prioridad</td>
							<td>{{product.priority}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.priority" placeholder="Prioridad" id="priority" name="priority" type="number" step="any"
									 class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Código de Tipo Producto</td>
							<td>{{product.prodtypecode}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input placeholder="C&oacute;digo de Tipo Producto" id="prodtypecode" name="prodtypecode" [(ngModel)]="editProduct.prodtypecode"
									 type="text" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Tipo Producto</td>
							<td>{{product.producttype}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.producttype" placeholder="Tipo Producto" id="producttype" name="producttype" type="text"
									 class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Código de Categoría Producto</td>
							<td>{{product.prodcategorycode}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.prodcategorycode" placeholder="C&oacute;digo de Categoria de Producto" id="prodcategorycode"
									 name="prodcategorycode" type="text" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Categoría del Producto</td>
							<td>{{product.productcategory}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.productcategory" placeholder="Categoria del Producto" id="productcategory" name="productcategory"
									 type="text" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Código del Producto</td>
							<td>{{product.productcode}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.productcode" placeholder="C&oacute;digo del Proudcto" id="productcode" name="productcode"
									 type="text" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Producto</td>
							<td>{{product.productname}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.productname" placeholder="Producto" id="productname" name="productname" type="text" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Descuento</td>
							<td>{{product.discount}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.discount" placeholder="Descuento" id="discount" name="discounts" type="text" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Renta Regular</td>
							<td>{{product.price}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.price" placeholder="Renta Regular" id="price" name="price" type="number" step="any" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Renta Promocional</td>
							<td>{{product.promprice}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.promprice" placeholder="Renta Promocional" id="promprice" name="promprice" type="number"
									 step="any" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Periodo por Mes(es)</td>
							<td>{{product.monthperiod}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.monthperiod" placeholder="Periodo por Mes(es)" id="monthperiod" name="monthperiod" type="number"
									 step="any" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Costo de Instalación</td>
							<td>{{product.installcost}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.installcost" placeholder="Costo de Instalaci&oacute;" id="installcost" name="installcost"
									 type="number" step="any" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Tipo de Línea</td>
							<td>{{product.linetype}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.linetype" placeholder="Tipo de L&iacute;" id="linetype" name="linetype" type="text" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Modalidad de Pago</td>
							<td>{{product.paymentmethod}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.paymentmethod" placeholder="Modalidad de Pago" id="paymentmethod" name="paymentmethod" type="text"
									 class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Monto al Contado</td>
							<td>{{product.cashprice}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.cashprice" placeholder="Operación Comercial" id="cashprice" name="cashprice" type="number"
									 step="any" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Monto de Cuotas de Financiamiento</td>
							<td>{{product.financingcost}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.financingcost" placeholder="Monto de Cuotas de Financiamiento" id="financingcost" name="financingcost"
									 type="number" step="any" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Meses de Financiamiento</td>
							<td>{{product.financingmonth}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.financingmonth" placeholder="Meses de Financiamiento" id="financingmonth" name="financingmonth"
									 type="number" step="any" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Tipo de Equipamiento</td>
							<td>{{product.equipmenttype}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.equipmenttype" placeholder="Tipo de Equipamiento" id="equipmenttype" name="equipmenttype"
									 type="text" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Meses de Devolución</td>
							<td>{{product.returnmonth}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.returnmonth" placeholder="Meses de Devoluci&oacute;" id="returnmonth" name="returnmonth"
									 type="number" step="any" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Periodo de Devolución</td>
							<td>{{product.returnperiod}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.returnperiod" placeholder="Periodo de Devoluci&oacute;" id="returnperiod" name="returnperiod"
										type="text" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Velocidad de Internet</td>
							<td>{{product.internetspeed}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.internetspeed" placeholder="Velocidad de Internet" id="internetspeed" name="internetspeed"
									 type="number" step="any" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Tecnología de Internet</td>
							<td>{{product.internettech}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.internettech" placeholder="Tecnolog&iacute;a de Internet" id="internettech" name="internettech"
									 type="text" class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Tipo de Señal de TV</td>
							<td>{{product.tvsignal}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.tvsignal" placeholder="Tipo de Se&ntilde;al de TV" id="tvsignal" name="tvsignal" type="text"
									 class="validate">
								</div>
							</td>
						</tr>
						<tr>
							<td>Tecnología de TV</td>
							<td>{{product.tvtech}}</td>
							<td class="{{showEditProduct}}">
								<div class="input-field">
									<input [(ngModel)]="editProduct.tvtech" placeholder="Tecolog&iacute;a de TV" id="tvtech" name="tvtech" type="text" class="validate">
								</div>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

</div>

<div class="loading-indicator" *ngIf="loading">
	<div class="windows8">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>