	<style>
		.celda {
			height: 400px;
		}

		.switch {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 34px;
		}

		.switch input {
			display: none;
		}

		.slider_switch {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			-webkit-transition: .4s;
			transition: .4s;
		}

		.slider_switch:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}

		input:checked+.slider_switch {
			background-color: #43A047;
		}

		input:focus+.slider_switch {
			box-shadow: 0 0 1px #43A047;
		}

		input:checked+.slider_switch:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
		}

		/* Rounded sliders */

		.slider_switch.round {
			border-radius: 34px;
		}

		.slider_switch.round:before {
			border-radius: 50%;
		}
	</style>
<div class="container">
		<div class="card-panel" style="padding: 15px;">
		<div class="row" style="margin-bottom: 0px;">
			<div class="valign-wrapper">
				<div class="col s6">
					<label style="color: #000000;">Leer el valor "todas las provincias" del campo "provincia" de la ficha de producto</label>
				</div>
				<div class="col s6" style="text-align: right;">
					<label class="switch">
						<input [(ngModel)]="strValue" [checked]="strValue" (change)="updateProvCatalog()" type="checkbox" />
						<span class="slider_switch round"></span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="card-panel">
		<div class="col s12 m8 offset-m2 l6 offset-l3">
			<div class="row">
				<div class="center">
					<a [routerLink]="['upload']">
						<button name="btn_upload" class="col s12 btn green darken-1">Cargar archivo</button>
					</a>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12 l12">
					<form (ngSubmit)="onSearch()">
						<div class="input-field col l2">
							<input [(ngModel)]="model.producttype" type="text" name="producttype" placeholder="Mono TV">
							<label class="active filter" for="model.searchProductType">Tipo Producto</label>
						</div>
						<div class="input-field col l4">
							<input [(ngModel)]="model.productcategory" type="text" name="productcategory" placeholder="Mono CATV 100% Digital">
							<label class="active filter" for="model.searchProductCategory">Tipo Categoria Producto</label>
						</div>
						<div class="input-field col l4">
							<input [(ngModel)]="model.productname" type="text" name="productname" placeholder="Paquete Estandar Digital">
							<label class="active filter" for="model.searchProductName">Producto</label>
						</div>
						<div class="input-field col l2">
						<button class="waves-effect waves-light btn" type="submit">Buscar</button>
						</div>
					</form>
				</div>
			</div>

			<div class="row valign-wrapper">
				<table class="highlight responsive-table bordered centered">
					<thead>
						<tr>
							<th>Tipo Producto</th>
							<th>Categoria Producto</th>
							<th>Nombre Producto</th>
							<th>Renta Regular</th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor="let product of catalog">
							<td>{{product.producttype}}</td>
							<td>{{product.productcategory}}</td>
							<td>{{product.productname}}</td>
							<td>{{product.price}}</td>
							<td>
								<a [routerLink]="[product.id]">
									<i class="material-icons">open_in_new</i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row center">
				<!--<ul class="pagination">
					<li [ngClass]="disablePrevPage()"><a (click)="prevPage()"><i class="material-icons">chevron_left</i></a></li>
					<li *ngFor="let n of pages" [ngClass]="{active: n == currentPage}" (click)="setPage(n)" class="waves-effect"><a>{{n + 1}}</a></li>
					<li [ngClass]="disableNextPage()"><a (click)="nextPage()"><i class="material-icons">chevron_right</i></a></li>
				</ul>-->
				<ul class="pagination">
					<li [ngClass]="{'disabled': model.currentPage == -1}" class="waves-effect">
						<a (click)="gotoPrevPage()">
							<i class="material-icons">chevron_left</i>
						</a>
					</li>
					<li *ngFor="let i of model.pages" [ngClass]="{'active': model.currentPage == i}">
						<a (click)="gotoPage(i)">{{i+1}}</a>
					</li>
					<li [ngClass]="{'disabled': model.currentPage == model.numPages-1}" class="waves-effect">
						<a (click)="gotoNextPage()">
							<i class="material-icons">chevron_right</i>
						</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>

<div class="loading-indicator" *ngIf="model.loading">
	<div class="windows8">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
</div>