<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card-panel">

                <div class="row">
                    <div class="col s12">
                        <a class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/administration']">
                            <i class="material-icons">view_list</i>
                        </a>
                        <h5 class="center">Configuración de Argumentarios</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <table class="highlight">
                            <thead class="col s8 m8 l8 offset-s2 offset-m2 offset-l2">
                                <tr class="col s12 m12 l12 ">
                                    <th class="col s6 m6 l6 center-align"></th>
                                    <th class="col s6 m6 l6 center-align"></th>
                                </tr>
                            </thead>
                            <tbody class="col s8 m8 l8 offset-s2 offset-m2 offset-l2">
                                <tr class="col s12 m12 l12 ">
                                    <td class="col s6 m6 l6 center-align">
                                        <p class="left-align">
                                            GENERAL
                                        </p>
                                    </td>
                                    <td class="col s6 m6 l6 center-align">
                                        <p>
                                            <a [routerLink]="['/argumentarios/tienda']">
                                                <i class="material-icons">open_in_new</i>
                                            </a>
                                        </p>
                                    </td>
                                </tr>
                                <tr class="col s12 m12 l12 ">
                                    <td class="col s6 m6 l6 center-align">
                                        <p class="left-align">
                                            CALL CENTER
                                        </p>
                                    </td>
                                    <td class="col s6 m6 l6 center-align">
                                        <p>
                                            <a [routerLink]="['/argumentarios/callcenter']">
                                                <i class="material-icons">open_in_new</i>
                                            </a>
                                        </p>
                                    </td>
                                </tr>
                                <tr class="col s12 m12 l12 " style="visibility: hidden;">
                                    <td class="col s6 m6 l6 center-align">
                                        <p class="left-align">
                                            CALL OUT
                                        </p>
                                    </td>
                                    <td class="col s6 m6 l6 center-align">
                                        <p>
                                            <a [routerLink]="['/argumentarios/out']">
                                                <i class="material-icons">open_in_new</i>
                                            </a>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>